<div class="unit-property-container product-property-hover-container">
    <div class="product-property-label">Unit:</div>
    <div #unit
         tabindex="0"
         class="unit-container price-point-dashed-container product-dashed-border-bright"
         contenteditable="true"
         (focus)="selectRange(unit)"
         (blur)="onBlur(pricePoint, 'unit', unit)"
         (keydown.escape)="onEscape(pricePoint, 'unit', unit)"
         (keydown.enter)="unit.blur()"
         (paste)="onPaste($event, unit)">
            {{pricePoint.unit}}
    </div>
</div>