<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">
    
    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>

    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base">

            <!-- Header -->
            <div class="header">
                Account Not Activated

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <div class="content">
                <!-- Prompt Content -->
                <div class="prompt-content">

                    <div class="img-container">
                        <img src="assets/info.png" alt="Info">
                    </div>


                    <!-- Message -->
                    <div class="message-text">
                        <div>Your Niche Shack account has <span style="font-weight: bold; color: red">NOT</span> been activated yet. To activate your account, click on the "Activate Account" button in the email that was sent to:</div>

                        <div class="emphasized-text">{{email}}</div>

                        <div>If you don’t see this email in your inbox, please check your junk or spam folder or click on the "Resend email" button below and we'll send you another account activation email.</div>
                    </div>

                </div>

                <!-- Button Container -->
                <div class="button-container">
                    <button #tabElement class="dark-button" (click)="close()">Close</button>
                    <button #tabElement class="gold-rect-button" (click)="onResendEmailClick()">Resend email</button>
                </div>
            </div>


        </div>
    </div>
</div>