<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">
    <!-- Backdrop -->
    <div class="transparent-backdrop" (click)="close()" [ngClass]="{'backdrop': isLoginPage}"></div>

    <!-- Container -->
    <div class="fade-in container" [ngClass]="{'fade-out': fadeOut}">

        <!-- Base -->
        <div #base class="base">

            <!-- Header -->
            <div class="header">
                Account Not Activated

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <div class="content">
                <!-- Prompt Content -->
                <div class="prompt-content">

                    <div class="img-container">
                        <img src="assets/info.png" alt="Info">
                    </div>


                    <!-- Message -->
                    <div class="message-text">
                        <div>Your Niche Shack account has <span style="font-weight: bold; color: red">NOT</span> been
                            activated yet. To activate your account, please enter the one-time password sent to <span
                                class="emphasized-text">{{email}}</span> in the box below.</div>

                            <br>
                            <br>

                        <div>If you don’t see this email in your inbox, please check your junk or spam folder or click
                            on the "Resend email" button below and we'll send you another account activation email.
                        </div>
                    </div>

                </div>

                <!-- Button Container -->
                <div class="button-container">
                    <button class="dark-button" (click)="close()">Close</button>
                    <button class="gold-rect-button" (click)="onResendEmailClick()">Resend email</button>
                </div>
            </div>


        </div>
    </div>
</div>