<div class="product-property-hover-container margin-top">
    <div class="product-property-label">Header:</div>
    <div #header
         tabindex="0"
         class="header-container product-property-input-container product-dashed-border-bright"
         contenteditable="true"
         (focus)="selectRange(header)"
         (blur)="onBlur(pricePoint, 'header', header)"
         (keydown.escape)="onEscape(pricePoint, 'header', header)"
         (keydown.enter)="header.blur()"
         (paste)="onPaste($event, header)">
            {{pricePoint.header}}
    </div>
</div>