<div class="hide modal-backdrop" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div *ngIf="sourceList && sourceList.length > 0" class="modal-base">
        <div class="modal-bar">
            <div>Image References</div>
            <div class="modal-x-button" (click)="close()">
                X
            </div>
        </div>

        <div class="header">
            <div style="width: 100px;">Size</div>
            <div style="width: 80px;">Builder</div>
            <div style="width: 290px;">Host</div>
            <div style="width: 200px;">Location</div>
        </div>
        <div class="modal-content">
            <multi-column-list [sourceList]="sourceList" [options]="{selectable: false}">
            </multi-column-list>
        </div>
    </div>