.list {
    position: absolute;
    max-height: 220px;
    background: #262626;
    outline: 1px solid #606060;
    overflow: auto;
    z-index: 1000;
    border-radius: 2px;
}

.item {
    height: 22px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    color: #b4b4b4;
    cursor: pointer;


    &:hover {
        background: rgba(255, 187, 0, 0.08);
        color: #dddddd;
    }
}

// .highlight {
//     background: rgba(255, 187, 0, 0.08);
//     color: #dddddd;
// }

.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #838383;
}

.hide {
    transition: opacity 1ms;
}

.selected-list-item {
    background: rgba(255, 187, 0, 0.1);
    outline: 1px solid rgba(255, 187, 0, 0.85);
    outline-offset: -1px;
    color: white;
}