<div id="dropdownList" #listElement class="hide list" [ngClass]="{'show': show}" (transitionend)="onHide()"
    [style.top.px]="top" [style.left.px]="left" [style.minWidth.px]="width" [style.height.px]="height != null ? height : null" (mousedown)="$event.stopPropagation()"
    
    [ngStyle]="{'box-shadow': top > baseTop ? '0 7px 8px 6px rgba(0, 0, 0, 0.25)' : '0 -7px 8px 6px rgba(0, 0, 0, 0.25)'}"
    
    (wheel)="onMouseWheel($event)"

    (scroll)="onScroll()">

    <!-- List -->
    <ng-container *ngIf="list && list.length > 0">
        <div #listItem *ngFor="let item of list; let i = index" class="item" (click)="onItemSelect(i, $event)"
            [ngClass]="{'selected-list-item': item == selectedListItem}" tabindex="-1">
            {{getText(item)}}
        </div>
    </ng-container>


    <!-- No Results -->
    <ng-container *ngIf="list && list.length == 0">
        <div class="no-results" (click)="$event.stopPropagation()">No results found</div>
    </ng-container>
</div>