<div #widget [style.maxWidth.px]="width ? width: null">

    <div class="video-widget-container">
        <div>
            <iframe #iframe frameborder="0" allowfullscreen class="video" allow="autoplay"
                [style.border]="border && border.enabled ? border.width + 'px ' + border.style + ' ' + border.rgbColor.toRGBString() : null"
                [style.borderRadius]="
            corners && 
        (corners.topLeft > 0 ||
        corners.topRight > 0 ||
        corners.bottomRight > 0 ||
        corners.bottomLeft > 0) ?
        corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px': null"
                [style.box-shadow]="shadow && shadow.enabled ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.rgbColor.toRGBString() : null"
                [style.maxWidth.px]="width ? width: null">
            </iframe>
        </div>
    </div>
</div>


<!-- Handles -->
<div *ngIf="video && video.src && widgetService.selectedWidget == this">
    <div class="handle top-left"></div>
    <div class="handle top"></div>
    <div class="handle top-right"></div>
    <div class="handle left"></div>
    <div class="handle bottom-left"></div>
    <div class="handle bottom"></div>
    <div class="handle bottom-right"></div>
    <div class="handle right"></div>
</div>