.item {
    height: 38px;
    line-height: 38px;
    align-items: center;
    text-indent: 0;

    &:hover:not(.selected-item) {
        .image-border {
            filter: brightness(1.1);

            img {
                filter: brightness(1.1);
            }
        }

        .status {
            filter: brightness(1.1);
        }

        .user-image-container {
            img {
                filter: brightness(1.1);
            }
        }
    }
}


.selected-item {
    .image-border {
        filter: brightness(1.1);

        img {
            filter: brightness(1.1);
        }
    }

    .status {
        filter: brightness(1.1);
    }

    .user-image-container {
        img {
            filter: brightness(1.1);
        }
    }
}


.image-name-container {
    display: flex;
}


.image-container {
    display: flex;
    width: 30px;
    height: inherit;
    align-items: center;
    justify-content: center;
}


.image-border {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid #444444;

    img {
        max-width: 28px;
        max-height: 28px;
    }
}


.name {
    // width: 225px;
    padding: 0 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.status {
    display: flex;
    width: 34px;
    margin-right: 13px;
    justify-content: center;
}


.user-image-container {
    display: flex;
    width: 35px;
    height: inherit;
    align-items: center;
    justify-content: center;
    margin-right: 12px;

    img {
        max-width: 22px;
        max-height: 22px;
        border-radius: 50%;
        outline-offset: -1px;
        border: 1px solid #868686;
        outline: 1px solid #868686;
    }
}


.gold-button {
    width: 56px;
    font-size: 12px;
    height: 26px;
    padding: 2px 0 0;
    margin-left: 0;
}


.publish-successful {
    display: flex;
    width: 56px;
    height: 26px;
    align-items: center;
    justify-content: center;
    color: #1ee41e;
    padding-left: 2px;
}