@import '../../../scss/variables';


.content-container {
    display: flex;
}

.options-container {
    width: 100%;
    max-width: 255px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.option-heading {
    color: $gold;
    margin-bottom: 13px;
}

.radio {
    div {
        width: 180px;
    }
}

.option-description {
    padding-left: 21px;
    color: #b4b4b4;
}

.horizontal-line {
    margin-top: 13px;
    margin-bottom: 25px;
}

.vertical-line {
    height: 180px;
}

.vertical-share-container {
    padding-left: 15px;
    width: 100%;
    height: 180px;
    max-width: 65px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
}

.horizontal-share-container {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 7px;
    margin: auto;
    position: relative;
}

.link-copied {
    color: $success-color;
    font-size: 11px;
    text-align: center;
    position: absolute;
}

img{
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:hover {
        filter: brightness(1.5);
    }

    &:focus-visible {
        outline: 1px solid #ffba00;
        outline-offset: 3px;
        border-radius: 1px;
    }
}

@media(max-width: 280px) {
    .radio {
        div {
            width: 140px;
        }
    }
}