<!-- List -->
<div #listElement
     class="hide list"
     [style.top.px]="top"
     (scroll)="onScroll()"
     [style.left.px]="left"
     (transitionend)="onHide()"
     [style.minWidth.px]="width"
     (wheel)="onMouseWheel($event)"
     (mousedown)="$event.stopPropagation()"
     [style.height.px]="height != null ? height : null"
     [ngStyle]="{'box-shadow': top > baseTop ? '0 7px 8px 6px rgba(0, 0, 0, 0.25)' : '0 -7px 8px 6px rgba(0, 0, 0, 0.25)'}"
     [ngClass]="{'show': show,
                 'manager-list': dropdownType == DropdownType.Manager,
                 'website-button-list': dropdownType == DropdownType.Website || dropdownType == DropdownType.Button}">

     <!-- List Items-->
    <ng-container *ngIf="list && list.length > 0">
        <div #listItem
             class="item"
             tabindex="-1"
             (click)="onItemSelect(i, $event)"
             *ngFor="let item of list; let i = index"
             [ngClass]="{'selected-list-item': item == selectedListItem,
                         'website-button-selected-list-item': item == selectedListItem && (dropdownType == DropdownType.Website || dropdownType == DropdownType.Button),

                         'manager-selected-list-item': item == selectedListItem && dropdownType == DropdownType.Manager,

                         'manager-item': dropdownType == DropdownType.Manager,
                         'website-button-item': dropdownType == DropdownType.Website || dropdownType == DropdownType.Button}">
            {{getText(item)}}
        </div>
    </ng-container>

    <!-- No Results -->
    <ng-container *ngIf="list && list.length == 0">
        <div class="no-results" (click)="$event.stopPropagation()">No results found</div>
    </ng-container>
</div>