.circle-buttons-container {
    position: relative;
    display: flex;
}


.circle-button-container {
    position: relative;
}

.circle-button-popup-container {
    position: absolute;
    top: 34px;
    z-index: 100;
}