<div class="circle-buttons-container">
    <notification-circle-button *ngIf="product.notificationItems.length > 0" #notificationCircleButton [product]="product"></notification-circle-button>
    <vendor-circle-button [product]="product"></vendor-circle-button>
    <filters-circle-button [product]="product"></filters-circle-button>
    <keywords-circle-button [product]="product"></keywords-circle-button>
    <product-groups-circle-button [product]="product"></product-groups-circle-button>
</div>