<div class="product-property-container">
    <div class="product-label-and-icon-buttons-container">
        <div class="product-property-label">Price:</div>
        <div *ngIf="product.minPrice != null && product.pricePoints.length == 0" class="product-property-icon-button-container">
            <icon-button [icon]="'fas fa-pencil-alt'"
                         [title]="'Edit Price'"
                         [popupOpen]="popupOpen"
                         (onClick)="openPricePopup(PopupArrowPosition.TopRight)">
            </icon-button>
        </div>
        <div class="product-property-edit-popup-container-1">
            <ng-template #editPopupContainer></ng-template>
        </div>
    </div>
    <div class="product-dashed-border min-height">
        <div *ngIf="product.minPrice == null" class="product-property-plus-button-container">
            <icon-button style="transform: rotate(45deg)"
                         [icon]="'fa-regular fa-circle-xmark'"
                         [title]="'Add Price'"
                         [fontSize]="'18'"
                         [popupOpen]="popupOpen"
                         (onClick)="openPricePopup(PopupArrowPosition.TopLeft)">
            </icon-button>
        </div>
        <div *ngIf="product.minPrice != null" class="price-container">
            <ng-container *ngIf="product.pricePoints.length == 0">{{product.minPrice | currency:product.currency}}</ng-container>
            <ng-container *ngIf="product.pricePoints.length > 0">
                {{product.minPrice | currency:product.currency}} -
                {{product.pricePoints.length > 1 ? (product.maxPrice | currency:product.currency) : ''}}
            </ng-container>
        </div>
        <div class="product-property-add-popup-container">
            <ng-template #addPopupContainer></ng-template>
        </div>
    </div>
</div>