<div #widget class="button" [style.borderRadius]="
corners && 
(corners.topLeft > 0 ||
corners.topRight > 0 ||
corners.bottomRight > 0 ||
corners.bottomLeft > 0) ?
corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px': null"
    [style.box-shadow]="shadow && shadow.enable ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.color : null"
    [style.fontSize.px]="caption.fontSize">

    <a *ngIf="link && link.url" [href]="link.url" [target]="link.selectedOption == linkOption.WebAddress ? '_blank' : '_self'">
        {{caption.text}}</a>

    <ng-container *ngIf="!link || !link.url">{{caption.text}}</ng-container>
</div>