.carousel-container {
    user-select: none;
    overflow: hidden;
    max-width: 1496px;
    max-height: 451px;
    position: relative;
    margin: auto;

    .carousel {
        user-select: none;
        display: flex;
        align-items: center;
        position: relative;
    
        .carousel-element {
            user-select: none;
            position: relative;
            width: 100%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            a {
                user-select: none;
                img {
                    width: 100%;
                    user-select: none;
                    -webkit-user-drag: none;
                }
            }
        }
    }
}