.review-info-box {
    height: 130px;
    background: #242424;
    border: 1px solid #454545;
    margin-top: 3px;
    margin-bottom: 13px;
}


.review-info-bar {
    display: flex;
    height: 34px;
    background: #2e2e2e;
    border: 2px solid #242424;
    outline: 1px solid #343434;
    outline-offset: -3px;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}


.review-title-container {
    display: flex;
    align-items: center;
    padding-left: 3px;
    font-size: 12px;
    width: 210px;
}


.review-title-label {
    color: #dadada;
    margin-right: 5px;
}


.review-title {
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.review-writer-info-container {
    display: flex;
    align-items: center;
    margin-right: 4px;
}


.review-profile-popup-container {
    position: absolute;
    z-index: 100;
    left: 28px;
    top: -157px;
}