<div class="hide modal-backdrop" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="modal-base">

        <div class="modal-bar">
            <div>Filters</div>
            <div class="modal-x-button"
                 (mouseover)="!filtersService.searchMode ? filtersService.filtersHierarchy.overButton = true : filtersService.searchMode && filtersService.searchList.length > 0 ? filtersSearch.overButton = true : null"
                 (mouseout)="!filtersService.searchMode ? filtersService.filtersHierarchy.overButton = false : filtersService.searchMode && filtersService.searchList.length > 0 ? filtersSearch.overButton = false : null"
                 (click)="close()">
                X
            </div>
        </div>
        <div class="modal-bar-drop-shadow"></div>


        <div class="modal-content">

            <div style="display: flex; justify-content: space-between; margin-bottom: 6px;">

                <!-- Search icon -->
                <icon-button style="margin-top: 4px; margin-left: -5px;"
                             [icon]="!filtersService.searchMode ? 'fas fa-search' : 'fa fa-list'"
                             [title]="!filtersService.searchMode ? 'Search' : 'Back to Hierarchy'"
                             [isDisabled]="false"
                             (onOver)="!filtersService.searchMode ? filtersService.filtersHierarchy.overButton = $event : filtersService.searchMode && filtersService.searchList.length > 0 ? filtersSearch.overButton = $event : false"
                             (onClick)="filtersService.toggleSearch()">
                </icon-button>

                <div class="icons">
                    <!-- Delete icon -->
                    <icon-button [icon]="'fas fa-trash-alt'"
                                 [title]="!filtersService.searchMode && filtersService.filtersHierarchy ? filtersService.filtersHierarchy.listManager.selectedItem == null ? 'Delete' : filtersService.deleteButtonTitle : filtersService.searchMode && filtersSearch ? filtersSearch.listManager.selectedItem == null ? 'Delete' : filtersService.deleteButtonTitle : 'Delete'"
                                 [isDisabled]="filtersService.isDisabled('deleteDisabled')"
                                 (onOver)="!filtersService.searchMode ? filtersService.filtersHierarchy.overButton = $event : filtersService.searchMode && filtersService.searchList.length > 0 ? filtersSearch.overButton = $event : false"
                                 (onClick)="!filtersService.searchMode ? filtersService.filtersHierarchy.delete() : filtersService.searchMode && filtersService.searchList.length > 0 ? filtersSearch.delete() : null">
                    </icon-button>

                    <!-- Edit icon -->
                    <icon-button [icon]="'fas fa-pencil-alt'"
                                 [title]="!filtersService.searchMode && filtersService.filtersHierarchy ? filtersService.filtersHierarchy.listManager.selectedItem == null ? 'Edit' : filtersService.editButtonTitle : filtersService.searchMode && filtersSearch ? filtersSearch.listManager.selectedItem == null ? 'Edit' : filtersService.editButtonTitle : 'Edit'"
                                 [isDisabled]="filtersService.isDisabled('editDisabled')"
                                 (onOver)="!filtersService.searchMode ? filtersService.filtersHierarchy.overButton = $event : filtersService.searchMode && filtersService.searchList.length > 0 ? filtersSearch.overButton = $event : false"
                                 (onClick)="!filtersService.searchMode ? filtersService.filtersHierarchy.edit() : filtersService.searchMode && filtersService.searchList.length > 0 ? filtersSearch.edit() : null">
                    </icon-button>

                    <!-- Add icon -->
                    <icon-button *ngIf="!filtersService.searchMode"
                                 [icon]="'fas fa-plus-circle'"
                                 [title]="filtersService.filtersHierarchy ? filtersService.filtersHierarchy.listManager.selectedItem == null ? 'Add Filter' : filtersService.addButtonTitle : 'Add Filter'"
                                 [isDisabled]="filtersService.isDisabled('addDisabled')"
                                 (onOver)="filtersService.filtersHierarchy.overButton = $event"
                                 (onClick)="filtersService.filtersHierarchy.add()">
                    </icon-button>

                    <!-- Collapse icon -->
                    <icon-button *ngIf="!filtersService.searchMode"
                                 [icon]="'fas fa-minus-square'"
                                 [title]="'Collapse'"
                                 [isDisabled]="filtersService.isDisabled('collapseDisabled')"
                                 (onOver)="filtersService.filtersHierarchy.overButton = $event"
                                 (onClick)="filtersService.filtersHierarchy.collapse()">
                    </icon-button>
                </div>
            </div>


            <!-- Hierarchy -->
            <ng-container *ngIf="!filtersService.searchMode">
                <div class="filters-container">
                    <hierarchy #filtersHierarchy [sourceList]="filtersService.filters" [options]="filtersService.filtersHierarchyOptions" (onListUpdate)="filtersService.filtersHierarchyUpdate = $event"></hierarchy>
                </div>
            </ng-container>

            <!-- Search -->
            <ng-container *ngIf="filtersService.searchMode">
                <input id="searchInput" placeholder="Search" (input)="filtersService.onSearchInputChange($event.target)">

                <div class="column-name-container">
                    <div class="column-name">Name</div>
                    <div class="column-name">Type</div>
                </div>

                <div style="height: 198px;" class="filters-container">

                    <ng-container *ngIf="filtersService.searchList.length == 0">
                        <div style="display: flex; height: 100%; justify-content: center; align-items: center; color: #666666;">
                            No search results available
                        </div>
                    </ng-container>
                    

                    <ng-container *ngIf="filtersService.searchList.length > 0">
                        <multi-column-list #filtersSearch [sourceList]="filtersService.searchList" [options]="filtersService.filtersSearchOptions" (onListUpdate)="filtersService.filtersSearchUpdate = $event"></multi-column-list>
                    </ng-container>
                    

                </div>
            </ng-container>
        </div>


        <div class="modal-button-container">
            <button class="dark-button"
                    (mouseover)="!filtersService.searchMode ? filtersService.filtersHierarchy.overButton = true : filtersService.searchMode && filtersService.searchList.length > 0 ? filtersSearch.overButton = true : null"
                    (mouseout)="!filtersService.searchMode ? filtersService.filtersHierarchy.overButton = false : filtersService.searchMode && filtersService.searchList.length > 0 ? filtersSearch.overButton = false : null"
                    (click)="close()">
                Close
            </button>
        </div>
    </div>
</div>