<div class="hide modal-backdrop" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="modal-base">

        <div class="modal-bar">
            <div>Filters</div>
            <div class="modal-x-button"
                 (mouseover)="!searchMode ? filtersHierarchy.overButton = true : searchMode && searchList.length > 0 ? filtersSearch.overButton = true : null"
                 (mouseout)="!searchMode ? filtersHierarchy.overButton = false : searchMode && searchList.length > 0 ? filtersSearch.overButton = false : null"
                 (click)="close()">
                X
            </div>
        </div>
        <div class="modal-bar-drop-shadow"></div>


        <div class="modal-content">

            <div style="display: flex; justify-content: space-between; margin-bottom: 6px;">

                <!-- Search icon -->
                <icon-button style="margin-top: 4px; margin-left: -5px;"
                             [icon]="!searchMode ? 'fas fa-search' : 'fa fa-list'"
                             [title]="!searchMode ? 'Search' : 'Back to Hierarchy'"
                             [isDisabled]="false"
                             (onOver)="!searchMode ? filtersHierarchy.overButton = $event : searchMode && searchList.length > 0 ? filtersSearch.overButton = $event : false"
                             (onClick)="toggleSearch()">
                </icon-button>

                <div class="icons">
                    <!-- Delete icon -->
                    <icon-button [icon]="'fas fa-trash-alt'"
                                 [title]="!searchMode && filtersHierarchy ? filtersHierarchy.listManager.selectedItem == null ? 'Delete' : deleteButtonTitle : searchMode && filtersSearch ? filtersSearch.listManager.selectedItem == null ? 'Delete' : deleteButtonTitle : 'Delete'"
                                 [isDisabled]="isDisabled('deleteDisabled')"
                                 (onOver)="!searchMode ? filtersHierarchy.overButton = $event : searchMode && searchList.length > 0 ? filtersSearch.overButton = $event : false"
                                 (onClick)="!searchMode ? filtersHierarchy.delete() : searchMode && searchList.length > 0 ? filtersSearch.delete() : null">
                    </icon-button>

                    <!-- Edit icon -->
                    <icon-button [icon]="'fas fa-pencil-alt'"
                                 [title]="!searchMode && filtersHierarchy ? filtersHierarchy.listManager.selectedItem == null ? 'Edit' : editButtonTitle : searchMode && filtersSearch ? filtersSearch.listManager.selectedItem == null ? 'Edit' : editButtonTitle : 'Edit'"
                                 [isDisabled]="isDisabled('editDisabled')"
                                 (onOver)="!searchMode ? filtersHierarchy.overButton = $event : searchMode && searchList.length > 0 ? filtersSearch.overButton = $event : false"
                                 (onClick)="!searchMode ? filtersHierarchy.edit() : searchMode && searchList.length > 0 ? filtersSearch.edit() : null">
                    </icon-button>

                    <!-- Add icon -->
                    <icon-button *ngIf="!searchMode"
                                 [icon]="'fas fa-plus-circle'"
                                 [title]="filtersHierarchy ? filtersHierarchy.listManager.selectedItem == null ? 'Add Filter' : addButtonTitle : 'Add Filter'"
                                 [isDisabled]="isDisabled('addDisabled')"
                                 (onOver)="filtersHierarchy.overButton = $event"
                                 (onClick)="filtersHierarchy.add(null!, isParent)">
                    </icon-button>

                    <!-- Collapse icon -->
                    <icon-button *ngIf="!searchMode"
                                 [icon]="'fas fa-minus-square'"
                                 [title]="'Collapse'"
                                 [isDisabled]="isDisabled('collapseDisabled')"
                                 (onOver)="filtersHierarchy.overButton = $event"
                                 (onClick)="filtersHierarchy.collapse()">
                    </icon-button>
                </div>
            </div>


            <!-- Hierarchy -->
            <ng-container *ngIf="!searchMode">
                <div class="filters-container">
                    <hierarchy #filtersHierarchy [sourceList]="filtersService.filters" [options]="filtersHierarchyOptions" (onListUpdate)="filtersHierarchyUpdate = $event"></hierarchy>
                </div>
            </ng-container>

            <!-- Search -->
            <ng-container *ngIf="searchMode">
                <input id="searchInput" placeholder="Search" (input)="onSearchInputChange($event.target)">

                <div class="column-name-container">
                    <div class="column-name">Name</div>
                    <div class="column-name">Type</div>
                </div>

                <div style="height: 198px;" class="filters-container">

                    <ng-container *ngIf="searchList.length == 0">
                        <div style="display: flex; height: 100%; justify-content: center; align-items: center; color: #666666;">
                            No search results available
                        </div>
                    </ng-container>
                    

                    <ng-container *ngIf="searchList.length > 0">
                        <multi-column-list #filtersSearch [sourceList]="searchList" [options]="filtersSearchOptions" (onListUpdate)="filtersSearchUpdate = $event"></multi-column-list>
                    </ng-container>
                    

                </div>
            </ng-container>
        </div>


        <div class="modal-button-container">
            <button class="dark-button"
                    (mouseover)="!searchMode ? filtersHierarchy.overButton = true : searchMode && searchList.length > 0 ? filtersSearch.overButton = true : null"
                    (mouseout)="!searchMode ? filtersHierarchy.overButton = false : searchMode && searchList.length > 0 ? filtersSearch.overButton = false : null"
                    (click)="close()">
                Close
            </button>
        </div>
    </div>
</div>