<div class="product-property-container">
    <div class="product-property-label">Bonuses:</div>
    <div class="product-dashed-border min-height">
        <div *ngIf="!product.bonuses || product.bonuses.length == 0" class="product-property-plus-button-container">
            <icon-button style="transform: rotate(45deg)"
                         [icon]="'fa-regular fa-circle-xmark'"
                         [title]="'Add Bonus'"
                         [fontSize]="'18'"
                         (onClick)="addSubproduct(subproductType.Bonus)">
            </icon-button>
        </div>
        <subproducts *ngIf="product.bonuses && product.bonuses.length > 0" [subproducts]="product.bonuses"
            [subproductType]="subproductType.Bonus" [productId]="product.id">
        </subproducts>
    </div>
</div>