<div #widget [style.backgroundColor]="background && background.enabled && background.color ? background.color: null"
    [style.maxWidth.px]="width ? width: null"
    [ngStyle]="{ 'background-image': background && background.enabled && background.image && background.image.url ? 'url(images/' + background.image.url + ')' : null,
    'background-position': background && background.enabled && background.image ? background.image.position : null,
    'background-repeat': background && background.enabled && background.image ? background.image.repeat : null,
    'background-attachment': background && background.enabled && background.image ? background.image.attachment : null}">


    <div #textElement style="color: white; outline: none; cursor: text; background: rgb(51, 51, 51);"
        [style.minHeight.px]="height" contenteditable="true" spellcheck="false" (mousedown)="text.onMousedown()" (keyup)="text.onKeyup($event)"
        (keydown)="text.onKeydown($event)" (paste)="text.onPaste($event)"></div>



    <!-- Handles -->
    <!-- <div *ngIf="widgetService.selectedWidget == this">
        <div class="handle top-left"></div>
        <div class="handle top"></div>
        <div class="handle top-right"></div>
        <div class="handle left"></div>
        <div class="handle bottom-left"></div>
        <div class="handle bottom"></div>
        <div class="handle bottom-right"></div>
        <div class="handle right"></div>
    </div> -->
</div>