<div #widget style="position: relative; width: 100%; user-select: none;"
    [style.backgroundColor]="background && background.enabled && background.rgbColor ? background.rgbColor.toRGBString(): null"
    [style.maxWidth.px]="width ? width: null"
    [ngStyle]="{ 'background-image': background && background.enabled && background.image && background.image.src ? 'url(images/' + background.image.src + ')' : null,
    'background-position': background && background.enabled && background.image ? background.image.position : null,
    'background-repeat': background && background.enabled && background.image ? background.image.repeat : null,
    'background-attachment': background && background.enabled && background.image ? background.image.attachment : null}"
    [ngClass]="{'selected-widget': widgetService.selectedWidget == this && widgetService.currentWidgetInspectorView == widgetInspectorView.Widget}"
    [style.minHeight.px]="height" class="widget-outline">

    <div #htmlRootElement style="color: white; outline: none; cursor: text; user-select: none;" contenteditable="true"
        spellcheck="false">
    </div>



    <div *ngIf="!inEditMode" id="ignore-element-height"
        style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; user-select: none"
        (dblclick)="inEditMode = true; textBoxDev.setFocus()"></div>

    <!-- Handles -->
    <div id="ignore-element-height"
        *ngIf="widgetService.selectedWidget == this && widgetService.currentWidgetInspectorView == widgetInspectorView.Widget">
        <div class="handle left"
            (mousedown)="onWidgetHandleDown(); widgetService.onWidgetHandleMousedown(widgetHandle.Left, $event)"></div>
        <div class="handle bottom"
            (mousedown)="onWidgetHandleDown(); widgetService.onWidgetHandleMousedown(widgetHandle.Bottom, $event)">
        </div>
        <div class="handle right"
            (mousedown)="onWidgetHandleDown(); widgetService.onWidgetHandleMousedown(widgetHandle.Right, $event)"></div>
    </div>
</div>