<ng-container *ngFor="let hierarchyItem of sourceList">
    <ng-container *ngIf="!hierarchyItem.hidden">
        <editable-arrow-item *ngIf="listManager.hasChildren(hierarchyItem) || hierarchyItem.hierarchyGroupID == 0 || hierarchyItem.isParent" [id]="hierarchyItem.id" [listManager]="listManager"></editable-arrow-item>
        <editable-item *ngIf="!listManager.hasChildren(hierarchyItem) && hierarchyItem.hierarchyGroupID != 0 && !hierarchyItem.isParent" [id]="hierarchyItem.id" [listManager]="listManager"></editable-item>
    </ng-container>
</ng-container>