button {
    width: 20px;
    padding: 4px 4px 5px;
    color: #828282;
    user-select: none;
    outline: none;
    background: none;
    border: none;
    margin-left: 5px;
    
    &:hover:not([disabled]) {
        cursor: pointer;
        color: #b4b4b4;
    }

    &:active:not([disabled]) {
        color: #dadada;
    }

    &:disabled {
        opacity: 0.3;
    }
}

i {
    outline: none;

    &:focus {
        color: #e0e0e0;
        transform: scale(1.2);
    }
}


.remain-in-focus {
    color: #e0e0e0;
    transform: scale(1.2);
}