<div class="background" *ngFor="let subproduct of subproducts; let i = index">
    <div class="subproduct-container">

        <div class="delete-icon-container">
            <icon-button [icon]="'fas fa-trash-alt'"
                         [title]="'Delete ' + (subproductType == SubproductType.Component ? 'component': 'bonus')"
                         (onClick)="deleteSubproduct(i, subproduct.id)">
            </icon-button>
        </div>

        <div class="border product-dashed-border-bright">
            <div class="image-container">
                <subproduct-image [subproduct]="subproduct"></subproduct-image>
            </div>
            
            <div class="name-and-description-container">
                <subproduct-name [subproduct]="subproduct"></subproduct-name>
                <subproduct-description [subproduct]="subproduct"></subproduct-description>
            </div>

            <ng-container *ngIf="subproductType == SubproductType.Bonus">
                <subproduct-value [subproduct]="subproduct"></subproduct-value>
            </ng-container>
        </div>
    </div>
</div>

<div class="plus-button-container">
    <icon-button style="transform: rotate(45deg)"
                 [icon]="'fa-regular fa-circle-xmark'"
                 [title]="'Add ' + (subproductType == SubproductType.Component ? 'component': 'bonus')"
                 [fontSize]="'25'"
                 (onClick)="addSubproduct()">
    </icon-button>
</div>