@import '../../../scss/widgets';


.editor-container {
    position: absolute;
    display: flex;
    top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
}

.widget-bar {
    background: #363636; 
    width: 34px;
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    .icon-button {
        margin-top: 14px;
        font-size: 16px;
    }
}

.editor-window-container {
    width: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
}

.editor-window {
    position: relative;
    margin: auto;
    padding: 40px 0 100px;
}

.vertical-dashed-line {
    position: absolute;
    top: 0;
    bottom: -100vh;
    outline: 1px dashed $container-outline-color;
    z-index: -1;

    &:first-child {
        left: 4px;
    }

    &:nth-child(2) {
        right: 4px;
    }
}

.horizontal-dashed-line {
    position: absolute;
    left: -100vw;
    right: -1000px;
    outline: 1px dashed $container-outline-color;
    z-index: -1;

    &:nth-child(3) {
        top: 44px;
    }

    &:nth-child(4) {
        bottom: 104px
    }
}

.vertical-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    user-select: none;
}


.horizontal-resizer {
    position: absolute;
    left: -100vw;
    right: -100vw;
    bottom: 95px;
    height: 10px;
    user-select: none;
}


.resize-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.widget-cursor-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.top-widget-cursor-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 78px;
}

.icon-container {
    margin-left: 0;
}