@import '../../../../scss/mixins';

.header-container {
    position: fixed;
    height: 79px;
    background: linear-gradient(to bottom, #8a0077, #46003d);
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.left-container {
    width: 369px;
    height: 45px;
    display: flex;
    margin-right: 30px;
}


.center-container {
    width: 800px;
    height: 36px;
    display: flex;
    position: relative;
}


.right-container {
    width: 369px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    flex-shrink: 0;
}


.hamburger-button-container {
    position: relative;
    pointer-events: none;
}

.hamburger-button {
    margin-right: 16px;
    width: 22px;
    height: 22px;
    pointer-events: all;
}

.niches-button {
    @include gold-button(max-content, 36px, 0);
    border-top-left-radius: 18px;
    font-size: 13px;
    color: black;
    font-weight: bold;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
}


.niches-button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.arrow-down {
    @include arrow-down(10px, 6px, black );
    margin-left: 7px;
}


input {
    border: none;
    outline: 0;
    padding-left: 5px;
    flex: auto;
    width: 100%;
}



.search-button {
    @include gold-button(44px, 36px, 0);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.login-button {
    @include gold-button(88px, 28px, 14px);
    font-weight: bold;
}

.links {
    color: #dadada;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: white;
    }
}

.sign-up-button {
    width: 88px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid #dadada;
    background: none;
    color: #dadada;
    cursor: pointer;

    &:hover {
        color: white;
        border-color: white;
    }
}


.profile-pic {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 1px solid #acacac;
    cursor: pointer;

    &:hover {
        filter: brightness(1.25);
    }
}


.account-menu-popup-container {
    position: absolute;
    width: 100%;
    max-width: 180px;
    right: 5px;
    top: 61px;
    pointer-events: none;
}


.niches-button-container {
    outline: none;
    width: 100%;
    max-width: fit-content;
}

.niches-menu-popup-container {
    position: absolute;
    width: 100%;
    max-width: 300px;
    top: 25px;
    left: 0; pointer-events: none;
}


.suggestion-list {
    z-index: 200;
    position: absolute;
    background: white;
    left: 0;
    right: 0;
    top: 36px;
    border-top: 1px solid #d8d8d8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.suggestion {
    height: 37px;
    cursor: pointer;
    
    &:not(:last-child) .suggestion-text {
        border-bottom: 1px solid #dadada;
    }
}

.highlight {
    background: #dddddd;

    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.suggestion-text {
    margin: 0 10px;
    user-select: none;
    height: 37px;
    line-height: 37px;
    padding-left: 10px;
    box-sizing: border-box;
}

.niche-suggestion {
    color: #8a0077;
    font-size: 13px;
    font-style: italic;
}


.suggestion-list-backdrop {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 79px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
}


@media(max-width: 1500px) {
    .niches-button-text {
        max-width: 200px;
    }
}


@media(max-width: 1400px) {
    .niches-button-text {
        max-width: 150px;
    }
}

@media(max-width: 1300px) {
    .niches-button-text {
        max-width: 100px;
    }
}

@media(max-width: 1200px) {
    .niches-button-text {
        max-width: 60px;
    }
}


@media(max-width: 1100px) {
    #orders, #lists, #about1, #orderSupport1 {
        display: none;
    }

    .left-container, .right-container {
        width: 200px;
    }

    .niches-button-text {
        max-width: 100px;
    }
}


@media(max-width: 1000px) {
    .niches-button-text {
        max-width: 60px;
    }
}

@media(max-width: 900px) {
    #about2, #orderSupport2 {
        display: none;
    }

    .right-container {
        width: auto;
        margin-left: 0;
    }

    .login-button {
        display: none;
    }

    .sign-up-button {
        display: none;
    }

    .profile-pic {
        margin-left: 15px;
    }

    .niches-button-text {
        max-width: 100px;
    }
}


@media(max-width: 800px) {
    .niches-button-text {
        max-width: 60px;
    }
}

@media(max-width: 700px) {
    img {
        display: none;
    }

    .left-container {
        width: auto;
        margin-right: 0;
        align-items: center;
    }

    .hamburger-button {
        margin-right: 12px;
    }

    .niches-button-text {
        max-width: 150px;
    }
}


@media(max-width: 600px) {
    .niches-button-text {
        max-width: 100px;
    }
}


@media(max-width: 500px) {
    .niches-button-text {
        max-width: 60px;
    }
}


@media(max-width: 450px) {
    .niches-button {
        display: none;
    }

    input {
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }


    ::-webkit-input-placeholder {
        color: transparent;
      }
      ::-moz-placeholder { 
        color: transparent;
      }
      :-ms-input-placeholder { 
        color: transparent;
      }
      :-moz-placeholder { 
        color: transparent;
      }
}