<div #headerContainer class="header-container" [style.paddingRight.px]="lazyLoadingService.paddingRight + 16">
    <div class="left-container">

        <!-- Hamburger Button -->
        <div class="hamburger-button-container">
            <i tabindex="0"
               class="hamburger-button"
               (click)="onHamburgerButtonClick()"
               (keydown.enter)="onHamburgerButtonClick()">
            </i>
        </div>
            
        <ng-template #sideMenuContainer></ng-template>


        <!-- Niche Shack Logo -->
        <a routerLink="/home" title="Niche Shack Homepage" tabindex="0">
            <img src="assets/niche-shack-logo-small.png">
            <img src="assets/niche-shack-logo-scaled.png">
        </a>
    </div>


    <div class="center-container">
        
        <!-- Niches Button -->
        <div class="niches-button-container"
             (keydown.enter)="onNichesButtonClick()">

            <div tabindex="0"
                 class="niches-button"
                 (click)="onNichesButtonClick()"
                 (mousedown)="$event.stopPropagation()"
                 [title]="selectedNiche ? selectedNiche.name : 'All Niches'"
                 [style.borderBottomLeftRadius.px]="suggestions && suggestions.length > 0 ? 0 : 18">
                 <div class="niches-button-text">{{selectedNiche ? selectedNiche.name : 'All Niches'}}</div>
                 <div #arrow class="arrow-down"></div>
            </div>

            <div class="niches-menu-popup-container">
                <ng-template #nicheMenuPopupContainer></ng-template>
            </div>
        </div>


        <!-- Search Input -->
        <div class="input-container">
            <input #searchInput
                   tabindex="0"
                   (blur)="hideSuggestionList()"
                   (keydown.escape)="suggestions = []"
                   (keydown.enter)="search(searchInput.value)"
                   (keydown.arrowUp)="onArrowPress(-1, searchInput); $event.preventDefault()"
                   (keydown.arrowDown)="onArrowPress(1, searchInput); $event.preventDefault()"
                   [placeholder]="'Search in ' + (selectedNiche ? selectedNiche.name: 'All Niches')">
        </div>


        <!-- Suggestion List -->
        <div *ngIf="suggestions && suggestions.length > 0"
             class="suggestion-list"
             (mousedown)="suggestionListMousedown = true">

            <!-- Suggestions -->
            <ng-container *ngFor="let suggestion of suggestions; let i = index">

                <!-- Suggestion -->
                <div *ngIf="!suggestion.niche"
                     class="suggestion"
                     (click)="search(suggestion.name)"
                     (mouseover)="suggestionIndex = i"
                     [ngClass]="{'highlight': i == suggestionIndex}">
                    <div class="suggestion-text"
                         [innerHTML]="suggestion.html">
                    </div>
                </div>

                <!-- Suggested Niche -->
                <div *ngIf="suggestion.niche"
                     (mouseover)="suggestionIndex = i"
                     class="suggestion niche-suggestion"
                     [ngClass]="{'highlight': i == suggestionIndex}"
                     (click)="search(suggestion.name, suggestion.niche)">
                    <div class="suggestion-text" style="padding-left: 30px;">in {{suggestion.niche.name}}</div>
                </div>
            </ng-container>
        </div>

        <!-- Search Button -->
        <button tabindex="0"
                class="search-button"
                (click)="search(searchInput.value)"
                [style.borderBottomRightRadius.px]="suggestions && suggestions.length > 0 ? 0 : 18" >
            <div class="search-icon"></div>
        </button>
    </div>



    <!-- Right Container -->
    <div class="right-container">

        <!-- NOT logged in -->
        <ng-container *ngIf="!accountService.user || !accountService.user.firstName">

            <!-- About -->
            <div class="link-container">
                <a id="about1" routerLink="/about">About</a>
            </div>
            
            <!-- Order Support -->
            <div class="link-container">
                <a id="orderSupport1" href="https://www.clkbank.com/" target="_blank">Order Support</a>
            </div>

            <button class="login-button" (click)="onLoginClick()">Sign In</button>
            <button class="sign-up-button" (click)="onSignUpClick()">Sign Up</button>
        </ng-container>


        <!-- Logged in -->
        <ng-container *ngIf="accountService.user && accountService.user.firstName">

            <!-- About -->
            <div id="about2" class="link-container">
                <a routerLink="/about">About</a>
            </div>

            <!-- Order Support -->
            <div id="orderSupport2" class="link-container">
                <a href="https://www.clkbank.com/" target="_blank">Order Support</a>
            </div>

            <!-- Orders -->
            <div id="orders" class="link-container">
                <a routerLink="/account/orders">Orders</a>
            </div>

            <!-- Lists -->
            <div id="lists" class="link-container">
                <a routerLink="/account/lists">Lists</a>
            </div>


            <div tabindex="0"
                 class="profile-pic-container"
                 (click)="onProfilePicClick()"
                 (mousedown)="$event.stopPropagation()"
                 (keydown.enter)="onProfilePicClick()"
                 [ngClass]="{'remain-in-focus': accountMenuPopupOpen}">

                <img class="profile-pic"
                     [alt]="accountService.user.profileImage.name"
                     [title]="accountService.user.profileImage.name"
                     [src]="accountService.user.profileImage.src ? 'images/' + accountService.user.profileImage.src : 'assets/no-account-pic.png'">
            </div>
        </ng-container>

        
        <!-- Account Menu Popup -->
        <div class="account-menu-popup-container">
            <ng-template #accountMenuPopupContainer></ng-template>
        </div>
    </div>
</div>

<!-- Suggestion list backdrop -->
<div class="suggestion-list-backdrop hide"
    [ngClass]="{'show': (suggestions && suggestions.length) > 0 || (sideMenu && sideMenu.show)}"
    [style.pointerEvents]="(suggestions && suggestions.length) > 0 || (sideMenu && sideMenu.show) ? 'all' : 'none'">
</div>