<div class="header-container">


    <div class="left-container">
        <div class="hamburger-button"></div>
        <img src="assets/logo.png" style="cursor: pointer;">
    </div>




    <div class="center-container">
        <button class="niches-button">
            All Niches
            <div class="arrow-down"></div>
        </button>

        <input placeholder="Search in all niches">

        <button class="search-button">
            <div class="search-icon"></div>
        </button>
    </div>




    <div class="right-container">
        <ng-container *ngIf="!customerService.customer || !customerService.customer.firstName">
            <div id="about1" class="links">About</div>
            <div id="orderSupport1" class="links">Order Support</div>
            <button class="login-button" (click)="onLoginClick()">Log In</button>
            <button class="sign-up-button" (click)="onSignUpClick()">Sign Up</button>
        </ng-container>

        <ng-container *ngIf="customerService.customer && customerService.customer.firstName">
            <div id="about2" class="links">About</div>
            <div id="orderSupport2" class="links">Order Support</div>
            <div id="orders" class="links">Orders</div>
            <div id="lists" class="links">Lists</div>

            <div tabindex="0" (blur)="closeAccountMenuPopup()" (keydown.escape)="closeAccountMenuPopup()" style="outline: none;">
                <img src="assets/logo.png" class="profile-pic"
                    [title]="customerService.customer.firstName + ' ' + customerService.customer.lastName"
                    (click)="onProfilePicClick()">


                <!-- Account Menu Popup -->
                <div class="account-menu-popup-container">
                    <ng-template #accountMenuPopupContainer></ng-template>
                </div>
            </div>

        </ng-container>
    </div>
</div>