<div class="header-container">

    <!-- Left Container -->
    <div class="left-container">

        <!-- Side Menu -->
        <div tabindex="0" (blur)="sideMenu ? sideMenu.close() : null" class="hamburger-button-container">
            <div class="hamburger-button" (click)="onHamburgerButtonClick()"></div>
            <ng-template #sideMenuContainer></ng-template>
        </div>

        <a routerLink="/home" title="Niche Shack Homepage">
            <img src="assets/logo.png">
        </a>

    </div>



    <!-- Center Container -->
    <div class="center-container">


        <div tabindex="0" (blur)="nicheMenuPopup ? nicheMenuPopup.close() : null"
            class="niches-button-container">

            <div class="niches-button" (click)="onNichesButtonClick()"
                [style.borderBottomLeftRadius.px]="suggestions && suggestions.length > 0 ? 0 : 18">

                <div class="niches-button-text">

                    {{selectedNiche ? selectedNiche.name: 'All Niches'}}

                </div>

                <div #arrow class="arrow-down"></div>
            </div>

            <div class="niches-menu-popup-container">
                <ng-template #nicheMenuPopupContainer></ng-template>
            </div>
        </div>


        <!-- Search Input -->
        <input #input tabindex="0" (blur)="hideSuggestionList()"
            [placeholder]="'Search in ' + (selectedNiche ? selectedNiche.name: 'All Niches')" (input)="getSuggestions()"
            (keydown.enter)="search(input.value)" (mousedown)="getSuggestions()" (keydown.escape)="suggestions = []"
            (keydown.arrowUp)="onArrowPress(-1, input); $event.preventDefault()"
            (keydown.arrowDown)="onArrowPress(1, input); $event.preventDefault()">

        <div *ngIf="suggestions && suggestions.length > 0" class="suggestion-list"
            (mousedown)="suggestionListMousedown = true">


            <!-- Suggestions -->
            <ng-container *ngFor="let suggestion of suggestions; let i = index">

                <!-- Suggestion -->
                <div *ngIf="!suggestion.niche" class="suggestion" (click)="search(suggestion.name)"
                    (mouseover)="suggestionIndex = i" [ngClass]="{'highlight': i == suggestionIndex}">
                    <div class="suggestion-text" [innerHTML]="suggestion.html"></div>
                </div>


                <!-- Suggested Niche -->
                <div *ngIf="suggestion.niche" class="suggestion niche-suggestion"
                    (click)="search(suggestion.name, suggestion.niche)" (mouseover)="suggestionIndex = i"
                    [ngClass]="{'highlight': i == suggestionIndex}">
                    <div class="suggestion-text" style="padding-left: 30px;">
                        in {{suggestion.niche.name}}
                    </div>

                </div>
            </ng-container>
        </div>



        <!-- Search Button -->
        <button class="search-button" (click)="search(input.value)"
            [style.borderBottomRightRadius.px]="suggestions && suggestions.length > 0 ? 0 : 18">
            <div class="search-icon"></div>
        </button>
    </div>



    <!-- Right Container -->
    <div class="right-container">
        <ng-container *ngIf="!accountService.customer || !accountService.customer.firstName">
            <a id="about1" class="links" routerLink="/about">About</a>
            <a id="orderSupport1" class="links" href="https://www.clkbank.com/" target="_blank">Order Support</a>
            <button class="login-button" (click)="onLoginClick()">Log In</button>
            <button class="sign-up-button" (click)="onSignUpClick()">Sign Up</button>
        </ng-container>

        <ng-container *ngIf="accountService.customer && accountService.customer.firstName">
            <a id="about2" class="links" routerLink="/about">About</a>
            <a id="orderSupport2" class="links" href="https://www.clkbank.com/" target="_blank">Order Support</a>
            <a id="orders" class="links" routerLink="/account/orders">Orders</a>
            <a id="lists" class="links" routerLink="/account/lists">Lists</a>

            <!-- Account profile pic -->
            <div tabindex="0" (blur)="accountMenuPopupComponent ? accountMenuPopupComponent.close() : null"
                 style="outline: none;">
                <div class="profile-pic" style="position: absolute; z-index: -1;"></div>
                <img [src]="accountService.customer.profileImage.url" class="profile-pic"
                    [title]="accountService.customer.profileImage.name"
                    [alt]="accountService.customer.profileImage.name" (click)="onProfilePicClick()">


                <!-- Account Menu Popup -->
                <div class="account-menu-popup-container">
                    <ng-template #accountMenuPopupContainer></ng-template>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- Suggestion list backdrop -->
<div class="suggestion-list-backdrop hide"
    [ngClass]="{'show': (suggestions && suggestions.length) > 0 || (sideMenu && sideMenu.show)}"
    [style.pointerEvents]="(suggestions && suggestions.length) > 0 || (sideMenu && sideMenu.show) ? 'all' : 'none'">
</div>