<div class="popup-container hide" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Arrow Left -->
    <div *ngIf="arrowPosition == PopupArrowPosition.TopLeft || arrowPosition == PopupArrowPosition.BottomLeft"
        class="popup-arrow-container"
        [ngStyle]="{'top': arrowPosition == PopupArrowPosition.TopLeft ? '13px' : '326px'}">
        <div class="popup-arrow-left-Border"></div>
        <div class="popup-arrow-left-background"></div>
    </div>


    <div class="popup-base">

        <!-- Recurring Price -->
        <div class="popup-label">Recurring Price:</div>
        <input #recurringPrice [value]="recurringPayment.recurringPrice"
            (input)="onRecurringPriceChange(recurringPrice.value)">


        <!-- Subscription Duration -->
        <div class="popup-label">Subscription Duration:</div>
        <input #subscriptionDuration [value]="recurringPayment.subscriptionDuration"
            (input)="onSubscriptionDurationChange(subscriptionDuration.value)">


        <!-- Trial Period -->
        <div class="popup-label">Trial Period:</div>
        <div class="popup-date-container">
            <div class="popup-date-base">
                <div class="popup-date-value-display">{{getTrialPeriodDate() | date}}</div>
                <i class="fa-solid fa-calendar-days"></i>
                <input #dateInput type="date" [value]="getTrialPeriodDate()" (change)="onTrialPeriodChange(dateInput)">
            </div>
            <div class="popup-trial-period-display">{{recurringPayment.trialPeriod + ' Day' +
                (recurringPayment.trialPeriod != 1 ? 's' : '')}}</div>
        </div>


        <!-- Rebill Frequency -->
        <div class="popup-label">Rebill Frequency:</div>

        <div style="height: 24px; margin-top: 5px; margin-bottom: 15px;">
            <dropdown [listItems]="rebillFrequencyList" [selectedListItem]="selectedRebillFrequency"
                (onChange)="selectedRebillFrequency = $event; onRebillFrequencyChange()"></dropdown>
        </div>



        <!-- Between Rebill -->
        <ng-container *ngIf="recurringPayment.rebillFrequency != rebillFrequency.Days && 
                             recurringPayment.rebillFrequency != rebillFrequency.Weeks && 
                             recurringPayment.rebillFrequency != rebillFrequency.Months">
            <div class="popup-label">Time Between Each Rebill:</div>
        </ng-container>

        <ng-container *ngIf="recurringPayment.rebillFrequency == rebillFrequency.Days || 
                             recurringPayment.rebillFrequency == rebillFrequency.Weeks || 
                             recurringPayment.rebillFrequency == rebillFrequency.Months">
            <div class="popup-label">Number of {{getTimeFrameBetweenRebill()}} Between Each Rebill:</div>
        </ng-container>

        <div style="height: 24px; margin-top: 5px; margin-bottom: 15px;">
            <dropdown [listItems]="timeFrameBetweenRebillList" [selectedListItem]="selectedTimeFrameBetweenRebill"
                (onChange)="selectedTimeFrameBetweenRebill = $event; recurringPayment.timeFrameBetweenRebill = selectedTimeFrameBetweenRebill.value"
                [disabled]="timeFrameBetweenRebillList == undefined || timeFrameBetweenRebillList.length == 0">
            </dropdown>
        </div>



        <!-- Buttons -->
        <div class="popup-button-container">
            <button class="dark-button" (click)="close()">Close</button>
            <button class="gold-button" (click)="onSubmitClick()">Submit</button>
        </div>
    </div>


    <!-- Arrow Right -->
    <div *ngIf="arrowPosition == PopupArrowPosition.TopRight || arrowPosition == PopupArrowPosition.BottomRight"
        class="popup-arrow-container"
        [ngStyle]="{'top': arrowPosition == PopupArrowPosition.TopRight ? '13px' : '326px'}">
        <div class="popup-arrow-right-Border"></div>
        <div class="popup-arrow-right-background"></div>
    </div>
</div>