<div class="popup-container hide" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Arrow Left -->
    <div *ngIf="isAdd" class="popup-arrow-container">
        <div class="popup-arrow-left-Border"></div>
        <div class="popup-arrow-left-background"></div>
    </div>


    <div class="popup-base">

        <!-- Price -->
        <div class="popup-label">Recurring Price:</div>
        <input [(ngModel)]="recurringPayment.recurringPrice">


        <!-- Subscription Duration -->
        <div class="popup-label">Subscription Duration:</div>
        <input [(ngModel)]="recurringPayment.subscriptionDuration">


        <!-- Trial Period -->
        <div class="popup-label">Trial Period:</div>
        <div class="popup-date-container">
            <div class="popup-date-base">
                <div class="popup-date-value-display">{{getTrialPeriodDate() | date}}</div>
                <i class="fa-solid fa-calendar-days"></i>
                <input #dateInput type="date" [value]="getTrialPeriodDate()" (change)="onTrialPeriodChange(dateInput)">
            </div>
            <div class="popup-trial-period-display">{{recurringPayment.trialPeriod + ' Day' +
                (recurringPayment.trialPeriod != 1 ? 's' : '')}}</div>
        </div>


        <!-- Rebill Frequency -->
        <div class="popup-label">Rebill Frequency:</div>

        <div style="height: 24px; border: 1px solid rgb(54, 54, 54); margin-top: 5px; margin-bottom: 15px;"> <!-- Temp div -->
            <select [(ngModel)]="selectedRebillFrequency" (change)="onRebillFrequencyChange()">
                <option *ngFor="let rebillFrequency of rebillFrequencyList" [ngValue]="rebillFrequency">
                    {{rebillFrequency.key}}</option>
            </select>
        </div>



        <!-- Between Rebill -->

        <ng-container *ngIf="recurringPayment.rebillFrequency != rebillFrequency.Days && 
                             recurringPayment.rebillFrequency != rebillFrequency.Weeks && 
                             recurringPayment.rebillFrequency != rebillFrequency.Months">
            <div class="popup-label">Time Between Each Rebill:</div>
        </ng-container>

        <ng-container *ngIf="recurringPayment.rebillFrequency == rebillFrequency.Days || 
                             recurringPayment.rebillFrequency == rebillFrequency.Weeks || 
                             recurringPayment.rebillFrequency == rebillFrequency.Months">
            <div class="popup-label">Number of {{getTimeFrameBetweenRebill()}} Between Each Rebill:</div>
        </ng-container>

        <div style="height: 24px; border: 1px solid rgb(54, 54, 54); margin-top: 5px; margin-bottom: 15px;"> <!-- Temp div -->


            <select [(ngModel)]="selectedTimeFrameBetweenRebill"
                (change)="recurringPayment.timeFrameBetweenRebill = selectedTimeFrameBetweenRebill.value">
                <option *ngFor="let timeFrameBetweenRebill of timeFrameBetweenRebillList"
                    [ngValue]="timeFrameBetweenRebill">
                    {{timeFrameBetweenRebill.key}}</option>
            </select>

        </div>


       





        <!-- Buttons -->
        <div class="popup-button-container">
            <button class="dark-button" (click)="close()">Close</button>
            <button class="gold-button" (click)="onSubmitClick()">Submit</button>
        </div>
    </div>


    <!-- Arrow Right -->
    <div *ngIf="!isAdd" class="popup-arrow-container">
        <div class="popup-arrow-right-Border"></div>
        <div class="popup-arrow-right-background"></div>
    </div>
</div>