<div #widget class="grid-widget-container">

    <ng-container *ngIf="gridData">
        <ng-container *ngIf="gridData.products.length > 0; else noMatch">

            <!-- Header -->
            <div class="header">
                <div class="results">
                    <div style="color: #dadada;">
                        {{gridData.productCountStart}} - {{gridData.productCountEnd}} of
                        {{gridData.totalProducts}}
                        results
                    </div>

                    <button class="gold-rect-button clear-filters" *ngIf="route.snapshot.queryParams.filters"
                        (click)="clearFilters()">Clear Filters</button>
                </div>

                <!-- Sort Options -->
                <div class="dropdown-container">
                    <dropdown [listItems]="sortOptions" (onSelectedListItem)="onSortChange($event)"
                        [selectedListItem]="setSortOption()"></dropdown>
                </div>


                <!-- Sort & Filters button -->
                <div class="hamburger-button" (click)="onHamburgerButtonClick()"></div>
            </div>


            <div class="grid-container">

                <!-- Filters -->
                <div *ngIf="clientWidth >= 768" class="filters-container">
                    <filters-panel [filters]="gridData.filters"></filters-panel>
                </div>

                <!-- Grid -->
                <div style="width: 100%;">
                    <div class="grid">
                        <div class="row">
                            <div class="column" *ngFor="let product of gridData.products; trackBy:trackProduct">
                                <product-thumbnail [product]="product"></product-thumbnail>
                            </div>
                        </div>
                    </div>
                    <paginator [currentPage]="getPageNumber()" [pageCount]="gridData.pageCount"></paginator>
                </div>
            </div>

        </ng-container>

        <!-- No Match -->
        <ng-template #noMatch>
            <div class="no-match">
                <a routerLink="/home" title="Niche Shack Homepage">
                    <img src="assets/logo.png">
                </a>
        
                <div class="gold-text">Sorry...</div>
                <div class="white-text">We couldn't find a match for "{{route.snapshot.queryParams.search}}"</div>
                <ul>
                    <li>Check your spelling</li>
                    <li>Use different keywords and try again</li>
                </ul>
            </div>
            <!-- Logo -->
        

            <!-- <div class="no-match">

                <div style="margin-left: 10px">
                    <div style="font-weight: bold;">
                        Sorry, we couldn't find a match for "{{route.snapshot.queryParams.search}}"
                    </div>

                    <ul>
                        <li>Check your spelling</li>
                        <li>Use different keywords and try again</li>
                    </ul>
                </div>
            </div> -->
        </ng-template>
    </ng-container>
</div>