.grid-widget-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 6px;
}





.grid-container {
    display: flex;
    margin-bottom: 48px;
}

.grid {
    margin-top: -10px;
}


.column {
    padding: 10px;
    width: 100%;
}



.clear-filters {
    height: 22px;
    max-width: 81px;
    margin-top: 5px;
    font-size: 12px;
}


.hamburger-button {
    margin-right: 10px;
}

.no-match {
    margin-top: 10px;
    color: #dadada;

    ul {
        padding-inline-start: 16px;
    }
}

.dropdown-container {
    width: 186px;
    margin-right: 10px;
    display: none;
}


.filters-container {
    width: 220px;
    margin-right: 20px;
    flex-shrink: 0;
    display: none;
}


@media (max-width: 767px) {
    .results {
        margin-left: 10px;
    }

    .grid-widget-container {
        padding: 0;
    }
}


@media (min-width: 768px) {
    .column {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 10px;
    }

    .hamburger-button {
        display: none;
    }

    .dropdown-container, .filters-container {
        display: block;
    }
}




@media (min-width: 870px) {
    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 10px;
    }
}





@media (min-width: 1080px) {
    .column {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 10px;
    }
}


@media (min-width: 1290px) {
    .column {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 10px;
    }
}