<div class="translate-start side-menu-container" [ngClass]="{'translate-end': show}" (transitionend)="onHide()">

    <div class="side-menu-bar">
        <div class="side-menu-x" (click)="close()">X</div>
    </div>

    <div class="side-menu-content-container">

        <!-- Content -->
        <div class="side-menu-content">
            <div class="options-label">View orders in:</div>
            
            <div class="radio-buttons-container">
                <ng-container *ngFor="let filter of filters">
                    <label class="radio" style="display: block;">
                        <div>{{filter.key}}</div>
                        <input type="radio" name="order-filter" [checked]="filter == selectedFilter" (change)="onApply.emit(filter)">
                        <span id="radioButton" #tabElement class="checkmark" tabindex="-1"></span>
                    </label>
                </ng-container>
            </div>
            
        </div>
    </div>
    
    <!-- Bottom Fixed container -->
    <div class="bottom-fixed-container">
        <button class="gold-round-button-lg" (click)="close()">View Results</button>
    </div>
</div>