<div id="menuContainer" class="translate-start side-menu-container" [ngClass]="{'translate-end': show}" (transitionend)="onHide()" tabindex="0" (blur)="close()">

    <div class="side-menu-bar">
        <div class="side-menu-x" (click)="close()">X</div>
    </div>

    <div class="side-menu-content-container">

        <!-- Content -->
        <div class="side-menu-content">
            <div class="view-orders">View orders in:</div>
            
            <ng-container *ngFor="let filter of filters">
                <label class="radio" style="display: block;">
                    <div>{{filter.key}}</div>
                    <input type="radio" name="order-filter" [checked]="filter == selectedFilter" (change)="onApply.emit(filter)">
                    <span class="checkmark"></span>
                </label>
            </ng-container>
        </div>
    </div>
</div>

<div class="side-menu-backdrop hide" [ngClass]="{'show': show}"></div>