<panel [title]="'Groups'">

    <div class="property-box-dark">

        <!-- Property Box Bar -->
        <div class="property-box-bar">

            <!-- Icons -->
            <div class="icons">

                <!-- Delete icon -->
                <icon-button [icon]="'fas fa-trash-alt'"
                             [title]="'Delete'"
                             [isDisabled]="listUpdate.deleteDisabled"
                             (onOver)="list.overButton = $event"
                             (onClick)="list.delete()">
                </icon-button>

                <!-- Edit icon -->
                <icon-button [icon]="'fas fa-pencil-alt'"
                             [title]="'Edit'"
                             [isDisabled]="listUpdate.editDisabled"
                             (onOver)="list.overButton = $event"
                             (onClick)="list.edit()">
                </icon-button>

                <!-- Add icon -->
                <icon-button [icon]="'fas fa-plus-circle'"
                             [title]="'Add'"
                             [isDisabled]="listUpdate.addDisabled"
                             (onOver)="list.overButton = $event"
                             (onClick)="list.add()">
                </icon-button>
            </div>
        </div>
        <list #list [sourceList]="productGroups" [options]="listOptions" (onListUpdate)="listUpdate = $event"></list>
    </div>
</panel>