<panel [title]="'Groups'">

    <div class="property-box-dark">

        <!-- Property Box Bar -->
        <div class="property-box-bar">

            <!-- Icons -->
            <div class="icons">

                <!-- Delete icon -->
                <button class="icon-button" [ngClass]="{'icon-button-disabled': deleteDisabled}" (mouseover)="onOverButton(true)" (mouseout)="onOverButton(false)" (click)="onDelete()" [disabled]="deleteDisabled">
                    <i style="pointer-events: none;" class="fas fa-trash-alt"></i>
                </button>

                <!-- Edit icon -->
                <!-- <button class="icon-button" [ngClass]="{'icon-button-disabled': editDisabled}" (mouseover)="onOverButton(true)" (mouseout)="onOverButton(false)" (click)="onEdit()" [disabled]="editDisabled">
                    <i style="pointer-events: none;" class="fas fa-pencil-alt"></i>
                </button> -->

                <!-- Add icon -->
                <button class="icon-button" [ngClass]="{'icon-button-disabled': addDisabled}" (click)="onAdd()" [disabled]="addDisabled">
                    <i style="pointer-events: none;" class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>
        <!-- <list #list [sourceList]="groups" (onListUpdate)="onListUpdate($event)"></list> -->
        <!-- <editable-list #list [sourceList]="groups" (onListUpdate)="onListUpdate($event)"></editable-list> -->
        <!-- <checkbox-list #list [sourceList]="groups" (onListUpdate)="onListUpdate($event)"></checkbox-list> -->
        <!-- <editable-checkbox-list #list [sourceList]="groups" (onListUpdate)="onListUpdate($event)"></editable-checkbox-list> -->
        <editable-arrow-list #list [sourceList]="groups" (onListUpdate)="onListUpdate($event)"></editable-arrow-list>
    </div>
</panel>