.niche-shack-logo-container {
    margin: 20px auto;
    width: fit-content;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 181px;
        height: 46px;
        outline: none;

        &:hover {
            img {
                filter: brightness(1.2);
            }
        }

        img:nth-child(1) {
            display: block;
        }

        img:nth-child(2) {
            position: relative;
            display: none;
            filter: brightness(1.2);
        }

        &:focus-visible {
            img:nth-child(1) {
                display: none;
            }

            img:nth-child(2) {
                display: block;
            }
        }
    }
}

.collaborate-list-container {
    padding: 10px;
    text-align: center;
    
    .lines-container {

        
        img {
            width: 40px;
            height: 40px;
            margin: 0 20px;
            cursor: default;
        }
    }

    .caption {
        font-size: 20px;
        color: #dadada;
    }
    
    .list-name {
        color: #feb900;
        margin-top: 6px;
        font-style: italic;
        font-size: 20px;
    }

    .button-container {
        // border-top: 1px solid #5a5a5a;
        padding-top: 16px;
        display: flex;
        margin-top: 16px;
        justify-content: flex-end;

        button:last-child {
            margin-left: 15px;
        }
    }

    .horizontal-line {
        margin-top: 20px;
    }
}

.ring {
    position: absolute;
    z-index: 2;
    margin: 0 20px;
    width: 40px;
    height: 40px;
}