img {
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.collaborate-list-container {
    padding: 10px;
    text-align: center;
    
    .lines-container {

        
        img {
            width: 40px;
            height: 40px;
            margin: 0 20px;
            cursor: default;
        }
    }

    .caption {
        font-size: 20px;
        color: #dadada;
    }
    
    .list-name {
        color: #feb900;
        margin-top: 6px;
        font-style: italic;
        font-size: 20px;
    }

    .button-container {
        // border-top: 1px solid #5a5a5a;
        padding-top: 16px;
        display: flex;
        margin-top: 16px;
        justify-content: flex-end;

        button:last-child {
            margin-left: 15px;
        }
    }

    .horizontal-line {
        margin-top: 20px;
    }
}

.ring {
    position: absolute;
    z-index: 2;
    margin: 0 20px;
    width: 40px;
    height: 40px;
}