@import '../../../scss/variables';

.message-text {
    margin-bottom: 19px;
}


.not {
    font-family: 'lithos pro';
    color: $error-color
}


.external-login-provider {
    font-family: 'lithos pro';
    font-weight: bold;
    color: #dadada;
}


.emphasized-text {
    margin: 20px 0;
}