<div class="icon-buttons-container">

    <!-- Search icon -->
    <icon-button class="search-icon-button"
                 [icon]="searchIcon"
                 [title]="searchIconButtonTitle"
                 [isDisabled]="false"
                 (onClick)="toggleSearch()">
    </icon-button>

    <div class="icons">
        <!-- Delete icon -->
        <icon-button [icon]="'fas fa-trash-alt'"
                     [title]="deleteIconButtonTitle"
                     [isDisabled]="isDisabled('deleteDisabled')"
                     (onClick)="delete()">
        </icon-button>

        <!-- Edit icon -->
        <icon-button [icon]="'fas fa-pencil-alt'"
                     [title]="editIconButtonTitle"
                     [isDisabled]="isDisabled('editDisabled')"
                     (onClick)="edit()">
        </icon-button>

        <ng-container *ngIf="!searchMode">
            <!-- Add icon -->
            <icon-button [icon]="'fas fa-plus-circle'"
                         [title]="addIconButtonTitle"
                         [isDisabled]="isDisabled('addDisabled')"
                         (onClick)="add()">
            </icon-button>
        </ng-container>
    </div>
</div>


<!-- List -->
<ng-container *ngIf="!searchMode">
    <div class="popup-list-container">
        <checkbox-list #listComponent
              [sourceList]="thisArray"
              [options]="listOptions"
              (onListUpdate)="listUpdate = $event">
        </checkbox-list>
    </div>
</ng-container>


<!-- Search -->
<ng-container *ngIf="searchMode">
    <input id="productProductGroupsSearchInput"
           placeholder="Search"
           (input)="onSearchInputChange($event.target)">

    <div class="popup-list-container" style="height: 221px;">
        <ng-container *ngIf="thisSearchList.length == 0">
            <div class="no-search-results">
                No search results available
            </div>
        </ng-container>
        
        <ng-container *ngIf="thisSearchList.length > 0">
            <checkbox-list #searchComponent
                  [sourceList]="thisSearchList"
                  [options]="searchOptions"
                  (onListUpdate)="searchUpdate = $event">
            </checkbox-list>
        </ng-container>
    </div>
</ng-container>