<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>


    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base">

            <!-- Header -->
            <div class="header">
                Contact Us

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>



            <!-- Content -->
            <form [formGroup]="form" #_form="ngForm" (ngSubmit)="onSubmit()" class="content">
                <!-- Message -->
                <div class="message-text">
                    Thank you for your interest in contacting Niche Shack. Please complete the form below and we will
                    respond as soon as possible.
                </div>



                <!-- Name -->
                <div class="label"> Name:</div>
                <input #name #tabElement type="text" formControlName="name"
                    [ngClass]="{'error-border':!accountService.user && _form.submitted && form.controls.name.errors}" spellcheck="false">

                <ng-container *ngIf="!accountService.user && _form.submitted && form.controls.name.errors">
                    <ul>
                        <li *ngFor="let message of getErrorMessages('name', 'Name')">
                            {{message}}
                        </li>
                    </ul>
                </ng-container>




                <!-- Email -->
                <div class="label">Email:</div>
                <input #email #tabElement type="text" formControlName="email"
                    [ngClass]="{'error-border': !accountService.user && _form.submitted && form.controls.email.errors}">

                <ng-container *ngIf="!accountService.user && _form.submitted && form.controls.email.errors">
                    <ul>
                        <li *ngFor="let message of getErrorMessages('email', 'Email')">
                            {{message}}
                        </li>
                    </ul>
                </ng-container>



                <!-- Comments -->
                <div class="label">Write your message:</div>
                <textarea #tabElement formControlName="message" [ngClass]="{'error-border': _form.submitted && form.controls.message.errors}"></textarea>

                <ng-container *ngIf="_form.submitted && form.controls.message.errors">
                    <ul>
                        <li *ngFor="let message of getErrorMessages('message', 'Message')">
                            {{message}}
                        </li>
                    </ul>
                </ng-container>

                <!-- Button Container -->
                <div class="button-container">
                    <button #tabElement type="button" class="dark-button" (click)="close()">Cancel</button>
                    <button #tabElement type="submit" class="gold-rect-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>