<!-- Background -->
<div class="background">

    <!-- Overflow -->
    <div class="price-point-overflow" [ngStyle]="{'justify-content': product.pricePoints.length < 5 ? 'center' : 'flex-start', 'margin-bottom': product.pricePoints.length <= 5 ? '0' : '20px'}">

        <!-- Price Point Container -->
        <div *ngFor="let pricePoint of product.pricePoints; let i = index" class="price-point-container" style="position: relative;">


            <div class="delete-price-point-button-container" (click)="deletePricePoint(i, pricePoint.id)">
                <i class="fas fa-trash-alt"></i>
            </div>
            

            <!-- Base -->
            <div class="base">


                <!-- Header -->
                <div class="header">
                    <div class="label-only">Header:</div>
                    <div #header
                        class="header-field"
                        contenteditable="true"
                        (blur)="onHeaderBlur(pricePoint, header.innerText)"
                        (keydown.enter)="window.getSelection()!.removeAllRanges(); header.blur()">
                            {{pricePoint.header}}
                    </div>
                </div>
    
    
    
                <!-- quantity -->
                <div class="quantity-container">
                    <div class="label-only">Quantity:</div>
                    <div #quantity
                        class="quantity-field"
                        contenteditable="true" 
                        (blur)="onQuantityBlur(pricePoint, quantity.innerText)"
                        (keydown.enter)="window.getSelection()!.removeAllRanges(); quantity.blur()">
                            {{pricePoint.quantity}}
                    </div>
                </div>
    
    
    
                <!-- Image -->
                <div class="image-container">
                    <div class="label-container">
                        <div class="label-with-buttons">Image:</div>
    
                        <div *ngIf="pricePoint.image && pricePoint.image.src" class="buttons-container">
                            <i class="fas fa-pencil-alt" (click)="openMediaBrowser(pricePoint)"></i>
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                    
                    <div class="image-field" (click)="openMediaBrowser(pricePoint)">
                        <i *ngIf="!pricePoint.image || !pricePoint.image.src" class="fa-solid fa-image"></i>
                        <img *ngIf="pricePoint.image && pricePoint.image.src" [src]="'images/' + pricePoint.image.src">
                    </div>
                </div>
                
    
                <div class="space-between-container">
    
                    <!-- Unit -->
                    <div class="units-container">
                        <div class="unit-price-container">
                            <div class="label-only">Unit Price:</div>
                            <div #unitPrice
                                class="unit-price-field"
                                contenteditable="true"
                                (focus)="onUnitPriceFocus(unitPrice)"
                                (blur)="onUnitPriceBlur(pricePoint, unitPrice)"
                                (keydown.enter)="window.getSelection()!.removeAllRanges(); unitPrice.blur()">
                                    {{pricePoint.unitPrice | currency:'USD':'symbol':'0.0-2'}}
                            </div>
                        </div>
        
                        <div class="unit-container">
                            <div class="label-only">Unit:</div>
                            <div #unit
                                class="unit-field"
                                contenteditable="true"
                                (blur)="onUnitBlur(pricePoint, unit.innerText)"
                                (keydown.enter)="window.getSelection()!.removeAllRanges(); unit.blur()">
                                    {{pricePoint.unit}}
                            </div>
                        </div>
                    </div>
        
        
        
        
                    
                    <!-- Price -->
                    <div class="prices-container">
                        <div class="strikethrough-price-container">
                            <div class="label-only">Strikethrough Price:</div>
                            <div class="strikethrough-price-field">
                                <div #strikethroughPrice
                                    class="strikethrough-price"
                                    contenteditable="true"
                                    (focus)="onStrikethroughPriceFocus(strikethroughPrice)"
                                    (blur)="onStrikethroughPriceBlur(pricePoint, strikethroughPrice)"
                                    (keydown.enter)="window.getSelection()!.removeAllRanges(); strikethroughPrice.blur()">
                                        {{pricePoint.strikethroughPrice | currency:'USD':'symbol':'0.0-2'}}
                                </div>
                            </div>
                        </div>
        
                        <div class="price-container">
                            <div class="label-only">Price:</div>
                            <div #price
                                class="price-field"
                                contenteditable="true"
                                (focus)="onPriceFocus(price)"
                                (blur)="onPriceBlur(pricePoint, price)"
                                (keydown.enter)="window.getSelection()!.removeAllRanges(); price.blur()">
                                    {{pricePoint.price | currency:'USD':'symbol':'0.0-2'}}
                            </div>
                        </div>
                    </div>
                    
                    
        
        
                    <!-- Shipping -->
                    <div class="shipping-container">
                        <div class="label-container">
                            <div class="label-with-buttons">Shipping:</div>
                            <div *ngIf="pricePoint.shippingType != shippingType.None" class="buttons-container">
                                <i class="fas fa-pencil-alt" (click)="openShippingPopup(PopupArrowPosition.BottomRight, i, pricePoint)"></i>
                                <i class="fas fa-trash-alt" (click)="pricePoint.shippingType = 0; updatePricePoint(pricePoint)"></i>
                            </div>
                        </div>
                        
                        <div class="add-button-field" style="min-height: 40px;">
                            <div *ngIf="pricePoint.shippingType == shippingType.None" class="add-button" (click)="openShippingPopup(PopupArrowPosition.BottomLeft, i, pricePoint)">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

                            <div style="position: absolute; z-index: 100; left: 33px; top: -127px;">
                                <ng-template #addShippingPopup></ng-template>
                            </div>

                            <div style="position: absolute; z-index: 100; left: -65px; top: -160px;">
                                <ng-template #editShippingPopup></ng-template>
                            </div>


                            <shipping *ngIf="pricePoint.shippingType != shippingType.None" [shippingType]="pricePoint.shippingType"></shipping>
                        </div>
                    </div>
        
        
                    <!-- Recurring -->
                    <div class="recurring-container">
                        <div class="label-container">
                            
                            <div class="label-with-buttons">Recurring:</div>
                            
                            <div *ngIf="pricePoint.recurringPayment.recurringPrice > 0" class="buttons-container">
                                <i class="fas fa-pencil-alt" (click)="openRecurringPopup(PopupArrowPosition.BottomRight, i, pricePoint)"></i>
                                <i class="fas fa-trash-alt" (click)="removeRecurringPayment(pricePoint)"></i>
                            </div>
                        </div>
                        
                        <div class="add-button-field">

                            <div *ngIf="pricePoint.recurringPayment.recurringPrice == 0" class="add-button" (click)="openRecurringPopup(PopupArrowPosition.BottomLeft, i, pricePoint)">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

                            <div style="position: absolute; z-index: 100; left: 33px; top: -319px;">
                                <ng-template #addRecurringPopup></ng-template>
                            </div>

                            <div style="position: absolute; z-index: 100; left: -65px; top: -356px;">
                                <ng-template #editRecurringPopup></ng-template>
                            </div>

                            <recurring-payment *ngIf="pricePoint.recurringPayment.recurringPrice > 0" [recurringPayment]="pricePoint.recurringPayment"></recurring-payment>
                        </div>
                    </div>
                </div>
            </div>

            

            
        </div>


        <div *ngIf="product.pricePoints.length < 5" class="add-button-container">
            <div class="add-button-lg" (click)="addPricePoint(true)">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
            
    <div *ngIf="product.pricePoints.length >= 5" class="add-button-lg" (click)="addPricePoint(true)">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>