<!-- Background -->
<div class="background">

    <!-- Overflow -->
    <div class="price-point-overflow" [ngStyle]="{'justify-content': product.pricePoints.length < 5 ? 'center' : 'flex-start', 'margin-bottom': product.pricePoints.length <= 5 ? '0' : '20px'}">

        <!-- Price Point Container -->
        <div *ngFor="let pricePoint of product.pricePoints; let i = index" class="price-point-container" style="position: relative;">


            <!-- Delete Price Point Button -->
            <div class="delete-price-point-button-container"
                 (click)="deletePricePoint(i, pricePoint.id)">
                <i class="fas fa-trash-alt"
                   tabindex="0"
                   (keydown.enter)="deletePricePoint(i, pricePoint.id)"></i>
            </div>
            

            <!-- Base -->
            <div class="base">



                <!-- Header -->
                <div class="header">
                    <div class="header-container">
                        <div class="header-label">Header:</div>
                        <div #header
                            tabindex="0"
                            class="header-field"
                            contenteditable="true"
                            (focus)="selectRange(header)"
                            (blur)="onHeaderBlur(pricePoint, header)"
                            (keydown.escape)="onHeaderEscape(pricePoint, header)"
                            (keydown.enter)="header.blur()"
                            (paste)="onPaste($event, header)">
                                {{pricePoint.header}}
                        </div>
                    </div>
                </div>
    
    
    
                <!-- quantity -->
                <div class="quantity-container">
                    <div class="label-only">Quantity:</div>
                    <div #quantity
                         tabindex="0"
                         class="quantity-field"
                         contenteditable="true"
                         (focus)="selectRange(quantity)"
                         (blur)="onQuantityBlur(pricePoint, quantity)"
                         (keydown.escape)="onQuantityEscape(pricePoint, quantity)"
                         (keydown.enter)="quantity.blur()"
                         (paste)="onPaste($event, quantity)">
                            {{pricePoint.quantity}}
                    </div>
                </div>
    
    
    
                <!-- Image -->
                <div class="image-container" [tabindex]="!pricePoint.image.src ? '0' : '-1'" (keydown.enter)="!pricePoint.image.src ? openMediaBrowser(pricePoint) : null">
                    <div class="label-container">
                        <div class="label-with-buttons">Image:</div>
    
                        <div class="buttons-container">
                            <!-- Delete -->
                            <i *ngIf="pricePoint.image.src" #imageDeleteButton
                               tabindex="0"
                               class="fas fa-trash-alt"
                               (click)="onImageDelete(pricePoint)"
                               (keydown.escape)="imageDeleteButton.blur()"
                               (keydown.enter)="onImageDelete(pricePoint)" title="Delete Image">
                            </i>

                            <!-- Media Browser -->
                            <i #imageEditButton
                               tabindex="0"
                               class="fa-solid fa-image image-icon"
                               (click)="openMediaBrowser(pricePoint)"
                               (keydown.escape)="imageEditButton.blur()"
                               (keydown.enter)="openMediaBrowser(pricePoint)" title="Media Browser">
                            </i>
                        </div>
                    </div>
                    
                    <div class="image-field" [title]="pricePoint.image.src ? pricePoint.image.name : ''"
                         (click)="openMediaBrowser(pricePoint)">

                        <i *ngIf="!pricePoint.image.src" class="fa-solid fa-image" style="font-size: 60px; color: #3c3c3c;"></i>
                        <img *ngIf="pricePoint.image.src" [src]="'images/' + pricePoint.image.src">
                    </div>
                </div>
                
    
                <div class="space-between-container">
    
                    <!-- Units -->
                    <div class="units-container">

                        <!-- Unit Price -->
                        <div class="unit-price-container">
                            <div class="label-only">Unit Price:</div>
                            <div #unitPrice
                                 tabindex="0"
                                 class="unit-price-field"
                                 contenteditable="true"
                                 (focus)="onUnitPriceFocus(unitPrice)"
                                 (input)="onUnitPriceInput(unitPrice)"
                                 (blur)="onUnitPriceBlur(pricePoint, unitPrice)"
                                 (keydown.escape)="onUnitPriceEscape(pricePoint, unitPrice)"
                                 (keydown.enter)="unitPrice.blur()"
                                 (paste)="onPaste($event, unitPrice, true)">
                                    {{isWholeNumber(pricePoint.unitPrice) ?  (pricePoint.unitPrice | currency:'USD':'symbol':'0.0-0') : (pricePoint.unitPrice | currency:'USD':'symbol':'0.2-2')}}
                            </div>
                        </div>
        
                        <!-- Unit -->
                        <div class="unit-container">
                            <div class="label-only">Unit:</div>
                            <div #unit
                                 tabindex="0"
                                 class="unit-field"
                                 contenteditable="true"
                                 (focus)="selectRange(unit)"
                                 (blur)="onUnitBlur(pricePoint, unit)"
                                 (keydown.escape)="onUnitEscape(pricePoint, unit)"
                                 (keydown.enter)="unit.blur()"
                                 (paste)="onPaste($event, unit)">
                                    {{pricePoint.unit}}
                            </div>
                        </div>
                    </div>
        
        
        
        
                    
                    <!-- Prices -->
                    <div class="prices-container">

                        <!-- Strikethrough Price -->
                        <div class="strikethrough-price-container">
                            <div class="label-only">Strikethrough Price:</div>
                            <div class="strikethrough-price-field">
                                <div #strikethroughPrice
                                     tabindex="0"
                                     class="strikethrough-price"
                                     contenteditable="true"
                                     (focus)="onStrikethroughPriceFocus(strikethroughPrice)"
                                     (input)="onStrikethroughPriceInput(strikethroughPrice)"
                                     (blur)="onStrikethroughPriceBlur(pricePoint, strikethroughPrice)"
                                     (keydown.escape)="onStrikethroughPriceEscape(pricePoint, strikethroughPrice)"
                                     (keydown.enter)="strikethroughPrice.blur()"
                                     (paste)="onPaste($event, strikethroughPrice, true)">
                                        {{isWholeNumber(pricePoint.strikethroughPrice) ? (pricePoint.strikethroughPrice | currency:'USD':'symbol':'0.0-0') : (pricePoint.strikethroughPrice | currency:'USD':'symbol':'0.2-2')}}
                                </div>
                            </div>
                        </div>
        
                        <!-- Price -->
                        <div class="price-container">
                            <div class="label-only">Price:</div>
                            <div #price
                                 tabindex="0"
                                 class="price-field"
                                 contenteditable="true"
                                 (focus)="onPriceFocus(price)"
                                 (input)="onPriceInput(price)"
                                 (blur)="onPriceBlur(pricePoint, price)"
                                 (keydown.escape)="onPriceEscape(pricePoint, price)"
                                 (keydown.enter)="price.blur()"
                                 (paste)="onPaste($event, price, true)">
                                    {{isWholeNumber(pricePoint.price) ? (pricePoint.price | currency:'USD':'symbol':'0.0-0') : (pricePoint.price | currency:'USD':'symbol':'0.2-2')}}
                            </div>
                        </div>
                    </div>
                    
                    
        
        
                    <!-- Shipping -->
                    <div class="shipping-container">
                        <div class="label-container">
                            <div class="label-with-buttons">Shipping:</div>
                            <div *ngIf="pricePoint.shippingType != shippingType.None" class="buttons-container">

                                <!-- Edit -->
                                <i #shippingEditButton
                                   tabindex="0"
                                   class="fas fa-pencil-alt"
                                   (click)="openShippingPopup(PopupArrowPosition.BottomRight, i, pricePoint)"
                                   (keydown.escape)="shippingEditButton.blur()"
                                   (keydown.enter)="openShippingPopup(PopupArrowPosition.BottomRight, i, pricePoint)">
                                </i>

                                <!-- Delete -->
                                <i #shippingDeleteButton
                                   tabindex="0"
                                   class="fas fa-trash-alt"
                                   (click)="pricePoint.shippingType = 0; updatePricePoint(pricePoint)"
                                   (keydown.escape)="shippingDeleteButton.blur()"
                                   (keydown.enter)="pricePoint.shippingType = 0; updatePricePoint(pricePoint)">
                                </i>
                            </div>
                        </div>
                        
                        <div class="add-button-field" style="min-height: 40px;">

                            <!-- Add -->
                            <div *ngIf="pricePoint.shippingType == shippingType.None"
                                 #shippingAddButton
                                 tabindex="0"
                                 class="add-button"
                                 (click)="openShippingPopup(PopupArrowPosition.BottomLeft, i, pricePoint)"
                                 (keydown.escape)="shippingAddButton.blur()"
                                 (keydown.enter)="openShippingPopup(PopupArrowPosition.BottomLeft, i, pricePoint)">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

                            <div style="position: absolute; z-index: 100; left: 33px; top: -127px;">
                                <ng-template #addShippingPopup></ng-template>
                            </div>

                            <div style="position: absolute; z-index: 100; left: -65px; top: -160px;">
                                <ng-template #editShippingPopup></ng-template>
                            </div>

                            <shipping *ngIf="pricePoint.shippingType != shippingType.None" [shippingType]="pricePoint.shippingType"></shipping>
                        </div>
                    </div>
        
        
                    <!-- Recurring -->
                    <div class="recurring-container">
                        <div class="label-container">
                            <div class="label-with-buttons">Recurring:</div>
                            <div *ngIf="pricePoint.recurringPayment.recurringPrice > 0" class="buttons-container">

                                <!-- Edit -->
                                <i #recurringEditButton
                                   tabindex="0"
                                   class="fas fa-pencil-alt"
                                   (click)="openRecurringPopup(PopupArrowPosition.BottomRight, i, pricePoint)"
                                   (keydown.escape)="recurringEditButton.blur()"
                                   (keydown.enter)="openRecurringPopup(PopupArrowPosition.BottomRight, i, pricePoint)">
                                </i>

                                <!-- Delete -->
                                <i #recurringDeleteButton
                                   tabindex="0"
                                   class="fas fa-trash-alt"
                                   (click)="removeRecurringPayment(pricePoint)"
                                   (keydown.escape)="recurringDeleteButton.blur()"
                                   (keydown.enter)="removeRecurringPayment(pricePoint)">
                                </i>
                            </div>
                        </div>
                        
                        <div class="add-button-field">

                            <!-- Add -->
                            <div *ngIf="pricePoint.recurringPayment.recurringPrice == 0"
                                 #recurringAddButton
                                 tabindex="0"
                                 class="add-button"
                                 (click)="openRecurringPopup(PopupArrowPosition.BottomLeft, i, pricePoint)"
                                 (keydown.escape)="recurringAddButton.blur()"
                                 (keydown.enter)="openRecurringPopup(PopupArrowPosition.BottomLeft, i, pricePoint)">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

                            <div style="position: absolute; z-index: 100; left: 33px; top: -319px;">
                                <ng-template #addRecurringPopup></ng-template>
                            </div>

                            <div style="position: absolute; z-index: 100; left: -65px; top: -356px;">
                                <ng-template #editRecurringPopup></ng-template>
                            </div>

                            <recurring-payment *ngIf="pricePoint.recurringPayment.recurringPrice > 0" [recurringPayment]="pricePoint.recurringPayment"></recurring-payment>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="product.pricePoints.length < 5" class="add-button-container">
            <div #pricePointAddButton
                 tabindex="0"
                 class="add-button-lg"
                 (click)="addPricePoint(true)"
                 (keydown.escape)="pricePointAddButton.blur()"
                 (keydown.enter)="addPricePoint(true)">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
            
    <div *ngIf="product.pricePoints.length >= 5"
         #pricePointAddButton
         tabindex="0"
         class="add-button-lg"
         (click)="addPricePoint(true)"
         (keydown.escape)="pricePointAddButton.blur()"
         (keydown.enter)="addPricePoint(true)">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>