<div class="hide modal-backdrop"
     [ngClass]="{'show': show}"
     (transitionend)="onHide()">

    <div id="modalBase"
         tabindex="-1"
         class="modal-base">

         <!-- Bar -->
        <div class="modal-bar">
            <div>{{!notification.reviewDeleted ? 'Remove' : 'Restore'}} Review</div>
            <div class="modal-x-button"
                 (click)="close()">
                X
            </div>
        </div>

        <div class="modal-content">
            <!-- Name -->
            <div class="notification-label">Title:</div>
            <div class="notification-info-box" style="height: 26px; margin-bottom: 13px;">
                <div class="notification-user-comment">
                    {{notification.reviewWriter.reviewTitle}}
                </div>
            </div>
            <div class="notification-label">Review:</div>
            <div class="notification-info-box" style="height: 100px; margin-bottom: 13px;">
                <div class="notification-user-comment">
                    {{notification.reviewWriter.text}}
                </div>
            </div>


            <!-- Notes -->
            <div class="notification-label">Notes:</div>
            <div class="notification-info-box">
                <textarea #notes #tabElement [value]="employeeNotes" (input)="onNotes(notes)"></textarea>
            </div>
        </div>


        <div *ngIf="!notification.reviewDeleted" class="checkbox-container">
            <label class="checkbox">
                <div>Add noncompliant strike to the review writer</div>
                <input type="checkbox" [checked]="addStrike" (change)="oncheckbox()">
                <span #tabElement class="checkmark" tabindex="-1" (keydown.space)="oncheckbox()"></span>
            </label>
        </div>

        
        <!-- Button Container -->
        <div class="modal-button-container">
            <button #tabElement class="dark-button" (click)="close()">Close</button>
            <button #tabElement class="gold-button" (click)="onRemoveButton()">{{!notification.reviewDeleted ? 'Remove' : 'Restore'}}</button>
        </div>
    </div>
</div>