<div class="error-container">
    <div class="error-page-content-container">
        
        <!-- Niche Shack Logo -->
        <div class="niche-shack-logo-container">
            <a routerLink="/home" title="Niche Shack Homepage" tabindex="0">
                <img src="assets/niche-shack-logo-small.png">
                <img src="assets/niche-shack-logo-scaled.png">
            </a>
        </div>

        <div class="oops">Ooops!</div>
        <div class="error">An error occurred while processing your request</div>
        <div>
            <button class="dark-button" onclick="location.reload()">Try Again</button>
            <div class="or">or</div>
            <a routerLink="/home" title="Niche Shack Homepage" tabindex="-2">
                <button class="gold-round-button-lg">Go to our homepage</button>
            </a>
        </div>
    </div>
</div>