<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="transparent-backdrop" (click)="_close()" [ngClass]="{'backdrop': !addToListForm}"></div>

    <!-- Container -->
    <div class="fade-in container" [ngClass]="{'fade-out': fadeOut}">

        <!-- Base -->
        <div class="base">

            <!-- Header -->
            <div class="header">
                Create List

                <!-- X -->
                <div class="x" (click)="_close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>



            <!-- Content -->
            <form [formGroup]="form" #_form="ngForm" (ngSubmit)="onSubmit()" class="content">

                <!-- List Name -->
                <div class="label">List Name:</div>
                <input type="text" formControlName="listName"
                    [ngClass]="{'error-border': _form.submitted && form.controls.listName.errors}">

                <ng-container *ngIf="_form.submitted && form.controls.listName.errors">
                    <ul>
                        <li *ngFor="let message of getErrorMessages('listName', 'List name')">
                            {{message}}
                        </li>
                    </ul>
                </ng-container>


                <!-- Comments -->
                <div class="label">Brief Description (optional):</div>
                <textarea formControlName="description"></textarea>



                <!-- Button Container -->
                <div class="button-container">
                    <button type="button" class="dark-button" (click)="_close()">Cancel</button>
                    <button type="submit" class="gold-rect-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>