.product-popup-arrow-container {
    left: 179px;
}


.notification-type-container {
    justify-content: center;
    margin-bottom: 13px;
}


.dropdown-container {
    height: 35px;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
    font-size: 13px;
    padding-top: 4px;
    margin-bottom: 13px;
}


.info-box {
    margin: 3px 0 13px;
}


.profile-image-container {
    img {
        border-radius: 50%;
    }
}


.profile-popup-container {
    top: -110px;
}


.button-container {
    padding-top: 2px;
}