.notification-type-container {
    justify-content: center;
    margin-bottom: 13px;
}


.info-box {
    margin: 3px 0 13px;
}


.profile-image-container {
    img {
        border-radius: 50%;
    }
}


.profile-popup-container {
    top: -110px;
}


.button-container {
    padding-top: 2px;
}