<!-- Background -->
<background [background]="widgetService.selectedColumn.background" (onChange)="update()"></background>

<!-- Border -->
<border [border]="widgetService.selectedColumn.border" (onChange)="update()"></border>

<!-- Corners -->
<corners [corners]="widgetService.selectedColumn.corners" (onChange)="update()"></corners>

<!-- Shadow -->
<shadow [shadow]="widgetService.selectedColumn.shadow" (onChange)="update()"></shadow>

<!-- Padding -->
<padding [padding]="widgetService.selectedColumn.padding"
    (onChange)="updatePadding(widgetService.selectedColumn.padding, widgetService.selectedColumn.columnElement)">
</padding>

<!-- Horizontal Alignment -->
<horizontal-alignment [horizontalAlignment]="widgetService.selectedColumn.horizontalAlignment"
    (onChange)="updateHorizontalAlignment()">
</horizontal-alignment>


<!-- Column Span -->
<column-span [column]="widgetService.selectedColumn" (onChange)="updateColumnSpan()"></column-span>