<div class="backdrop hide" [ngClass]="{'show': show}" (transitionend)="onHide()"></div>

<div #base
     class="base translate-start"
     [ngClass]="{'translate-end': show}"
     (transitionend)="onHide()"
     (mouseenter)="overNicheHierarchy.next(true)"
     (mouseleave)="overNicheHierarchy.next(false)">
    
    <div class="bar">

        <!-- Search icon -->
        <button style="margin-left: 0;" class="icon-button" (click)="toggleSearch()">
            <i *ngIf="!showSearch" style="pointer-events: none;" class="fas fa-search"></i>
            <i *ngIf="showSearch" class="fa fa-list"></i>
        </button>

        <div class="icons">

            <!-- Delete icon -->
            <button class="icon-button"
                    [title]="deleteButtonTitle"
                    [ngClass]="{'icon-button-disabled': !showSearch ? hierarchyUpdate.deleteDisabled : searchListUpdate.deleteDisabled == null ? true : searchListUpdate.deleteDisabled}"
                    (mouseover)="hierarchy ? hierarchy.overButton = true : multiColumnList.overButton = true"
                    (mouseout)="hierarchy ? hierarchy.overButton = false : multiColumnList.overButton = false"
                    (click)="!showSearch ? hierarchy.delete() : multiColumnList.delete()"
                    [disabled]="!showSearch ? hierarchyUpdate.deleteDisabled : searchListUpdate.deleteDisabled">
                <i style="pointer-events: none;" class="fas fa-trash-alt"></i>
            </button>
    
            <!-- Edit icon -->
            <button class="icon-button"
                    [title]="editButtonTitle"
                    [ngClass]="{'icon-button-disabled': !showSearch ? hierarchyUpdate.editDisabled : searchListUpdate.editDisabled == null ? true : searchListUpdate.editDisabled}"
                    (mouseover)="hierarchy ? hierarchy.overButton = true : multiColumnList.overButton = true"
                    (mouseout)="hierarchy ? hierarchy.overButton = false : multiColumnList.overButton = false"
                    (click)="!showSearch ? hierarchy.edit() : multiColumnList.edit()"
                    [disabled]="!showSearch ? hierarchyUpdate.editDisabled : searchListUpdate.editDisabled">
                <i style="pointer-events: none;" class="fas fa-pencil-alt"></i>
            </button>
    
            <!-- Add icon -->
            <button *ngIf="!showSearch"
                    class="icon-button"
                    [title]="addButtonTitle"
                    [ngClass]="{'icon-button-disabled': hierarchyUpdate.addDisabled}"
                    (mouseover)="hierarchy.overButton = true"
                    (mouseout)="hierarchy.overButton = false"
                    (click)="hierarchy.add(null!, isParent)"
                    [disabled]="hierarchyUpdate.addDisabled">
                <i style="pointer-events: none;" class="fas fa-plus-circle"></i>
            </button>

            <!-- Collapse icon -->
            <button *ngIf="!showSearch"
                    class="icon-button"
                    title="Collapse"
                    [ngClass]="{'icon-button-disabled': hierarchyUpdate.collapseDisabled}"
                    (mouseover)="hierarchy.overButton = true"
                    (mouseout)="hierarchy.overButton = false"
                    (click)="hierarchy.collapse()"
                    [disabled]="hierarchyUpdate.collapseDisabled">
                <i style="pointer-events: none;" class="fas fa-minus-square"></i>
            </button>
        </div>
    </div>
    <div class="drop-shadow"></div>

    
    <!-- Hierarchy -->
    <div *ngIf="!showSearch" class="overflow-container" [style.height.px]="base.clientHeight - 40">
        <hierarchy #hierarchy [sourceList]="nicheHierarchyService.niches" [options]="hierarchyOptions" (onListUpdate)="hierarchyUpdate = $event"></hierarchy>
    </div>

    <!-- Search -->
    <ng-container *ngIf="showSearch">
        <input id="searchInput" placeholder="Search" (input)="onSearchInputChange($event.target)">

        <!-- Column Headers -->
        <ng-container *ngIf="searchList.length > 0">
            <div class="column-name-container">
                <div class="column-name">Name</div>
                <div class="column-name">Type</div>
            </div>

            <div class="column-underline-container">
                <div class="column-underline"></div>
                <div class="column-underline"></div>
            </div>
        </ng-container>

        <!-- List -->
        <div class="overflow-container" [style.height.px]="base.clientHeight - 116">
            <multi-column-list #multiColumnList [sourceList]="searchList" [options]="searchListOptions" (onListUpdate)="searchListUpdate = $event"></multi-column-list>
        </div>
    </ng-container>
</div>