<div class="backdrop hide" [ngClass]="{'show': show}" (transitionend)="onHide()"></div>

<div #base
     class="base translate-start"
     [ngClass]="{'translate-end': show}"
     (transitionend)="onHide()"
     (mouseenter)="overNicheHierarchy.next(true)"
     (mouseleave)="overNicheHierarchy.next(false)">
    
    <div class="bar">

        <!-- Search icon -->
        <icon-button class="search-icon-button"
                     [icon]="nicheHierarchyManager.searchIcon"
                     [title]="nicheHierarchyManager.searchIconButtonTitle"
                     [isDisabled]="false"
                     (onOver)="nicheHierarchyManager.overButton = $event"
                     (onClick)="nicheHierarchyManager.toggleSearch()">
        </icon-button>

        <div class="icons">
            <!-- Delete icon -->
            <icon-button [icon]="'fas fa-trash-alt'"
                         [title]="nicheHierarchyManager.deleteIconButtonTitle"
                         [isDisabled]="nicheHierarchyManager.isDisabled('deleteDisabled')"
                         (onOver)="nicheHierarchyManager.overButton = $event"
                         (onClick)="nicheHierarchyManager.delete()">
            </icon-button>

            <!-- Edit icon -->
            <icon-button [icon]="'fas fa-pencil-alt'"
                         [title]="nicheHierarchyManager.editIconButtonTitle"
                         [isDisabled]="nicheHierarchyManager.isDisabled('editDisabled')"
                         (onOver)="nicheHierarchyManager.overButton = $event"
                         (onClick)="nicheHierarchyManager.edit()">
            </icon-button>
            
            <ng-container *ngIf="!nicheHierarchyManager.searchMode">
                <!-- Add icon -->
                <icon-button [icon]="'fas fa-plus-circle'"
                             [title]="nicheHierarchyManager.addIconButtonTitle"
                             [isDisabled]="nicheHierarchyManager.isDisabled('addDisabled')"
                             (onOver)="nicheHierarchyManager.overButton = $event"
                             (onClick)="hierarchyComponent.add(null!, nicheHierarchyManager.isParent)">
                </icon-button>

                <!-- Collapse icon -->
                <icon-button [icon]="'fas fa-minus-square'"
                             [title]="'Collapse'"
                             [isDisabled]="nicheHierarchyManager.isDisabled('collapseDisabled')"
                             (onOver)="nicheHierarchyManager.overButton = $event"
                             (onClick)="nicheHierarchyManager.collapse()">
                </icon-button>
            </ng-container>
        </div>
    </div>
    <div class="drop-shadow"></div>

    
    <!-- Hierarchy -->
    <ng-container *ngIf="!nicheHierarchyManager.searchMode">
        <div class="overflow-container" [style.height.px]="base.clientHeight - 40">
            <hierarchy #hierarchyComponent
                    [sourceList]="nicheHierarchyManager.thisArray"
                    [options]="nicheHierarchyManager.hierarchyOptions"
                    (onListUpdate)="nicheHierarchyManager.hierarchyUpdate = $event">
            </hierarchy>
        </div>
    </ng-container>


    <!-- Search -->
    <ng-container *ngIf="nicheHierarchyManager.searchMode">
            
        <input id="nicheHierarchySearchInput"
                placeholder="Search"
                (input)="nicheHierarchyManager.onSearchInputChange($event.target)">

        <div class="column-name-container">
            <div class="column-name">Name</div>
            <div class="column-name">Type</div>
        </div>

        <div class="column-underline-container">
            <div class="column-underline"></div>
            <div class="column-underline"></div>
        </div>


        <ng-container *ngIf="nicheHierarchyManager.thisSearchList.length == 0">
            <div class="no-search-results">
                No search results available
            </div>
        </ng-container>
        

        <ng-container *ngIf="nicheHierarchyManager.thisSearchList.length > 0">
            <div class="overflow-container" [style.height.px]="base.clientHeight - 130">
                <multi-column-list #searchComponent
                                [sourceList]="nicheHierarchyManager.thisSearchList"
                                [options]="nicheHierarchyManager.searchOptions"
                                (onListUpdate)="nicheHierarchyManager.searchUpdate = $event">
                </multi-column-list>
            </div>
        </ng-container>
    </ng-container>
</div>