<panel [title]="'Keywords'">
    <div class="property-box-dark">


        <!-- Property Box Bar -->
        <div class="property-box-bar">

            <!-- Icons -->
            <div class="icons">

                <!-- Delete icon -->
                <div class="icon-container">
                    <i class="fas fa-trash-alt"></i>
                </div>

                <!-- Add icon -->
                <div class="icon-container">
                    <i class="fas fa-plus-circle"></i>
                </div>
            </div>

        </div>

        <list [list]="keywords"></list>
        
    </div>
</panel>