.property-box-bar {
    justify-content: space-between;
}




.add-to-selected-keywords-button-container {
    width: 60px;
    border-left: 1px solid #313131;
    border-right: 1px solid #313131;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
}