.property-box-bar {
    justify-content: space-between;
}

input {
    border: none;
    outline: 1px solid #3f3f3f;
    background: #2b2b2b;
    color: #b4b4b4;
    height: 26px;
    border-radius: 0;
    margin: 10px;

    &:focus {
        outline: 1px solid #a97b00;
    }
}

::placeholder {
    color: #7a7a7a;
}

.column-name-container {
    height: 26px;
    display: flex;
    justify-content: space-between;
    padding: 0 43px 0 10px;
    font-size: 12px;
    color: #656565;
    margin-top: 7px;
}

.column-name {
    height: 100%;
    line-height: 26px;
    user-select: none;
}

.column-underline-container {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.column-underline {
    background: #2f2f2f;
    height: 1px;

    &:first-child {
        width: 277px;
    }

    &:last-child {
        width: 65px;
    }
}


.no-search-results {
    display: flex;
    height: 100px;
    margin-top: -10px;
    justify-content: center;
    align-items: center;
    color: #666666;
}


.add-to-selected-keywords-button-container {
    width: 60px;
    border-left: 1px solid #313131;
    border-right: 1px solid #313131;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
}