<div class="hide popup-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="popup-arrow-container">
        <div class="popup-arrow-up-Border"></div>
        <div class="popup-arrow-up-background"></div>
    </div>

    <div class="popup-base">

        <!-- Notification Type -->
        <div class="notification-type-container">
            Message
        </div>


        <!-- Counter -->
        <div *ngIf="notification && notification.length > 1" class="counter-bar">
            <div class="counter-container">
                <counter [itemCount]="notification ? notification.length : 1" (onItemChange)="userIndex = $event"></counter>
            </div>
        </div>

        <!-- User -->
        <div class="dashed-container" [ngClass]="{'no-dashed-container': notification && notification.length == 1}">
            <div class="user-container" [ngClass]="{'no-user-container': notification && notification.length == 1}">
                <div class="label">Message:</div>
                <div class="info-box">
                    
                    <div class="info-bar">
                        <!-- Date -->
                        <div *ngIf="notification" class="date">
                            {{notification[userIndex].date | date: 'MMM d, y, h:mm a'}}
                        </div>
        
                        <!-- Image -->
                        <div class="profile-image-container" [ngClass]="{'no-profile-image': notification && notification[userIndex].senderName}">
                            
                            <div class="profile-popup-container" [ngStyle]="{'top': notification && notification[userIndex].senderName ? '-135px' : '-139px'}">
                                <ng-template #notificationUserProfilePopupContainer></ng-template>
                            </div>

                            <img *ngIf="notification"
                                  style="cursor: pointer;"
                                  [ngStyle]="{'border-radius': notification && notification[userIndex].senderName ? 'none' : '50%'}"
                                  (mousedown)="$event.stopPropagation()"
                                  (click)="openNotificationUserProfilePopup()"
                                  [src]="notification[userIndex].senderName ? 'assets/message-notification.png' : 'images/' + notification[userIndex].image"
                                  [title]="notification[userIndex].firstName + ' ' + notification[userIndex].lastName">
                        </div>
                    </div>
                
                    <!-- User Comment -->
                    <div *ngIf="notification" class="user-comment">
                        {{notification[userIndex].text}}
                    </div>
                </div>


                <div style="height: 13px;"></div>


                <!-- Employee -->
                <div class="label">Reply:</div>
                <div class="info-box">

                    <ng-container *ngIf="notification && notification[userIndex].employeeReplyId">
                        <div class="info-bar">
                            
                            <!-- Date -->
                            <div class="date">
                                {{notification[userIndex].replyDate | date: 'MMM d, y, h:mm a'}}
                            </div>

                            <!-- Image -->
                            <div class="profile-image-container">
                                <img [src]="'images/' + notification[userIndex].employeeImage" style="border-radius: 50%;" [title]="notification[userIndex].employeeFirstName + ' ' + notification[userIndex].employeeLastName">
                            </div>
                        </div>

                        <!-- Reply -->
                        <div class="user-comment">
                            {{notification[userIndex].reply}}
                        </div>
                    </ng-container>
                    
                    <!-- Empty Reply -->
                    <textarea *ngIf="notification  && !notification[userIndex].employeeReplyId" [(ngModel)]="notification[userIndex].reply"></textarea>
                </div>
            </div>
        </div>


        <!-- Buttons -->
        <div class="button-container">
            <button class="dark-button" (click)="close()">Close</button>
            <button class="gold-button">Send</button>
        </div>
    </div>
</div>