<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>

    <!-- Container -->
    <div class="fade-in container" [ngClass]="{'fade-out': fadeOut}">

        <!-- Base -->
        <div #base class="base">

            <!-- Header -->
            <div class="header">
                Delete Account

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <div class="content">
                <!-- Prompt Content -->
                <div class="prompt-content">

                    <div class="img-container">
                        <img src="assets/delete.png" alt="Delete">
                    </div>

                    <!-- Message -->
                    <div>
                        <div style="color: #c0c0c0;">Are you sure you want to delete your account?</div>
                    </div>

                </div>

                <!-- Button Container -->
                <div class="button-container">
                    <button class="dark-button" (click)="close()">Cancel</button>
                    <button class="gold-rect-button" (click)="onDeleteClick()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>