<!-- Property Box -->
<div class="property-box-light">
    <!-- Container for icons -->
    <div class="icons-container">
        <div style="position: relative;">
            <input style="max-width: 165px; padding-left: 18px;" placeholder="Search for a page">
            <i class="fa-solid fa-magnifying-glass" style="    position: absolute;
            top: 7px;
            left: 4px;
            font-size: 10px;
            color: #919191;"></i>
        </div>


        <!-- Icons -->
        <div class="icons" style="margin: 0; padding: 0;">
            <!-- New Page Icon -->
            <div class="icon-container" (click)="onNewPageClick()">
                <i class="fas fa-plus-circle"></i>
            </div>


            <!-- Duplicate Page Icon -->
            <div class="icon-container">
                <i class="fas fa-clone"></i>
            </div>



            <!-- Delete Page Icon -->
            <div class="icon-container">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </div>



    <!-- Page, Row, Column, and Widget buttons -->
    <div class="grooved-container" *ngIf="page && page.pageContent">
        <!-- Page -->
        <button class="button-left" [ngClass]="{'button-selected': currentPropertyView == propertyView.Page}"
            (click)="currentPropertyView = propertyView.Page">Page</button>

        <!-- Row -->
        <button class="button-center" [ngClass]="{'button-selected': currentPropertyView == propertyView.Row}"
            (click)="currentPropertyView = propertyView.Row"
            [disabled]="page.container.viewContainerRef.length == 0">Row</button>


        <!-- Column -->
        <button class="button-center" [ngClass]="{'button-selected': currentPropertyView == propertyView.Column}"
            (click)="currentPropertyView = propertyView.Column"
            [disabled]="page.container.viewContainerRef.length == 0">Column</button>


        <!-- Widget -->
        <button class="button-right" [ngClass]="{'button-selected': currentPropertyView == propertyView.Widget}"
            (click)="currentPropertyView = propertyView.Widget"
            [disabled]="page.container.viewContainerRef.length == 0">Widget</button>
    </div>


    <!-- Properties -->
    <page-properties [page]="page" *ngIf="currentPropertyView == propertyView.Page"></page-properties>
    <row-properties *ngIf="currentPropertyView == propertyView.Row"></row-properties>
    <column-properties *ngIf="currentPropertyView == propertyView.Column"></column-properties>
    <widget-properties *ngIf="currentPropertyView == propertyView.Widget"></widget-properties>
</div>