@import '../../../scss/variables';

.niche-shack-logo-container {
    margin: 20px auto;
    width: fit-content;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 181px;
        height: 46px;
        outline: none;

        &:hover {
            img {
                filter: brightness(1.2);
            }
        }

        img:nth-child(1) {
            display: block;
        }

        img:nth-child(2) {
            position: relative;
            display: none;
            filter: brightness(1.2);
        }

        &:focus-visible {
            img:nth-child(1) {
                display: none;
            }

            img:nth-child(2) {
                display: block;
            }
        }
    }
}

.gold-round-button-sm {
    max-width: none;
}

.forgot-password {
    float: right;
}

.error-text {
    color: $error-color;
    margin-bottom: 20px;
}

.border {
    max-width: 360px;
    margin: auto;
    margin-top: 20px; border: 1px solid $gold;
    border-radius: 4px;
}

@media (max-width: 300px) {
    .forgot-password {
        float: none;
    }
}