@import '../../../scss/tabs';

.popup-container {
    position: absolute;
    top: 29px;
    right: 5px;
}

.popup-arrow-container {
    position: relative;
    width: 24px;
    left: 367px;
}

.popup-arrow-up-Border {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #414141;
}

.popup-arrow-up-background {
    position: absolute;
    top: 1px;
    left: 1px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 12px solid #282828;
}


.popup-base {
    padding: 10px 10px 9px;
    background: #282828;
    border: 1px solid #414141;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.trumpy {
    position: relative;
    display: flex;
    top: 1px;
    width: 100%;
    margin-top: 15px;
    padding: 0 5px 0 107px;
    justify-content: space-between;
    @include tabs(80px,
        22px,
        24px,
        true,
        #393939,
        #424242,
        #2b2b2b,
        #2d2d2d,
        #626262,
        #898989)
}

.modal-list-container {
    width: 378px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.order-by-arrow {
    margin: 0 0 3px 7px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid #878787;
}


.columns-container {
    display: flex;
    align-items: center;
    height: 23px;
    background: #2d2d2d;
    border: 1px solid #363636;
    border-top-color: #424242;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 2px;
}

.column {
    display: flex;
    width: 100%;
    padding: 2px 0 1px 7px;
    align-items: flex-end;
    font-size: 12px;
    color: #646464;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.04);
    }

    &:first-child {
        flex: 3.05;
    }

    &:last-child {
        flex: 1;
        margin-left: 20px;
    }
}