<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>

    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base" tabindex="-1">

            <!-- Header -->
            <div class="header">
                Log In

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <!-- Content -->
            <div class="content">

                <div *ngIf="accountService.onRedirect.observed" class="log-in-first">
                    <img src="assets/warning.png" style="min-width: 25px; height: 24px; padding-right: 10px; flex-shrink: 0;">
                    You must first be logged in before you can perform this action. You will be redirected after completing the login process.
                </div>

                <external-login-providers #externalLoginProvidersComponent
                                          (onLogIn)="setLogIn()"
                                          [signInType]="'Log in'"
                                          (onGetExternalLoginProviders)="externalLoginProviders = $event">
                </external-login-providers>

                <!-- Or -->
                <div class="lines-container">
                    <div class="left-line"></div>
                    <div class="text">OR</div>
                    <div class="right-line"></div>
                </div>

                <form [formGroup]="form" #_form="ngForm" (ngSubmit)="onSubmit()">
                    <!-- Email -->
                    <div class="label">Email:</div>
                    <input #tabElement type="text" formControlName="email"
                        [ngClass]="{'error-border': _form.submitted && form.controls.email.errors}">

                    <ng-container *ngIf="_form.submitted && form.controls.email.errors">
                        <ul>
                            <li *ngFor="let message of getErrorMessages('email', 'Email')">
                                {{message}}
                            </li>
                        </ul>
                    </ng-container>

                    <!-- Password -->
                    <div class="label">Password:</div>
                    <div class="password-input-container">
                        <input #tabElement type="password" formControlName="password"
                        [ngClass]="{'error-border': _form.submitted && (form.controls.password.errors)}"
                            style="margin-bottom: 8px;">


                        <div class="show-hide-password-icon-container" showHidePassword>
                            <i class="hide-password"></i>
                        </div>

                        <ng-container *ngIf="_form.submitted && form.controls.password.errors">
                            <ul style="margin-top: -2px;">
                                <li *ngFor="let message of getErrorMessages('password', 'Password')">
                                    {{message}}
                                </li>
                            </ul>
                        </ng-container>
                    </div>

                    <label class="checkbox">
                        <div style="color: #dadada;">Keep me logged in</div>
                        <input type="checkbox" (change)="isPersistent = !isPersistent; checkbox.focus()"
                            [checked]="isPersistent">
                        <span #tabElement #checkbox class="checkmark" tabindex="-1"></span>
                    </label>

                    <div #tabElement class="purple-text forgot-password" (click)="onForgotPasswordLinkClick()"
                        tabindex="-1">Forgot password?
                    </div>




                    <!-- Button -->
                    <button #tabElement type="submit" class="gold-round-button-sm" style="margin-top: 10px;">Log
                        In</button>
                </form>
            </div>


            <!-- Footer -->
            <div class="footer">
                <div class="horizontal-groove-line"></div>
                <span class="footer-text">Not a member yet? </span>
                <span #tabElement class="purple-text" (click)="onSignUpLinkClick()" tabindex="-1">Sign Up</span>
            </div>


            
        </div>



    </div>



</div>