@import '../../../scss/variables.scss';

.content {
    padding: 15px;
}

.lines-container {
    margin-bottom: 1px;
}

.forgot-password {
    float: right;
}

.error-text {
    color: $error-color;
    margin-bottom: 20px;
}

.log-in-first {
    display: flex;
    color: $error-color;
    margin-bottom: 20px;
    border: 1px solid #8b201e;
    padding: 5px;
    padding-left: 10px;
    border-radius: 7px;
}

@media (max-width: 300px) {
    .forgot-password {
        float: none;
    }
}
