@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
@include modal-values(350px, 497px, 590px);

.content {
    padding: 15px;
}

.lines-container {
    margin-bottom: 19px;
}

.forgot-password {
    float: right;
}

.error-text {
    color: $error-color;
    margin-bottom: 20px;
}

@media (max-width: 300px) {
    .forgot-password {
        float: none;
    }
}
