<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="transparent-backdrop" (click)="close()" [ngClass]="{'backdrop': 
    !deleteAccountForm &&
    !changeNameForm &&
    !changePasswordForm &&
    !emailVerificationForm &&
    !profilePictureForm &&
    !shareListForm &&
    !reportReviewForm &&
    !contactUsForm &&
    !reportItemForm &&
    !writeReviewForm
    }"></div>

    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base" style="max-width: 350px;">

            <!-- Header -->
            <div class="header">
                {{header}}

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <div class="content">
                <!-- Prompt Content -->
                <div class="prompt-content">

                    <div class="img-container">
                        <img src="assets/checkmark.png" alt="Checkmark">
                    </div>


                    <!-- Message -->
                    <div class="message-text">
                        {{message}}
                    </div>

                </div>

                <!-- Button Container -->
                <div class="button-container">
                    <button class="dark-button" (click)="close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>