<!-- Property Box Bar -->
<div class="property-box-bar">

    <!-- Search icon -->
    <icon-button class="search-icon-button"
                [icon]="searchIcon"
                [title]="searchIconButtonTitle"
                [isDisabled]="false"
                (onOver)="overButton = $event"
                (onClick)="toggleSearch()">
    </icon-button>

    <div class="icons">
        <!-- Delete icon -->
        <icon-button [icon]="'fas fa-trash-alt'"
                    [title]="deleteIconButtonTitle"
                    [isDisabled]="isDisabled('deleteDisabled')"
                    (onOver)="overButton = $event"
                    (onClick)="delete()">
        </icon-button>

        <!-- Edit icon -->
        <icon-button [icon]="'fas fa-pencil-alt'"
                    [title]="editIconButtonTitle"
                    [isDisabled]="isDisabled('editDisabled')"
                    (onOver)="overButton = $event"
                    (onClick)="edit()">
        </icon-button>

        <ng-container *ngIf="!searchMode">
            <!-- Add icon -->
            <icon-button [icon]="'fas fa-plus-circle'"
                        [title]="addIconButtonTitle"
                        [isDisabled]="isDisabled('addDisabled')"
                        (onOver)="overButton = $event"
                        (onClick)="add()">
            </icon-button>

            <!-- Collapse icon -->
            <icon-button [icon]="'fas fa-minus-square'"
                        [title]="'Collapse'"
                        [isDisabled]="isDisabled('collapseDisabled')"
                        (onOver)="overButton = $event"
                        (onClick)="collapse()">
            </icon-button>
        </ng-container>
    </div>
</div>

<!-- Hierarchy -->
<ng-container *ngIf="!searchMode">
    <hierarchy #availableHierarchyComponent
               [sourceList]="thisArray"
               [options]="listOptions"
               (onListUpdate)="listUpdate = $event">
    </hierarchy>
</ng-container>

<!-- Search -->
<ng-container *ngIf="searchMode">
    
    <input id="availableKeywordsSearchInput"
            placeholder="Search"
            (input)="onSearchInputChange($event.target)">

    <div class="column-name-container">
        <div class="column-name">Name</div>
        <div class="column-name">Type</div>
    </div>

    <div class="column-underline-container">
        <div class="column-underline"></div>
        <div class="column-underline"></div>
    </div>


    <ng-container *ngIf="thisSearchList.length == 0">
        <div class="no-search-results">
            No search results available
        </div>
    </ng-container>
    

    <ng-container *ngIf="thisSearchList.length > 0">
        <multi-column-list #availableSearchComponent
                           [sourceList]="thisSearchList"
                           [options]="searchOptions"
                           (onListUpdate)="searchUpdate = $event">
        </multi-column-list>
    </ng-container>
</ng-container>