<div class="popup-container hide" [ngClass]="{'show': show}" (transitionend)="onHide()"
    [style.top.px]="top ? top : null" [style.left.px]="left ? left : null" [ngStyle]="{'position': top && left ? 'absolute' : null}">


    <div class="popup-base">

        <!-- Price -->
        <div class="popup-label">Price:</div>
        <input #priceInput (keydown.enter)="onSubmitClick()" (input)="onInput()">


        <!-- Buttons -->
        <div class="popup-button-container">
            <button class="dark-button" (click)="close()">Close</button>
            <button class="gold-button" (click)="onSubmitClick()">Submit</button>
        </div>
    </div>


    <!-- Arrow Right -->
    <div class="popup-arrow-container">
        <div class="popup-arrow-right-Border"></div>
        <div class="popup-arrow-right-background"></div>
    </div>
</div>