<div class="builder-container">
    <div class="widget-bar">

        <!-- Text -->
        <div class="icon-container" title="Text" (click)="onIconClick('\uf036')">
            <i class="fa-solid fa-align-left"></i>
        </div>

        <!-- Container -->
        <div class="icon-container" title="Container" (click)="onIconClick('\uf49e')">
            <i class="fa-solid fa-box-open"></i>
        </div>


        <!-- Image -->
        <div class="icon-container" title="Image" (click)="onIconClick('\uf03e')">
            <i class="fa-solid fa-image"></i>
        </div>


        <!-- Button -->
        <div class="icon-container" title="Button" (click)="onIconClick('\uf04d')">
            <i class="fa-solid fa-stop"></i>
        </div>


        <!-- Line -->
        <div class="icon-container" title="Line" (click)="onIconClick('\uf715')">
            <i class="fa-solid fa-slash"></i>
        </div>


        <!-- Video -->
        <div class="icon-container" title="Video" (click)="onIconClick('\uf008')">
            <i class="fa-solid fa-film"></i>
        </div>


        <!-- Product Slider -->
        <div class="icon-container" title="Product Slider" (click)="onIconClick('\uf288')">
            <i class="fa-brands fa-product-hunt"></i>
        </div>


        <!-- Carousel -->
        <div class="icon-container" title="carousel" (click)="onIconClick('\uf2f1')">
            <i class="fa-solid fa-rotate"></i>
        </div>

        <!-- Grid -->
        <div class="icon-container" title="Grid" (click)="onIconClick('\uf009')">
            <i class="fa-solid fa-table-cells-large"></i>
        </div>
    </div>
</div>