<div style="position: relative;"
    [style.border]="border && border.enabled ? border.width + 'px ' + border.style + ' ' + border.rgbColor.toRGBString() : null"
    [style.borderRadius]="
    corners && 
    (corners.topLeft > 0 ||
    corners.topRight > 0 ||
    corners.bottomRight > 0 ||
    corners.bottomLeft > 0) ?
    corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px': null"
    [style.box-shadow]="shadow && shadow.enabled ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.rgbColor.toRGBString() : null"
    [style.backgroundColor]="background && background.enabled && background.rgbColor ? background.rgbColor.toRGBString(): null" [ngStyle]="{ 'background-image': background && background.image && background.image.url ? 'url(images/' + background.image.url + ')' : null,
                    'background-position': background && background.image ? background.image.position : null,
                    'background-repeat': background && background.image ? background.image.repeat : null,
                    'background-attachment': background && background.image ? background.image.attachment : null}">


    <ng-template #viewContainerRef>
        <!-- Widgets go here -->
    </ng-template>

    <div (mouseenter)="onMouseenter()" (mouseleave)="onMouseleave()" (mousemove)="$event.stopPropagation()">
        <div class="column-indicator" (mouseup)="onColumnIndicatorMouseup(0)"></div>
        <div class="column-indicator" (mouseup)="onColumnIndicatorMouseup(1)"></div>
    </div>

</div>