.image-container {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selected {
    position: relative;

    &::after {
        content: "";
        background: #0077e04d;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid #52adfb;
        border-radius: 2px;
    }
}