.border {
    max-width: 360px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #454545;
    border-radius: 4px;
}

.label{
    color: #c7c7c7;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

button {
    margin-left: auto;
    display: block;
}