<div #widget [style.maxWidth.px]="width ? width: null" style="width: 100%; position: relative; user-select: none;"
    [ngClass]="{'selected-widget': widgetService.selectedWidget == this && image && image.src}">


    <img *ngIf="image && image.src" (load)="onImageLoad($event)" style="width: inherit" draggable="false"
        [style.border]="border && border.enabled ? border.width + 'px ' + border.style + ' ' + border.rgbColor.toRGBString() : null"
        [style.borderRadius]="
            corners &&
            (corners.topLeft > 0 ||
            corners.topRight > 0 ||
            corners.bottomRight > 0 ||
            corners.bottomLeft > 0) ?
            corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px': null"
        [style.box-shadow]="shadow && shadow.enabled ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.rgbColor.toRGBString() : null"
        [src]="'images/' + image.src" [alt]="image.name" [title]="image.name">



    <!-- Handles -->
    <div id="handles" *ngIf="image && image.src && widgetService.selectedWidget == this">
        <div class="handle top-left" (mousedown)="widgetService.onWidgetHandleMousedown(widgetHandle.TopLeft, $event)"></div>
        <div class="handle top-right" (mousedown)="widgetService.onWidgetHandleMousedown(widgetHandle.TopRight, $event)"></div>
        <div class="handle bottom-left" (mousedown)="widgetService.onWidgetHandleMousedown(widgetHandle.BottomLeft, $event)"></div>
        <div class="handle bottom-right" (mousedown)="widgetService.onWidgetHandleMousedown(widgetHandle.BottomRight, $event)"></div>
    </div>
</div>