<!-- Backdrop -->
<div class="backdrop" (click)="close()"></div>

<!-- Container -->
<div class="container">

    <!-- Base -->
    <div class="base">

        <!-- Header -->
        <div class="header">
            {{headerText}}

            <!-- X -->
            <div class="x" (click)="close()">X</div>
        </div>

        <!-- Drop Shadow -->
        <div class="drop-shadow"></div>

        <!-- Content -->
        <div class="content">

            <!-- Google -->
            <div class="provider">
                <div class="img-container">
                    <img src="assets/google.png">
                </div>
                <div class="vertical-line"></div>
                <div class="text-container">
                    <div>{{preText}} with Google</div>
                </div>
            </div>



            <!-- Facebook -->
            <div class="provider">
                <div class="img-container">
                    <img src="assets/facebook.png">
                </div>
                <div class="vertical-line"></div>
                <div class="text-container">
                    <div>{{preText}} with Facebook</div>
                </div>
            </div>




            <!-- Microsoft -->
            <div class="provider">
                <div class="img-container">
                    <img src="assets/microsoft.png">
                </div>
                <div class="vertical-line"></div>
                <div class="text-container">
                    <div>{{preText}} with Microsoft</div>
                </div>
            </div>
    
    
    
           <!-- Amazon -->
            <div class="provider">
                <div class="img-container">
                    <img src="assets/amazon.png">
                </div>
                <div class="vertical-line"></div>
                <div class="text-container">
                    <div>{{preText}} with Amazon</div>
                </div>
            </div>



            <!-- Or -->
            <div class="or-container">
                <div class="left-line"></div>
                <div class="text">OR</div>
                <div class="right-line"></div>
            </div>


            <!-- Button -->
            <button (click)="onCreateAccountButtonClick()" class="gold-round-button-sm">{{buttonText}}</button>
        </div>


        <!-- Footer -->
        <div class="footer">
            <div class="horizontal-groove-line"></div>
            <span class="footer-text">{{footerText1}} </span>
            <span class="purple-text" (click)="setExternalLoginProvidersText()">{{footerText2}}</span>
        </div>
    </div>
</div>