@import '../../../scss/modal.scss';


.provider {
    display: flex;
    width: 100%;
    max-width: 267px;
    height: 34px;
    border: 1px solid #e5ae1b;
    border-radius: 17px;
    background: #181818;
    cursor: pointer;
    color: #dadada;
    margin: auto;
    margin-bottom: 20px;
    

    &:hover {
        border-color: lighten(#e5ae1b, 10);
        background: lighten(#181818, 2);
        color: lighten(#dadada, 8);
        & > .img-container {
            filter: brightness(120%);
        }
    }

    &:active {
        border-color: lighten(#e5ae1b, 15);
        background: lighten(#181818, 4);
        color: lighten(#dadada, 12);
        & > .img-container {
            filter: brightness(130%);
        }
    }

    .img-container {
        width: 49px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vertical-line {
        flex-shrink: 0;
    }

    .text-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        user-select: none;
        padding: 0 10px;
    }
}



.or-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 22px 0;

    .left-line {
        background: linear-gradient(to right, rgb(66, 66, 66, 0), rgb(66,66,66)); height: 1px; width: 100%;
    }

    .text {
        margin: 0 5px;
        color: white;
        font-weight: bold;
    }

    .right-line {
        background: linear-gradient(to right, rgb(66, 66, 66), rgb(66,66,66, 0)); height: 1px; width: 100%;
    }
}



.footer {
    height: 53px;
    flex-shrink: 0;
    text-align: center;

    .footer-text {
        font-size: 15px;
        color: #dadada;
    }
}


@include modal-values(350px, 326px, 419px);