<div class="item-container" [style.opacity]="item.opacity">

    <div #htmlItem
         class="item" 
         tabindex="-1"
         (contextmenu)="$event.preventDefault()"
         (mousedown)="listManager.onItemDown(item, $event)"
         [ngStyle]="{'cursor': listManager.cursor ? listManager.cursor : 'auto'}"
         [ngClass]="{'selected-item': listManager.showSelection ? item == listManager.selectedItem : null,
                     'unselected-item': listManager.showSelection ? item == listManager.unselectedItem : null,
                     'selected-item-top': listManager.showSelection ? item.selectType == listManager.SelectType.Top : null,
                     'selected-item-all': listManager.showSelection ? item.selectType == listManager.SelectType.All && item != listManager.editedItem : null,
                     'selected-item-middle': listManager.showSelection ? item.selectType == listManager.SelectType.Middle : null,
                     'selected-item-bottom': listManager.showSelection ? item.selectType == listManager.SelectType.Bottom : null,
                     'no-hover': listManager.contextMenuOpen || item == listManager.editedItem}">

        <div *ngFor="let value of item.values"
             #htmlValue
             class="value"
             tabindex="-1"
             [style.color]="item.color"
             [contentEditable]="value.allowEdit && item == listManager.editedItem ? true : false"
             [style.width]="value.width"
             (dblclick)="listManager.onItemDoubleClick(item, value)"
             [ngClass]="{'edited-value': value.allowEdit && value == listManager.editableValue,
                         'transparent-value': listManager.editableValue != null && value != listManager.editableValue}">
            {{value.name}}
        </div>
    </div>
</div>