<div class="item-container">

    <div #htmlItem
         class="item" 
         tabindex="-1"
         (contextmenu)="$event.preventDefault()"
         (mousedown)="item != listManager.editedItem ? listManager.onItemDown(item, $event) : null"
         (blur)="item != listManager.editedItem ? listManager.onItemBlur(item) : null"
         [ngClass]="{'selected-item': item == listManager.selectedItem,
                    'unselected-item': item == listManager.unselectedItem,
                    'selected-item-top': item.selectType == listManager.SelectType.Top,
                    'selected-item-all': item.selectType == listManager.SelectType.All && item != listManager.editedItem,
                    'selected-item-middle': item.selectType == listManager.SelectType.Middle,
                    'selected-item-bottom': item.selectType == listManager.SelectType.Bottom,
                    'transparent-item': listManager.editedItem != null && listManager.editedItem != item,
                    'no-hover': listManager.contextMenuOpen || item == listManager.editedItem}">

        <div *ngFor="let value of item.values"
             #htmlValue
             class="value"
             tabindex="-1"
             [contentEditable]="value.allowEdit && item == listManager.editedItem ? true : false"
             [style.width]="value.width"
             (blur)="listManager.onItemBlur(item)"
             (dblclick)="listManager.onValueDoubleClick(item, value)"
             [ngClass]="{'edited-value': value.allowEdit && value == listManager.editableValue,
                         'transparent-value': listManager.editableValue != null && value != listManager.editableValue}">
            {{value.name}}
        </div>
    </div>
</div>