<div class="item-container" [style.opacity]="item.opacity">

    <div #htmlItem
         class="item" 
         tabindex="-1"
         (contextmenu)="$event.preventDefault()"
         (mouseover)="listManager.overItem = true"
         (mouseout)="listManager.overItem = false"
         (mousedown)="item != listManager.editedItem ? listManager.onItemDown(item, $event) : null"
         [ngClass]="{'selected-item': item == listManager.selectedItem,
                    'unselected-item': item == listManager.unselectedItem,
                    'selected-item-top': item.selectType == listManager.SelectType.Top,
                    'selected-item-all': item.selectType == listManager.SelectType.All && item != listManager.editedItem,
                    'selected-item-middle': item.selectType == listManager.SelectType.Middle,
                    'selected-item-bottom': item.selectType == listManager.SelectType.Bottom,
                    'no-hover': listManager.contextMenuOpen || item == listManager.editedItem}">

        <div *ngFor="let value of item.values"
             #htmlValue
             class="value"
             tabindex="-1"
             [style.color]="item.color"
             [contentEditable]="value.allowEdit && item == listManager.editedItem ? true : false"
             [style.width]="value.width"
             (dblclick)="listManager.onItemDoubleClick(item, value)"
             [ngClass]="{'edited-value': value.allowEdit && value == listManager.editableValue,
                         'transparent-value': listManager.editableValue != null && value != listManager.editableValue}">
            {{value.name}}
        </div>
    </div>
</div>