<!-- Background -->
<background [background]="widget.background" [toggleable]="false" [mediaReference]="widget.getMediaReference()" (onChange)="update()"></background>

<!-- Link -->
<panel [title]="'Link'">
    <link-property [link]="widget.link" (onChange)="update()"></link-property>
</panel>

<!-- Border -->
<border [border]="widget.border" (onChange)="update()"></border>

<!-- Corners -->
<corners [corners]="widget.corners" (onChange)="update()"></corners>

<!-- Shadow -->
<shadow [shadow]="widget.shadow" (onChange)="update()"></shadow>

<!-- Padding -->
<padding [padding]="widget.padding" (onChange)="updatePadding(widget.padding, widget.widgetElement)"></padding>

<!-- Caption -->
<caption-property [caption]="widget.caption" (onChange)="update()"></caption-property>