<!-- Google -->
<!-- <div #tabElement class="provider" (click)="signInWithGoogle()" tabindex="0">
    <div class="img-container">
        <img src="assets/google.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>{{signInType}} with Google</div>
    </div>
</div> -->

<div class="provider" style="    position: relative;
display: block;">
    <asl-google-signin-button type='standard' shape='pill' size='medium' width="265" theme="filled_black"></asl-google-signin-button>
    <div class="vertical-line" style="position: absolute;
    top: 0;
    left: 64px;"></div>
</div>


<!-- Facebook -->
<div #tabElement class="provider" (click)="signInWithFacebook()" tabindex="0">
    <div class="img-container">
        <img src="assets/facebook.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>Sign in with Facebook</div>
    </div>
</div>




<!-- Microsoft -->
<div #tabElement class="provider" (click)="signInWithMicrosoft()" tabindex="0">
    <div class="img-container">
        <img src="assets/microsoft.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>Sign in with Microsoft</div>
    </div>
</div>



<!-- Amazon -->
<div #tabElement class="provider" (click)="signInWithAmazon()" tabindex="0">
    <div class="img-container">
        <img src="assets/amazon.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>Sign in with Amazon</div>
    </div>
</div>