@import '../../../scss/variables.scss';


.provider {
    display: flex;
    width: 100%;
    max-width: 267px;
    height: 34px;
    border: 1px solid $gold;
    border-radius: 17px;
    background: #181818;
    cursor: pointer;
    color: #dadada;
    margin: auto;
    margin-bottom: 20px;
    

    &:hover {
        border-color: lighten($gold, 10);
        background: lighten(#181818, 2);
        color: lighten(#dadada, 8);
        & > .img-container {
            filter: brightness(120%);
        }
    }

    &:active {
        border-color: lighten($gold, 15);
        background: lighten(#181818, 4);
        color: lighten(#dadada, 12);
        & > .img-container {
            filter: brightness(130%);
        }
    }

    .img-container {
        width: 49px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        user-select: none;
        padding: 0 10px;
    }
}