<!-- Google -->
<div class="provider" (click)="signInWithGoogle()">
    <div class="img-container">
        <img src="assets/google.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>{{signInType}} with Google</div>
    </div>
</div>



<!-- Facebook -->
<div class="provider" (click)="signInWithFacebook()">
    <div class="img-container">
        <img src="assets/facebook.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>{{signInType}} with Facebook</div>
    </div>
</div>




<!-- Microsoft -->
<div class="provider" (click)="signInWithMicrosoft()">
    <div class="img-container">
        <img src="assets/microsoft.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>{{signInType}} with Microsoft</div>
    </div>
</div>



<!-- Amazon -->
<div class="provider" (click)="signInWithAmazon()">
    <div class="img-container">
        <img src="assets/amazon.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>{{signInType}} with Amazon</div>
    </div>
</div>