<!-- Google -->
<!-- <div #tabElement class="provider" (click)="signInWithGoogle()" tabindex="0">
    <div class="img-container">
        <img src="assets/google.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>{{signInType}} with Google</div>
    </div>
</div> -->

<!-- <asl-google-signin-button type='icon' shape='pill' size='medium' theme='filled_black'></asl-google-signin-button> -->

<!-- Facebook -->
<div #tabElement class="provider" (click)="signInWithFacebook()" tabindex="0">
    <div class="img-container">
        <img src="assets/facebook.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>{{signInType}} with Facebook</div>
    </div>
</div>




<!-- Microsoft -->
<div #tabElement class="provider" (click)="signInWithMicrosoft()" tabindex="0">
    <div class="img-container">
        <img src="assets/microsoft.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>{{signInType}} with Microsoft</div>
    </div>
</div>



<!-- Amazon -->
<div #tabElement class="provider" (click)="signInWithAmazon()" tabindex="0">
    <div class="img-container">
        <img src="assets/amazon.png">
    </div>
    <div class="vertical-line"></div>
    <div class="text-container">
        <div>{{signInType}} with Amazon</div>
    </div>
</div>