.dark-button {
    $background-color: #282828;
    $border-color: #3d3d3d;
    $font-color: #b4b4b4;

    @include button(75px, 30px, 4px);
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $font-color;

    &:hover:not(:disabled) {
        background: lighten($background-color, 6);
        border-color: lighten($border-color, 6);
        color: lighten($font-color, 6);
    }

    &:disabled {
        background: darken($background-color, 4);
        border-color: darken($border-color, 4);
        color: darken($font-color, 30);
    }

    &:active:not(:disabled) {
        background: lighten($background-color, 10);
        border-color: lighten($border-color, 10);
        color: lighten($font-color, 10);
    }

    &:focus:not(:disabled) {
        outline: 1px solid #808080;
        outline-offset: 2px;
    }
}









.gold-round-button-sm {
    @include gold-button(267px, 32px, 16px);
    font-weight: bold;
    margin: auto;
    display: block;
}

.gold-round-button-lg {
    @include gold-button(237px, 42px, 21px);
    font-size: 16px;
    font-weight: bold;
}


.gold-rect-button {
    @include gold-button(75px, 30px, 4px);
}




.purple-button {
    $background-color: #680059;
    $border-color: #8a0077;
    $font-color: #dadada;


    @include button(75px, 30px, 4px);
    background: $background-color;
    border: 1px solid $border-color;
    color: $font-color;

    &:hover {
        background: lighten($background-color, 6);
        border-color: lighten($border-color, 6);
        color: lighten($font-color, 6);
    }

    &:disabled {
        background: darken($background-color, 4);
        border-color: darken($border-color, 4);
        color: darken($font-color, 30);
    }

    &:active {
        background: lighten($background-color, 10);
        border-color: lighten($border-color, 10);
        color: lighten($font-color, 10);
    }

    &:focus-visible {
        outline: 1px solid rgb(185, 119, 185);
        outline-offset: 2px;
    }
}


.button-container {
    display: flex;
    justify-content: right;
    button {
        margin-left: 10px;
    }
}