@mixin button ($width, $height, $radius) {
    border-radius: $radius;
    width: 100%;
    max-width: $width;
    height: $height;
    border: none;
    cursor: pointer;
    font-size: 14px;

    &:disabled {
        cursor: default;
    }
}




@mixin gold-button ($width, $height, $radius) {
    $gold-gradient-map: (light: #ffdc7f, dark: #c08d02);
    color: black;

    @include button($width, $height, $radius);
    background: linear-gradient(map-get($gold-gradient-map, light), map-get($gold-gradient-map, dark));
    

    &:hover {
        background: linear-gradient(lighten(map-get($gold-gradient-map, light), 6), lighten(map-get($gold-gradient-map, dark), 6));
    }

    &:disabled {
        background: linear-gradient(#6e6e6e, #2c2c2c);
        color: #201f1e;
    }

    &:active {
        background: linear-gradient(lighten(map-get($gold-gradient-map, light), 10), lighten(map-get($gold-gradient-map, dark), 10));
    }
}






.gold-round-button-sm {
     @include gold-button(267px, 32px, 16px);
     font-weight: bold;
}

.gold-round-button-lg {
    @include gold-button(237px, 42px, 21px);
    font-size: 16px;
    font-weight: bold;
}


.gold-rect-button {
    @include gold-button(75px, 30px, 4px);
}



.dark-button {
    $background-color: #282828;
    $border-color: #3d3d3d;
    $font-color: #b4b4b4;

    @include button(75px, 30px, 4px);
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $font-color;

    &:hover {
        background: lighten($background-color, 6);
        border-color: lighten($border-color, 6);
        color: lighten($font-color, 6);
    }

    &:disabled {
        background: darken($background-color, 4);
        border-color: darken($border-color, 4);
        color: darken($font-color, 30);
    }

    &:active {
        background: lighten($background-color, 10);
        border-color: lighten($border-color, 10);
        color: lighten($font-color, 10);
    }
}

.purple-button {
    $background-color: #680059;
    $border-color: #8a0077;
    $font-color: #dadada;


    @include button(75px, 30px, 4px);
    background: $background-color;
    border: 1px solid $border-color;
    color: $font-color;

    &:hover {
        background: lighten($background-color, 6);
        border-color: lighten($border-color, 6);
        color: lighten($font-color, 6);
    }

    &:disabled {
        background: darken($background-color, 4);
        border-color: darken($border-color, 4);
        color: darken($font-color, 30);
    }

    &:active {
        background: lighten($background-color, 10);
        border-color: lighten($border-color, 10);
        color: lighten($font-color, 10);
    }
}