@font-face {
    font-family: 'lithos pro';
    src: url('../assets/fonts/LithosPro-Black.otf');
}


@font-face {
    font-family: 'info';
    src: url('../assets/fonts/info.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: 'hide-password';
    src: url('../assets/fonts/hide-password.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: 'show-password';
    src: url('../assets/fonts/show-password.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}