@font-face {
    font-family: 'lithos pro';
    src: url('../assets/fonts/LithosPro-Black.otf');
}


@font-face {
    font-family: 'hide-password';
    src: url('../assets/fonts/hide-password.ttf');
}


@font-face {
    font-family: 'show-password';
    src: url('../assets/fonts/show-password.ttf');
}



@font-face {
    font-family: 'full-star';
    src: url('../assets/fonts/full-star.ttf');
}


@font-face {
    font-family: 'empty-star';
    src: url('../assets/fonts/empty-star.ttf');
}


@font-face {
    font-family: 'half-star';
    src: url('../assets/fonts/half-star.ttf');
}

@font-face {
    font-family: 'hamburger-button';
    src: url('../assets/fonts/hamburger-button.ttf');
}


@font-face {
    font-family: 'search-icon';
    src: url('../assets/fonts/search-icon.ttf');
}


@font-face {
    font-family: 'flag-icon';
    src: url('../assets/fonts/flag-icon.ttf');
}



@font-face {
    font-family: 'play-icon';
    src: url('../assets/fonts/play-icon.ttf');
}

@font-face {
    font-family: 'arrow-left';
    src: url('../assets/fonts/arrow-left.ttf');
}

@font-face {
    font-family: 'check-mark';
    src: url('../assets/fonts/check-mark.ttf');
}