

.info-icon
{
    font-family: 'info';
    font-style: italic;
    font-size: 12px;
    color: $purple-text;
    

    &::before {
    content: "\e24";
    }
}





.hide-password, .show-password {
    color: $purple-text;

    &:hover {
        color: lighten($purple-text, 6);
    }

    &:active {
        color: lighten($purple-text, 10);
    }
}


.hide-password
{
    font-family: 'hide-password';
    &::before {
        content: "\e23";
    }
}


.show-password
{
    font-family: 'show-password';
    &::before {
    content: "\e22";
    }
}