.show-password
{
    font-family: 'show-password';
    &::before {
    content: "\e22";
    }
}


.hide-password
{
    font-family: 'hide-password';
    &::before {
        content: "\e23";
    }
}


.hide-password, .show-password {
    color: $purple-text;

    &:hover {
        color: lighten($purple-text, 6);
    }

    &:active {
        color: lighten($purple-text, 10);
    }
}


.full-star
{
    font-family: 'full-star';
    color: $gold;
    &::before {
        content: "\e26";
    }
}


.empty-star
{
    font-family: 'empty-star';
    color: $gold;
    &::before {
        content: "\e27";
    }
}





.half-star
{
    font-family: 'half-star';
    color: $gold;
    &::before {
        content: "\e28";
    }
}


.hamburger-button
{
    font-family: 'hamburger-button';
    color: $gold;
    font-size: 22px;
    cursor: pointer;
    &::before {
        content: "\e29";
    }

    &:hover {
        color: lighten($gold, 8);
    }
}



.search-icon
{
    font-family: 'search-icon';
    color: black;
    &::before {
        content: "\e30";
    }
}



.flag-icon
{
    font-family: 'flag-icon';
    color: $purple-text;
    &::before {
        content: "\e910";
    }
}






.play-icon {
    position: absolute;
    z-index: 10;
    border: 1px solid #dadada;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 24, 0.75);
    font-family: "play-icon";
    cursor: pointer;

    i {
        color: #dadada;

        &:before {
            content: "\e916";
        }
    }
}