.show-password
{
    font-family: 'show-password';
    &::before {
    content: "\e22";
    }
}


.hide-password
{
    font-family: 'hide-password';
    &::before {
        content: "\e23";
    }
}


.hide-password, .show-password {
    color: $purple-text;

    &:hover {
        color: lighten($purple-text, 6);
    }

    &:active {
        color: lighten($purple-text, 10);
    }
}


.info-icon
{
    font-family: 'info';
    font-style: italic;
    font-size: 12px;
    color: $purple-text;
    

    &::before {
    content: "\e24";
    }
}



.dropdown-arrow
{
    font-family: 'dropdown-arrow';
    font-size: 12px;
    color: #dadada;
    

    &::before {
    content: "\e25";
    }
}


.full-star
{
    font-family: 'full-star';
    color: $gold;
    &::before {
        content: "\e26";
    }
}


.empty-star
{
    font-family: 'empty-star';
    color: $gold;
    &::before {
        content: "\e27";
    }
}





.half-star
{
    font-family: 'half-star';
    color: $gold;
    &::before {
        content: "\e28";
    }
}


.hamburger-button
{
    font-family: 'hamburger-button';
    color: $gold;
    font-size: 22px;
    cursor: pointer;
    &::before {
        content: "\e29";
    }

    &:hover {
        color: lighten($gold, 8);
    }
}



.search-icon
{
    font-family: 'search-icon';
    color: black;
    &::before {
        content: "\e30";
    }
}



.facebook-icon
{
    font-family: 'facebook-icon';
    &::before {
        content: "\e51";
    }
}


.twitter-icon
{
    font-family: 'twitter-icon';
    &::before {
        content: "\e32";
    }
}



.instagram-icon
{
    font-family: 'instagram-icon';
    &::before {
        content: "\e50";
    }
}


.pintrest-icon
{
    font-family: 'pintrest-icon';
    &::before {
        content: "\e52";
    }
}