.list-item {
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    color: #b4b4b4;
    cursor: pointer;

    &:hover:not(.selected-list-item) {
        background: $hover-background-color;
        color: $hover-text-color;
    }
}

.selected-list-item {
    background: $selected-background-color;
    color: $selected-text-color;
    cursor: default;
}





$icon-color: #8a0077;

.list-item-container {
    display: flex;
    height: 30px;
    cursor: pointer;

    &, a {
        color: #b4b4b4;
        text-decoration: none;
    }

    &:hover {
        background: $hover-background-color;

        & .icon {
            color: lighten($icon-color, 10);
        }
    }
}


.list-item-icon-container {
    display: flex;
    width: 44px;
    height: 100%;
    align-items: center;
    padding-left: 10px;
}
 
.list-item-text-container {
    display: flex;
    width: 100%;
    align-items: center;
}



.icon {
    color: $icon-color;
}