@use "sass:math";

@mixin modal-values ($max-width, $max-height, $breakpoint) {
    .base {
        max-width: $max-width;
    }
    
    .content {
        max-height: $max-height;
    }

    @media (max-height: $breakpoint) {
        .base {
            top: 0; 
            bottom: 0;
            position: absolute;
        }
    }
}


@mixin button ($width, $height, $radius) {
    border-radius: $radius;
    width: 100%;
    max-width: $width;
    height: $height;
    border: none;
    cursor: pointer;
    font-size: 14px;
    // line-height: $height;

    &:disabled {
        cursor: default;
    }
}



@mixin gold-button ($width, $height, $radius) {
    $gold-gradient-map: (light: #ffdc7f, dark: #c08d02);
    color: black;

    @include button($width, $height, $radius);
    background: linear-gradient(map-get($gold-gradient-map, light), map-get($gold-gradient-map, dark));
    

    &:hover {
        background: linear-gradient(lighten(map-get($gold-gradient-map, light), 6), lighten(map-get($gold-gradient-map, dark), 6));
    }

    &:disabled {
        background: linear-gradient(#6e6e6e, #2c2c2c);
        color: #201f1e;
    }

    &:active {
        background: linear-gradient(lighten(map-get($gold-gradient-map, light), 10), lighten(map-get($gold-gradient-map, dark), 10));
    }
}

@mixin arrow-down ($width, $height, $color) {
    border-left: math.div($width, 2) solid transparent;
    border-right: math.div($width, 2) solid transparent;
    border-top: $height solid $color;
}


@mixin arrow-up ($width, $height, $color) {
    border-left: math.div($width, 2) solid transparent;
    border-right: math.div($width, 2) solid transparent;
    border-bottom: $height solid $color;
}


@mixin arrow-right ($width, $height, $color) {
    border-top: math.div($width, 2) solid transparent;
    border-bottom: math.div($width, 2) solid transparent;
    border-left: $height solid $color;
}

@mixin arrow-left ($width, $height, $color) {
    border-top: math.div($width, 2) solid transparent;
    border-bottom: math.div($width, 2) solid transparent;
    border-right: $height solid $color;
}



@mixin popup ($arrowPos) {
    z-index: 1000;
    position: absolute;
    top: 12px;
    background: #161616f2;
    border-radius: 6px;
    border: 1px solid #424242;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
    pointer-events: all;

    // Arrow
    &::before {
        content: "";
        position: absolute;
        top: -13px;
        left: $arrowPos;
        @include arrow-up(26px, 13px, #5e5e5e);
    }
    &::after {
        content: "";
        position: absolute;
        top: -12px;
        left: $arrowPos + 1;
        @include arrow-up(24px, 12px, #161616);
    }
}