@mixin border-radius ($value) {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
}

@mixin profile-pic ($size) {
    border: 1px solid #acacac;
    border-radius: 50%;
    width: $size;
    height: $size;
}