@import '../../../../dist/common/scss/mixins';

@mixin button ($width, $height, $radius) {
    border-radius: $radius;
    width: 100%;
    max-width: $width;
    height: $height;
    border: none;
    cursor: pointer;
    font-size: 14px;

    &:disabled {
        cursor: default;
    }
}



@mixin gold-button ($width, $height, $radius) {
    color: black;
    font-weight: bold;

    @include button($width, $height, $radius);
    background: linear-gradient(map-get($gold-gradient-map, light), map-get($gold-gradient-map, dark));


    &:hover {
        background: linear-gradient(lighten(map-get($gold-gradient-map, light), 6), lighten(map-get($gold-gradient-map, dark), 6));
    }

    &:disabled {
        background: linear-gradient(rgba(255, 221, 127, 0.22), rgba(192, 141, 2, 0.22));
        color: rgba(0, 0, 0, 0.5);
    }

    &:active:not(:disabled) {
        background: linear-gradient(lighten(map-get($gold-gradient-map, light), 10), lighten(map-get($gold-gradient-map, dark), 10));
    }


    // Not supported in safari
    &:focus-visible {
        outline: 1px solid #fff0c5;
        outline-offset: 2px;
        background: linear-gradient(lighten(map-get($gold-gradient-map, light), 10), lighten(map-get($gold-gradient-map, dark), 10));
    }
}