.img-container {
    margin-right: 15px;
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}

.emphasized-text {
    color: #dadada;
    font-weight: bold;
}

 .prompt-content {
    display: flex;
    margin-bottom: 27px;
}

.prompt-key {
    color: #999999;
    margin-bottom: 4px;
}

.prompt-value {
    color: #dadada;
}