.profile-pic {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: 1px solid #999999;
    cursor: pointer;


    &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: inherit;
        height: inherit;
        outline: 1px solid #999999;
    }


    &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: inherit;
        height: inherit;
        outline: 1px solid #999999;
    }

    &:hover {
        filter: brightness(1.15);
    }
}