.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #999999;
    outline: 1px solid #999999;
    background: #313131;
    outline-offset: -1px;
    // cursor: pointer;



    // &:hover {
    //     filter: brightness(1.15);
    // }
}