.side-menu-container {
    pointer-events: all;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: #171717;
    width: 100%;
    border: 1px solid #424242;
    border-top: none;
    z-index: 1000;
    outline: none;

}

.side-menu-bar {
    background: #242424;
    height: 32px;
    border: 1px solid #2c2c2c;
}


.side-menu-content-container {
    position: absolute;
    top: 32px;
    bottom: 100px;
    left: 0;
    right: 0;
}

.side-menu-content {
    overflow-y: auto;
    height: 100%;
}

.side-menu-x {
    margin-right: 5px;
    line-height: 32px;
    float: right;
    color: #b4b4b4;
    font-weight: bold;
    font-family: 'lithos pro';
    font-size: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: #dadada;
    }
}


.side-menu-backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 79px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
}

.bottom-fixed-container {
    background: #1b1b1b;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 1px solid #2c2c2c;
    padding: 0 20px;
    display: flex;
    align-items: center;
    outline: 1px solid #2c2c2c;

    .gold-round-button-lg {
        max-width: none;
    }
}