.label {
    color: #8e8e8e;
    margin-bottom: 5px;
    font-size: 13px;
}




.message-text {
    color: #b0b0b0;
}


.purple-text {
    color: $purple-text;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: lighten($purple-text, 12);
    }

    &:active {
        color: lighten($purple-text, 17);
    }


    &:focus {
        text-decoration: underline;
        color: lighten($purple-text, 12);
        outline: none;
    }
}



// ::selection {
//     color: #ffffff;
//     background: #670e5a;
// }

::selection {
    color: #ffffff;
    background: rgba(255, 187, 0, 0.5);
}