$purple-text: #e700c7;
$icon-color: #8a0077;
$gold: #ffba00;
$error-color: #ff3936;
$success-color: #1ee41e;
$selected-background-color: rgba(255, 0, 217, 0.35);
$selected-text-color: white;
$hover-background-color: rgba(255, 255, 255, 0.06);
$hover-text-color: lighten(#b4b4b4, 20);
$gold-gradient-map: (light: #ffdc7f, dark: #c08d02);