@mixin modal-values ($max-width, $max-height, $breakpoint) {
    .base {
        max-width: $max-width;
    }
    
    .content {
        max-height: $max-height;
    }

    @media (max-height: $breakpoint) {
        .base {
            top: 0; 
            bottom: 0;
            position: absolute;
        }
    }
}