@import '../scss/variables.scss';

.purple-text {
    color: $purple-text;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: lighten($purple-text, 12);
    }

    &:active {
        color: lighten($purple-text, 17);
    }
}