@import './button.scss';

.purple-button {
    $background-color: #680059;
    $border-color: #8a0077;
    $font-color: #dadada;


    @include button(75px, 30px, 4px);
    background: $background-color;
    border: 1px solid $border-color;
    color: $font-color;

    &:hover {
        background: lighten($background-color, 6);
        border-color: lighten($border-color, 6);
        color: lighten($font-color, 6);
    }

    &:disabled {
        background: darken($background-color, 4);
        border-color: darken($border-color, 4);
        color: darken($font-color, 30);
    }

    &:active {
        background: lighten($background-color, 10);
        border-color: lighten($border-color, 10);
        color: lighten($font-color, 10);
    }
}