.section {
    width: 100%;
    max-width: 640px;
    margin: auto;
    

    // &:nth-child(2) {
        margin-bottom: 50px;
    // }
}

.section-title {
    font-size: 16px;
    color: #ffba00;
    font-weight: bold;
    margin-bottom: 17px;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
}

a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #b4b4b4;
    margin: 0 37px 20px;
    width: 85px;
    height: 106px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    outline: none;


    img:nth-child(1) {
        display: block;
    }

    img:nth-child(2) {
        position: relative;
        display: none;
        filter: brightness(1.08);
    }




    &:hover:not(:focus-visible) {
        filter: brightness(1.2);
        color: white;
    }

    &:focus-visible {
        font-size: 16px;
        color: white;
        font-weight: bold;

        .icons-container {
            width: 81px;
            height: 81px;
        }

        img:nth-child(1) {
            display: none;
        }

        img:nth-child(2) {
            display: block;
        }
    }
}

.img-container {
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 0 9px;
    background: #202020;
    align-items: center;
    justify-content: center;
}





@media(max-width: 675px) {
    .icons-container {
        justify-content: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media(max-width: 400px) {
    .page-title {
        white-space: normal;
    }
}