<header-footer>

    <div class="page-content-container">

        <div class="page-content">

            <div class="page-title">Your Account</div>

            <div class="section">

                <div class="section-title">Manage Account</div>

                <div class="icons-container">

                    <a routerLink="orders">
                        <div class="img-container">
                            <img src="assets/orders.png">
                        </div>
                        Orders
                    </a>


                    <a routerLink="profile">
                        <div class="img-container">
                            <img src="assets/profile.png">
                        </div>
                        Profile
                    </a>


                    <a routerLink="lists">
                        <div class="img-container">
                            <img src="assets/lists.png">
                        </div>
                        Lists
                    </a>


                    <a routerLink="email-preferences">
                        <div class="img-container">
                            <img src="assets/email_preferences.png">
                        </div>
                        Email Preferences
                    </a>


                    <a style="cursor: pointer;" (click)="onDeleteAccount()">
                        <div class="img-container">
                            <img src="assets/delete_account.png">
                        </div>
                        Delete Account
                    </a>
                </div>
            </div>


            <div class="section">

                <div class="section-title">Customer Service</div>

                <div class="icons-container">

                    <a href="https://www.clkbank.com/" target="_blank">
                        <div class="img-container">
                            <img src="assets/order_support.png">
                        </div>
                        Order Support
                    </a>


                    <a style="cursor: pointer;" (click)="onContactUsClick()">
                        <div class="img-container">
                            <img src="assets/contact_us.png">
                        </div>
                        Contact Us
                    </a>
                </div>
            </div>

        </div>
    </div>
</header-footer>