<div class="row" [ngClass]="{'flex-10': columnCount == 5}" [style.top.px]="top"
    [style.backgroundColor]="background && background.enabled && background.rgbColor ? background.rgbColor.toRGBString(): null"
    [style.outline]="border && border.enabled ? border.width + 'px ' + border.style + ' ' + border.rgbColor.toRGBString() : null"
    [style.borderRadius]="
        corners && 
        (corners.topLeft > 0 ||
        corners.topRight > 0 ||
        corners.bottomRight > 0 ||
        corners.bottomLeft > 0) ?
        corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px': null"
    [style.box-shadow]="shadow && shadow.enabled ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.rgbColor.toRGBString() : null"
    [ngStyle]="{ 'background-image': background && background.enabled && background.image && background.image.src ? 'url(images/' + background.image.src + ')' : null,
                        'background-position': background && background.enabled && background.image ? background.image.position : null,
                        'background-repeat': background && background.enabled && background.image ? background.image.repeat : null,
                        'background-attachment': background && background.enabled && background.image ? background.image.attachment : null}"
    (mouseup)="onMouseup()" (mousedown)="onMousedown($event)" (contextmenu)="$event.preventDefault()">

    <ng-template #viewContainerRef>
        <!-- Columns go here -->
    </ng-template>
</div>