<div class="product-property-container">
    <div class="product-property-label">Price Points:</div>
    <div class="product-dashed-border min-height">
        <div *ngIf="product.pricePoints.length == 0" class="product-property-plus-button-container">
            <icon-button style="transform: rotate(45deg)"
                         [icon]="'fa-regular fa-circle-xmark'"
                         [title]="'Add Hoplink'"
                         [fontSize]="'18'"
                         (onClick)="addPricePoint()">
            </icon-button>
        </div>
        <price-points *ngIf="product.pricePoints.length > 0" #pricePoints [product]="product"></price-points>
    </div>
</div>