.property {
    &:nth-child(2) .label { 
        margin-left: 26px;
    }

    &:nth-child(3) .label { 
        margin-left: 18px;
    }

    &:nth-child(5) .label { 
        margin-left: 8px;
    }
}