<router-outlet></router-outlet>


<!-- <button (click)="openSignUpForm()">Sign Up</button>
<div style="height: 10px;"></div>
<button (click)="openLogInForm()">Log In</button>
<div style="height: 10px;"></div>
<button (click)="openCreateAccountForm()">Create Account</button>
<div style="height: 10px;"></div>
<button (click)="openForgotPasswordForm()">Forgot Password</button>
<div style="height: 10px;"></div>
<button (click)="openEmailSentPrompt()">Email Sent</button>
<div style="height: 10px;"></div>
<button (click)="openChangeNameForm()">Change Name</button>
<div style="height: 10px;"></div>
<button (click)="openChangeEmailForm()">Change Email</button>
<div style="height: 10px;"></div>
<button (click)="openChangePasswordForm()">Change Password</button>
<div style="height: 10px;"></div>
<button (click)="openCreatePasswordForm()">Create Password</button>
<div style="height: 10px;"></div>
<button (click)="openReportItemForm()">Report Item</button>
<div style="height: 10px;"></div>
<button (click)="openProfilePictureForm()">Profile Picture</button>
<div style="height: 10px;"></div>
<button (click)="openContactUsForm()">Contact Us</button>
<div style="height: 10px;"></div>
<button (click)="openAddToListForm()">Add To List</button>
<div style="height: 10px;"></div>
<button (click)="openWriteReviewForm()">Write a Review</button>
<div style="height: 10px;"></div>
<button (click)="openReportReviewForm()">Report Review</button>
<div style="height: 10px;"></div>
<button (click)="openReportReviewPrompt()">Report Review Prompt</button>
<div style="height: 10px;"></div>
<button (click)="openCreateListForm()">Create List</button>
<div style="height: 10px;"></div>
<button (click)="openMoveItemPrompt()">Move Item Prompt</button>
<div style="height: 10px;"></div>
<button (click)="openRemoveItemPrompt()">Remove Item Prompt</button>
<div style="height: 10px;"></div>
<button (click)="openDeleteListPrompt()">Delete List Prompt</button>
<div style="height: 10px;"></div>
<button (click)="openEditListForm()">Edit List</button>
<div style="height: 10px;"></div>
<button (click)="openAccountActivationPrompt()">Account Activation Prompt</button>
<div style="height: 10px;"></div>
<button (click)="openShareListForm()">Share List</button>
<div style="height: 10px;"></div>
<button (click)="openAddToListPrompt()">Add To List Prompt</button>
<div style="height: 10px;"></div>
<button (click)="openManageCollaboratorsForm()">Manage Collaborators</button>
<div style="height: 10px;"></div>
<button (click)="openRemoveCollaboratorPrompt()">Remove Collaborator Prompt</button> -->