.edit-popup-container {
    position: absolute;
    right: 45px;
    top: -137px;
    z-index: 100;
}


.shipping-dashed-container {
    width: 272px;
    min-height: 36px;
}


.shipping-container {
    margin: 10px 7px 0;
}