<div class="menu-bar">
    <div class="left-container">
        
        <div class="shack-container"
             (click)="openNichesSideMenu()"
             (mousedown)="$event.stopPropagation()">
            <img src="assets/shack.png">
        </div>


        <div class="menu-buttons-container">
            <div #htmlMenuBarButton
                 *ngFor="let menuBarButton of menuBarButtons"
                 class="menu-option"
                 (mouseover)="onMenuBarButtonOver(htmlMenuBarButton, menuBarButton)"
                 (mousedown)="onMenuBarButtonDown(htmlMenuBarButton, menuBarButton, $event)"
                 [ngClass]="{'selected': menuBarButton == selectedMenuBarButton}">
                 
                {{menuBarButton.name}}
            </div>
        </div>
    </div>

    <icon-button [icon]="'fas fa-bell'"
                 [title]="'Notifications'"
                 [isDisabled]="false"
                 [fontSize]="'19'"
                 (onClick)="openNotificationsPopup()">
    </icon-button>
</div>