.menu-bar {
    width: 100%;
    height: 33px;
    background: linear-gradient(rgb(56, 56, 56), rgb(16, 16, 16));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9px;
}

.left-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.shack-container {
    cursor: pointer;
}

img{
    margin-top: 3px;
}

.menu-buttons-container {
    display: flex;
    padding-left: 10px;
    color: #b4b4b4;
    font-size: 12px;
    height: 100%;
}

.menu-option {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;

    &:hover {
        background: rgb(255, 186, 0, 0.1);
        color: white;
    }
}

a {
    color: #dadada;
    margin: 0 20px;
}

.fa-bell {
    font-size: 20px;
}

.selected {
    background: rgb(255, 186, 0, 0.1);
    color: white;
}