.menu-bar {
    width: 100%;
    height: 33px;
    background: linear-gradient(rgb(56, 56, 56), rgb(16, 16, 16));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 9px;
}

.left-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.shack-container {
    cursor: pointer;
}

img {
    margin-top: 3px;
}

.menu-buttons-container {
    display: flex;
    padding-left: 10px;
    color: #b4b4b4;
    font-size: 12px;
    height: 100%;
}

.menu-option {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;

    &:hover {
        background: rgb(255, 186, 0, 0.1);
        color: white;
    }
}

a {
    color: #dadada;
    margin: 0 20px;
}



.selected {
    background: rgb(255, 186, 0, 0.1);
    color: white;
}





.notification-bell-container {
    position: relative;
    display: flex;
    top: -3px;
    cursor: pointer;

    &:hover {
        .fa-bell {
            color: lighten(#9e9e9e, 15);
        }

        .count-circle {
            background: lighten(#fa3e3e, 7);
        }
    }


    &:active {
        .fa-bell {
            color: lighten(#9e9e9e, 25);
        }

        .count-circle {
            background: lighten(#fa3e3e, 12);
        }
    }
}



.fa-bell {
    position: relative;
    top: 3px;
    left: 10px;
    width: 20px;
    color: #9e9e9e;
    user-select: none;
    outline: none;
    background: none;
    border: none;
    font-size: 19px;
}



.count-circle {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fa3e3e;
    color: white;
    font-size: 11px;
    z-index: 1;
    user-select: none;
}




.notification-list-popup-container {
    position: absolute;
    right: 5px;
    top: 29px;
    z-index: 100;
}

.notification-popup-container {
    position: absolute;
    right: 5px;
    top: 29px;
    z-index: 100;
}