<panel [title]="'Horizontal Alignment'">
    <div style="display: flex;">
        <div class="label">Align</div>

        <!-- Left -->
        <div class="image-container" title="Align Left" (click)="onClick(horizontalAlignmentType.Left)"
            [ngClass]="{'selected': selectedHorizontalAlignmentType == horizontalAlignmentType.Left}">
            <img src="assets/align-left.png">
        </div>


        <!-- Center -->
        <div class="image-container" title="Align Center" (click)="onClick(horizontalAlignmentType.Center)"
            [ngClass]="{'selected': selectedHorizontalAlignmentType == horizontalAlignmentType.Center}">
            <img src="assets/align-center.png">
        </div>


        <!-- Right -->
        <div class="image-container" title="Align Right" (click)="onClick(horizontalAlignmentType.Right)"
            [ngClass]="{'selected': selectedHorizontalAlignmentType == horizontalAlignmentType.Right}">
            <img src="assets/align-right.png">
        </div>

        <!-- Breakpoint checkbox -->
        <label class="checkbox">
            <input #checkbox type="checkbox" (change)="onCheckboxChange(checkbox)" [checked]="isBreakpointCheckboxChecked">
            <span class="checkmark"></span>
        </label>
    </div>
</panel>