<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>


    <!-- Container -->
    <div class="fade-in container" [ngClass]="{'fade-out': fadeOut}">

        <!-- Base -->
        <div #base class="base">

            <!-- Header -->
            <div class="header">
                Change Password

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <!-- Content -->
            <form class="content" [formGroup]="form" #_form="ngForm" (ngSubmit)="onSubmit()">
                <div *ngIf="isError" class="error-text">Incorrect password. Please try again.</div>

                <!-- Current Password -->
                <div class="label">Current Password:</div>
                <div class="password-input-container">
                    <input type="password" formControlName="currentPassword"
                        [ngClass]="{'error-border': _form.submitted && form.controls.currentPassword.errors}">


                    <div class="show-hide-password-icon-container" showHidePassword>
                        <i class="hide-password"></i>
                    </div>

                    <ng-container *ngIf="_form.submitted && form.controls.currentPassword.errors">
                        <ul>
                            <li *ngFor="let message of getErrorMessages('currentPassword', 'Current Password')">
                                {{message}}
                            </li>
                        </ul>
                    </ng-container>
                </div>




                <!-- New Password -->
                <div class="label">New Password:</div>
                <div class="password-input-container">
                    <input type="password" formControlName="newPassword"
                        [ngClass]="{'error-border': _form.submitted && form.controls.newPassword.errors}">


                    <div class="show-hide-password-icon-container" showHidePassword>
                        <i class="hide-password"></i>
                    </div>

                    <ng-container *ngIf="_form.submitted && form.controls.newPassword.errors">
                        <ul>
                            <li *ngFor="let message of getErrorMessages('newPassword', 'New Password')">
                                {{message}}
                            </li>
                        </ul>
                    </ng-container>
                </div>




                <!-- Confirm Password -->
                <div class="label">Confirm Password:</div>
                <div class="password-input-container">
                    <input type="password" formControlName="confirmPassword"
                        [ngClass]="{'error-border': _form.submitted && (form.controls.confirmPassword.errors || form.errors?.noPasswordMatch)}">


                    <div class="show-hide-password-icon-container" showHidePassword>
                        <i class="hide-password"></i>
                    </div>

                    <ng-container
                        *ngIf="_form.submitted && (form.controls.confirmPassword.errors || form.errors?.noPasswordMatch)">
                        <ul>
                            <li *ngFor="let message of getErrorMessages('confirmPassword', 'Confirm Password')">
                                {{message}}
                            </li>
                        </ul>
                    </ng-container>
                </div>



                <!-- Button Container -->
                <div class="button-container">
                    <button type="button" class="dark-button" (click)="close()">Cancel</button>
                    <button type="submit" class="gold-rect-button">Submit</button>
                </div>
            </form>



        </div>
    </div>
</div>