<div class="hide notification-popup-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="notification-popup-arrow-container">
        <div class="notification-popup-arrow-up-Border"></div>
        <div class="notification-popup-arrow-up-background"></div>
    </div>

    <div class="notification-popup-base">


        <div class="notification-top-container">

            <!-- Product -->
            <div class="notification-product-container">
                <div class="notification-product-thumbnail-container">
                    <img [src]="'images/' + notificationItem.image">
                </div>
                <div class="notification-product-name">{{notificationItem.productName}}</div>
            </div>

            <div #ellipsis>
                <icon-button [icon]="'fa-solid fa-ellipsis-vertical'"
                             (onClick)="openContextMenu(ellipsis)">
                </icon-button>
            </div>
        </div>

        <!-- Notification Type -->
        <div class="notification-type-container">
            {{notificationItem.name}}
        </div>

        
        <!-- User -->
        <div class="notification-label">User Comment:</div>
        <div class="notification-info-box">

            <ng-container *ngIf="notification">
            
                <div class="notification-info-bar">

                    <div class="notification-counter-container">
                        <counter *ngIf="notification.users.length > 1"
                                 [itemCount]="notification.users.length"
                                 (onItemChange)="userIndex = $event"
                                 [currentIndex]="userIndex">
                        </counter>
                    </div>


                    <div class="notification-profile-container">
                        <!-- Date -->
                        <div class="notification-date">
                            {{getDate(notification.users[userIndex].date) | date: 'MMM d, y, h:mm a'}}
                        </div>
        
                        <!-- Image -->
                        <div class="notification-profile-image-container">

                            <div class="notification-profile-popup-container">
                                <ng-template #profilePopupContainerTemplate></ng-template>
                            </div>

                            <img style="cursor: pointer;"
                                (mousedown)="reviewProfilePopupContainer.length > 0 ? reviewProfilePopup.close() : null; $event.stopPropagation()"
                                [src]="notification.users[userIndex].image ? 'images/' + notification.users[userIndex].image : 'assets/no-account-pic.png'"
                                (click)="openProfilePopup(notification.users[userIndex], profilePopupContainer)"
                                [title]="notification.users[userIndex].firstName + ' ' + notification.users[userIndex].lastName">
                        </div>
                    </div>
                </div>
            
                <!-- User Comment -->
                <div class="notification-user-comment">
                    {{notification.users[userIndex].text}}
                </div>
            </ng-container>
        </div>



        <!-- Review Writer -->
        <div class="notification-label">Review:</div>
        <div class="review-info-box">

            <ng-container *ngIf="notification">

                <div class="review-info-bar">

                    <div class="review-title-container">
                        <div class="review-title-label">Title:</div>
                        <div class="review-title" [title]="notification.reviewWriter.reviewTitle">
                            {{notification.reviewWriter.reviewTitle}}
                        </div>
                    </div>

                    <div class="review-writer-info-container">
                        <!-- Date -->
                        <div class="notification-date">
                            {{getDate(notification.reviewWriter.date) | date: 'MMM d, y, h:mm a'}}
                        </div>

                        <!-- Image -->
                        <div class="notification-profile-image-container">

                            <div class="review-profile-popup-container">
                                <ng-template #reviewProfilePopupContainerTemplate></ng-template>
                            </div>

                            <img style="cursor: pointer;"
                                (mousedown)="profilePopupContainer.length > 0 ? profilePopup.close() : null; $event.stopPropagation()"
                                [src]="notification.reviewWriter.image ? 'images/' + notification.reviewWriter.image : 'assets/no-account-pic.png'"
                                (click)="openProfilePopup(notification.reviewWriter, reviewProfilePopupContainer, true)"
                                [title]="notification.reviewWriter.firstName + ' ' + notification.reviewWriter.lastName">
                        </div>
                    </div>
                </div>

                <!-- Review -->
                <div class="notification-user-comment">
                    {{notification.reviewWriter.text}}
                </div>
            </ng-container>
        </div>


        <!-- Employee -->
        <div class="notification-label-container">
            <div class="notification-label">Notes:</div>
            <div *ngIf="notification && (notification.employeeNotes[employeeIndex].firstName || newNoteAdded)" class="notification-employee-notes-button-container">
                <icon-button [icon]="'fa-solid fa-file-lines'"
                             [title]="'Add New Note'"
                             [fontSize]="'16'"
                             [isDisabled]="newNoteAdded"
                             (onClick)="addNote(notification.employeeNotes)">
                </icon-button>
            </div>
        </div>
        
        <div class="notification-info-box">
            <ng-container *ngIf="notification">
                <div *ngIf="notification.employeeNotes[employeeIndex].firstName || newNoteAdded" class="notification-info-bar">

                    <!-- Counter -->
                    <div class="notification-counter-container">
                        <counter *ngIf="notification.employeeNotes.length > 1"
                                 [itemCount]="notification.employeeNotes.length"
                                 (onItemChange)="employeeIndex = $event"
                                 [currentIndex]="employeeIndex">
                        </counter>
                    </div>

                    <div *ngIf="notification.employeeNotes[employeeIndex].firstName" class="notification-profile-container">
                        <!-- Date -->
                        <div class="notification-date">
                            {{getDate(notification.employeeNotes[employeeIndex].date) | date: 'MMM d, y, h:mm a'}}
                        </div>

                        <!-- Image -->
                        <div class="notification-profile-image-container">
                            <img [src]="notification.employeeNotes[employeeIndex].image ? 'images/' + notification.employeeNotes[employeeIndex].image : 'assets/no-account-pic.png'" [title]="notification.employeeNotes[employeeIndex].firstName + ' ' + notification.employeeNotes[employeeIndex].lastName">
                        </div>
                    </div>
                </div>

                <!-- Notes -->
                <textarea #notes *ngIf="!notification.employeeNotes[employeeIndex].firstName" [ngStyle]="{'height': newNoteAdded ? '94px' : '128px'}" [(ngModel)]="notification.employeeNotes[employeeIndex].text"></textarea>
            
                
                <div *ngIf="notification.employeeNotes[employeeIndex].firstName" class="notification-user-comment">
                    {{notification.employeeNotes[employeeIndex].text}}
                </div>
            </ng-container>
        </div>
        

        <!-- Buttons -->
        <div class="notification-button-container">
            <div>
                <!-- Show button only when data loads, otherwise button's length changes which looks terrible -->
                <button *ngIf="notification" class="notification-button" (click)="openSecondaryButtonPrompt()" [disabled]="secondaryButtonDisabled">{{!notification.reviewDeleted ? 'Remove' : 'Restore'}} Review</button>
            </div>
            
            <button [class]="notificationItem.isNew ? 'gold-button' : 'dark-button'" (click)="onClose(notification.employeeNotes)">{{notificationItem.isNew ? 'Archive' : 'Close'}}</button>
        </div>
    </div>
</div>