<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()" (wheel)="$event.preventDefault()"></div>


    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base">

            <!-- Header -->
            <div class="header">
                Change Name

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <!-- Content -->
            <form class="content" [formGroup]="form" #_form="ngForm" (ngSubmit)="onSubmit()">
                <!-- First Name -->
                <div class="label"> First Name:</div>
                <input #tabElement #firstNameInput type="text" formControlName="firstName" spellcheck="false" (keydown.space)="$event.stopPropagation()"
                    [ngClass]="{'error-border': _form.submitted && form.controls.firstName.errors}">

                <ng-container *ngIf="_form.submitted && form.controls.firstName.errors">
                    <ul>
                        <li *ngFor="let message of getErrorMessages('firstName', 'First name')">
                            {{message}}
                        </li>
                    </ul>
                </ng-container>

                <!-- Last Name -->
                <div class="label">Last Name:</div>
                <input #tabElement #lastNameInput type="text" formControlName="lastName" spellcheck="false" (keydown.space)="$event.stopPropagation()"
                    [ngClass]="{'error-border': _form.submitted && form.controls.lastName.errors}">

                <ng-container *ngIf="_form.submitted && form.controls.lastName.errors">
                    <ul>
                        <li *ngFor="let message of getErrorMessages('lastName', 'Last name')">
                            {{message}}
                        </li>
                    </ul>
                </ng-container>

                <!-- Button Container -->
                <div class="button-container">
                    <button #tabElement type="button" class="dark-button" (click)="close()">Cancel</button>
                    <button #tabElement type="submit" class="gold-rect-button" [disabled]="firstNameInput.value == accountService.user?.firstName
                    && lastNameInput.value == accountService.user?.lastName">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>