.notification-type-container {
    padding-left: 3px;
    margin-bottom: 13px;
}


.notification-info-box {
    margin: 3px 0 13px;
}


.user-info-box {
    margin: 3px 0 13px;
    height: 114px;
    background: none;
    border: 1px solid #454545;
}


.notification-info-bar {
    justify-content: flex-end;
    border-color: #282828;
}



.notification-profile-image-container {

    img {
        border-radius: 50%;
    }
}


.notification-profile-popup-container {
    top: -110px;
}


.user-name-container {
    @extend .user-image-container;
    font-size: 20px;
    color: white;
    height: 78px;
}


.user-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}



.dark-button {
    margin-left: 0;
}