.page-container {
    position: relative;
    min-height: 100vh;
}

.page {
    padding-bottom: 196px;
}


@media(max-width: 1717px) {
    .page {
        padding-bottom: 210px;
    }
}


@media(max-width: 1400px) {
    .page {
        padding-bottom: 265px;
    }
}



@media(max-width: 1294px) {
    .page {
        padding-bottom: 279px;
    }
}


@media(max-width: 1043px) {
    .page {
        padding-bottom: 293px;
    }
}



@media(max-width: 875px) {
    .page {
        padding-bottom: 307px;
    }
}


@media(max-width: 751px) {
    .page {
        padding-bottom: 321px;
    }
}


@media(max-width: 670px) {
    .page {
        padding-bottom: 335px;
    }
}



@media(max-width: 598px) {
    .page {
        padding-bottom: 349px;
    }
}


@media(max-width: 538px) {
    .page {
        padding-bottom: 363px;
    }
}


@media(max-width: 525px) {
    .page {
        padding-bottom: 468px;
    }
}



@media(max-width: 490px) {
    .page {
        padding-bottom: 482px;
    }
}


@media(max-width: 457px) {
    .page {
        padding-bottom: 496px;
    }
}


@media(max-width: 420px) {
    .page {
        padding-bottom: 510px;
    }
}


@media(max-width: 402px) {
    .page {
        padding-bottom: 524px;
    }
}


@media(max-width: 370px) {
    .page {
        padding-bottom: 538px;
    }
}


@media(max-width: 350px) {
    .page {
        padding-bottom: 552px;
    }
}


@media(max-width: 341px) {
    .page {
        padding-bottom: 566px;
    }
}


@media(max-width: 316px) {
    .page {
        padding-bottom: 580px;
    }
}


@media(max-width: 302px) {
    .page {
        padding-bottom: 594px;
    }
}

@media(max-width: 293px) {
    .page {
        padding-bottom: 608px;
    }
}


@media(max-width: 276px) {
    .page {
        padding-bottom: 622px;
    }
}


@media(max-width: 273px) {
    .page {
        padding-bottom: 636px;
    }
}

@media(max-width: 263px) {
    .page {
        padding-bottom: 650px;
    }
}


@media(max-width: 244px) {
    .page {
        padding-bottom: 664px;
    }
}