.page-container {
    position: relative;
    min-height: 100vh;
}

.page {
    padding-top: 79px;
    padding-bottom: 126px;
}



@media(max-width: 1400px) {
    .page {
        padding-bottom: 174px;
    }
}

@media(max-width: 525px) {
    .page {
        padding-bottom: 271px;
    }
}