<div class="container">
    <div class="page-content-container">
        
        <!-- Niche Shack Logo -->
        <div class="niche-shack-logo-container">
            <a routerLink="/home" title="Niche Shack Homepage" tabindex="0">
                <img src="assets/niche-shack-logo-small.png">
                <img src="assets/niche-shack-logo-scaled.png">
            </a>
        </div>

        <div class="gold-text">Sorry...</div>
        <div class="white-text">We couldn't find that page</div>
        <a routerLink="/home" title="Niche Shack Homepage" tabindex="-2">
            <button class="gold-round-button-lg">Go to our homepage</button>
        </a>
    </div>
</div>