.slider-container {
    overflow: hidden;
    width: 100%;
    margin: auto;
    position: relative;
}

.slider {
    display: flex;
    width: fit-content;
    position: relative;
}

.media {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-backdrop {
    width: 500px;
    height: 500px;

    img {
        max-width: 500px;
        max-height: 500px;
    }
}

// .play-icon {
//     font-size: 60px;
//     z-index: 10;
// }


.play-icon {
        
    width: 70px;
    height: 70px;

    i {
        font-size: 30px;
        transform: translateX(3px);
    }
}

@media(max-width: 520px) {
    .media-backdrop {
        width: 480px;
        height: 480px;
    
        img {
            max-width: 480px;
            max-height: 480px;
        }
    }
}


@media(max-width: 500px) {
    .media-backdrop {
        width: 460px;
        height: 460px;
    
        img {
            max-width: 460px;
            max-height: 460px;
        }
    }
}


@media(max-width: 480px) {
    .media-backdrop {
        width: 440px;
        height: 440px;
    
        img {
            max-width: 440px;
            max-height: 440px;
        }
    }
}



@media(max-width: 460px) {
    .media-backdrop {
        width: 420px;
        height: 420px;
    
        img {
            max-width: 420px;
            max-height: 420px;
        }
    }
}



@media(max-width: 440px) {
    .media-backdrop {
        width: 400px;
        height: 400px;
    
        img {
            max-width: 400px;
            max-height: 400px;
        }
    }
}



@media(max-width: 420px) {
    .media-backdrop {
        width: 380px;
        height: 380px;
    
        img {
            max-width: 380px;
            max-height: 380px;
        }
    }
}


@media(max-width: 400px) {
    .media-backdrop {
        width: 360px;
        height: 360px;
    
        img {
            max-width: 360px;
            max-height: 360px;
        }
    }
}



@media(max-width: 380px) {
    .media-backdrop {
        width: 340px;
        height: 340px;
    
        img {
            max-width: 340px;
            max-height: 340px;
        }
    }
}


@media(max-width: 360px) {
    .media-backdrop {
        width: 320px;
        height: 320px;
    
        img {
            max-width: 320px;
            max-height: 320px;
        }
    }


    .play-icon {
        
        width: 50px;
        height: 50px;
    
        i {
            font-size: 20px;
            transform: translateX(3px);
        }
    }
}



@media(max-width: 340px) {
    .media-backdrop {
        width: 300px;
        height: 300px;
    
        img {
            max-width: 300px;
            max-height: 300px;
        }
    }
}



@media(max-width: 320px) {
    .media-backdrop {
        width: 280px;
        height: 280px;
    
        img {
            max-width: 280px;
            max-height: 280px;
        }
    }
}



@media(max-width: 300px) {
    .media-backdrop {
        width: 260px;
        height: 260px;
    
        img {
            max-width: 260px;
            max-height: 260px;
        }
    }
}



@media(max-width: 280px) {
    .media-backdrop {
        width: 240px;
        height: 240px;
    
        img {
            max-width: 240px;
            max-height: 240px;
        }
    }
}


@media(max-width: 260px) {
    .media-backdrop {
        width: 220px;
        height: 220px;
    
        img {
            max-width: 220px;
            max-height: 220px;
        }
    }
}



@media(max-width: 240px) {
    .media-backdrop {
        width: 200px;
        height: 200px;
    
        img {
            max-width: 200px;
            max-height: 200px;
        }
    }
}