<div #sliderContainer class="slider-container">

    <!-- Slider -->
    <div #slider slider class="slider">

        <!-- Media -->
        <div *ngFor="let media of media" class="media" [style.width.px]="sliderContainer.clientWidth">
            <div class="media-display">
                <img [src]="'images/' + media.image.url" [title]="media.name" [alt]="media.name">
            </div>
        </div>
    </div>

    <!-- Left Arrow Button -->
    <div id="left-arrow-button" class="left-arrow-button">
        <i></i>
    </div>

    <!-- Right Arrow Button -->
    <div id="right-arrow-button" class="right-arrow-button">
        <i></i>
    </div>
</div>

<!-- Scroll Track -->
<div class="scroll-track"></div>

<!-- Scrollbar -->
<div id="scrollbar" class="scrollbar-container">
    <div [style.width.px]="sliderContainer.clientWidth / slider.childElementCount" class="scrollbar"></div>
</div>