<div #widget class="container-outline" style="position: relative; width: 100%; user-select: none;"
    [style.backgroundColor]="background && background.enabled && background.rgbColor.toRGBString() ? background.rgbColor.toRGBString(): null"
    [style.outline]="border && border.enabled ? border.width + 'px ' + border.style + ' ' + border.rgbColor.toRGBString() : null"
    [style.borderRadius]="
        corners &&
        (corners.topLeft > 0 ||
        corners.topRight > 0 ||
        corners.bottomRight > 0 ||
        corners.bottomLeft > 0) ?
        corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px': null"
    [style.box-shadow]="shadow && shadow.enabled ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.rgbColor.toRGBString() : null"
    [style.maxWidth.px]="width ? width: null"
    [ngStyle]="{ 'background-image': background && background.enabled && background.image && background.image.src ? 'url(images/' + background.image.src + ')' : null,
                        'background-position': background && background.enabled && background.image ? background.image.position : null,
                        'background-repeat': background && background.enabled && background.image ? background.image.repeat : null,
                        'background-attachment': background && background.enabled && background.image ? background.image.attachment : null}"
    [style.minHeight.px]="height"
    [ngClass]="{'selected-widget': widgetService.selectedWidget == this && widgetService.currentWidgetInspectorView == widgetInspectorView.Widget}">

    <container-dev #container></container-dev>


    <!-- Handles -->
    <div id="ignore-element-height"
        *ngIf="widgetService.selectedWidget == this && widgetService.currentWidgetInspectorView == widgetInspectorView.Widget">
        <div class="handle top-left" (mousedown)="onWidgetHandleMousedown(widgetHandle.TopLeft, $event)">
        </div>
        <div class="handle top" (mousedown)="onWidgetHandleMousedown(widgetHandle.Top, $event)"></div>
        <div class="handle top-right" (mousedown)="onWidgetHandleMousedown(widgetHandle.TopRight, $event)"></div>
        <div class="handle left" (mousedown)="onWidgetHandleMousedown(widgetHandle.Left, $event)"></div>
        <div class="handle bottom-left" (mousedown)="onWidgetHandleMousedown(widgetHandle.BottomLeft, $event)"></div>
        <div class="handle bottom" (mousedown)="onWidgetHandleMousedown(widgetHandle.Bottom, $event)"></div>
        <div class="handle bottom-right" (mousedown)="onWidgetHandleMousedown(widgetHandle.BottomRight, $event)"></div>
        <div class="handle right" (mousedown)="onWidgetHandleMousedown(widgetHandle.Right, $event)"></div>
    </div>
</div>