<div class="property-box-dark">
    <!-- Property Box Bar -->
    <div class="property-box-bar">

        <!-- Icons -->
        <div class="icons">
            <!-- Remove icon -->
            <icon-button *ngIf="showRemoveImage" [icon]="'fas fa-trash-alt'" [title]="'Remove Image'"
                [isDisabled]="!image || !image.src">
            </icon-button>



            <!-- Edit Image -->
            <icon-button [icon]="'fa-solid fa-file-pen'" [title]="'Edit Image'" [isDisabled]="!image || !image.src"
                (onClick)="openMediaBrowser(true)">
            </icon-button>


            <!-- Change Image -->
            <icon-button [icon]="'fas fa-image'" [title]="!image || !image.src ? 'Add Image': 'Change Image'"
                (onClick)="openMediaBrowser()">
            </icon-button>
        </div>
    </div>


    <!-- Image -->
    <div class="img-container">
        <img *ngIf="image && image.src" [src]="'images/' + image.src" [title]="image.name">
        <div *ngIf="!image || !image.src" class="no-property">No image available</div>
    </div>
</div>