.no-property {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888888;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 200px;
    
    img {
        max-width: 200px;
        max-height: 200px;
        object-fit: contain;
    }
}