<div class="property-box-dark">
    <!-- Property Box Bar -->
    <div class="property-box-bar">

        <!-- Icons -->
        <div class="icons">
            <!-- Remove Image -->
            <icon-button *ngIf="showRemoveImage" [icon]="'fas fa-trash-alt'" [title]="'Remove image'"
                [isDisabled]="!image || !image.src" (click)="removeImage()">
            </icon-button>

            
            <!-- Media Browser -->
            <icon-button [icon]="'fas fa-image'" title="Media browser"
                (onClick)="openMediaBrowser()">
            </icon-button>
        </div>
    </div>


    <!-- Image -->
    <div class="img-container">
        <img *ngIf="image && image.src" [src]="'images/' + image.src" [title]="image.name">
        <div *ngIf="!image || !image.src" class="no-property">No image available</div>
    </div>
</div>