<div class="product-property-hover-container margin-top">
    <div class="product-property-label">Quantity:</div>
    <div #quantity
         tabindex="0"
         class="quantity-container product-property-input-container product-dashed-border-bright"
         contenteditable="true"
         (focus)="selectRange(quantity)"
         (blur)="onBlur(pricePoint, 'quantity', quantity)"
         (keydown.escape)="onEscape(pricePoint, 'quantity', quantity)"
         (keydown.enter)="quantity.blur()"
         (paste)="onPaste($event, quantity)">
            {{pricePoint.quantity}}
    </div>
</div>