$background: #282828;
$border: #505050;

.checkbox,
.radio {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 21px;




    div {
        color: #b4b4b4;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 13px;
        width: 13px;
        background-color: $background;
        border: 1px solid $border;
        box-sizing: unset;

        &:focus-visible {
            outline: 1px solid rgb(128, 128, 128);
            outline-offset: 2px;
        }


        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }


    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkmark {
            background-color: lighten($background, 10);
            border-color: lighten($border, 10);

            &:after {
                display: block;
            }
        }
    }


    &:hover div {
        color: #dadada;
    }
}



.checkbox {
    &:hover {
        .checkmark {
            background-color: lighten($background, 20);
            border-color: lighten($border, 20);

            &:after {
                left: 4px;
                top: -3px;
                width: 5px;
                height: 10px;
                border: solid lighten(#ffba00, 20);
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}



.radio {
    &:hover {
        .checkmark {
            background-color: lighten($background, 20);
            border-color: lighten($border, 20);

            &:after {
                top: 3px;
                left: 3px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: lighten(#ffba00, 20);
            }
        }
    }
}





.checkbox .checkmark {
    border-radius: 2px;

    &:after {
        left: 4px;
        top: -3px;
        width: 5px;
        height: 10px;
        border: solid #ffba00;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}


.radio .checkmark {
    border-radius: 50%;

    &:after {
        top: 3px;
        left: 3px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #ffba00;
    }
}