@import '../../../scss/variables';

.side-menu-content {
    padding: 10px 10px;
}

.options-label {
    color: $gold;
    margin-bottom: 10px;
}

.radio-buttons-container {
    padding-left: 10px;
}

.horizontal-line {
    margin: 20px 0;
}