<div class="hide popup-container" [ngClass]="{'show': show}" (transitionend)="onHide()" (mousedown)="$event.stopPropagation()">

    <div class="popup-base">

        <div style="display: flex;">

            <div class="profile-image-container" 
            [ngStyle]="{'background': user.name ? 'none' : '#555555',
            'outline': user.name ? 'none' : '1px solid #868686',
            'margin-top': user.name ? '-1px' : '2px'
        
        }">
           
                <img 
                
                [src]="user.name ? 'assets/message-notification.png' : 'images/' + user.image"
                
                [ngStyle]="{'border-radius': user.name ? 'none' : '50%'}"
                >
            </div>


            <div style="font-size: 12px; color: #ffba00; margin-left: 8px; margin-bottom: 15px; white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;">
                <span style="margin-right: 3px;">{{user.name ? user.name : user.firstName}}</span>
                <span>{{user.lastName}}</span>
                <div style="margin-bottom: 3px;"></div>

                <ng-container *ngIf="!isReview">

                    <ng-container *ngIf="user.name">
                        <div style="color: #b0b0b0; white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;" [title]="user.email">{{user.email}}</div>
                    </ng-container>
                    
                    <ng-container *ngIf="!user.name">
                        <span style="color: #b0b0b0; margin-right: 4px;">Noncompliant Strikes:</span>
                        <span>{{user.noncompliantStrikes}}</span>
                    </ng-container>
                    
                </ng-container>

                <ng-container *ngIf="isReview">
                    <span style="color: #b0b0b0; margin-right: 4px;">Notification Sending:</span>
                    <span [ngStyle]="{'color': user.blockNotificationSending ? '#ff3936' : '#12eb12'}">{{user.blockNotificationSending ? 'Blocked' : 'Allowed'}}</span>
                </ng-container>
            </div>
        </div>


        <label class="checkbox">
            <div *ngIf="!isReview">Block this user from sending notifications</div>
            <div *ngIf="isReview">Mark user as not complying with the terms of use</div>
            <input type="checkbox" (change)="null"
                [checked]="false">
            <span class="checkmark"></span>
        </label>

        <label *ngIf="isReview" class="checkbox" style="margin-top: 10px;">
            <div *ngIf="isReview">Remove user's profile picture</div>
            <input type="checkbox" (change)="null"
                [checked]="false">
            <span class="checkmark"></span>
        </label>
    </div>

    
    <!-- Arrow -->
    <div class="popup-arrow-container" [ngStyle]="{'left': isReview ? '179px' : '170px'}">
        <div class="popup-arrow-down-Border"></div>
        <div class="popup-arrow-down-background"></div>
    </div>
</div>