<div class="unit-price-property-container product-property-hover-container">
    <div class="product-property-label">Unit Price:</div>
    <div #unitPrice
         tabindex="0"
         class="unit-price-container product-property-input-container product-dashed-border-bright"
         contenteditable="true"
         (focus)="onFocus(unitPrice)"
         (input)="onInput(unitPrice)"
         (blur)="onBlur(pricePoint, 'unitPrice', unitPrice, true)"
         (keydown.escape)="onEscape(pricePoint, 'unitPrice', unitPrice)"
         (keydown.enter)="unitPrice.blur()"
         (paste)="onPaste($event, unitPrice, true)">
            {{isWholeNumber(pricePoint.unitPrice) ?  (pricePoint.unitPrice | currency:'USD':'symbol':'0.0-0') : (pricePoint.unitPrice | currency:'USD':'symbol':'0.2-2')}}
    </div>
</div>