<div class="image-property-container">
    <div class="product-label-and-icon-buttons-container">
        <div class="product-property-label">Image:</div>
        <div class="product-property-icon-button-container">
            <icon-button [icon]="'fa-solid fa-image image-icon'"
                         [title]="'Media Browser'"
                         (onClick)="openMediaBrowser(pricePoint)">
            </icon-button>
            <icon-button *ngIf="pricePoint.image.src"
                         [icon]="'fas fa-trash-alt'"
                         [title]="'Remove Image'"
                         (onClick)="onImageDelete(pricePoint)">
            </icon-button>
        </div>
    </div>
    <div class="image-container product-dashed-border-bright" [title]="pricePoint.image.src ? pricePoint.image.name : ''" (click)="openMediaBrowser(pricePoint)">
        <i *ngIf="!pricePoint.image.src" class="fa-solid fa-image"></i>
        <img *ngIf="pricePoint.image.src" [src]="'images/' + pricePoint.image.src">
    </div>
</div>