.page-content-container {
    position: relative;
    top: 50px;
    margin-bottom: 55px;
}


.page-content {
    max-width: 1026px;
}

.top-container {
    display: flex;
    margin-bottom: 6px;
}

.top-container-left {
    width: 100%;
    max-width: 274px;
}

.list-menu-bar {
    display: flex;
    margin-top: -27px;
    margin-bottom: 10px;

    button {
        background: none;
        border: none;
        color: #cacaca;
        cursor: pointer;
        text-decoration: underline;
        outline: none;

        &:hover {
            color: white;
        }

        &:focus-visible {
            font-size: 15px;
            top: -1px;
            color: white;
        }

        &:disabled {
            color: #646464;
            cursor: default;
        }
    }
}


.list-button-container {
    display: flex;
    height: 18px;
    align-items: center;
    justify-content: center;

    &:first-child {
        width: 34px;
    }

    &:nth-child(2) {
        width: 51px;
    }

    &:nth-child(3) {
        width: 48px;
    }

    &:last-child {
        width: 91px;
    }
}


.top-container-right {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 4px;
}

.list-title {
    font-size: 25px;
    font-weight: bold;
    color: #c7c7c7;
    margin-right: 10px;
}

.dropdown-container {
    width: 200px;
    margin-bottom: 6px;
}

.bottom-container {
    position: relative;
    display: flex;
}


.bottom-container-left {
    width: 100%;
    max-width: 240px;
    margin-right: 34px;
}


.sticky-container {
    top: 147px;
    position: sticky;
    position: -webkit-sticky;
}


.list-menu-container {
    min-height: 87px;
    overflow-y: auto;
    margin-bottom: 14px;
    border-radius: 3px;

    &:focus-visible {
        outline: 1px solid #969696;
        outline-offset: 5px;

    }
}




.purple-button {
    height: 33px;
}


.bottom-container-right {
    width: 100%;
}


.item-container {
    background: #1f1f1f;
    border: 1px solid #323232;
    flex: 1;
    display: flex;
    margin-bottom: 25px;
    border-radius: 4px;

    .horizontal-line {
        display: none;
    }
}

.item-details {
    flex: 1;
    padding: 15px;
    padding-bottom: 12px;
}

.item-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-bottom: 20px;
}

.media-backdrop {
    height: 150px;
    width: 100%;
    max-width: 150px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.item-title {
    font-size: 16px;
    font-weight: bold;
    color: #dadada;
    margin-bottom: 5px;
}

.item-price {
    color: #ffba00;
    margin-top: 5px;
}


.item-actions {
    width: 100%;
    max-width: 250px;
    padding: 15px;
}

.profile-img-container {
    margin-left: auto;
    margin-bottom: 7px;
    width: fit-content;
}

.date {
    margin-left: auto;
    width: fit-content;
    color: #b4b4b4;
    margin-bottom: 7px;
}

.added-text {
    color: #ffba00;
    margin-left: auto;
    width: fit-content;
    margin-bottom: 7px;
}

.item-actions-button-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: right;

    button {
        flex: 1;
        max-width: inherit;
        margin-left: 10px;
    }
}


.no-items-container {
    width: 100%;
    text-align: center;
}


.no-items-border {
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 24px;
}


.no-items-text {
    color: white;
    font-size: 16px;
    margin-bottom: 24px;
}


.add-to-list-text {
    color: #ffba00;
}

.no-lists-container {
    text-align: center;

    button {
        width: 190px;
        max-width: inherit;
    }
}

.no-lists-text {
    font-size: 16px;
    color: white;
    margin-bottom: 24px;
}


.gold-rect-button {
    max-width: inherit;
}

.vertical-line {
    height: auto;
}






.hamburger-button {
    margin-right: 3px;
    display: none;
}






@media(max-width: 720px) {

    .bottom-container-left,
    .top-container-left,
    .dropdown-container,
    .vertical-line {
        display: none;
    }

    .item-container {
        flex-direction: column;

        .horizontal-line {
            display: block;
        }
    }

    .item-image-container {
        margin: auto;
        margin-bottom: 20px;
    }

    .item-info-container {
        text-align: center;
    }

    .item-actions {
        width: inherit;
        max-width: inherit;
    }

    .profile-img-container,
    .date,
    .added-text {
        margin: auto;
        margin-bottom: 10px;
    }

    .hamburger-button {
        display: block;
    }
}