<header-footer [breadcrumbs]="breadcrumbs">
    <div class="page-content-container">
        <div class="page-content">
            <div class="page-title">Your Lists</div>

            <ng-container *ngIf="lists && lists.length > 0">
                <!-- Top Container -->
                <div class="top-container">

                    <!-- Top Container Left -->
                    <div class="top-container-left"></div>
                    <div class="top-container-right">
                        <div class="list-title">{{selectedList.name}}</div>
                        <div *ngIf="products && products.length > 0" class="dropdown-container">
                            <dropdown [list]="sortOptions"
                                      [dropdownType]="DropdownType.Website"
                                      (onChange)="onSortChange($event.value)"
                                      [selectedListItem]="setSelectedSortOption()">
                            </dropdown>
                        </div>
                        <div class="hamburger-button" (click)="onHamburgerButtonClick()"></div>
                    </div>
                </div>


                <!-- Bottom Container -->
                <div class="bottom-container">


                    <!-- Bottom Container Left -->
                    <div class="bottom-container-left">
                        <div class="sticky-container">
                            <div class="list-menu-bar">

                                <div class="list-button-container">
                                    <button (click)="listMenu.onEditListClick()"
                                            [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canEditList">
                                            Edit
                                    </button>
                                </div>

                                <div class="list-button-container">
                                    <button (click)="listMenu.onDeleteListClick()"
                                            [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canDeleteList">
                                            Delete
                                    </button>
                                </div>

                                <div class="list-button-container">
                                    <button (click)="listMenu.onShareListClick()"
                                            [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canShareList && !selectedList.listPermissions?.canInviteCollaborators">
                                            Share
                                    </button>
                                </div>

                                <div class="list-button-container">
                                    <button (click)="listMenu.onManageCollaboratorsClick()"
                                            [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canManageCollaborators">
                                            Collaborators
                                    </button>
                                </div>
                            </div>

                            <div #listMenuContainer
                                 [tabindex]="lists.length == 1 ? -2 : 0"
                                 class="list-menu-container"
                                 [style.maxHeight.px]="window.innerHeight - 293 - 83">
                                <lists-menu #listMenu
                                            [lists]="lists"
                                            [selectedList]="selectedList"
                                            (onListClick)="onListClick($event)"
                                            (onDeleteList)="setStylingValues()">
                                </lists-menu>
                            </div>
                            <button #purpleButton class="purple-button" (click)="onCreateNewListClick()">Create a new list</button>
                        </div>
                    </div>


                    <!-- Bottom Container Right -->
                    <div class="bottom-container-right">

                        <div class="item-container" *ngFor="let product of products">

                            <!-- Item Details -->
                            <div class="item-details">
                                <div class="item-image-container" (click)="onProductClick(product)">
                                    <div class="media-backdrop">
                                        <img [src]="'images/' + product.image.src"
                                             [title]="product.image.name"
                                             [alt]="product.image.name">
                                    </div>
                                </div>

                                <div class="item-info-container">
                                    <div class="item-title">{{product.name}}</div>
                                    <stars-summary [product]="product"></stars-summary>
                                    <div class="item-price">
                                        <ng-container *ngIf="product.maxPrice == 0">{{product.minPrice | currency:product.currency}}</ng-container>
                                        <ng-container *ngIf="product.maxPrice > 0">
                                            {{product.minPrice | currency:product.currency}} -
                                            {{product.maxPrice | currency:product.currency}}
                                        </ng-container>
                                    </div>
                                </div>

                                <div *ngIf="product.disabled" class="not-in-service">
                                    <div style="display: flex; align-items: center;">
                                        <img src="assets/exclamation.png" style="margin-right: 5px">
                                        <div>NO LONGER IN SERVICE</div>
                                    </div>
                                </div>

                            </div>

                            <div class="vertical-line"></div>
                            <div class="horizontal-line"></div>

                            <!-- Item Actions -->
                            <div class="item-actions">
                                <div class="profile-img-container" [title]="product.collaborator.profileImage.name">
                                    <img [src]="product.collaborator.profileImage.src ? 'images/' + product.collaborator.profileImage.src : 'assets/no-account-pic.png'"
                                        [alt]="product.collaborator.profileImage.name" class="profile-pic">
                                </div>


                                <div class="date">
                                    Added {{getDate(product.dateAdded) | date}}
                                </div>

                                <div class="added-text">Added by {{product.collaborator.name}}</div>

                                <div class="item-actions-button-container">
                                    <dropdown style="flex: 1;"
                                              [list]="moveToList"
                                              [dropdownType]="DropdownType.Button"
                                              (onChange)="onMoveItem($event, product)"
                                              [disabled]="moveToList.length == 0">
                                    </dropdown> 
                                    <button class="dark-button"
                                            (click)="onRemoveItemClick(product)"
                                            [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canRemoveFromList">
                                        Remove
                                    </button>
                                </div>

                                <button class="gold-rect-button"
                                        (click)="onVisitOfficalWebsiteClick(product.hoplink)">
                                    Visit official website
                                </button>
                            </div>
                        </div>

                        <div *ngIf="products && products.length == 0" class="no-items-container">

                            <div class="no-items-border">
                                <div class="no-items-text">
                                    0 items in this list
                                </div>
                                <div class="add-to-list-text">
                                    To add items to this list, click on the “Add to List” button on any product page
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- No Lists! -->
            <ng-container *ngIf="!lists || lists.length == 0">
                <div class="no-lists-container">
                    <div class="no-lists-text">You currently have no lists.</div>
                    <button class="purple-button" (click)="onCreateNewListClick()">Create a list</button>
                </div>
            </ng-container>
        </div>
    </div>
</header-footer>