

input[type=text] {
    width: 45px;
    height: 22px;
    margin-bottom: 0;
}

.gold-round-button-sm {
    width: 44px;
    height: 22px;
    border-radius: 12px;
    margin: 0;
}

.horizontal-line {
    margin: 18px 0;
}

.error-display{
    border: 1px solid red;
}

.clear-price{
    color: #dadada;
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}