@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
@include modal-values(350px, 207px, 300px);

.content {
    padding-bottom: 15px;
}

.message-text {
    margin-bottom: 22px;
}

.error-text {
    color: $error-color;
    margin-bottom: 20px;
}