@import '../../../scss/variables';

.content {
    padding-bottom: 20px;
}

.info-container {
    margin-top: -13px;
    margin-bottom: 22px;

    .info-icon {
        margin: 0 7px;
    }

    span {
        color: $gold;
        font-size: 12px;
    }
}


@font-face {
    font-family: 'info';
    src: url('../../../assets/fonts/info.ttf');
}

.info-icon
{
    font-family: 'info';
    font-style: italic;
    font-size: 12px;
    color: $purple-text;
    

    &::before {
    content: "\e24";
    }
}


a {
    color: #c1c1c1;

    &:hover {
        color: lighten(#c1c1c1, 10);
    }
}

.disclaimer {
    color: #959595;
    font-size: 12px;
    margin: 8px 8px 10px;
}