<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>


    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div class="base">

            <!-- Header -->
            <div class="header">
                Create Account

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <!-- Content -->
            <form [formGroup]="form" #_form="ngForm" (ngSubmit)="onSubmit()" class="content">

                <!-- First Name -->
                <div class="label"> First Name:</div>
                <input type="text" formControlName="firstName"
                    [ngClass]="{'error-border': _form.submitted && form.controls.firstName.errors}">

                <ng-container *ngIf="_form.submitted && form.controls.firstName.errors">
                    <ul>
                        <li *ngFor="let message of getErrorMessages('firstName', 'First name')">
                            {{message}}
                        </li>
                    </ul>
                </ng-container>

                <!-- Last Name -->
                <div class="label">Last Name:</div>
                <input type="text" formControlName="lastName"
                    [ngClass]="{'error-border': _form.submitted && form.controls.lastName.errors}">

                <ng-container *ngIf="_form.submitted && form.controls.lastName.errors">
                    <ul>
                        <li *ngFor="let message of getErrorMessages('lastName', 'Last name')">
                            {{message}}
                        </li>
                    </ul>
                </ng-container>



                <!-- Email -->
                <div class="label">Email:</div>
                <input type="text" formControlName="email"
                    [ngClass]="{'error-border': _form.submitted && form.controls.email.errors}">

                <ng-container *ngIf="_form.submitted && form.controls.email.errors">
                    <ul>
                        <li *ngFor="let message of getErrorMessages('email', 'Email')">
                            {{message}}
                        </li>
                    </ul>
                </ng-container>

                <!-- Password -->
                <div class="label">Password:</div>
                <div class="password-input-container">
                    <input type="password" formControlName="password"
                        [ngClass]="{'error-border': _form.submitted && form.controls.password.errors}">


                    <div class="show-hide-password-icon-container" showHidePassword>
                        <i class="hide-password"></i>
                    </div>

                    <ng-container *ngIf="_form.submitted && form.controls.password.errors">
                        <ul>
                            <li *ngFor="let message of getErrorMessages('password', 'Password')">
                                {{message}}
                            </li>
                        </ul>
                    </ng-container>
                </div>


                <!-- Info container -->
                <div class="info-container">
                    <i class="info-icon"></i>
                    <span>Password must be at least 6 characters</span>
                </div>


                <!-- Button -->
                <button type="submit" class="gold-round-button-sm">Create Your Account</button>
            </form>


            <!-- Footer -->
            <div class="footer">
                <div class="horizontal-groove-line"></div>
                <span class="footer-text">Already a member? </span>
                <span class="purple-text" (click)="onLogInLinkClick()">Log In</span>
            </div>
        </div>
    </div>
</div>