@import '../../../scss/mixins';

.info-container {
    margin-top: -13px;
    margin-bottom: 22px;

    .info-icon {
        margin: 0 7px;
    }

    span {
        color: #ffba00;
        font-size: 12px;
    }
}

.gold-round-button-sm {
    margin: auto;
    display: block;
}

.footer {
    height: 53px;
    flex-shrink: 0;
    text-align: center;

    .footer-text {
        font-size: 15px;
        color: #dadada;
    }
}

@include modal-values(350px, 393px, 460px);