@import '../../../scss/mixins';
@import '../../../scss/variables';
@include modal-values(350px, 387px, 480px);

.content {
    padding-bottom: 15px;
}

.info-container {
    margin-top: -13px;
    margin-bottom: 22px;

    .info-icon {
        margin: 0 7px;
    }

    span {
        color: $gold;
        font-size: 12px;
    }
}


@font-face {
    font-family: 'info';
    src: url('../../../assets/fonts/info.ttf');
}

.info-icon
{
    font-family: 'info';
    font-style: italic;
    font-size: 12px;
    color: $purple-text;
    

    &::before {
    content: "\e24";
    }
}