<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">
    <!-- Backdrop -->
    <div class="transparent-backdrop" (click)="close()"></div>

    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div class="base">

            <!-- Header -->
            <div class="header">
                Email Exists

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <div class="content">
                <!-- Prompt Content -->
                <div class="prompt-content">

                    <div class="img-container">
                        <img src="assets/info.png" alt="Info">
                    </div>


                    <!-- Message -->
                    <div class="message-text">
                        <div>The following address:</div>

                        <div class="emphasized-text">{{email}}</div>

                        <div>already exists with another Niche Shack account. Please use a different email address.</div>
                    </div>

                </div>

                <!-- Button Container -->
                <div class="button-container">
                    <button class="dark-button" (click)="close()">Close</button>
                </div>
            </div>


        </div>
    </div>
</div>