<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>


    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base" tabindex="-1">

            <!-- Header -->
            <div class="header">
                Report Item

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>


            <div class="content">

                <!-- Where is the issue -->
                <div class="label">Where is the issue?</div>
                <dropdown #whereDropdown [listItems]="listItems" (onSelectedListItem)="type = $event.value[0].value; setWhatDropdownSelectedListItem()" (onGetTabElement)="whereTabElement = $event"></dropdown>


                <!-- What is the issue -->
                <div class="label" style="margin-top: 22px;">What is the issue?</div>
                <dropdown #whatDropdown [listItems]="whereDropdown.selectedListItem.value" (onSelectedListItem)="type = $event.value" (onGetTabElement)="whatTabElement = $event"></dropdown>





                <!-- Comments -->
                <div class="label" style="margin-top: 22px;">Comments (optional):</div>
                <textarea #tabElement (input)="comments = tabElement.value"></textarea>

                <!-- Button Container -->
                <div class="button-container">
                    <button #tabElement class="dark-button" (click)="close()">Cancel</button>
                    <button #tabElement class="gold-rect-button" (click)="onSubmit()">Submit</button>
                </div>

            </div>


        </div>
    </div>
</div>