<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="transparent-backdrop" (click)="close()" [ngClass]="{'backdrop': !logInForm}"></div>


    <!-- Container -->
    <div class="fade-in container" [ngClass]="{'fade-out': fadeOut}">

        <!-- Base -->
        <div class="base">

            <!-- Header -->
            <div class="header">
                Report Item

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>


            <div class="content">

                <!-- Where is the issue -->
                <div class="label">Where is the issue?</div>
                <dropdown #whereDropdown [listItems]="listItems" (onSelectedListItem)="type = $event.value[0].value"></dropdown>


                <!-- What is the issue -->
                <div class="label" style="margin-top: 22px;">What is the issue?</div>
                <dropdown [listItems]="whereDropdown.selectedListItem.value" (onSelectedListItem)="type = $event.value"></dropdown>





                <!-- Comments -->
                <div class="label" style="margin-top: 22px;">Comments (optional):</div>
                <textarea #textArea (input)="comments = textArea.value"></textarea>

                <!-- Button Container -->
                <div class="button-container">
                    <button class="dark-button" (click)="close()">Cancel</button>
                    <button class="gold-rect-button" (click)="onSubmit()">Submit</button>
                </div>

            </div>


        </div>
    </div>
</div>