<div style="position: absolute; top: 40px; width: 100%;" [style.z-index]="zIndex">
    <div
        style="height: 42px; border-top-left-radius: 6px; border-top-right-radius: 6px; padding: 1px; background: linear-gradient(#545454, #262626);">

        <div
            style="position: relative; height: 100%; display: flex; align-items: center; justify-content: flex-end; border-top-left-radius: 6px; border-top-right-radius: 6px; background: linear-gradient(#323232, #202020);">

            <div class="circle-button"
                [ngClass]="{'circle-button-clicked': vendorPopupContainer ? vendorPopupContainer.length > 0 : false}"
                (click)="openVendorPopup()">
                <i class="fa-solid fa-store"></i>
            </div>

            <div class="circle-button"
                [ngClass]="{'circle-button-clicked': filtersPopupContainer ? filtersPopupContainer.length > 0 : false}"
                (click)="openFiltersPopup()">
                <i class="fa-solid fa-filter"></i>
            </div>

            <div class="circle-button"
                [ngClass]="{'circle-button-clicked': keywordsPopupContainer ? keywordsPopupContainer.length > 0 : false}"
                (click)="openKeywordsPopup()">
                <i class="fa-solid fa-key"></i>
            </div>

            <div class="circle-button"
                [ngClass]="{'circle-button-clicked': productGroupsPopupContainer ? productGroupsPopupContainer.length > 0 : false}"
                (click)="openProductGroupsPopup()">
                <i class="fa-solid fa-layer-group"></i>
            </div>

            <div style="position: absolute; right: 5px; top: 40px; z-index: 100;">
                <ng-template #vendorPopup></ng-template>
                <ng-template #filtersPopup></ng-template>
                <ng-template #keywordsPopup></ng-template>
                <ng-template #productGroupsPopup></ng-template>
            </div>
        </div>
    </div>


    <div style="position: relative; height: 58px; background: #1f1f1f; border: 1px solid #252525; border-top: none;">
        <div
            style="position: absolute; top: 0; width: 100%; height: 14px; background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));">
        </div>

        <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
            <div style="color: #ffba00; text-decoration: underline;">Health & Fitness</div>
            <div
                style="border-top: 4.5px solid transparent; border-bottom: 4.5px solid transparent; border-left: 6px solid #dadada; margin: 0 10px;">
            </div>
            <div style="color: #ffba00; text-decoration: underline;">Strength Training</div>
            <div
                style="border-top: 4.5px solid transparent; border-bottom: 4.5px solid transparent; border-left: 6px solid #dadada; margin: 0 10px;">
            </div>
            <div style="color: #b4b4b4;">Isometrics Mass</div>
        </div>
    </div>

    <div
        style="position: fixed; top: 173px; right: 0; bottom: 0; left: 0; background: #1b1b1b; overflow-y: auto; padding: 12px 0;">

        <div style="margin: auto; width: 1506px;">

            <div style="display: flex;">

                <div style="margin-right: 25px;">

                    <div style="display: flex; margin-bottom: 4px; justify-content: space-between;">

                        <div style="color: #505050; font-size: 12px;">Media:</div>
                        <i class="fas fa-trash-alt" style="color: #9e9e9e;" tabindex="0"></i>
                        <i class="fas fa-pencil-alt" style="color: #9e9e9e;" tabindex="0"></i>
                    </div>



                    <div style="width: 84px; height: 500px; border: 1px dashed #505050">

                        <div style="display: flex; width: 25px; height: 25px; border: 2px solid #929292; border-radius: 50%; justify-content: center; align-items: center; margin: auto; margin-top: 29px;"
                            tabindex="0">

                            <div style="width: 5px; height: 3px; background: #aaaaaa;"></div>
                            <div style="width: 3px; height: 13px; background: #aaaaaa;"></div>
                            <div style="width: 5px; height: 3px; background: #aaaaaa;"></div>


                        </div>

                    </div>

                </div>






                <div style="margin-right: 25px;">

                    <div style="display: flex; justify-content: space-between;">

                        <div style="color: #505050; font-size: 12px;">Image:</div>


                        <div class="icon-container">
                            <icon-button *ngIf="product.image && product.image.src" [icon]="'fas fa-trash-alt'"
                                [title]="'Remove Image'" (click)="removeProductImage()">
                            </icon-button>


                            <icon-button [icon]="'fa-solid fa-image'" [title]="'Media Browser'"
                                (click)="openMediaBrowser()">
                            </icon-button>
                        </div>

                    </div>



                    <div style="display: flex; width: 500px; height: 500px; border: 1px dashed #505050; justify-content: center; align-items: center; cursor: pointer;"
                        (click)="openMediaBrowser()">

                        <div *ngIf="!product.image || !product.image.src"
                            style="width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;">
                            <i class="fa-solid fa-image" style="font-size: 100px; color: #3c3c3c;" tabindex="0"></i>
                        </div>


                        <img *ngIf="product.image && product.image.src" [src]="'images/' + product.image.src">
                    </div>

                </div>



                <div style="width: 850px; ">



                    <!-- Name -->
                    <div style="color: #505050; font-size: 12px; margin-bottom: 4px;">Name:</div>

                    <div contenteditable="true" tabindex="0"
                        style="min-height: 40px; outline: none; border: 1px dashed #505050; padding: 5px; font-size: 30px; color: white; font-weight: bold;">

                        {{product.name}}

                    </div>





                    <!-- Price -->
                    <div style="position: relative; margin-top: 35px;">
                        <div style="display: flex; justify-content: space-between; margin-bottom: 4px;">
                            <div style="color: #505050; font-size: 12px;">Price:</div>

                            <div style="position: absolute; right: 20px; top: -15px; z-index: 100;">
                                <ng-template #editPricePopup></ng-template>
                            </div>

                            <i *ngIf="product.pricePoints.length == 0" class="fas fa-pencil-alt" tabindex="0"
                                style="color: #9e9e9e; cursor: pointer;" (click)="openPricePopup()"
                                title="Edit price"></i>
                        </div>



                        <div
                            style="display: flex; align-items: center; min-height: 40px; outline: none; border: 1px dashed #505050; color: #ffba00; padding: 5px; user-select: none;">
                            <ng-container *ngIf="product.pricePoints.length == 0">{{product.minPrice | currency:'USD'}}
                            </ng-container>
                            <ng-container *ngIf="product.pricePoints.length > 0">
                                {{product.minPrice | currency:'USD'}} -
                                {{product.pricePoints.length > 1 ? (product.maxPrice | currency:'USD') : ''}}
                            </ng-container>
                        </div>
                    </div>




                    <!-- Shipping -->
                    <div style="position: relative; margin-top: 35px;">


                        <div style="display: flex; justify-content: space-between; margin-bottom: 4px;">

                            <div style="color: #505050; font-size: 12px;">Shipping:</div>

                            <div style="position: absolute; right: 42px; top: -15px; z-index: 100;">
                                <ng-template #editShippingPopup></ng-template>
                            </div>

                            <div *ngIf="product.shippingType != shippingType.None">
                                <i class="fas fa-pencil-alt" style="color: #9e9e9e; cursor: pointer;" tabindex="0"
                                    title="Edit shipping" (click)="openShippingPopup(PopupArrowPosition.TopRight)"></i>
                                <i class="fas fa-trash-alt" style="color: #9e9e9e; margin-left: 10px; cursor: pointer;"
                                    tabindex="0" title="Remove shipping"
                                    (click)="product.shippingType = 0; updateShipping()"></i>
                            </div>


                        </div>



                        <div
                            style="min-height: 40px; display: flex; border: 1px dashed #505050; align-items: center; padding: 5px;">

                            <div *ngIf="product.shippingType == shippingType.None"
                                style="display: flex; width: 18px; height: 18px; border: 1px solid #929292; border-radius: 50%; justify-content: center; align-items: center; cursor: pointer;"
                                (click)="openShippingPopup(PopupArrowPosition.TopLeft)" tabindex="0">

                                <div style="width: 4px; height: 2px; background: #aaaaaa;"></div>
                                <div style="width: 2px; height: 10px; background: #aaaaaa;"></div>
                                <div style="width: 4px; height: 2px; background: #aaaaaa;"></div>
                            </div>

                            <shipping *ngIf="product.shippingType != shippingType.None"
                                [shippingType]="product.shippingType"></shipping>

                            <div style="position: absolute; left: 29px; top: 13px; z-index: 100;">
                                <ng-template #addShippingPopup></ng-template>
                            </div>

                        </div>

                    </div>




                    <!-- Recurring -->
                    <div style="position: relative; margin-top: 35px;">


                        <div style="display: flex; margin-bottom: 4px; justify-content: space-between;">

                            <div style="color: #505050; font-size: 12px;">Recurring Payment:</div>

                            <div style="position: absolute; right: 42px; top: -15px; z-index: 100;">
                                <ng-template #editRecurringPopup></ng-template>
                            </div>

                            <div *ngIf="product.recurringPayment.recurringPrice > 0">
                                <i class="fas fa-pencil-alt" style="color: #9e9e9e; cursor: pointer;" tabindex="0"
                                    title="Edit recurring payment"
                                    (click)="openRecurringPopup(PopupArrowPosition.TopRight)"></i>
                                <i class="fas fa-trash-alt" style="color: #9e9e9e; margin-left: 10px; cursor: pointer;"
                                    tabindex="0" title="Remove recurring payment"
                                    (click)="removeRecurringPayment()"></i>
                            </div>

                        </div>



                        <div
                            style="min-height: 40px; border: 1px dashed #505050; padding: 5px; display: flex; align-items: center;">

                            <div>
                                <div *ngIf="product.recurringPayment.recurringPrice == 0"
                                    style="display: flex; width: 18px; height: 18px; border: 1px solid #929292; border-radius: 50%; justify-content: center; align-items: center; cursor: pointer;"
                                    (click)="openRecurringPopup(PopupArrowPosition.TopLeft)" tabindex="0">

                                    <div style="width: 4px; height: 2px; background: #aaaaaa;"></div>
                                    <div style="width: 2px; height: 10px; background: #aaaaaa;"></div>
                                    <div style="width: 4px; height: 2px; background: #aaaaaa;"></div>
                                </div>


                                <div style="position: absolute; left: 29px; top: 13px; z-index: 100;">
                                    <ng-template #addRecurringPopup></ng-template>
                                </div>


                                <recurring-payment *ngIf="product.recurringPayment.recurringPrice > 0"
                                    [recurringPayment]="product.recurringPayment">
                                </recurring-payment>



                            </div>


                        </div>

                    </div>





                    <!-- Hoplink -->
                    <div style="position: relative; margin-top: 35px;">


                        <div style="display: flex; margin-bottom: 4px; justify-content: space-between;">

                            <div style="color: #505050; font-size: 12px;">Hoplink:</div>

                            <div style="position: absolute; right: 20px; top: -15px; z-index: 100;">
                                <ng-template #editHoplinkPopup></ng-template>
                            </div>

                            <i *ngIf="product.hoplink" class="fas fa-pencil-alt" title="Edit hoplink" tabindex="0"
                                style="color: #9e9e9e; cursor: pointer;"
                                (click)="openHoplinkPopup(PopupArrowPosition.TopRight)"></i>

                        </div>



                        <div
                            style="display: flex; min-height: 40px; border: 1px dashed #505050; align-items: center; padding: 5px;">

                            <div *ngIf="!product.hoplink"
                                style="display: flex; width: 18px; height: 18px; border: 1px solid #929292; border-radius: 50%; justify-content: center; align-items: center; cursor: pointer;"
                                (click)="openHoplinkPopup(PopupArrowPosition.TopLeft)" tabindex="0">

                                <div style="width: 4px; height: 2px; background: #aaaaaa;"></div>
                                <div style="width: 2px; height: 10px; background: #aaaaaa;"></div>
                                <div style="width: 4px; height: 2px; background: #aaaaaa;"></div>

                            </div>

                            <div style="position: absolute; left: 29px; top: 13px; z-index: 100;">
                                <ng-template #addHoplinkPopup></ng-template>
                            </div>


                            <a [href]="product.hoplink" style="color: #ffba00;" target="_blank">{{product.hoplink}}</a>


                        </div>

                    </div>



                    <!-- Description -->
                    <div style="position: relative; margin-top: 35px;">
                        <div style="color: #505050; font-size: 12px; margin-bottom: 4px">Description:</div>
                        <div style="min-height: 32px; border: 1px dashed #505050; padding: 5px;">
                            <product-description [product]="product" [apiUrl]="'Description'"></product-description>
                        </div>

                    </div>


                </div>
            </div>
        </div>




        <ng-container *ngIf="product.pricePoints.length == 0">
            <div style="margin: auto; width: 1506px;">
                <div style="margin: 0 7px 4px; color: #505050; font-size: 12px; margin-top: 37px;">Price Points:</div>
                <div
                    style="display: flex; height: 40px; border: 1px dashed #505050; align-items: center; padding-left: 10px;">
                    <div style="display: flex; width: 18px; height: 18px; border: 1px solid #929292; border-radius: 50%; justify-content: center; align-items: center; cursor: pointer;"
                        (click)="addPricePoints()" tabindex="0">
                        <div style="width: 4px; height: 2px; background: #aaaaaa;"></div>
                        <div style="width: 2px; height: 10px; background: #aaaaaa;"></div>
                        <div style="width: 4px; height: 2px; background: #aaaaaa;"></div>
                    </div>
                </div>
            </div>
        </ng-container>


        <price-points *ngIf="product.pricePoints.length > 0" #pricePoints [product]="product"></price-points>




        <div style="margin: auto; width: 1506px;">
            <div style="margin: 0 7px 4px; color: #505050; font-size: 12px; margin-top: 37px;">Components:</div>
            <div style="border: 1px dashed #505050;">
                <div *ngIf="!product.components || product.components.length == 0"
                    style="display: flex; height: 40px; align-items: center; font-size: 16px; margin-left: 10px; color: #a3a3a3; cursor: pointer;">
                    <i class="fa-solid fa-plus" (click)="addSubproduct(subproductType.Component)"></i>
                </div>

                <subproducts *ngIf="product.components && product.components.length > 0"
                    [subproducts]="product.components" [subproductType]="subproductType.Component"
                    [productId]="product.id" [productName]="product.name"></subproducts>
            </div>
        </div>




        <div style="margin: auto; width: 1506px;">
            <div style="margin: 0 7px 4px; color: #505050; font-size: 12px; margin-top: 37px;">Bonuses:</div>
            <div style="border: 1px dashed #505050;">
                <div *ngIf="!product.bonuses || product.bonuses.length == 0"
                    style="display: flex; height: 40px; align-items: center; font-size: 16px; margin-left: 10px; color: #a3a3a3; cursor: pointer;">
                    <i class="fa-solid fa-plus" (click)="addSubproduct(subproductType.Bonus)"></i>
                </div>

                <subproducts *ngIf="product.bonuses && product.bonuses.length > 0" [subproducts]="product.bonuses"
                    [subproductType]="subproductType.Bonus" [productId]="product.id" [productName]="product.name">
                </subproducts>
            </div>
        </div>
    </div>
</div>