::selection {
    background: rgba(255, 187, 0, 0.308);
}

.fa-truck-fast, .fa-clock {
    font-size: 14px;
    color: #ffba00;
    margin-right: 9px;
}

.header-text {
    font-size: 14px;
    color: #e4e4e4;
}

.billing-text {
    font-size: 12px;
    color: #ffba00;
    font-style: italic;
    margin-left: 23px;
}