<div class="product-properties-container">
    <product-image-property></product-image-property>
    <product-media-property></product-media-property>
    <product-price-property></product-price-property>
    <product-hoplink-property></product-hoplink-property>
    <product-description-property></product-description-property>
    <product-subproducts-property></product-subproducts-property>
    <product-filters-property></product-filters-property>
    <product-keywords-property></product-keywords-property>
    <product-vendor-property></product-vendor-property>
    <product-groups-property [productGroups]="productGroups"></product-groups-property>
</div>