<div class="product-property-hover-container">
    <div class="product-property-label">Strikethrough Price:</div>
    <div class="strikethrough-price-container product-property-input-container product-dashed-border-bright">
        <div #strikethroughPrice
             tabindex="0"
             class="strikethrough-price"
             contenteditable="true"
             (focus)="onFocus(strikethroughPrice)"
             (input)="onInput(strikethroughPrice)"
             (blur)="onBlur(pricePoint, 'strikethroughPrice', strikethroughPrice, true)"
             (keydown.escape)="onEscape(pricePoint, 'strikethroughPrice', strikethroughPrice)"
             (keydown.enter)="strikethroughPrice.blur()"
             (paste)="onPaste($event, strikethroughPrice, true)">
                {{isWholeNumber(pricePoint.strikethroughPrice) ? (pricePoint.strikethroughPrice | currency:'USD':'symbol':'0.0-0') : (pricePoint.strikethroughPrice | currency:'USD':'symbol':'0.2-2')}}
        </div>
    </div>
</div>