.strikethrough-price-container {
    width: 131px;
    height: 40px;
    color: #eb01c8;
    text-decoration: line-through;
    font-size: 22px;
    line-height: 40px;
    font-weight: normal;
}


.strikethrough-price {
    color: #ffba00;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
}