<div #container class="product-group-container">

    <!-- Caption -->
    <div class="caption">
        {{caption}}
    </div>

    <!-- Slider -->
    <div class="slider-container">
        <div #slider class="slider" [style.transform]="'translateX(-' + translate + 'px)'">

            <!-- Products -->
            <ng-container *ngFor="let product of products">
                <div class="product-thumbnail-container">
                    <product-thumbnail [product]="product"></product-thumbnail>
                </div>
            </ng-container>
        </div>

        <!-- Left Button -->
        <div class="left-button" *ngIf="translate != 0" (click)="onLeftButtonClick()">
        </div>

        <!-- Right Button -->
        <div class="right-button" *ngIf="!isLastPage(container.offsetWidth)"
            (click)="onRightButtonClick(container.offsetWidth)">
        </div>
    </div>
</div>