<div class="item-container">

    <div *ngIf="listManager.editableItem != null">
        <div [style.width.px]="listManager.getListItem(this).hierarchyGroupID ? (listManager.getListItem(this).hierarchyGroupID! * 35) + 22 : 0"></div>
    </div>

    <div #htmlItem 
        class="item" 
        tabindex="-1"
        (contextmenu)="$event.preventDefault()"
        (mousedown)="listManager.onItemComponentMousedown(listManager.getListItem(this), $event)"
        (blur)="listManager.onItemBlur(listManager.getListItem(this))"
        (dblclick)="listManager.onItemDoubleClick(listManager.getListItem(this))"
        [contentEditable]="listManager.getListItem(this) == listManager.editableItem"
        [ngClass]="{'selected-item': listManager.getListItem(this) == listManager.selectedItem,
                    'unselected-item': listManager.getListItem(this) == listManager.unselectedItem,
                    'edited-item': listManager.getListItem(this) == listManager.editableItem,
                    'transparent-item': listManager.editableItem != null && listManager.editableItem != listManager.getListItem(this),
                    'selected-item-top': listManager.getListItem(this).selectType == listManager.SelectType.Top,
                    'selected-item-all': listManager.getListItem(this).selectType == listManager.SelectType.All,
                    'selected-item-middle': listManager.getListItem(this).selectType == listManager.SelectType.Middle,
                    'selected-item-bottom': listManager.getListItem(this).selectType == listManager.SelectType.Bottom}">

        <div *ngIf="listManager.editableItem == null" [style.width.px]="listManager.getListItem(this).hierarchyGroupID ? (listManager.getListItem(this).hierarchyGroupID! * 35) + 22 : 0"></div>

        {{listManager.getListItem(this).name}}
    </div>
</div>