<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>


    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base" tabindex="-1">

            <!-- Header -->
            <div class="header">
                Add to List

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>
            

            <!-- Content -->
            <div class="content">

                <div class="product-container">
                    <div class="product-name">
                        {{product.name}}
                    </div>


                    <div class="img-container">

                        <div class="media-backdrop">
                            <img [src]="'images/' + productImage" [title]="product.name"
                                [alt]="product.name">
                        </div>


                    </div>

                </div>


                <ng-container *ngIf="lists">



                    <ng-container *ngIf="lists.length == 0">
                        <div class="no-lists">
                            No lists available. Please create a list.
                        </div>

                        

                    </ng-container>


                    <ng-container *ngIf="lists.length == 1">
                        <div class="one-list">
                            The item above will be added to the list:
                        </div>
                        <div class="prompt-value">{{lists[0].key}}</div>
                    </ng-container>






                    <ng-container *ngIf="lists.length > 1">
                        <div class="label">Select Your List:</div>
                        <div #radioButtonsContainer class="radio-buttons-container" (scroll)="onScroll(radioButtonsContainer)" (wheel)="onMouseWheel($event, radioButtonsContainer)">
                            <ng-container *ngFor="let list of lists">
                                <label class="radio" style="display: block;">
                                    <div>{{list.key}}</div>
                                    <input type="radio" name="list" [checked]="list == selectedList" (change)="selectedList = list;">
                                    <span id="radioButton" #tabElement class="checkmark" tabindex="-1"></span>
                                </label>
                            </ng-container>
                        </div>
                    </ng-container>

                </ng-container>









                <div class="buttons">

                    <button #tabElement class="purple-button" (click)="createList()">Create list</button>

                    <div class="button-container">
                        <button #tabElement class="dark-button" (click)="close()">Cancel</button>
                        <button #tabElement class="gold-rect-button" (click)="onSubmit()"
                            [disabled]="!lists || lists.length == 0">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>