@import '../../../scss/variables.scss';


.product-container {
    text-align: center;
}

.product-name {
    font-size: 13px;
    font-weight: bold;
    color: #c0c0c0;
    margin-bottom: 12px;
}

.media-backdrop {
    width: 150px;
    height: 150px;
}

.img-container {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 150px;
        max-height: 150px;
    }
}



.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}


.purple-button {
    max-width: 85px;
}


.radio-buttons-container {
    border: 1px solid #343434;
    padding: 0 10px 9px;
    overflow: auto;
    height: 100%;
    max-height: 115px;
}

.radio {
    
        margin-bottom: 0;
        margin-top: 10px;
}

button {
    flex-shrink: 0;
}

.no-lists {
    margin: auto;
    width: fit-content;
    margin-bottom: 5px;
    color: $error-color;
}

.one-list {
    font-weight: bold;
    color: #dadada;
    margin: auto;
    width: fit-content;
    margin-bottom: 6px;
}

.prompt-value {
    margin: auto;
    width: fit-content;
    // margin-bottom: 23px;
}

@media(max-width: 285px) {
    button {
        flex-shrink: 1;
    }
}

@media(max-width: 242px) {
    button {
        height: 35px;
    }
}