<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="transparent-backdrop" (click)="close()" [ngClass]="{'backdrop': !duplicateItemPrompt && !createListForm && !logInForm}"></div>


    <!-- Container -->
    <div class="fade-in container" [ngClass]="{'fade-out': fadeOut}">

        <!-- Base -->
        <div class="base">

            <!-- Header -->
            <div class="header">
                Add to List

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <!-- Content -->
            <div class="content">

                <div class="product-container">
                    <div class="product-name">
                        {{product.name}}
                    </div>

                    <div class="img-container">

                        <div class="media-backdrop">
                            <img [src]="'images/' + product.media[0].image" [title]="product.media[0].name"
                                [alt]="product.media[0].name">
                        </div>


                    </div>

                </div>

                <div class="label">Select Your List:</div>
                <div class="radio-buttons-container" [ngClass]="{'no-lists': !lists || lists.length == 0}">
                    <ng-container *ngIf="lists && lists.length > 0">
                        <ng-container *ngFor="let list of lists">
                            <label class="radio" style="display: block;">
                                <div>{{list.key}}</div>
                                <input type="radio" name="list" [checked]="list == selectedList" (change)="selectedList = list">
                                <span class="checkmark"></span>
                            </label>
                        </ng-container>
                    </ng-container>
                    

                    <ng-container *ngIf="lists && lists.length == 0">
                        <div>
                            You currently have no lists.
                        </div>
                        
                    </ng-container>

                </div>

                <div class="buttons">

                    <button class="purple-button" (click)="createList()">Create list</button>

                    <div class="button-container">
                        <button class="dark-button" (click)="close()">Cancel</button>
                        <button class="gold-rect-button" (click)="onSubmit()" [disabled]="!lists || lists.length == 0">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>