<panel [title]="'Text'">
    <!-- Font -->
    <div class="property">
        <div class="label">Font</div>
        <div style="flex: 1;">
            <select [(ngModel)]="textBox.fontFamily.selectedOption"
                (change)="textBox.fontFamily.setStyle(); textBox.setText()">
                <option *ngFor="let option of textBox.fontFamily.options" [ngValue]="option">{{option.key}}</option>
            </select>
        </div>
    </div>



    <!-- Font Size -->
    <div class="property">
        <div class="label">Font Size</div>
        <div style="flex: 1;">
            <select [(ngModel)]="textBox.fontSize.selectedOption"
                (change)="textBox.fontSize.setStyle(); textBox.setText()">
                <option *ngFor="let option of textBox.fontSize.options" [ngValue]="option">{{option.key}}</option>
            </select>
        </div>
    </div>



    <!-- Font Color -->
    <div class="property">
        <div class="label">Color</div>
        <div style="flex: 1;">
            <color-swatch [color]="textBox.fontColor.rgbColor"
                (onChange)="textBox.fontColor.setStyle(); textBox.render()"
                (onColorPickerClose)="textBox.fontColor.onColorPickerClose(); textBox.setText()">
            </color-swatch>
        </div>
    </div>




    <!-- Hightlight -->
    <div class="property">
        <div class="label">Highlight</div>
        <div style="flex: 1;">
            <color-swatch [color]="textBox.highlightColor.rgbColor"
                (onChange)="textBox.highlightColor.setStyle(); textBox.render()"
                (onClick)="textBox.highlightColor.color == '#00000000' ? textBox.highlightColor.color = '#ffff00': null"
                (onColorPickerClose)="textBox.highlightColor.onColorPickerClose(); textBox.setText()">
            </color-swatch>
        </div>
    </div>



    <!-- Alignment -->
    <div class="property">
        <div class="label">Alignment</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Align Left -->
            <div class="icon-container" title="Left align (Ctrl+Shift+L)" (click)="
                textBox.alignLeft.setStyle();
                textBox.alignCenter.isSelected = false;
                textBox.alignRight.isSelected = false;
                textBox.alignJustify.isSelected = false; 
                textBox.setText()" [ngClass]="{'selected': textBox.alignLeft.isSelected}">
                <i class="fas fa-align-left"></i>
            </div>

            <!-- Align Center -->
            <div class="icon-container" title="Center align (Ctrl+Shift+E)" (click)="
                textBox.alignCenter.setStyle();
                textBox.alignLeft.isSelected = false;
                textBox.alignRight.isSelected = false;
                textBox.alignJustify.isSelected = false;
                textBox.setText()" [ngClass]="{'selected': textBox.alignCenter.isSelected}">
                <i class="fas fa-align-center"></i>
            </div>


            <!-- Align Right -->
            <div class="icon-container" title="Right align (Ctrl+Shift+R)" (click)="
                textBox.alignRight.setStyle();
                textBox.alignCenter.isSelected = false;
                textBox.alignLeft.isSelected = false;
                textBox.alignJustify.isSelected = false;
                textBox.setText()" [ngClass]="{'selected': textBox.alignRight.isSelected}">
                <i class="fas fa-align-right"></i>
            </div>


            <!-- Align Justify -->
            <div class="icon-container" title="Justify (Ctrl+Shift+J)" (click)="
                textBox.alignJustify.setStyle();
                textBox.alignCenter.isSelected = false;
                textBox.alignRight.isSelected = false;
                textBox.alignLeft.isSelected = false;
                textBox.setText()" [ngClass]="{'selected': textBox.alignJustify.isSelected}">
                <i class="fas fa-align-justify"></i>
            </div>
        </div>
    </div>




    <!-- Font Style -->
    <div class="property">
        <div class="label">Style</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Bold -->
            <div class="style-icon" (click)="textBox.bold.setStyle(); textBox.setText()"
                [ngClass]="{'selected': textBox.bold.isSelected}">
                <i class="fas fa-bold"></i>
            </div>

            <!-- Italic -->
            <div class="style-icon" (click)="textBox.italic.setStyle(); textBox.setText()"
                [ngClass]="{'selected': textBox.italic.isSelected}">
                <i class="fas fa-italic"></i>
            </div>

            <!-- Underline -->
            <div class="style-icon" (click)="textBox.underline.setStyle(); textBox.setText()"
                [ngClass]="{'selected': textBox.underline.isSelected}">
                <i class="fas fa-underline"></i>
            </div>
        </div>
    </div>



    <!-- Bullets -->
    <div class="property">
        <div class="label">Bullets</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>


            <!-- Bulleted list -->
            <!-- <div class="icon-container" title="Bulleted list (Ctrl+Shift+8)" (click)="bulletedList.setStyle(); numberedList.isSelected = false"
                [ngClass]="{'selected': bulletedList.isSelected}">
                <i class="fas fa-list-ul"></i>
            </div> -->


            <!-- Numbered list -->
            <!-- <div class="icon-container" title="Numbered list (Ctrl+Shift+7)" (click)="numberedList.setStyle(); bulletedList.isSelected = false"
                [ngClass]="{'selected': numberedList.isSelected}">
                <i class="fas fa-list-ol"></i>
            </div> -->
        </div>
    </div>





    <!-- Indent -->
    <div class="property">
        <div class="label">Indent</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Decrease indent -->
            <!-- <div class="icon-container" title="Decrease indent (ctrl+[)" (click)="decreaseIndent.setStyle()">
                <i class="fas fa-outdent"></i>
            </div> -->


            <!-- Increase indent -->
            <!-- <div class="icon-container" title="Increase indent (ctrl+])" (click)="increaseIndent.setStyle()">
                <i class="fas fa-indent"></i>
            </div> -->
        </div>
    </div>




    <!-- Link -->
    <div class="property">
        <div class="label">Link</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">
            <div class="icon-container" title="Link" (click)="textBox.linkStyle.setStyle(); textBox.setText()">
                <i class="fas fa-outdent"></i>
            </div>

            <div class="icon-container" title="Remove Link" (click)="textBox.linkStyle.removeLink(); textBox.setText()">
                <i class="fas fa-outdent"></i>
            </div>
        </div>
    </div>




    <!-- Case -->
    <div class="property">
        <div class="label">Case</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">



            <!-- Lower Case -->
            <div class="icon-container" title="Lower Case" (click)="textBox.lowerCase.setStyle(); textBox.setText()">
                <i class="fas fa-outdent"></i>
            </div>

            <!-- Upper Case -->
            <div class="icon-container" title="Upper Case" (click)="textBox.upperCase.setStyle(); textBox.setText()">
                <i class="fas fa-outdent"></i>
            </div>


            <!-- Sentence Case -->
            <div class="icon-container" title="Sentence Case"
                (click)="textBox.sentenceCase.setStyle(); textBox.setText()">
                <i class="fas fa-outdent"></i>
            </div>


            <!-- Title Case -->
            <div class="icon-container" title="Title Case" (click)="textBox.titleCase.setStyle(); textBox.setText()">
                <i class="fas fa-outdent"></i>
            </div>



        </div>
    </div>


</panel>