<panel [title]="'Text'">
    <!-- Font -->
    <div class="property">
        <div class="label">Font</div>
        <div style="flex: 1;">
            <select [(ngModel)]="text.fontFamily.selectedOption" (change)="text.fontFamily.setStyle(); text.render()">
                <option *ngFor="let option of text.fontFamily.options" [ngValue]="option">{{option.key}}</option>
            </select>
        </div>
    </div>



    <!-- Font Size -->
    <div class="property">
        <div class="label">Font Size</div>
        <div style="flex: 1;">
            <select [(ngModel)]="text.fontSize.selectedOption" (change)="text.fontSize.setStyle(); text.render()">
                <option *ngFor="let option of text.fontSize.options" [ngValue]="option">{{option.key}}</option>
            </select>
        </div>
    </div>



    <!-- Font Color -->
    <div class="property">
        <div class="label">Color</div>
        <div style="flex: 1;">
            <color-swatch [color]="text.fontColor.rgbColor" (onChange)="text.fontColor.setStyle(); text.render()">
            </color-swatch>
        </div>
    </div>




    <!-- Hightlight -->
    <div class="property">
        <div class="label">Highlight</div>
        <div style="flex: 1;">
            <color-swatch [color]="text.highlightColor.rgbColor"
                (onChange)="text.highlightColor.setStyle(); text.render()">
            </color-swatch>
        </div>
    </div>



    <!-- Alignment -->
    <div class="property">
        <div class="label">Alignment</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Align Left -->
            <div class="icon-container" title="Left align (Ctrl+Shift+L)" (click)="
                text.alignLeft.setStyle();
                text.alignCenter.isSelected = false;
                text.alignRight.isSelected = false;
                text.alignJustify.isSelected = false; 
                text.render()" [ngClass]="{'selected': text.alignLeft.isSelected}">
                <i class="fas fa-align-left"></i>
            </div>

            <!-- Align Center -->
            <div class="icon-container" title="Center align (Ctrl+Shift+E)" (click)="
                text.alignCenter.setStyle();
                text.alignLeft.isSelected = false;
                text.alignRight.isSelected = false;
                text.alignJustify.isSelected = false;
                text.render()" [ngClass]="{'selected': text.alignCenter.isSelected}">
                <i class="fas fa-align-center"></i>
            </div>


            <!-- Align Right -->
            <div class="icon-container" title="Right align (Ctrl+Shift+R)" (click)="
                text.alignRight.setStyle();
                text.alignCenter.isSelected = false;
                text.alignLeft.isSelected = false;
                text.alignJustify.isSelected = false;
                text.render()" [ngClass]="{'selected': text.alignRight.isSelected}">
                <i class="fas fa-align-right"></i>
            </div>


            <!-- Align Justify -->
            <div class="icon-container" title="Justify (Ctrl+Shift+J)" (click)="
                text.alignJustify.setStyle();
                text.alignCenter.isSelected = false;
                text.alignRight.isSelected = false;
                text.alignLeft.isSelected = false;
                text.render()" [ngClass]="{'selected': text.alignJustify.isSelected}">
                <i class="fas fa-align-justify"></i>
            </div>
        </div>
    </div>




    <!-- Font Style -->
    <div class="property">
        <div class="label">Style</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Bold -->
            <div class="style-icon" (click)="text.bold.setStyle(); text.render()"
                [ngClass]="{'selected': text.bold.isSelected}">
                <i class="fas fa-bold"></i>
            </div>

            <!-- Italic -->
            <div class="style-icon" (click)="text.italic.setStyle(); text.render()"
                [ngClass]="{'selected': text.italic.isSelected}">
                <i class="fas fa-italic"></i>
            </div>

            <!-- Underline -->
            <div class="style-icon" (click)="text.underline.setStyle(); text.render()"
                [ngClass]="{'selected': text.underline.isSelected}">
                <i class="fas fa-underline"></i>
            </div>
        </div>
    </div>



    <!-- Bullets -->
    <div class="property">
        <div class="label">Bullets</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>


            <!-- Bulleted list -->
            <!-- <div class="icon-container" title="Bulleted list (Ctrl+Shift+8)" (click)="bulletedList.setStyle(); numberedList.isSelected = false"
                [ngClass]="{'selected': bulletedList.isSelected}">
                <i class="fas fa-list-ul"></i>
            </div> -->


            <!-- Numbered list -->
            <!-- <div class="icon-container" title="Numbered list (Ctrl+Shift+7)" (click)="numberedList.setStyle(); bulletedList.isSelected = false"
                [ngClass]="{'selected': numberedList.isSelected}">
                <i class="fas fa-list-ol"></i>
            </div> -->
        </div>
    </div>





    <!-- Indent -->
    <div class="property">
        <div class="label">Indent</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Spacer -->
            <div class="icon-container" style="cursor: default;"></div>

            <!-- Decrease indent -->
            <!-- <div class="icon-container" title="Decrease indent (ctrl+[)" (click)="decreaseIndent.setStyle()">
                <i class="fas fa-outdent"></i>
            </div> -->


            <!-- Increase indent -->
            <!-- <div class="icon-container" title="Increase indent (ctrl+])" (click)="increaseIndent.setStyle()">
                <i class="fas fa-indent"></i>
            </div> -->
        </div>
    </div>




    <!-- Link -->
    <div class="property">
        <div class="label">Link</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">
            <div class="icon-container" title="Link" (click)="text.linkStyle.setStyle(); text.render()">
                <i class="fas fa-outdent"></i>
            </div>

            <!-- <div class="icon-container" title="Remove Link" (click)="linkStyle.removeLink()">
                <i class="fas fa-outdent"></i>
            </div> -->
        </div>
    </div>




    <!-- Case -->
    <div class="property">
        <div class="label">Case</div>
        <div style="flex: 1; display: flex; justify-content: space-between;">



            <!-- Lower Case -->
            <div class="icon-container" title="Lower Case" (click)="text.lowerCase.setStyle(); text.render()">
                <i class="fas fa-outdent"></i>
            </div>

            <!-- Upper Case -->
            <div class="icon-container" title="Upper Case" (click)="text.upperCase.setStyle(); text.render()">
                <i class="fas fa-outdent"></i>
            </div>


            <!-- Sentence Case -->
            <div class="icon-container" title="Sentence Case" (click)="text.sentenceCase.setStyle(); text.render()">
                <i class="fas fa-outdent"></i>
            </div>


            <!-- Title Case -->
            <div class="icon-container" title="Title Case" (click)="text.titleCase.setStyle(); text.render()">
                <i class="fas fa-outdent"></i>
            </div>



        </div>
    </div>


</panel>