.product-form {
    position: absolute;
    top: 40px;
    width: 100%;
}

.product-form-header-border {
    height: 42px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 1px;
    background: linear-gradient(#545454, #262626);
}


.product-form-header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(#323232, #202020);
}


.product-container {
    position: fixed;
    top: 173px;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1b1b1b;
    overflow-y: auto;
    padding: 12px 0 120px;
}


.product {
    margin: auto;
    width: 1506px;
}


.flex-container {
    display: flex;
}


.top-right-container {
    position: relative;
    width: 877px;
    margin-top: 12px;
}


.separator {
    height: 44px;
}