.product-form {
    position: absolute;
    top: 40px;
    width: 100%;
}

.product-form-header-border {
    height: 42px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 1px;
    background: linear-gradient(#545454, #262626);
}


.product-form-header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(#323232, #202020);
}






.breadcrumb-base {
    position: relative;
    height: 58px;
    background: #1f1f1f;
    border: 1px solid #252525;
    border-top: none;
}


.drop-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 14px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}


.breadcrumb-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.breadcrumb {
    color: #ffba00;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: lighten(#ffba00, 15);
    }
}


.breadcrumb-arrow {
    border-top: 4.5px solid transparent;
    border-bottom: 4.5px solid transparent;
    border-left: 6px solid #dadada;
    margin: 0 10px;
}


.breadcrumb-product {
    color: #b4b4b4;
}


.product-container {
    position: fixed;
    top: 173px;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1b1b1b;
    overflow-y: auto;
    padding: 12px 0 70px;
}


.product {
    margin: auto;
    width: 1506px;
}


.flex-container {
    display: flex;
}


.media-container {
    margin: 12px 25px 0 0;
}
















.media-selector-popup-container {
    position: absolute;
    z-index: 100;
    left: 704px;
    top: 52px;
}


.media-display-container {
    display: flex;
    width: 524px;
    height: 524px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        .image-icon-container {
            .fa-image {
                color: lighten(#3c3c3c, 6);
            }
        }
    }
}


.image-icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-image {
        font-size: 100px;
        color: #3c3c3c;
    }
}


.iframe-container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

    iframe {
        width: 500px;
        height: 281.25px;
        border: 1px solid #222222;
    }
}


.top-right-container {
    position: relative;
    width: 877px;
    margin-top: 12px;
}



.title-case-icon-button-container {
    position: absolute;
    top: -6px;
    right: 1px;
}


// .name-property-container {
//     margin-top: 12px;
// }


.name-container {
    font-size: 30px;
    color: white;
    font-weight: bold;
    outline: none;
    padding: 7px 0 5px 10px;
}


.edit-popup-container-1 {
    position: absolute;
    right: 20px;
    top: -17px;
    z-index: 100;
}


// .edit-icon-button-container {
//     margin: -7px 0 6px;
// }


.price-container {
    color: #ffba00;
    user-select: none;
    margin: 9px 10px;
}


.edit-popup-container-2 {
    position: absolute;
    right: 45px;
    top: -17px;
    z-index: 100;
}


.shipping-container {
    margin: 10px 7px 0;
}


.add-popup-container {
    position: absolute;
    top: 11px;
    left: 33px;
    z-index: 100;
}



.recurring-container {
    margin: 9px 4px 7px;
}


.hoplink-container {
    margin: 8px 10px 0;
}


.hoplink {
    color: #ffba00;
    outline: none;

    &:focus {
        color: #ffdd81;
        font-size: 15px;
        margin-left: -5px;
    }
}


.description-container {
    position: relative;
    padding: 7px 10px;
}


.label-and-icon-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.label {
    color: #505050;
    font-size: 12px;
    margin-bottom: 4px;
    user-select: none;
    flex: 1;
}


.icon-button-container {
    margin-top: -6px;
}


.dashed-border {
    min-height: 36px;
    border: 1px dashed #3d3d3d;
}


.property-container {
    position: relative;
    margin-top: 38px;
}





.name-property-container {
    &:hover {
        .label {
            color: #858585;
        }

        div:nth-child(2) {
            border-color: #8f8f8f;
        }
    }

    &:focus-within {
        .label {
            color: #858585;
        }

        div:nth-child(2) {
            border-color: #8f8f8f;
        }
    }
}




.description-property-container {
    position: relative;
    margin-top: 38px;

    &:hover {
        .label {
            color: #858585;
        }

        div:nth-child(2) {
            border-color: #8f8f8f;
        }
    }

    &:focus-within {
        .label {
            color: #858585;
        }

        div:nth-child(2) {
            border-color: #8f8f8f;
        }
    }
}




// .fa-pencil-alt {
//     color: #828282;
//     cursor: pointer;
//     outline: none;

//     &:hover:not(.edit-button-focus) {
//         color: #b4b4b4;
//     }


//     &:active {
//         color: #dadada;
//     }

//     &:focus-visible {
//         color: #dadada;
//         transform: scale(1.2);
//     }
// }


// .edit-button-focus {
//     color: #dadada;
//     transform: scale(1.2);
// }


.plus-button-container {
    display: flex;
    margin-top: -1px;
}



// .fa-circle-xmark {
//     color: #808080;
//     font-size: 18px;
//     transform: rotate(45deg);
//     outline: none;
//     cursor: pointer;

//     &:hover:not(.plus-button-focus) {
//         color: lighten(#808080, 15);
//     }

//     &:focus {
//         color: #dadada;
//         transform: rotate(45deg) scale(1.15);
//     }
// }


// .plus-button-focus {
//     color: #dadada;
//     transform: rotate(45deg) scale(1.15);
// }