<!-- Product Form -->
<div class="product-form" [style.z-index]="zIndex">

    <!-- Product Header -->
    <div class="product-form-header-border" (contextmenu)="$event.preventDefault()">
        <div class="product-form-header-container">
            <!-- Circle Buttons -->
            <product-circle-buttons #circleButtons [product]="product"></product-circle-buttons>
        </div>
    </div>

    <!-- Breadcrumbs -->
    <product-breadcrumbs [product]="product"></product-breadcrumbs>
    
    <!-- Product -->
    <div class="product-container">
        <div class="product">
            <div class="flex-container">
                <product-media-list [product]="product" [productForm]="this"></product-media-list>
                <product-media-display [product]="product" [productForm]="this"></product-media-display>

                <div class="top-right-container">
                    <product-name [product]="product"></product-name>
                    <product-price [product]="product"></product-price>
                    <product-shipping [product]="product"></product-shipping>
                    <product-recurring-payment [product]="product"></product-recurring-payment>
                    <product-hoplink [product]="product"></product-hoplink>
                    <product-description [product]="product"></product-description>
                </div>
            </div>


            <product-price-points [product]="product"></product-price-points>
            <div *ngIf="product.pricePoints.length > 0 || (product.components && product.components.length > 0)" class="separator"></div>
            <product-components [product]="product"></product-components>
            <div *ngIf="(product.components && product.components.length > 0) || (product.bonuses && product.bonuses.length > 0)" class="separator"></div>
            <product-bonuses [product]="product"></product-bonuses>
        </div>
    </div>
</div>