<div id="menuContainer" class="translate-start menu-container" [ngClass]="{'translate-end': show}" (transitionend)="onHide()" tabindex="0" (blur)="close()">

    <div class="menu-bar">
        <div class="x" (click)="close()">X</div>
    </div>

    <div class="side-menu-content-container">

        <!-- Content -->
        <div class="side-menu-content">

            <lists-menu [lists]="lists" [selectedList]="selectedList" (onListClick)="close(); onListClick.emit($event)" (onCreateNewListClick)="onCreateNewListClick.emit()"></lists-menu>

        </div>
    </div>
</div>

<div class="lists-side-menu-backdrop hide" [ngClass]="{'show': show}"></div>