<div style="z-index: 998;" id="menuContainer" class="translate-start side-menu-container"
    [ngClass]="{'translate-end': show}" (transitionend)="onHide()">

    <div class="side-menu-bar">
        <div class="side-menu-x" (click)="close()">X</div>
    </div>

    <div class="side-menu-content-container">

        <div class="list-menu-bar">
            <button (click)="listMenu.onEditListClick()" [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canEditList">Edit</button>
            <button (click)="listMenu.onDeleteListClick()" [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canDeleteList">Delete</button>
            <button (click)="listMenu.onShareListClick()" [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canShareList && !selectedList.listPermissions?.canInviteCollaborators">Share</button>
            <button (click)="listMenu.onManageCollaboratorsClick()" [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canManageCollaborators">Collaborators</button>
        </div>

        <!-- Content -->
        <div class="side-menu-content">

            <lists-menu #listMenu [lists]="lists" [selectedList]="selectedList" (onListClick)="setSelectedList($event)"></lists-menu>

        </div>
    </div>

    <!-- Bottom Fixed container -->
    <div class="bottom-fixed-container">
        <button class="purple-button" (click)="onCreateNewListClick.emit()">Create a new list</button>
    </div>
</div>