<div style="z-index: 998;" id="menuContainer" class="translate-start side-menu-container"
    [ngClass]="{'translate-end': show}" (transitionend)="onHide()">

    <div class="side-menu-bar">
        <div class="side-menu-x" (click)="close()">X</div>
    </div>

    <div class="side-menu-content-container">

        <!-- Content -->
        <div class="side-menu-content">

            <lists-menu [lists]="lists" [selectedList]="selectedList" (onListClick)="onListClick.emit($event)"
                (onCreateNewListClick)="onCreateNewListClick.emit()"></lists-menu>

        </div>
    </div>

    <!-- Bottom Fixed container -->
    <div class="bottom-fixed-container">
        <button class="gold-round-button-lg" (click)="close()">View Results</button>
    </div>
</div>