<panel [title]="'Column Span'">
    <!-- Span -->
    <div style="display: flex;">
        <div class="label">Span</div>

        <!-- value -->
        <div style="flex: 1;">
            <number-field #numberField [value]="columnSpan" [values]="columnSpans"
                (onValueChange)="onValueChange($event, numberField)"></number-field>
        </div>

        <!-- Breakpoint checkbox -->
        <label class="checkbox">
            <input #breakpointCheckbox type="checkbox" (change)="onBreakpointCheckboxChange(breakpointCheckbox)"
                [checked]="isBreakpointCheckboxChecked" [disabled]="column.rowComponent.columnCount == 1">
            <span class="checkmark"></span>
        </label>
    </div>
</panel>