<div class="item-container" [style.opacity]="item.opacity">

    <div *ngIf="listManager.editedItem != null" class="disabled-arrow-container">
        <div [style.width.px]="item.hierarchyGroupID ? item.hierarchyGroupID! * 35 : 0"
             [style.minWidth.px]="item.hierarchyGroupID ? item.hierarchyGroupID! * 35 : 0">
        </div>
        <div class="disabled-arrow" [ngClass]="{'arrow-down': item.arrowDown}"></div>
    </div>

    <div #htmlItem
         class="item"
         tabindex="-1"
         [style.color]="item.color"
         (contextmenu)="$event.preventDefault()"
         (mousedown)="listManager.selectable ? listManager.onItemDown(item, $event) : listManager.onArrowClick(item)"
         (dblclick)="listManager.onItemDoubleClick(item)"
         [contentEditable]="item == listManager.editedItem"
         [ngStyle]="{'cursor': listManager.cursor ? listManager.cursor : 'default'}"
         [ngClass]="{'selected-item': listManager.showSelection ? item == listManager.selectedItem : null,
                     'unselected-item': listManager.showSelection ? item == listManager.unselectedItem : null,
                     'transparent-item': listManager.showSelection ? listManager.editedItem != null && listManager.editedItem != item : null,
                     'selected-item-top': listManager.showSelection ? item.selectType == listManager.SelectType.Top : null,
                     'selected-item-all': listManager.showSelection ? item.selectType == listManager.SelectType.All : null,
                     'selected-item-middle': listManager.showSelection ? item.selectType == listManager.SelectType.Middle : null,
                     'selected-item-bottom': listManager.showSelection ? item.selectType == listManager.SelectType.Bottom : null,
                     'edited-item': item == listManager.editedItem,
                     'no-hover': listManager.contextMenuOpen}">

        <ng-container *ngIf="listManager.editedItem == null">
            
            <div [style.width.px]="item.hierarchyGroupID ? item.hierarchyGroupID! * 35 : 0"
                 [style.minWidth.px]="item.hierarchyGroupID ? item.hierarchyGroupID! * 35 : 0">
            </div>

            
            <div class="arrow-container"
                (click)="listManager.selectable ? listManager.onArrowClick(item) : null"
                (mousedown)="$event.stopPropagation()"
                (dblclick)="$event.stopPropagation()">
                <div class="arrow" [ngClass]="{'arrow-down': item.arrowDown}"></div>
            </div>
        </ng-container>

        <div class="item-name">
            {{item.name}}
        </div>
        

        <div style="width: 10px;"></div>

    </div>
</div>