<div class="item-container" >

    <div *ngIf="listManager.editedItem != null" class="disabled-arrow-container">
        <div [style.width.px]="item.hierarchyGroupID ? item.hierarchyGroupID! * 35 : 0"></div>
        <div class="disabled-arrow" [ngClass]="{'arrow-down': item.arrowDown}"></div>
    </div>

    <div #htmlItem
         class="item"
         tabindex="-1"
         (contextmenu)="$event.preventDefault()"
         (mousedown)="listManager.selectable ? (!listManager.overButton ? listManager.onItemDown(item, $event) : null) : listManager.onArrowClick(item)"
         (blur)="listManager.onItemBlur(item)"
         (dblclick)="!listManager.overButton ? listManager.onItemDoubleClick(item) : null"
         [contentEditable]="item == listManager.editedItem"
         [ngClass]="{'selected-item': item == listManager.selectedItem,
                'unselected-item': item == listManager.unselectedItem,
                'edited-item': item == listManager.editedItem,
                'transparent-item': listManager.editedItem != null && listManager.editedItem != item,
                'selected-item-top': item.selectType == listManager.SelectType.Top,
                'selected-item-all': item.selectType == listManager.SelectType.All,
                'selected-item-middle': item.selectType == listManager.SelectType.Middle,
                'selected-item-bottom': item.selectType == listManager.SelectType.Bottom,
                'no-hover': listManager.contextMenuOpen}">

        <ng-container *ngIf="listManager.editedItem == null">
            
            <div [style.width.px]="item.hierarchyGroupID ? item.hierarchyGroupID! * 35 : 0"></div>

            
            <div class="arrow-container"
                (mouseover)="listManager.overButton = true"
                (mouseout)="listManager.overButton = false"
                (click)="listManager.selectable ? listManager.onArrowClick(item) : null">
                <div class="arrow" [ngClass]="{'arrow-down': item.arrowDown}"></div>
            </div>
        </ng-container>

        {{item.name}}

        <div style="width: 10px;"></div>

    </div>
</div>