<ng-container *ngFor="let hierarchyItem of sourceList">
    <ng-container *ngIf="!hierarchyItem.hidden">
        <hierarchy-item *ngIf="listManager.hasChildren(hierarchyItem) || hierarchyItem.hierarchyGroupID == 0 || hierarchyItem.isParent" [item]="hierarchyItem" [listManager]="listManager"></hierarchy-item>
        <list-item *ngIf="!listManager.hasChildren(hierarchyItem) && hierarchyItem.hierarchyGroupID != 0 && !hierarchyItem.isParent" [item]="hierarchyItem" [listManager]="listManager"></list-item>
    </ng-container>
</ng-container>