<ng-container *ngIf="additionalInfo && additionalInfo.length > 0">
    <ng-container *ngFor="let additionalInfo of additionalInfo">

        <!-- Shipping -->
        <div *ngIf="!additionalInfo.isRecurring" class="additional-info">
            <span class="shipping-icon" *ngIf="additionalInfo.shippingType != shippingType.None"></span>
            <span class="header-text">{{shipping.getShippingText(additionalInfo.shippingType)}}</span>
        </div>


        <!-- Recurring -->
        <div *ngIf="additionalInfo.isRecurring" class="additional-info">
            <span class="clock-icon" *ngIf="additionalInfo.recurringPayment.price > 0"></span>
            <span class="header-text">{{recurringPayment.getPaymentText(additionalInfo.recurringPayment)}}</span>

            <!-- Price -->
            <span class="header-text"
                *ngIf="additionalInfo.recurringPayment.price > 0">{{additionalInfo.recurringPayment.price
                | currency:'USD'}}</span>

                
            <div style="margin-top: 4px;" class="billing-text">{{recurringPayment.getBillingText(additionalInfo.recurringPayment)}}</div>
            <div class="billing-text" style="color: #c18f07;" *ngIf="recurringPayment.hasTimeFrameBetweenRebill(additionalInfo.recurringPayment.rebillFrequency)">
                {{recurringPayment.getTimeFrameBetweenRebill(additionalInfo.recurringPayment)}}</div>
        </div>

    </ng-container>
</ng-container>