<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>


    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base">

            <!-- Header -->
            <div class="header">
                Delete List

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <div class="content">
                <!-- Prompt Content -->
                <div class="prompt-content">

                    <div class="img-container">
                        <img src="assets/delete.png" alt="Delete">
                    </div>


                    <!-- Message -->
                    <div>
                        <div class="prompt-key">The following list will be deleted:</div>

                        <div class="prompt-value" style="padding-bottom: 0;">{{list.name}}</div>
                    </div>

                </div>

                <!-- Button Container -->
                <div class="button-container">
                    <button #tabElement class="dark-button" (click)="close()">Cancel</button>
                    <button #tabElement class="gold-rect-button" (click)="onDeleteClick()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>