<div class="product-property-container">
    <div class="product-label-and-icon-buttons-container">
        <div class="product-property-label">Shipping:</div>
        <div *ngIf="product.shippingType != shippingType.None" class="product-property-icon-button-container">
            <icon-button [icon]="'fas fa-pencil-alt'"
                         [title]="'Edit Shipping'"
                         [popupOpen]="popupOpen"
                         (onClick)="openShippingPopup(PopupArrowPosition.TopRight)">
            </icon-button>
            <icon-button [icon]="'fas fa-trash-alt'"
                         [title]="'Remove shipping'"
                         (onClick)="product.shippingType = 0; updateShipping()">
            </icon-button>
        </div>
        <div class="product-property-edit-popup-container-2">
            <ng-template #editPopupContainer></ng-template>
        </div>
    </div>
    <div class="product-dashed-border min-height">
        <div *ngIf="product.shippingType == shippingType.None" class="product-property-plus-button-container">
            <icon-button style="transform: rotate(45deg)"
                         [icon]="'fa-regular fa-circle-xmark'"
                         [title]="'Add Shipping'"
                         [fontSize]="'18'"
                         [popupOpen]="popupOpen"
                         (onClick)="openShippingPopup(PopupArrowPosition.TopLeft)">
            </icon-button>
        </div>
        <div *ngIf="product.shippingType != shippingType.None" class="shipping-container">
            <shipping [shippingType]="product.shippingType"></shipping>
        </div>
        <div class="product-property-add-popup-container">
            <ng-template #addPopupContainer></ng-template>
        </div>
    </div>
</div>