@import '../../../scss/variables';

// Account Icon
@font-face {
    font-family: 'account-icon';
    src: url('../../../assets/fonts/account-icon.ttf');
}

.account-icon
{
    font-family: 'account-icon';
    &::before {
        content: "\e900";
    }
}



// Orders Icon
@font-face {
    font-family: 'orders-icon';
    src: url('../../../assets/fonts/orders-icon.ttf');
}
.orders-icon
{
    font-family: 'orders-icon';
    &::before {
        content: "\e901";
    }
}



// Lists Icon
@font-face {
    font-family: 'lists-icon';
    src: url('../../../assets/fonts/lists-icon.ttf');
}
.lists-icon
{
    font-family: 'lists-icon';
    &::before {
        content: "\e902";
    }
}



// Profile Icon
@font-face {
    font-family: 'profile-icon';
    src: url('../../../assets/fonts/profile-icon.ttf');
}
.profile-icon
{
    font-family: 'profile-icon';
    &::before {
        content: "\e903";
    }
}



// Email Icon
@font-face {
    font-family: 'email-icon';
    src: url('../../../assets/fonts/email-icon.ttf');
}
.email-icon
{
    font-family: 'email-icon';
    &::before {
        content: "\e904";
    }
}



// Log Out Icon
@font-face {
    font-family: 'log-out-icon';
    src: url('../../../assets/fonts/log-out-icon.ttf');
}
.log-out-icon
{
    font-family: 'log-out-icon';
    &::before {
        content: "\e905";
    }
}


.focused-list-item {
    div {
        div{
            color: lighten($icon-color, 20);
        }
    }

    div {
        text-decoration: underline;
        color: $hover-text-color;
    }
}