<!-- Account -->
<a class="list-item-container" (click)="close()" routerLink="account" (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="account-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Your Account
    </div>
</a>


<!-- Orders -->
<a class="list-item-container" (click)="close()" routerLink="account/orders" (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="orders-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Your Orders
    </div>
</a>


<!-- Lists -->
<a class="list-item-container" (click)="close()" routerLink="account/lists" (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="lists-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Your Lists
    </div>
</a>



<!-- Profile -->
<a class="list-item-container" (click)="close()" routerLink="account/profile" (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="profile-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Your Profile
    </div>
</a>



<!-- Email Preferences -->
<a class="list-item-container" (click)="close()" routerLink="account/email-preferences"
    (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="email-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Email Preferences
    </div>
</a>


<!-- Log Out -->
<div class="list-item-container">
    <div class="list-item-icon-container">
        <div class="log-out-icon icon"></div>
    </div>
    <div class="list-item-text-container" (click)="onLogOutClick()">
        Log Out
    </div>
</div>