<!-- Account -->
<a #item0 id="0" class="list-item-container" [ngClass]="{'focused-list-item': item0.id == focusedListItemId}"
    (click)="close()" routerLink="/account" (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="account-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Your Account
    </div>
</a>


<!-- Orders -->
<a #item1 id="1" class="list-item-container" [ngClass]="{'focused-list-item': item1.id == focusedListItemId}"
    (click)="close()" routerLink="/account/orders" (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="orders-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Your Orders
    </div>
</a>


<!-- Lists -->
<a #item2 id="2" class="list-item-container" [ngClass]="{'focused-list-item': item2.id == focusedListItemId}"
    (click)="close()" routerLink="/account/lists" (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="lists-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Your Lists
    </div>
</a>



<!-- Profile -->
<a #item3 id="3" class="list-item-container" [ngClass]="{'focused-list-item': item3.id == focusedListItemId}"
    (click)="close()" routerLink="/account/profile" (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="profile-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Your Profile
    </div>
</a>



<!-- Email Preferences -->
<a #item4 id="4" class="list-item-container" [ngClass]="{'focused-list-item': item4.id == focusedListItemId}"
    (click)="close()" routerLink="/account/email-preferences" (mousedown)="$event.preventDefault()">
    <div class="list-item-icon-container">
        <div class="email-icon icon"></div>
    </div>
    <div class="list-item-text-container">
        Email Preferences
    </div>
</a>


<!-- Log Out -->
<div #item5 id="5" class="list-item-container"
    [ngClass]="{'focused-list-item': item5.id == focusedListItemId}">
    <div class="list-item-icon-container">
        <div class="log-out-icon icon"></div>
    </div>
    <div class="list-item-text-container" (click)="onLogOutClick()">
        Log Out
    </div>
</div>