<panel [title]="'Video'">
    <div class="property-box-dark">
        <!-- Property Box Bar -->
        <div class="property-box-bar">

            <!-- Icons -->
            <div class="icons">
                <!-- Change Video -->
                <icon-button [icon]="'fa-solid fa-film'" [title]="'Media Browser'"
                    (onClick)="openMediaBrowser()">
                </icon-button>
            </div>
        </div>

        <div *ngIf="video && video.thumbnail" class="video-thumbnail">
            <img [src]="'images/' + video.thumbnail" [title]="video.name">
        </div>
    </div>
</panel>