<div class="item-container">

    <label *ngIf="list.editableItem != null" class="checkbox disabled-checkbox">
        <input class="disabled-input"
               type="checkbox"
               [checked]="isChecked">
        <span class="disabled-checkmark"></span>
    </label>

    <div #htmlItem
         class="item"
         tabindex="-1"
         (contextmenu)="$event.preventDefault()"
         (mousedown)="!list.overButton ? list.onItemMousedown(this, $event) : null"
         (blur)="list.onItemBlur(this)"
         (dblclick)="!list.overButton ? list.onItemDoubleClick(this) : null"
         [contentEditable]="this == list.editableItem"
         [ngClass]="{'selected-item': this == list.selectedItem,
                'unselected-item': this == list.unselectedItem,
                'edited-item': this == list.editableItem,
                'transparent-item': list.editableItem != null && list.editableItem != this,
                'selected-item-top': this.selectType == SelectType.Top,
                'selected-item-all': this.selectType == SelectType.All,
                'selected-item-middle': this.selectType == SelectType.Middle,
                'selected-item-bottom': this.selectType == SelectType.Bottom}">

        <label *ngIf="list.editableItem == null" class="checkbox" (mouseover)="list.overButton = true" (mouseout)="list.overButton = false">
            <input type="checkbox"
                    [checked]="isChecked"
                    (change)="list.onCheckboxChange(this)">
            <span class="checkmark"></span>
        </label>

        <div>{{name}}</div>
    </div>
</div>