<div class="item-container">

    <label *ngIf="listManager.editableItem != null" class="checkbox disabled-checkbox">
        <input class="disabled-input"
               type="checkbox"
               [checked]="isChecked">
        <span class="disabled-checkmark"></span>
    </label>

    <div #htmlItem
         class="item"
         tabindex="-1"
         (contextmenu)="$event.preventDefault()"
         (mousedown)="!listManager.overButton ? listManager.onItemMousedown(this, $event) : null"
         (blur)="listManager.onItemBlur(this)"
         (dblclick)="!listManager.overButton ? listManager.onItemDoubleClick(this) : null"
         [contentEditable]="this == listManager.editableItem"
         [ngClass]="{'selected-item': this == listManager.selectedItem,
                'unselected-item': this == listManager.unselectedItem,
                'edited-item': this == listManager.editableItem,
                'transparent-item': listManager.editableItem != null && listManager.editableItem != this,
                'selected-item-top': this.selectType == SelectType.Top,
                'selected-item-all': this.selectType == SelectType.All,
                'selected-item-middle': this.selectType == SelectType.Middle,
                'selected-item-bottom': this.selectType == SelectType.Bottom}">

        <label *ngIf="listManager.editableItem == null" class="checkbox" (mouseover)="listManager.overButton = true" (mouseout)="listManager.overButton = false">
            <input type="checkbox"
                    [checked]="isChecked"
                    (change)="listManager.onCheckboxChange(this)">
            <span class="checkmark"></span>
        </label>

        <div>{{name}}</div>
    </div>
</div>