<div class="item-container">

    <label *ngIf="listManager.editableItem != null" class="checkbox disabled-checkbox">
        <input class="disabled-input"
               type="checkbox"
               [checked]="listManager.getListItem(this).isChecked">
        <span class="disabled-checkmark"></span>
    </label>

    <div #htmlItem
         class="item"
         tabindex="-1"
         (contextmenu)="$event.preventDefault()"
         (mousedown)="!listManager.overButton ? listManager.onItemComponentMousedown(listManager.getListItem(this), $event) : null"
         (blur)="listManager.onItemBlur(listManager.getListItem(this))"
         (dblclick)="!listManager.overButton ? listManager.onItemDoubleClick(listManager.getListItem(this)) : null"
         [contentEditable]="listManager.getListItem(this) == listManager.editableItem"
         [ngClass]="{'selected-item': listManager.getListItem(this) == listManager.selectedItem,
                'unselected-item': listManager.getListItem(this) == listManager.unselectedItem,
                'edited-item': listManager.getListItem(this) == listManager.editableItem,
                'transparent-item': listManager.editableItem != null && listManager.editableItem != listManager.getListItem(this),
                'selected-item-top': listManager.getListItem(this).selectType == listManager.SelectType.Top,
                'selected-item-all': listManager.getListItem(this).selectType == listManager.SelectType.All,
                'selected-item-middle': listManager.getListItem(this).selectType == listManager.SelectType.Middle,
                'selected-item-bottom': listManager.getListItem(this).selectType == listManager.SelectType.Bottom}">

        <label *ngIf="listManager.editableItem == null" class="checkbox" (mouseover)="listManager.overButton = true" (mouseout)="listManager.overButton = false">
            <input type="checkbox"
                    [checked]="listManager.getListItem(this).isChecked"
                    (change)="listManager.onCheckboxChange(listManager.getListItem(this))">
            <span class="checkmark"></span>
        </label>

        {{listManager.getListItem(this).name}}
    </div>
</div>