<!-- Image -->
<panel [title]="'Image'">
    <image-box [image]="widget.image" [mediaReference]="widget.getMediaReference()" (onChange)="update()"></image-box>
</panel>

<!-- Link -->
<panel [title]="'Link'">
    <link-property [link]="widget.link" (onChange)="update()"></link-property>
</panel>


<!-- Border -->
<border [border]="widget.border" (onChange)="update()"></border>

<!-- Corners -->
<corners [corners]="widget.corners" (onChange)="update()"></corners>

<!-- Shadow -->
<shadow [shadow]="widget.shadow" (onChange)="update()"></shadow>