.item-container {
    display: flex;
    align-items: center;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.edited-item {
    text-indent: -2px;
    margin-left: 5px;
}


.selected-item {
    .arrow-container {
        .arrow {
            border-left: 9px solid #cacaca;
        }
    }
}


.arrow-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 14px;
    cursor: default;


    &:hover:not(.no-arrow):not(.selected-arrow) {
        
        div {
            border-left-color: lighten(#727272, 30);
        }
    }
}




.arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #727272;
}


.arrow-down {
    transform: rotate(90deg);
}


.disabled-arrow-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 14px;
    cursor: default;
    padding-left: 6px;
}


.disabled-arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #2d2d2d;
}