<div class="item-container" >

    <div *ngIf="listManager.editableItem != null" class="disabled-arrow-container">
        <div [style.width.px]="listManager.getListItem(this).hierarchyGroupID ? listManager.getListItem(this).hierarchyGroupID! * 35 : 0"></div>
        <div class="disabled-arrow" [ngClass]="{'arrow-down': listManager.getListItem(this).arrowDown}"></div>
    </div>

    <div #htmlItem
         class="item"
         tabindex="-1"
         (contextmenu)="$event.preventDefault()"
         (mousedown)="!listManager.overButton ? listManager.onItemComponentMousedown(listManager.getListItem(this), $event) : null"
         (blur)="listManager.onItemBlur(listManager.getListItem(this))"
         (dblclick)="!listManager.overButton ? listManager.onItemDoubleClick(listManager.getListItem(this)) : null"
         [contentEditable]="listManager.getListItem(this) == listManager.editableItem"
         [ngClass]="{'selected-item': listManager.getListItem(this) == listManager.selectedItem,
                'unselected-item': listManager.getListItem(this) == listManager.unselectedItem,
                'edited-item': listManager.getListItem(this) == listManager.editableItem,
                'transparent-item': listManager.editableItem != null && listManager.editableItem != listManager.getListItem(this),
                'selected-item-top': listManager.getListItem(this).selectType == listManager.SelectType.Top,
                'selected-item-all': listManager.getListItem(this).selectType == listManager.SelectType.All,
                'selected-item-middle': listManager.getListItem(this).selectType == listManager.SelectType.Middle,
                'selected-item-bottom': listManager.getListItem(this).selectType == listManager.SelectType.Bottom}">

        <ng-container *ngIf="listManager.editableItem == null">
            
            <div [style.width.px]="listManager.getListItem(this).hierarchyGroupID ? listManager.getListItem(this).hierarchyGroupID! * 35 : 0"></div>

            
            <div class="arrow-container"
                (mouseover)="listManager.overButton = true"
                (mouseout)="listManager.overButton = false"
                (click)="listManager.onArrowClick(listManager.getListItem(this))">
                <div class="arrow" [ngClass]="{'arrow-down': listManager.getListItem(this).arrowDown}"></div>
            </div>
        </ng-container>

        {{listManager.getListItem(this).name}}
    </div>
</div>