<div class="item-container" >

    <div *ngIf="listManager.editableItem != null" class="disabled-arrow-container">
        <div [style.width.px]="levelID ? levelID * 35 : 0"></div>
        <div class="disabled-arrow" [ngClass]="{'arrow-down': this.arrowDown}"></div>
    </div>

    <div #htmlItem
         class="item"
         tabindex="-1"
         (contextmenu)="$event.preventDefault()"
         (mousedown)="!listManager.overButton ? listManager.onItemMousedown(this, $event) : null"
         (blur)="listManager.onItemBlur(this)"
         (dblclick)="!listManager.overButton ? listManager.onItemDoubleClick(this) : null"
         [contentEditable]="this == listManager.editableItem"
         [ngClass]="{'selected-item': this == listManager.selectedItem,
                'unselected-item': this == listManager.unselectedItem,
                'edited-item': this == listManager.editableItem,
                'transparent-item': listManager.editableItem != null && listManager.editableItem != this,
                'selected-item-top': this.selectType == SelectType.Top,
                'selected-item-all': this.selectType == SelectType.All,
                'selected-item-middle': this.selectType == SelectType.Middle,
                'selected-item-bottom': this.selectType == SelectType.Bottom}">

        <ng-container *ngIf="listManager.editableItem == null">
            <!-- Indent -->
            <div [style.width.px]="levelID ? levelID * 35 : 0"></div>

            <!-- Arrow -->
            <div class="arrow-container"
                (mouseover)="listManager.overButton = true"
                (mouseout)="listManager.overButton = false"
                (click)="listManager.onArrowClick(this)">
                <div class="arrow" [ngClass]="{'arrow-down': this.arrowDown}"></div>
            </div>
        </ng-container>

        

        <!-- Name -->
        <div style="text-indent: 0;">{{name}}</div>
    </div>
</div>