<div class="popup-container hide" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Arrow Left -->
    <div *ngIf="isAdd" class="popup-arrow-container">
        <div class="popup-arrow-left-Border"></div>
        <div class="popup-arrow-left-background"></div>
    </div>


    <div class="popup-base">

        <label class="radio" style="display: block;">
            <div>Free Shipping</div>
            <input type="radio" name="shipping" [checked]="shipping == shippingType.FreeShipping"
                (change)="shipping = shippingType.FreeShipping">
            <span class="checkmark" tabindex="-1"></span>
        </label>


        <label class="radio" style="display: block;">
            <div>Free US Shipping</div>
            <input type="radio" name="shipping" [checked]="shipping == shippingType.FreeUsShipping"
                (change)="shipping = shippingType.FreeUsShipping">
            <span class="checkmark" tabindex="-1"></span>
        </label>


        <label class="radio" style="display: block;">
            <div>Plus Shipping</div>
            <input type="radio" name="shipping" [checked]="shipping == shippingType.PlusShipping"
                (change)="shipping = shippingType.PlusShipping">
            <span class="checkmark" tabindex="-1"></span>
        </label>


        <label class="radio" style="display: block;">
            <div>Just Pay Shipping</div>
            <input type="radio" name="shipping" [checked]="shipping == shippingType.JustPayShipping"
                (change)="shipping = shippingType.JustPayShipping">
            <span class="checkmark" tabindex="-1"></span>
        </label>


        <!-- Buttons -->
        <div class="popup-button-container">
            <button class="dark-button" (click)="close()">Close</button>
            <button class="gold-button" (click)="onSubmitClick()">Submit</button>
        </div>
    </div>


    <!-- Arrow Right -->
    <div *ngIf="!isAdd" class="popup-arrow-container">
        <div class="popup-arrow-right-Border"></div>
        <div class="popup-arrow-right-background"></div>
    </div>
</div>