@import '../../../scss/mixins';


.product-slider-container {
    overflow: hidden;
    margin: auto;
    width: 1500px
}

.product-group {
    display: flex;
}

.caption {
    font-size: 25px;
    color: #dadada;
    text-align: center;
    margin-bottom: 10px;
}

.slider-container {
    position: relative;
    padding: 0 8px;
}

.slider {
    display: flex;
    position: relative;
    width: fit-content;
}

.product-thumbnail-container {
    width: 234px;
    margin-right: 16px;
}





@media(max-width: 1500px) {
    .product-slider-container {
        width: 1250px
    }
}

@media(max-width: 1250px) {
    .product-slider-container {
        width: 1000px
    }
}


@media(max-width: 1000px) {
    .product-slider-container {
        width: 750px
    }
}

@media(max-width: 750px) {
    .product-slider-container {
        width: 500px
    }
}

@media(max-width: 500px) {
    .product-slider-container {
        width: 250px
    }
}

@media(max-width: 250px) {
    .product-slider-container {
        width: 234px
    }

    .product-thumbnail-container {
        margin-right: 20px;
    }

    .slider-container {
        padding: 0 11px;
    }
}