<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">
    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>

    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base" tabindex="-1">

            <!-- Header -->
            <div class="header">
                Sign Up

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <!-- Content -->
            <div class="content">

                <external-login-providers #externalLoginProvidersComponent [signInType]="'Sign up'" (onLogIn)="setLogIn()" (onGetExternalLoginProviders)="externalLoginProviders = $event"></external-login-providers>

                <!-- Or -->
                <div class="lines-container">
                    <div class="left-line"></div>
                    <div class="text">OR</div>
                    <div class="right-line"></div>
                </div>


                <!-- Button -->
                <button #tabElement (click)="onCreateAccountButtonClick()" class="gold-round-button-sm">Create an
                    account</button>
            </div>


            <!-- Footer -->
            <div *ngIf="!isLoginPage" class="footer">
                <div class="horizontal-groove-line"></div>
                <span class="footer-text">Already a member? </span>
                <span #tabElement class="purple-text" (click)="onLogInLinkClick()" tabindex="-1">Log In</span>
            </div>
        </div>
    </div>
</div>