<div class="reset-password-container">

    <!-- Logo -->
    <a routerLink="/home" title="Niche Shack Homepage">
        <img src="assets/logo.png">
    </a>


    <form [formGroup]="form" #_form="ngForm" (ngSubmit)="onSubmit()">
        <div class="page-caption">Reset Password</div>

        
        <!-- New Password -->
        <div class="label">New Password:</div>
        <div class="password-input-container">
            <input type="password" formControlName="newPassword"
                [ngClass]="{'error-border': _form.submitted && form.controls.newPassword.errors}">


            <div class="show-hide-password-icon-container" showHidePassword>
                <i class="hide-password"></i>
            </div>

            <ng-container *ngIf="_form.submitted && form.controls.newPassword.errors">
                <ul>
                    <li *ngFor="let message of getErrorMessages('newPassword', 'New Password')">
                        {{message}}
                    </li>
                </ul>
            </ng-container>
        </div>

        

        <!-- Confirm Password -->
        <div class="label">Confirm Password:</div>
        <div class="password-input-container">
            <input type="password" formControlName="confirmPassword"
                [ngClass]="{'error-border': _form.submitted && (form.controls.confirmPassword.errors || form.errors?.noPasswordMatch)}">


            <div class="show-hide-password-icon-container" showHidePassword>
                <i class="hide-password"></i>
            </div>

            <ng-container
                *ngIf="_form.submitted && (form.controls.confirmPassword.errors || form.errors?.noPasswordMatch)">
                <ul>
                    <li *ngFor="let message of getErrorMessages('confirmPassword', 'Confirm Password')">
                        {{message}}
                    </li>
                </ul>
            </ng-container>
        </div>
        

        <!-- Submit button -->
        <button type="submit" class="gold-rect-button">Submit</button>
    </form>

    
</div>