@import '../../../scss/variables';

.reset-password-container {
    max-width: 360px;
    margin: auto;
    margin-top: 20px;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

form {
    border: 1px solid $gold;
    border-radius: 4px;
    padding: 20px;
}

.page-caption {
    color: $gold;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.gold-rect-button {
    max-width: none;
}