.icon-button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e9e9e;
    user-select: none;
    outline: none;
    background: none;
    border: none;
    

    &:hover:not(.icon-button-disabled) {
        cursor: pointer;
        color: lighten(#9e9e9e, 10);
    }

    &:active {
        color: lighten(#9e9e9e, 20);
    }
}

.icon-button-disabled {
    opacity: 0.4;
}