// Property Box
%property-box {
    border: 1px solid #444444;
    overflow: hidden;
}



.property {
    margin-bottom: 5px;
    padding: 5px;

    .label {
        font-size: 12px;
        color: #aaaaaa;
        margin-bottom: 4px;
    }
}



.property-box-light {
    @extend %property-box;
    background: #313131;
}


.property-box-bar {
    display: flex;
    justify-content: space-between;
    background: #3a3a3a;
    margin: 2px;
    align-items: center;
}


.property-box-dark {
    @extend %property-box;
    background: #222222;
    border: 1px solid #373737;

    .property-box-bar {
        justify-content: flex-end;
        background: #313131;
    }
}



.icons-container {
    height: 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.grooved-container {
    border-top: 1px solid #292929;
    border-bottom: 1px solid #3e3e3e;
    width: 100%;
    background: #343434;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    height: 48px;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        height: 1px;
        background: #3e3e3e;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        height: 1px;
        background: #2a2a2a;
    }
}



.grooved-container-bottom {
    border-bottom: 1px solid #3e3e3e;
    width: 100%;
    background: #343434;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    height: 48px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        height: 1px;
        background: #2a2a2a;
    }
}


.button-center {
    min-height: 22px;
    border: 1px solid;
    flex: 1;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-align: center;

    &:not(.button-left) {
        margin-left: 4px
    }

    &:not(.button-selected) {
        border-color: #565656;
        background: #464646;
        color: #c8c8c8;


        &:hover:not(:disabled) {
            background: #5e5e5e;
            border-color: #6e6e6e;
            color: #e2e2e2;
            cursor: pointer;
        }

        &:active:not(:disabled) {
            border-color: #424242;
            background: #555555;
            color: #b6b6b6;
        }
    }


    &:disabled {
        background: #5e5e5e48;
        border-color: #6e6e6e34;
        color: #e2e2e238;
    }
}

.button-left {
    @extend .button-center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.button-right {
    @extend .button-center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button-selected {
    color: #ffffff;
}

.page-button-selected {
    border-color: lighten($color: $container-outline-color, $amount: 25%);
    background: $container-outline-color;
}


.row-button-selected {
    border-color: lighten($color: $row-outline-color, $amount: 25%);
    background: $row-outline-color;
}

.column-button-selected {
    border-color: lighten($color: $column-outline-color, $amount: 25%);
    background: $column-outline-color;
}


.widget-button-selected {
    border-color: lighten($color: $widget-outline-color, $amount: 25%);
    background: $widget-outline-color;
}


.style-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a6a6a;

    &:hover:not(.selected) {
        color: #acacac;
    }

    &.selected {
        background: #0077e04d;
        border: 1px solid #52adfb;
        border-radius: 2px;
        color: white;
    }
}