@import '../../../../dist/common/scss/reset';
@import '../../../../dist/common/scss/checkbox-radio';

input:not([type]) {
    background: #252525;
    border: 1px solid #454545;
    border-radius: 4px;
    color: white;
    width: -webkit-fill-available;
    height: 24px;
    outline: none;
    padding-left: 5px;

    &:disabled {
        opacity: 30%;
    }
}


::placeholder {
    color: #505050;
}