@import '../../../../dist/widgets/scss/widgets';

$handle-size: 8px;
$container-outline-color: #961455;
$row-outline-color: #149625;
$column-outline-color: #147196;
$widget-outline-color: #966d14;

.row {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
}


// Column Indicator
.column-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    visibility: hidden;
    background: red;
    z-index: 20;

    &:first-child {
        left: 0;
    }

    &:last-child {
        right: 0;
    }

    &:hover {
        background: blue;
    }
}



// row Indicator
body {
    &#widget-cursor {
        .container:hover #show-row-indicator.row-indicator {
            width: 100%;
            position: absolute;
            height: 32px;
            background: rgba(4, 114, 240, 0.10);
            pointer-events: none;
        }
    }

    &#widget-cursor {
        .row:hover .column-indicator {
            visibility: visible;
        }
    }
}


@mixin handle-circle {
    background: white;
    width: $handle-size;
    height: $handle-size;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #0985a9;
    box-sizing: border-box;
}

.handle {
    z-index: 10;
    position: absolute;


    &.top-left,
    &.top-right,
    &.bottom-left,
    &.bottom-right {
        @include handle-circle();
    }

    &.top-left,
    &.top-right {
        top: -$handle-size * 0.5;
    }

    &.top-left,
    &.bottom-left {
        left: -$handle-size * 0.5;
    }


    &.top-right,
    &.right,
    &.bottom-right {
        right: -$handle-size * 0.5;
    }

    &.bottom-left,
    &.bottom,
    &.bottom-right {
        bottom: -$handle-size * 0.5;
    }

    &.top-left {
        cursor: nw-resize;
    }

    &.top-right {
        cursor: ne-resize;
    }


    &.bottom-left {
        cursor: sw-resize;
    }

    &.bottom-right {
        cursor: se-resize;
    }

    &.top,
    &.bottom {
        left: $handle-size * 0.5;
        right: $handle-size * 0.5;
        height: $handle-size;
        cursor: ns-resize;

        &::after {
            content: '';
            @include handle-circle();
            left: 50%;
            transform: translateX(-$handle-size * 0.5);
        }
    }

    &.top {
        top: -$handle-size * 0.5;

        &::after {
            top: 0;
        }
    }

    &.bottom {
        bottom: -$handle-size * 0.5;

        &::after {
            bottom: 0;
        }
    }


    &.left,
    &.right {
        top: $handle-size * 0.5;
        bottom: $handle-size * 0.5;
        width: $handle-size;
        cursor: ew-resize;

        &::after {
            content: '';
            @include handle-circle();
            top: 50%;
            transform: translateY(-$handle-size * 0.5);
        }
    }

    &.left {
        left: -$handle-size * 0.5;

        &::after {
            left: 0;
        }
    }

    &.right {
        right: -$handle-size * 0.5;

        &::after {
            right: 0;
        }
    }
}






.row-outline {
    outline: 1px dashed;

    &:not(.selected-row) {
        outline-color: rgba($color: $row-outline-color, $alpha: 0.2);

        &:hover {
            outline-color: rgba($color: $row-outline-color, $alpha: 1);
        }
    }
}


.column-outline {
    outline: 1px dashed;

    &:not(.selected-column) {
        outline-color: rgba($color: $column-outline-color, $alpha: 0.2);

        &:hover {
            outline-color: lighten($color: $column-outline-color, $amount: 10%);
        }
    }
}


.widget-outline {
    outline: 1px dashed;

    &:not(.selected-widget) {
        outline-color: rgba($color: $widget-outline-color, $alpha: 0.2);

        &:hover {
            outline-color: rgba($color: $widget-outline-color, $alpha: 1);
        }
    }
}


.container-outline {
    outline: 1px dashed;
    outline-color: rgba($color: $container-outline-color, $alpha: 0.4);

    &:not(.selected-widget)#container-widget:hover {
        outline-color: rgba($color: $widget-outline-color, $alpha: 1);
    }
}



.selected-row {
    outline-style: solid;
    outline-color: lighten($row-outline-color, 30%);
    z-index: 1;
}

.selected-column {
    outline-style: solid;
    outline-color: lighten($column-outline-color, 30%);
    z-index: 1;
}



.selected-widget {
    outline: 1px solid lighten($widget-outline-color, 30%);
    z-index: 1;
}



.selected-page {
    outline-style: solid;
    outline-color: lighten($container-outline-color, 10%) !important;
}