@import '../../../scss/variables';

$price-point-width: 330px;

.price-points-background {
    width: 100%;
    background: #1e1e1e;
    padding: 10px 0;
}


.price-point-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #680059, #45003c);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    min-height: 66px;
    font-size: 21px;
    font-weight: bold;
    color: #e9e9e9;
    width: 300px;
    margin-bottom: 10px;
}

.price-point-base {
    background: #292929;
    border-radius: 18px;
    border: 4px solid #46003c;
    box-sizing: border-box;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 10px 12px;
    width: 300px;
    margin: 0 15px;
}


.quantity {
    color: #c0c0c0;
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 22px;
}



.space-between-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}


.unit-container {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}


.unit-price {
    color: white;
    font-weight: bold;
    font-size: 63px;
}

.unit {
    color: white;
    margin-top: 13px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 21px;
}

.total-container {
    display: flex;
    margin-bottom: 20px;
    font-size: 22px;
}


.total-label {
    color: $gold;
    margin-right: 10px;
}

.strikethrough {
    color: #eb01c8;
    text-decoration: line-through;
}

.strikethrough-price {
    color: $gold;
    margin-right: 10px;
}

.total-price {
    color: $gold;
}




.price-points-slider-container {
    overflow: hidden;
    margin: auto;
    width: 0;
}



.price-point-group {
    display: flex;
}


.slider-container {
    position: relative;
    padding: 0 0;
}

.slider {
    display: flex;
    position: relative;
    width: fit-content;
}


.shipping-recurring-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}



.p1 {
    width: $price-point-width;
}

.p2 {
    width: $price-point-width * 2;
}


.p3 {
    width: $price-point-width * 3;
}

.p4 {
    width: $price-point-width * 4;
}


.p5,
.p6,
.p7,
.p8,
.p9,
.p10 {
    width: $price-point-width * 5;
}



@media(max-width: 1650px) {

    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 1320px;
    }
}


@media(max-width: 1320px) {

    .p4,
    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 990px;
    }
}


@media(max-width: 990px) {

    .p3,
    .p4,
    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 660px;
    }
}


@media(max-width: 660px) {

    .p2,
    .p3,
    .p4,
    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 330px;
    }
}


@media(max-width: 330px) {


    .price-point-header {
        width: 240px;
    }

    .price-point-base {
        width: 240px;
        margin: 0 0;
    }

    

    .unit-price {
        font-size: 50px;
    }

    .gold-round-button-lg {
        font-size: 14px;
    }

    .p1,
    .p2,
    .p3,
    .p4,
    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 240px;
    }
}