@import '../../../scss/variables';

$price-point-width: 330px;

.price-points-background {
    width: 100%;
    background: #1e1e1e;
    padding: 20px 0;
}



.price-point-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    background: #292929;
    border: 2px solid #464646;
    border-radius: 17px;
    padding-bottom: 14px;
}




.price-point-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 67px;
    flex-shrink: 0;
    background: linear-gradient(#621e57, #430039);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid #202020;
    margin-bottom: 10px;
}



.price-point-header-text {
    color: #dcdcdc;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}


.price-point-subheader-text {
    color: #bcbcbc;
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin-top: 6px;
}



.quantity {
    color: #dcdcdc;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: -4px;
    margin-bottom: 25px;
}


.price-point-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 200px;
}

.price-point-info-image {
    position: absolute;
    left: 157px;
}


.price-point-text-container {
    margin-top: 15px;
    text-align: center;
}


.price-point-bottom-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.gold-round-button-lg {
    margin-top: 38px;
}


.shipping-recurring-container {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    margin-bottom: -3px;
}


// .space-between-container {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 5px;
// }


// .unit-container {
//     display: flex;
//     align-items: baseline;
//     margin-top: 10px;
// }


// .unit-price {
//     color: white;
//     font-weight: bold;
//     font-size: 63px;
// }

// .unit {
//     color: white;
//     margin-top: 13px;
//     margin-left: 5px;
//     font-weight: bold;
//     font-size: 21px;
// }

// .total-container {
//     display: flex;
//     margin-bottom: 20px;
//     font-size: 22px;
// }


// .total-label {
//     color: $gold;
//     margin-right: 10px;
// }

// .strikethrough {
//     color: #eb01c8;
//     text-decoration: line-through;
// }

// .strikethrough-price {
//     color: $gold;
//     margin-right: 10px;
// }

// .total-price {
//     color: $gold;
// }




.price-points-slider-container {
    overflow: hidden;
    margin: 40px auto 20px;
    width: 0;

}



.price-point-group {
    display: flex;
}


.slider-container {
    position: relative;
    padding: 0 0;
}

.slider {
    display: flex;
    position: relative;
    width: fit-content;
}


.left-arrow-button {
    left: 30px;
}


.right-arrow-button {
    right: 30px;
}






.p1 {
    width: $price-point-width;
}

.p2 {
    width: $price-point-width * 2;
}


.p3 {
    width: $price-point-width * 3;
}

.p4 {
    width: $price-point-width * 4;
}


.p5,
.p6,
.p7,
.p8,
.p9,
.p10 {
    width: $price-point-width * 5;
}



@media(max-width: 1650px) {

    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 1320px;
    }
}


@media(max-width: 1320px) {

    .p4,
    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 990px;
    }
}


@media(max-width: 990px) {

    .p3,
    .p4,
    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 660px;
    }
}


@media(max-width: 660px) {

    .p2,
    .p3,
    .p4,
    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 330px;
    }
}


@media(max-width: 330px) {


    .price-point-header-text {
        font-size: 16px;
    }

    .price-point-base {
        width: 240px;
        margin: 0 0;
    }



    .gold-round-button-lg {
        font-size: 14px;
    }

    .p1,
    .p2,
    .p3,
    .p4,
    .p5,
    .p6,
    .p7,
    .p8,
    .p9,
    .p10 {
        width: 240px;
    }
}