<div style="background: #1e1e1e; padding: 20px 10px; display: flex; justify-content: center;">
    <div
        style="background: #46003c; width: 100%; max-width: 300px; height: 510px; border-radius: 18px; margin: 0 30px;">
    </div>
    <div
        style="background: #46003c; width: 100%; max-width: 300px; height: 510px; border-radius: 18px; margin: 0 30px;">
    </div>
    <div
        style="background: #46003c; width: 100%; max-width: 300px; height: 510px; border-radius: 18px; margin: 0 30px;">
    </div>
</div>