<!-- Background -->
<div *ngIf="pricePoints && pricePoints.length > 0" class="price-points-background">

    <div class="section-container">
        <div class="section-background"></div>
        <div class="section-text">Price Options</div>
    </div>

    <div #sliderContainer class="price-points-slider-container">
        <!-- Slider -->
        <div class="slider-container">
            <div #slider slider [leftArrowButtonElement]="leftArrowButton" [rightArrowButtonElement]="rightArrowButton"
                [changeCount]="changeCount"
                class="slider">

                <!-- Products -->
                <div *ngFor="let pricePointGroup of pricePointGroups" class="price-point-group"
                    [style.width.px]="sliderContainer.clientWidth">

                    

                    <div *ngFor="let pricePoint of pricePointGroup">

                        


                        <div class="price-point-base">
                            <div class="price-point-header">
                                <div class="price-point-header-text">{{pricePoint.header}}</div>
                                <div *ngIf="pricePoint.subheader" class="price-point-subheader-text">{{pricePoint.subheader}}</div>
                            </div>
                        
                            <div *ngIf="pricePoint.quantity" class="quantity">{{pricePoint.quantity}}</div>
                        
                            <div class="price-point-image-container">
                                <img *ngIf="pricePoint.info != 0" class="price-point-info-image" [src]="'assets/' + (pricePoint.info == 1 ? 'best_value.png' : 'most_popular.png')">
                                <img *ngIf="pricePoint.image && pricePoint.image.src" [src]="'images/' + pricePoint.image.src">
                            </div>
                            

                            <div class="price-point-text-container">
                                <div [innerHTML]="pricePoint.text"></div>
                            </div>
                            
                            <div class="price-point-bottom-container">
                                <button class="gold-round-button-lg" (click)="onVisitOfficialWebsiteClick()">Visit
                                    offical website to buy
                                </button>

                                <div *ngIf="pricePoint.shippingType != shippingType.None" class="shipping-recurring-container">
                                    <shipping *ngIf="pricePoint.shippingType != shippingType.None"
                                        [shippingType]="pricePoint.shippingType" [shippingValue]="pricePoint.shippingValue" [currency]="currency"></shipping>
                                </div>

                            </div>
                            
                        
                        </div>

                        <!-- Price Point Base -->
                        <!-- <div class="price-point-base"> -->


                            <!-- Header -->
                            <!-- <div class="price-point-header">
                                {{pricePoint.header}}
                            </div> -->

                            <!-- Quantity -->
                            <!-- <div *ngIf="pricePoint.quantity" class="quantity">
                                {{pricePoint.quantity}}
                            </div> -->


                            <!-- Image -->
                            <!-- <img *ngIf="pricePoint.image && pricePoint.image.src" [src]="'images/' + pricePoint.image.src"> -->


                            <!-- Space Between -->
                            <!-- <div class="space-between-container" [ngStyle]="{'justify-content': !pricePoint.unitPrice && !pricePoint.unit && !pricePoint.strikethroughPrice && !pricePoint.price ? 'flex-end' : 'space-between'}"> -->

                                <!-- Unit -->
                                <!-- <div *ngIf="pricePoint.unitPrice || pricePoint.unit" class="unit-container">
                                    <div *ngIf="pricePoint.unitPrice" class="unit-price">{{isWholeNumber(pricePoint.unitPrice) ?  (pricePoint.unitPrice | currency:'USD':'symbol':'0.0-0') : (pricePoint.unitPrice | currency:'USD':'symbol':'0.2-2')}}</div>
                                    <div *ngIf="pricePoint.unitPrice && pricePoint.unit" class="unit">
                                        {{pricePoint.unitPrice
                                        ? '/ '
                                        + pricePoint.unit : pricePoint.unit}}</div>
                                </div> -->


                                <!-- Total -->
                                <!-- <div *ngIf="pricePoint.strikethroughPrice || pricePoint.price" class="total-container">
                                    <div class="total-label">Total:</div>
                                    <div *ngIf="pricePoint.strikethroughPrice" class="strikethrough">
                                        <div class="strikethrough-price">{{isWholeNumber(pricePoint.strikethroughPrice) ? (pricePoint.strikethroughPrice | currency:'USD':'symbol':'0.0-0') : (pricePoint.strikethroughPrice | currency:'USD':'symbol':'0.2-2')}}</div>
                                    </div>
                                    <div *ngIf="pricePoint.price" class="total-price">{{isWholeNumber(pricePoint.price) ? (pricePoint.price | currency:'USD':'symbol':'0.0-0') : (pricePoint.price | currency:'USD':'symbol':'0.2-2')}}</div>
                                </div> -->

                                

                                


                                <!-- Gold Button -->
                                <!-- <button class="gold-round-button-lg" (click)="onVisitOfficialWebsiteClick()">Visit
                                    offical website to buy
                                </button> -->


                                <!-- Shipping -->
                                <!-- <div *ngIf="pricePoint.shippingType != shippingType.None" class="shipping-recurring-container">
                                    <shipping *ngIf="pricePoint.shippingType != shippingType.None"
                                        [shippingType]="pricePoint.shippingType"></shipping>
                                </div> -->

                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <!-- Left Arrow Button -->
            <div #leftArrowButton class="left-arrow-button">
                <i></i>
            </div>

            <!-- Right Arrow Button -->
            <div #rightArrowButton class="right-arrow-button">
                <i></i>
            </div>
        </div>
    </div>

    <!-- <div #scrollbarContainer class="scrollbar-container" [style.width.px]="sliderContainer.clientWidth">
        Scroll Track
        <div class="scroll-track"></div>

        Scrollbar
        <div #scrollbar class="scroll-thumb-container" (mousedown)="$event.preventDefault()">
            <div [style.width.px]="sliderContainer.clientWidth / slider.childElementCount" class="scroll-thumb"></div>
        </div>
    </div> -->
</div>