<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">
    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>


    <!-- Container -->
    <div class="fade-in container" [ngClass]="{'fade-out': fadeOut}">

        <!-- Base -->
        <div class="base">

            <!-- Header -->
            <div class="header">
                Report Review

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <!-- Content -->
            <div class="content">
                <!-- Message -->
                <div class="message-text">If you find this review to be offensive or irrelevant to the item in question,
                    please let us know by clicking the submit button below.</div>

                <!-- Email -->
                <div class="label">Additional Comments (optional):</div>
                <textarea #textArea (input)="comments = textArea.value"></textarea>


                <!-- Button Container -->
                <div class="button-container">
                    <button class="dark-button" (click)="close()">Cancel</button>
                    <button class="gold-rect-button" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>