<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>


    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base">

            <!-- Header -->
            <div class="header">
                Report Review

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <!-- Content -->
            <div class="content">
                <!-- Message -->
                <div class="message-text">If you find this review to be offensive or irrelevant to the item in question,
                    please let us know by clicking the submit button below.</div>

                <!-- Email -->
                <div class="label">Additional Comments (optional):</div>
                <textarea #tabElement (input)="comments = tabElement.value" (keydown.space)="$event.stopPropagation()"></textarea>


                <!-- Button Container -->
                <div class="button-container">
                    <button #tabElement class="dark-button" (click)="close()">Cancel</button>
                    <button #tabElement class="gold-rect-button" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>