.hierarchy {
    display: flex;
    height: 22px;
    align-items: center;
    cursor: pointer;

    &:hover:not(.selected-hierarchy-item) {
        background: rgba(255, 187, 0, 0.08);

        :nth-child(3) {
            color: lighten(#999999, 20);
        }
    }
}


.selected-hierarchy-item:not(.hierarchy + :hover) {
    background: rgba(255, 187, 0, 0.1);
    outline: 1px solid rgba(255, 187, 0, 0.85);
    outline-offset: -1px;
}


.arrow-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    cursor: default;


    &:hover:not(.no-arrow):not(.selected-arrow) {
        
        div {
            border-left-color: lighten(#727272, 30);
        }
    }
}




.arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #727272;
}






.hierarchy-item-text {
    color: #999999;
}


.selected-hierarchy-item-text {
    color: white;
}


.no-arrow {
    width: 27px;
    
    div {
        border: none;
    }
}


.selected-arrow {
    div {
        border-left-color: white;
    }
}

.hierarchy-item-expanded {
    transform: rotate(90deg);
}