<header-footer>
    <!-- <div class="breadcrumb">
        <a routerLink="">Health & Fitness</a>
        <div></div>

        <a routerLink="">Strength Training</a>
        <div></div>

        <div>Isometrics Mass</div>
    </div> -->


    <product-info [product]="product"></product-info>


    <!-- <price-points [pricePoints]="product.pricePoints"></price-points>



    <subproducts [components]="product.components" [bonuses]="product.bonuses"></subproducts>

    <div *ngIf="product.relatedProducts" style="background: #202020; padding: 15px 0 20px;">
        <product-group-widget [products]="product.relatedProducts.products" [caption]="product.relatedProducts.caption"></product-group-widget>
    </div>






    <div class="reviews-background">

        <div class="section-container">
            <div class="section-background"></div>
            <div class="section-text">Reviews</div>
        </div>


        <ng-container *ngIf="product.totalReviews > 0">
            <div class="review-summary-container">
                <review-summary [product]="product"></review-summary>
            </div>
    
    
    
            <div class="write-review-button-container">
                <button class="gold-round-button-lg" (click)="onWriteReviewClick()">Write a Review</button>
            </div>
    
    
    
            <helpful-reviews></helpful-reviews>
    
    
            <reviews></reviews>
        </ng-container>
        

        <ng-container *ngIf="product.totalReviews == 0">
            <div style="    text-align: center;
            margin-top: 20px;
            color: white;
            font-size: 16px;">
                Be the first to review this item!
            </div>
            
            <div class="write-review-button-container">
                <button class="gold-round-button-lg" (click)="onWriteReviewClick()">Write a Review</button>
            </div>
        </ng-container>


        

    </div> -->

</header-footer>