<header-footer>

    <!-- Breadcrumb -->
    <div class="breadcrumb" [style.paddingRight.px]="lazyLoadingService.paddingRight + 10">

        <!-- Niche -->
        <a routerLink="/browse"
            [queryParams]="{nicheName: product.breadcrumb[0].urlName, nicheId: product.breadcrumb[0].id}">{{product.breadcrumb[0].name}}</a>
        <div></div>

        <!-- Subniche -->
        <a routerLink="/browse"
            [queryParams]="{subnicheName: product.breadcrumb[1].urlName, subnicheId: product.breadcrumb[1].id}">{{product.breadcrumb[1].name}}</a>

        <div></div>

        <div>{{product.name}}</div>
    </div>



    <div class="product-container">

        <!-- Product Info -->
        <product-info [product]="product" [clientWidth]="clientWidth"></product-info>


        <!-- Price Points -->
        <price-points [pricePoints]="pricePoints" [hoplink]="product.hoplink" [clientWidth]="clientWidth">
        </price-points>


        <!-- Sub products -->
        <subproducts [components]="components" [bonuses]="bonuses"></subproducts>


        <!-- Related Products -->
        <div *ngIf="relatedProducts"
            class="related-products-background">
            <product-slider-widget [products]="relatedProducts.products" [text]="relatedProducts.caption"
                [clientWidth]="clientWidth">
            </product-slider-widget>
        </div>


        <!-- Reviews -->
        <div class="reviews-background">

            <!-- Reviews Section -->
            <div class="section-container">
                <div class="section-background"></div>
                <div class="section-text">Reviews</div>
            </div>


            <ng-container *ngIf="product.totalReviews > 0">

                <!-- Review Summary -->
                <div class="review-summary-container">
                    <review-summary [product]="product"></review-summary>
                </div>


                <!-- Write reveiw button -->
                <div class="write-review-button-container">
                    <button class="gold-round-button-lg" (click)="onWriteReviewClick()">Write a Review</button>
                </div>


                <!-- Helpful reviews -->
                <helpful-reviews></helpful-reviews>

                <!-- Reviews -->
                <reviews [product]="product"></reviews>
            </ng-container>


            <!-- Be the first to write a review -->
            <ng-container *ngIf="product.totalReviews == 0">
                <div class="review-text">
                    Be the first to review this item!
                </div>

                <div class="write-review-button-container">
                    <button class="gold-round-button-lg" (click)="onWriteReviewClick()">Write a Review</button>
                </div>
            </ng-container>
        </div>
    </div>
</header-footer>