.reviews-background {
    background: #1e1e1e;
    padding: 16px 10px;
}

.review-summary-container {
    margin: 30px 0;
}

.write-review-button-container {
    width: 100%;
    max-width: 237px;
    margin: 24px auto 30px;
}