
.dropdown-base {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

.list {
    top: 29px;
}


.disabled {
    $background-color: #282828;
    $border-color: #3d3d3d;
    $font-color: #b4b4b4;


    background: darken($background-color, 4);
    border-color: darken($border-color, 4);
    color: darken($font-color, 30);
    cursor: default;

    .dropdown-arrow {
        color: #686868;
    }
}