<div class="dropdown-container" tabindex="0" (blur)="showDropdownList = false">

    <div class="dropdown-base" (click)="listItems.length > 0 && !disabled ? showDropdownList = !showDropdownList : null" [ngClass]="{'disabled': listItems.length == 0 || disabled}">

        <div class="dropdown-text">
            Move
        </div>

        <div class="dropdown-arrow"></div>
    </div>


    <div class="list" *ngIf="showDropdownList">
        <div class="list-item" *ngFor="let listItem of listItems" (click)="onListItemClick(listItem)" [title]="listItem.key">
            <div class="dropdown-text">
                {{listItem.key}}
            </div>
        </div>
    </div>
</div>