<div class="hide popup-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="popup-arrow-container">
        <div class="popup-arrow-up-Border"></div>
        <div class="popup-arrow-up-background"></div>
    </div>

    <div class="popup-base">


        <div class="top-container">

            <!-- Product -->
            <div class="product-container">
                <div class="product-thumbnail-container">
                    <img [src]="'images/' + notificationItem.image">
                </div>
                <div class="product-name">{{notificationItem.productName}}</div>
            </div>


            <icon-button [icon]="'fa-solid fa-ellipsis-vertical'"
                         (onClick)="null">
            </icon-button>
        </div>

        <!-- Notification Type -->
        <div class="notification-type-container">
            {{notificationItem.name}}
        </div>

        
        <!-- User -->
        <div class="label">User Comment:</div>
        <div class="info-box">

            <ng-container *ngIf="notification">
            
                <div class="info-bar">

                    <div class="counter-container">
                        <counter *ngIf="notification.users.length > 1" [itemCount]="notification.users.length" (onItemChange)="userIndex = $event"></counter>
                    </div>


                    <div class="profile-container">
                        <!-- Date -->
                        <div class="date">
                            {{notification.users[userIndex].date | date: 'MMM d, y, h:mm a'}}
                        </div>
        
                        <!-- Image -->
                        <div class="profile-image-container">

                            <div class="profile-popup-container">
                                <ng-template #userProfileContainer></ng-template>
                            </div>

                            <img style="cursor: pointer;"
                                (mousedown)="reviewProfilePopupContainer.length > 0 ? reviewProfilePopup.close() : null; $event.stopPropagation()"
                                [src]="'images/' + notification.users[userIndex].image"
                                (click)="openUserProfilePopup(notification.users[userIndex])"
                                [title]="notification.users[userIndex].firstName + ' ' + notification.users[userIndex].lastName">
                        </div>
                    </div>
                </div>
            
                <!-- User Comment -->
                <div class="user-comment">
                    {{notification.users[userIndex].text}}
                </div>
            </ng-container>
        </div>



        <!-- Review Writer -->
        <div class="label">Review:</div>
        <div class="review-info-box">

            <ng-container *ngIf="notification">

                <div class="review-info-bar">

                    <div class="review-title-container">
                        <div class="review-title-label">Title:</div>
                        <div class="review-title" [title]="notification.reviewWriter.reviewTitle">
                            {{notification.reviewWriter.reviewTitle}}
                        </div>
                    </div>

                    <div class="review-writer-info-container">
                        <!-- Date -->
                        <div class="date">
                            {{notification.reviewWriter.date | date: 'MMM d, y, h:mm a'}}
                        </div>

                        <!-- Image -->
                        <div class="profile-image-container">

                            <div class="review-profile-popup-container">
                                <ng-template #reviewProfileContainer></ng-template>
                            </div>

                            <img style="cursor: pointer;"
                                (mousedown)="userProfilePopupContainer.length > 0 ? userProfilePopup.close() : null; $event.stopPropagation()"
                                [src]="'images/' + notification.reviewWriter.image"
                                (click)="openReviewProfilePopup(notification.reviewWriter)"
                                [title]="notification.reviewWriter.firstName + ' ' + notification.reviewWriter.lastName">
                        </div>
                    </div>
                </div>

                <!-- Review -->
                <div class="user-comment">
                    {{notification.reviewWriter.text}}
                </div>
            </ng-container>
        </div>


        <!-- Employee -->
        <div class="label-container">
            <div class="label">Notes:</div>
            <div *ngIf="notification && notification.employees.length > 0" class="notes-button-container">
                <icon-button [icon]="'fa-solid fa-file-lines'"
                             [title]="'Add New Note'"
                             [fontSize]="'16'"
                             [isDisabled]="newNoteAdded"
                             (onClick)="addNote()">
                </icon-button>
            </div>
        </div>
        
        <div class="info-box">
            <ng-container *ngIf="notification">
                <div *ngIf="notification.employees.length > 0" class="info-bar">

                    <!-- Counter -->
                    <div class="counter-container">
                        <counter *ngIf="notification.employees.length > 1"
                                 [itemCount]="notification.employees.length"
                                 (onItemChange)="employeeIndex = $event"
                                 [currentIndex]="employeeIndex">
                        </counter>
                    </div>

                    <div class="profile-container">
                        <!-- Date -->
                        <div *ngIf="notification.employees[employeeIndex].date != null" class="date">
                            {{notification.employees[employeeIndex].date | date: 'MMM d, y, h:mm a'}}
                        </div>

                        <!-- Image -->
                        <div *ngIf="notification.employees[employeeIndex].image != null" class="profile-image-container">
                            <img [src]="'images/' + notification.employees[employeeIndex].image" [title]="notification.employees[employeeIndex].firstName + ' ' + notification.employees[employeeIndex].lastName">
                        </div>
                    </div>
                </div>

                <!-- Notes -->
                <textarea #notes *ngIf="notification.employees.length == 0 || notification.employees[employeeIndex].date == null" [ngStyle]="{'height': notification.employees[employeeIndex] ? '94px' : '128px'}" (input)="notification.employees.length == 0 ? newNote = notes.value : notification.employees[employeeIndex].text = notes.value"></textarea>
            
                
                <div *ngIf="notification.employees.length > 0 && notification.employees[employeeIndex].date != null" class="user-comment">
                    {{notification.employees[employeeIndex].text}}
                </div>
            </ng-container>
        </div>
        


        <!-- Buttons -->
        <div class="button-container">
            <button class="dark-button" (click)="close()">Remove Review</button>
            <button class="gold-button">Archive</button>
        </div>
    </div>
</div>