<div class="hide popup-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="popup-arrow-container">
        <div class="popup-arrow-up-Border"></div>
        <div class="popup-arrow-up-background"></div>
    </div>

    <div class="popup-base">

        <!-- Notification Type -->
        <div class="notification-type-container">
            <div class="counter-container">
                <counter *ngIf="notificationItem.count > 1"
                         [itemCount]="notificationItem.count"
                         (onItemChange)="counterIndex = $event; setSendButtonDisabled()"
                         [currentIndex]="counterIndex">
                </counter>
            </div>

            <div style="position: absolute; left: 175px;">Message</div>
            

            <div *ngIf="notificationItem.count > 1 || !notificationItem.isNew" #ellipsis>
                <icon-button [icon]="'fa-solid fa-ellipsis-vertical'"
                             (onClick)="openContextMenu(ellipsis)">
                </icon-button>
            </div>
        </div>

        
        <!-- User -->
        <div class="dashed-container">
            <div class="user-container">
                <div class="label">Message:</div>
                <div class="info-box">

                    <ng-container *ngIf="notification">
                        <div class="info-bar">
                            <!-- Date -->
                            <div class="date">
                                {{notification[counterIndex].date | date: 'MMM d, y, h:mm a'}}
                            </div>
            
                            <!-- Image -->
                            <div class="profile-image-container" [ngClass]="{'no-profile-image': notification && notification[counterIndex].userName}">
                                
                                <div class="profile-popup-container" [ngStyle]="{'top': notification && notification[counterIndex].userName ? '-106px' : '-110px'}">
                                    <ng-template #profilePopupContainerTemplate></ng-template>
                                </div>

                                <img style="cursor: pointer;"
                                    [ngStyle]="{'border-radius': notification && notification[counterIndex].userName ? 'none' : '50%'}"
                                    (mousedown)="$event.stopPropagation()"
                                    (click)="openProfilePopup(notification[counterIndex], profilePopupContainer)"
                                    [src]="notification[counterIndex].userName ? 'assets/message-notification.png' : notification[counterIndex].image ? 'images/' + notification[counterIndex].image : 'assets/no-account-pic.png'"
                                    [title]="notification[counterIndex].firstName + ' ' + notification[counterIndex].lastName">
                            </div>
                        </div>
                    
                        <!-- User Comment -->
                        <div class="user-comment">
                            {{notification[counterIndex].text}}
                        </div>
                    </ng-container>
                </div>


                <div style="height: 13px;"></div>


                <!-- Employee -->
                <div class="label">Reply:</div>
                <div class="info-box">

                    <ng-container *ngIf="notification">
                        <ng-container *ngIf="notification[counterIndex].employeeMessageDate">
                            <div class="info-bar">
                                
                                <!-- Date -->
                                <div class="date">
                                    {{notification[counterIndex].employeeMessageDate | date: 'MMM d, y, h:mm a'}}
                                </div>

                                <!-- Image -->
                                <div class="profile-image-container">
                                    <img [src]="notification[counterIndex].employeeImage ? 'images/' + notification[counterIndex].employeeImage : 'assets/no-account-pic.png'" style="border-radius: 50%;" [title]="notification[counterIndex].employeeFirstName + ' ' + notification[counterIndex].employeeLastName">
                                </div>
                            </div>

                            <!-- Reply -->
                            <div class="user-comment">
                                {{notification[counterIndex].employeeMessage}}
                            </div>
                        </ng-container>
                    
                        <!-- Empty Reply -->
                        <textarea *ngIf="!notification[counterIndex].employeeMessageDate" [(ngModel)]="notification[counterIndex].employeeMessage" (input)="setSendButtonDisabled()"></textarea>
                    </ng-container>
                </div>
            </div>
        </div>


        <!-- Buttons -->
        <div class="button-container">
            <button class="dark-button" (click)="notificationItem.isNew ? archive() : close()">{{notificationItem.isNew ? 'Archive' : 'Close'}}</button>
            <button class="gold-button" [disabled]="sendButtonDisabled" (click)="sendEmployeeText(); notificationItem.isNew ? archive() : close()">Send</button>
        </div>
    </div>
</div>