<div class="hide notification-popup-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="notification-popup-arrow-container">
        <div class="notification-popup-arrow-up-Border"></div>
        <div class="notification-popup-arrow-up-background"></div>
    </div>

    <div class="notification-popup-base">

        <!-- Notification Type -->
        <div class="notification-type-container">
            <div class="notification-counter-container">
                <counter *ngIf="notificationItem.count > 1"
                         [itemCount]="notificationItem.count"
                         (onItemChange)="userIndex = $event; setSendButtonDisabled()"
                         [currentIndex]="userIndex">
                </counter>
            </div>

            <div class="notification-type-name">Message</div>
            

            <div #ellipsis>
                <icon-button [icon]="'fa-solid fa-ellipsis-vertical'"
                             (onClick)="openContextMenu(ellipsis)">
                </icon-button>
            </div>
        </div>

        
        <!-- User -->
        <div class="dashed-container">
            <div class="user-container">
                <div class="notification-label">Message:</div>
                <div class="notification-info-box">

                    <ng-container *ngIf="notification">
                        <div class="notification-info-bar">
                            <!-- Date -->
                            <div class="notification-date">
                                {{getDate(notification[userIndex].date) | date: 'MMM d, y, h:mm a'}}
                            </div>
            
                            <!-- Image -->
                            <div class="notification-profile-image-container" [ngClass]="{'no-profile-image': notification[userIndex].nonAccountName}">
                                
                                <div class="notification-profile-popup-container" [ngStyle]="{'top': notification[userIndex].nonAccountName ? '-106px' : '-110px'}">
                                    <ng-template #profilePopupContainerTemplate></ng-template>
                                </div>

                                <img style="cursor: pointer;"
                                    [ngStyle]="{'border-radius': notification[userIndex].nonAccountName ? 'none' : '50%'}"
                                    (mousedown)="$event.stopPropagation()"
                                    (click)="openProfilePopup(notification[userIndex], profilePopupContainer)"
                                    [src]="notification[userIndex].nonAccountName ? 'assets/message-notification.png' : notification[userIndex].image ? 'website-images/' + notification[userIndex].image : 'assets/no-account-pic.png'"
                                    [title]="notification[userIndex].nonAccountName ? notification[userIndex].nonAccountName : notification[userIndex].firstName + ' ' + notification[userIndex].lastName">
                            </div>
                        </div>
                    
                        <!-- User Comment -->
                        <div class="notification-user-comment">
                            {{notification[userIndex].text}}
                        </div>
                    </ng-container>
                </div>


                <div style="height: 13px;"></div>


                <!-- Employee -->
                <div class="notification-label">Reply:</div>
                <div class="notification-info-box">

                    <ng-container *ngIf="notification">
                        <ng-container *ngIf="notification[userIndex].employeeMessage.date">
                            <div class="notification-info-bar">
                                
                                <!-- Date -->
                                <div class="notification-date">
                                    {{getDate(notification[userIndex].employeeMessage.date) | date: 'MMM d, y, h:mm a'}}
                                </div>

                                <!-- Image -->
                                <div class="notification-profile-image-container">
                                    <img [src]="notification[userIndex].employeeMessage.image ? 'images/' + notification[userIndex].employeeMessage.image : 'assets/no-account-pic.png'" style="border-radius: 50%;" [title]="notification[userIndex].employeeMessage.firstName + ' ' + notification[userIndex].employeeMessage.lastName">
                                </div>
                            </div>

                            <!-- Reply -->
                            <div class="notification-user-comment">
                                {{notification[userIndex].employeeMessage.text}}
                            </div>
                        </ng-container>
                    
                        <!-- Empty Reply -->
                        <textarea *ngIf="!notification[userIndex].employeeMessage.date" [(ngModel)]="notification[userIndex].employeeMessage.text" (input)="setSendButtonDisabled()"></textarea>
                    </ng-container>
                </div>
            </div>
        </div>


        <!-- Buttons -->
        <div class="notification-button-container">
            <button class="dark-button" (click)="notificationItem.isNew ? archive() : close()">{{notificationItem.isNew ? 'Archive' : 'Close'}}</button>
            <button class="gold-button" [disabled]="sendButtonDisabled" (click)="saveEmployeeText(); notificationItem.isNew ? archive() : close()">Send</button>
        </div>
    </div>
</div>