<div class="product-builder-container" (contextmenu)="$event.preventDefault()">

    <!-- Tabs Container -->
    <div #tabsContainer class="tabs-container">
        
        <!-- Tab -->
        <ng-container *ngFor="let product of productService.products; let i = index">
            <!-- Unselected Tab -->
            <div *ngIf="product != productService.selectedProduct"
                 class="tab"
                 (contextmenu)="$event.preventDefault()"
                 (mousedown)="onTabMouseDown($event, i)"
                 [title]="product.product.name">

                <div class="padding-left"></div>
                <div class="tab-label" [style.width.px]="getTabLabelWidth(tabsContainer)">{{product.product.name}}</div>
                <div class="x"
                     (mousedown)="$event.stopPropagation(); productService.productTabContextMenu ? productService.productTabContextMenu.close() : null"
                     (click)="closeProduct(i)">x</div>
                <div class="padding-right"></div>
            </div>
            
            <!-- Selected Tab -->
            <div *ngIf="product == productService.selectedProduct"
                 class="selected-tab"
                 (contextmenu)="$event.preventDefault()"
                 [style.zIndex]="this.productService.zIndex + 1"
                 (mousedown)="onTabMouseDown($event, i)"
                 [title]="product.product.name">

                <div class="padding-left"></div>
                <div class="tab-label" [style.width.px]="getTabLabelWidth(tabsContainer)">{{product.product.name}}</div> 
                <div class="x"
                     (mousedown)="$event.stopPropagation(); productService.productTabContextMenu ? productService.productTabContextMenu.close() : null"
                     (click)="closeProduct(i)">x</div>
                <div class="padding-right"></div>
                <div class="selected-tab-curve-left"></div>
                <div class="selected-tab-curve-right"></div>
            </div>
        </ng-container>
    </div>
    <ng-template #productsContainer></ng-template>


    <div style="width: 200px; margin-left: 200px;">
        <dropdown [list]="list" [dropdownType]="2"></dropdown>
    </div>
    



</div>