<div class="price-point-property-container">
    <div class="product-label-and-icon-buttons-container">
        <div class="product-property-label">Recurring Payment:</div>
        <div *ngIf="pricePoint.recurringPayment.recurringPrice > 0" class="product-property-icon-button-container">
            <icon-button [icon]="'fas fa-pencil-alt'"
                         [title]="'Edit Recurring Payment'"
                         [popupOpen]="recurringPopupOpen"
                         (onClick)="openRecurringPopup(pricePoint, PopupArrowPosition.BottomRight)">
            </icon-button>
            <icon-button [icon]="'fas fa-trash-alt'"
                         [title]="'Remove Shipping'"
                         (onClick)="removeRecurringPayment(pricePoint)">
            </icon-button>
        </div>
        <div class="recurring-edit-popup-container">
            <ng-template #editRecurringPopup></ng-template>
        </div>
    </div>
    <div class="recurring-dashed-container price-point-dashed-container product-dashed-border-bright">
        <div *ngIf="pricePoint.recurringPayment.recurringPrice == 0" class="product-property-plus-button-container">
            <icon-button style="transform: rotate(45deg)"
                         [icon]="'fa-regular fa-circle-xmark'"
                         [title]="'Add Recurring Payment'"
                         [fontSize]="'18'"
                         [popupOpen]="recurringPopupOpen"
                         (onClick)="openRecurringPopup(pricePoint, PopupArrowPosition.BottomLeft)">
            </icon-button>
        </div>
        <div *ngIf="pricePoint.recurringPayment.recurringPrice > 0" class="recurring-container">
            <recurring-payment [recurringPayment]="pricePoint.recurringPayment"></recurring-payment>
        </div>
        <div class="add-popup-container">
            <ng-template #addRecurringPopup></ng-template>
        </div>
    </div>
</div>