.page-content-container {
    position: relative;
}


.section {
    width: 100%;
    max-width: 780px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 21px;
    align-items: center;
    margin-bottom: 20px;
}

.property {
    width: 100%;
    max-width: 600px;

    div:first-child {
        color: #ffba0e;
        margin-bottom: 5px;
    }

    div:last-child {
        width: fit-content;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;

    &:hover .pencil-icon {
        color: white;
    }

    &:focus-visible {
        .pencil-icon {
            transform: scale(1.2);
            color: white;
        }
        
    }
}

@font-face {
    font-family: 'pencil-icon';
    src: url('../../../assets/fonts/pencil-icon.ttf');
}

.pencil-icon {
    font-family: 'pencil-icon';
    color: #dadada;
    font-size: 18px;

    &::before {
        content: "\e907";
    }
}



input {
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}


img {
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }
}



@media(max-width: 665px) {
    .property {
        max-width: 400px;
    }
}


@media(max-width: 465px) {
    .property {
        max-width: 200px;
    }
}


@media(max-width: 400px) {
    .page-title {
        white-space: normal;
    }
}


@media(max-width: 265px) {
    .property {
        max-width: 175px;
    }
}