@import '../../../scss/variables';

.emphasized-text {
    margin: 20px 0;
}

.password-input-container {
    margin-bottom: 22px;
}

.error-text {
    color: $error-color;
    margin-bottom: 20px;
}

.resend-otp {
    color: $purple-text;
}

.buttons-container {
    display: flex;
    position: relative;
}

.purple-button {
    float: left;
    max-width: 100px;
    opacity: 1;
    margin-left: 0;
    transition: opacity 0.4s;
}


.disabled-purple-button {
    opacity: 0.3;
}


.otp-resent-popup-container {
    position: absolute;
    top: -53px;
}

.button-container {
    width: 100%;
}


@media(max-width: 265px) {
    .purple-button {
        font-size: 12px;
    }
}