@import '../../../scss/variables';

.emphasized-text {
    margin: 20px 0;
}

.password-input-container {
    margin-bottom: 22px;
}

.error-text {
    color: $error-color;
    margin-bottom: 20px;
}

.purple-button {
    float: left;
    max-width: 95px;
}

.email-sent {
    color: $success-color;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;

    span {
        margin-left: 5px;
    }
}

.button-container {
    width: 100%;
}