.price-type-radio-buttons-container {
    display: flex;
    justify-content: space-around;
    padding: 0 10px 15px;
}


.single-price-container {
    padding: 0 10px;

    input {
        margin-bottom: 10px;
    }
}



input:not([type]) {
    margin-bottom: 15px;
}



.fields-container {
    padding: 10px 10px;
}


::placeholder {
    color: #434343;
}

.strikethrough::placeholder {
    text-decoration: line-through;
}