.background {
    padding: 20px;
}

.subproduct-container {
    margin: auto;
    width: fit-content;
}

.delete-icon-container {
    display: flex;
    justify-content: flex-end;
}

.dashed-border {
    border: 1px dashed #505050;
}

.content-container {
    width: fit-content;
    display: flex;
    margin: auto;
    padding: 40px;
}

.image-container {
    margin-right: 25px;
}

// .icon-container {
//     display: flex;
//     justify-content: space-between;
//     width: 200px;
//     height: 22px;
// }



.label-and-icon-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



// .label {
//     color: #505050;
//     font-size: 12px;
//     line-height: 22px;
//     flex: 1;
// }



.label {
    color: #505050;
    font-size: 12px;
    margin-bottom: 4px;
    user-select: none;
    flex: 1;
}



.icon {
    color: #828282;
    cursor: pointer;

    &:hover {
        color: #b4b4b4;
    }

    &:active {
        color: #dadada;;
    }

    &:focus-visible {
        color: #dadada;
        transform: scale(1.2);
    }
}

// .image-container {
//     width: 200px;
//     height: 200px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 100px;
//     color: #3c3c3c;
//     cursor: pointer;
// }


.image-dashed-container {
    display: flex;
    width: 220px;
    height: 220px;
    border: 1px dashed #505050;
    outline: none;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;

    .fa-image {
        font-size: 60px;
        color: #3c3c3c;
    }

    &:hover {
        .fa-image {
            color: lighten(#3c3c3c, 6);
        }
    }
}




// .image-icon-container {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
// }

.name-description-container {
    width: 727px;
}

.name-container {
    outline: none;
    padding: 5px;
    
}

.description-container {
    min-height: 32px;
    border: 1px dashed #505050;
    padding: 5px;
    position: relative;
}

.value-container {
    width: 100px;
    margin-left: 20px;
}


.value {
    border: 1px dashed #505050;
    width: 100px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-star-container {
    width: 88px;
    height: 88px;
    position: relative;
    transform: rotate(-10deg);
}

.value-text-container {
    font-weight: bold;
    color: #dadada;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.value-amount-text {
    font-size: 23px;
}

.value-text {
    font-size: 16px;
}

.fa-plus {
    cursor: pointer;
    font-size: 24px;
    color: #909090;
    position: relative;

    &::after {
        content: "";
        border: 1px solid #999999;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        left: -6px;
        width: 31px;
        height: 31px;
    }
}


.add-subproduct {
    margin: auto;
    width: 30px;
    margin-bottom: 30px;
}