<!-- Title bar -->
<div class="title-bar" (click)="click(input)">
    <!-- Arrow -->
    <input #input type="checkbox" [checked]="expanded">
    <div class="arrow"></div>


    <label *ngIf="enabledProperty" class="checkbox" style="margin-bottom: 16px;" (click)="$event.stopPropagation()">
        <input type="checkbox" (change)="enabledProperty.enabled = !enabledProperty.enabled; onChange.emit()">
        <span class="checkmark"></span>
    </label>

    <!-- Title -->
    <div>{{title}}</div>
</div>

<!-- Content -->
<div #content class="content" [ngStyle]="{'maxHeight.px': expanded ? contentMaxHeight : 0, 
        'paddingTop.px': expanded ? contentPadding : 0, 
        'paddingBottom.px': expanded ? contentPadding : 0}" (transitionend)="transitionend()">
    <ng-content></ng-content>

    <!-- Disabled cover -->
    <div *ngIf="enabledProperty && !enabledProperty.enabled" class="property-cover"></div>
</div>