<header-footer [breadcrumbs]="breadcrumbs">
    <div class="page-content-container">
        <div class="page-content">
            <div class="page-title">Reviews</div>

            <div class="reviews-page-container">
                <div class="mobile-product-title">{{product.name}}</div>

                <div class="media-backdrop">

                    <img [src]="'images/' + product.media[0].imageMd" [title]="product.media[0].name"
                        [alt]="product.media[0].name">
                </div>

                <div class="review-info">

                    <div class="product-title">{{product.name}}</div>

                    <div class="review-summary-container">
                        <review-summary [product]="product"></review-summary>

                        <button class="gold-round-button-lg" (click)="onWriteReviewClick()">Write a
                            Review</button>
                    </div>
                </div>
            </div>
            <helpful-reviews></helpful-reviews>
        </div>
        <reviews *ngIf="product.totalReviews > 0" #reviews [product]="product" [showPaginator]="true"></reviews>
    </div>
</header-footer>