@import '../../../scss/variables';

.owner-list {
    background: #222222;
    border: 1px solid #323232;
    display: flex;
    padding: 7px;
    margin-bottom: 14px;
    border-radius: 4px;
    position: relative;
    outline: none;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover:not(.selected-owner-list):not(.selected-collaborator-list) {
        background: lighten(#222222, 2);
        border-color: lighten(#323232, 2);
    }
}


.collaborator-list {
    background: #222222;
    border: 1px solid #323232;
    display: flex;
    padding: 7px;
    margin-bottom: 14px;
    border-radius: 4px;
    position: relative;
    outline: none;
    cursor: pointer;

    .owner {
        color: $purple-text;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover:not(.selected-owner-list):not(.selected-collaborator-list) {
        background: lighten(#222222, 2);
        border-color: lighten(#323232, 2);
    }
}



.selected-owner-list {
    background: #322b18;
    user-select: none;
    border-color: rgba(255, 187, 0, 0.85);
    cursor: default;

    .list-title {
        color: white;
    }

    .owner {
        color: lighten($gold, 15);
    }

    .description {
        color: lighten(#dadada, 20);
    }

    .item-count {
        color: lighten(#b4b4b4, 20);
    }
}


.selected-collaborator-list {
    background: #331b2f;
    user-select: none;
    border-color: #8d1f7e;
    cursor: default;

    .list-title {
        color: white;
    }

    .owner {
        color: lighten($purple-text, 20);
    }

    .description {
        color: lighten(#dadada, 20);
    }

    .item-count {
        color: lighten(#b4b4b4, 20);
    }
}



.list-title {
    font-size: 16px;
    color: #dadada;
    font-weight: bold;
    margin-bottom: 15px;
}

.owner {
    color: $gold;
    margin-bottom: 5px;
}

.description {
    color: #dadada;
    margin-bottom: 7px;
}


.item-count {
    color: #b4b4b4;
    font-style: italic;
    font-size: 13px;
}