<div class="list-menu-bar">
    <button (click)="onEditListClick()"
        [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canEditList">Edit</button>
    <button (click)="onDeleteListClick()"
        [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canDeleteList">Delete</button>
    <button (click)="onShareListClick()"
        [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canShareList && !selectedList.listPermissions?.canInviteCollaborators">Share</button>
    <button (click)="onManageCollaboratorsClick()"
        [disabled]="!selectedList.isOwner && !selectedList.listPermissions?.canManageCollaborators">Collaborators</button>
</div>


<div *ngFor="let list of lists" class="list-info" [ngClass]="{'selected-list': selectedList == list}"
    (click)="selectedList = list; onListClick.emit(list)">

    <div style="margin-right: 10px;" [title]="list.ownerProfileImage?.name">
        <div class="profile-pic" style="position: absolute; z-index: 2;"></div>
        <img [src]="list.ownerProfileImage?.src ? 'images/' + list.ownerProfileImage?.src : 'assets/no-account-pic.png'" [alt]="list.ownerProfileImage?.name" class="profile-pic">
    </div>

    <div>
        <div class="list-title">{{list.name}}</div>
        <div class="owner">Owner: {{list.ownerName}}</div>
        <div class="description">{{list.description}}</div>
        <div class="item-count">{{list.totalProducts}} Item{{list.totalProducts == 0 ||
            list.totalProducts > 1 ? 's' : ''}}
        </div>
    </div>

</div>
<button class="purple-button" (click)="onCreateNewListClick.emit()">Create a new list</button>