<div #list
     tabindex="-1"
     *ngFor="let list of lists"
     (click)="selectedList = list; onListClick.emit(list);"
     [class]="list.isOwner ? 'owner-list' : 'collaborator-list'"
     [ngClass]="{'selected-owner-list': selectedList.isOwner && selectedList == list, 'selected-collaborator-list': !selectedList.isOwner && selectedList == list}">

    <div style="margin-right: 10px;" [title]="list.ownerProfileImage?.name">
        <div class="profile-pic" style="position: absolute; z-index: 2;"></div>
        <img [src]="list.ownerProfileImage?.src ? 'images/' + list.ownerProfileImage?.src : 'assets/no-account-pic.png'" [alt]="list.ownerProfileImage?.name" class="profile-pic">
    </div>

    <div>
        <div class="list-title">{{list.name}}</div>
        <div class="owner">Owner: {{list.ownerName}}</div>
        <div class="description">{{list.description}}</div>
        <div class="item-count">{{list.totalProducts}} Item{{list.totalProducts == 0 ||
            list.totalProducts > 1 ? 's' : ''}}
        </div>
    </div>

</div>