<div #widget style="display: flex;
justify-content: center;
align-items: center;
user-select: none;
word-break: break-word;
overflow-wrap: break-word;
text-align: center;" [style.backgroundColor]="getBackgroundColor()"
    [style.border]="border && border.enabled ? border.width + 'px ' + border.style + ' ' + getBorderColor() : null"
    [style.borderRadius]="
corners && 
(corners.topLeft > 0 ||
corners.topRight > 0 ||
corners.bottomRight > 0 ||
corners.bottomLeft > 0) ?
corners.topLeft + 'px ' + corners.topRight + 'px ' + corners.bottomRight + 'px ' + corners.bottomLeft + 'px': null"
    [style.box-shadow]="shadow && shadow.enabled ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.rgbColor.toRGBString() : null"
    [style.fontSize.px]="caption.fontSize" [style.maxWidth.px]="width ? width : null" [style.minHeight.px]="height"
    [ngStyle]="{ 'background-image': background.image && background.image.src ? 'url(images/' + background.image.src + ')' : null,
                        'background-position': background.image ? background.image.position : null,
                        'background-repeat': background.image ? background.image.repeat : null,
                        'background-attachment': background.image ? background.image.attachment : null}"
    [ngClass]="{'selected-widget': widgetService.selectedWidget == this}">

    <div [style.fontFamily]="caption.font.value" [style.fontSize]="caption.fontSize.value"
        [style.fontWeight]="caption.fontWeight" [style.fontStyle]="caption.fontStyle"
        [style.textDecoration]="caption.textDecoration" [style.color]="getTextColor()" style="text-align: center;">
        {{caption.text}}
    </div>

    <!-- Handles -->
    <div id="handles" *ngIf="widgetService.selectedWidget == this">
        <div class="handle top-left"></div>
        <div class="handle top" (mousedown)="onTopHandleMousedown($event)"></div>
        <div class="handle top-right"></div>
        <div class="handle left"></div>
        <div class="handle bottom-left"></div>
        <div class="handle bottom" (mousedown)="onBottomHandleMousedown($event)"></div>
        <div class="handle bottom-right"></div>
        <div class="handle right"></div>
    </div>
</div>