<div class="field-label">Trial Period:</div>
<div style="display: flex; align-items: center; margin-bottom: 20px;">
    <input style="margin-bottom: 0; width: 26px; margin-right: 8px;" disabled> <!-- [value]="recurringPayment.trialPeriod" -->
    <input #trialBillDateInput type="date" style="width: 100%; background: #414141; border: 1px solid #505050; height: 22px"> <!-- (change)="onTrialPeriodChange()" -->
</div>


<!-- Price -->
<div class="field-label">Price:</div>
<input #priceInput><!-- [value]="recurringPayment.price" (input)="onPriceChange(priceInput)" -->


<!-- Rebill Frequency -->
<div class="field-label">Rebill Frequency:</div>
<div style="margin-bottom: 20px;">
    <!-- <dropdown [height]="22" [title]="''" [dropdownList]="rebillFrequencyList"
        [selectedIndex]="recurringPayment.rebillFrequency" (onChange)="onRebillFrequencyChange($event)">
    </dropdown> -->
</div>



<!-- Time Frame Between Rebill -->
<ng-container> <!-- *ngIf="recurringPayment.rebillFrequency == rebillFrequency.Days || 
    recurringPayment.rebillFrequency == rebillFrequency.Weeks || 
    recurringPayment.rebillFrequency == rebillFrequency.Months" -->

    <div class="field-label">Number of days Between Each Rebill:</div><!-- Number of {{getTimeFrameBetweenRebill()}} Between Each Rebill: -->
    <div style="margin-bottom: 20px;">
        <!-- <dropdown [height]="22" [title]="''" [dropdownList]="timeFrameBetweenRebillList"
            [selectedIndex]="timeFrameBetweenRebillIndex"
            (onChange)="setTimeFrameBetweenRebillIndex($event); onTimeFrameBetweenRebillChange($event)"></dropdown> -->
    </div>
</ng-container>


<!-- Subscription Duration -->
<div class="field-label">Subscription Duration:</div>
<input #subscriptionDurationInput><!-- [value]="recurringPayment.subscriptionDuration" (input)="onSubscriptionDurationChange(subscriptionDurationInput)" -->