<div class="property-box-dark">

    <!-- Property Box Bar -->
    <div #propertyBoxBar class="property-box-bar">

        <!-- Icons -->
        <div class="icons">
            <!-- Delete breakpoint -->
            <icon-button [icon]="'fa-solid fa-trash-can'" [title]="'Delete breakpoint'"></icon-button>

            <!-- Add breakpoint -->
            <icon-button [icon]="'fa-solid fa-circle-plus'" [title]="'Add breakpoint'"></icon-button>
        </div>
    </div>

    <!-- Base -->
    <div #base class="base">
        <!-- Breakpoints text -->
        <div class="breakpoints-text-container">
            <div *ngFor="let breakpoint of breakpointService.breakpoints; let i = index" class="breakpoints-text"
                (click)="onBreakpointClick(i)"
                [style.cursor]="breakpointService.selectedViewPortDimension.key == 'Responsive' ? 'pointer' : 'default'">
                {{breakpoint.name | uppercase}}</div>
        </div>

        <!-- Line container -->
        <div class="breakpoint-lines-container">
            <div class="breakpoint-line" *ngFor="let breakpointLine of breakpointService.breakpoints"></div>
        </div>

        <!-- Playhead -->
        <div class="playhead" [style.left.px]="playheadPosition"
            [ngClass]="{'playhead-disabled': breakpointService.selectedViewPortDimension.key != 'Responsive'}">
            <div class="playhead-text" (mousedown)="onPlayheadMousedown($event)">
                {{breakpointService.currentBreakpoint | uppercase}}</div>
        </div>

        <!-- Playhead line -->
        <div class="playhead-line" [style.left.px]="playheadPosition + 12"
            [ngClass]="{'playhead-disabled': breakpointService.selectedViewPortDimension.key != 'Responsive'}"></div>
    </div>
</div>