<panel [title]="title">
    <div class="property-box-dark">


        <!-- Base -->
        <div #base class="base">
            <!-- Breakpoints text -->
            <div class="breakpoints-text-container">
                <div *ngFor="let breakpoint of breakpointService.breakpoints; let i = index" class="breakpoints-text"
                    (click)="onBreakpointNameClick(i)"
                    [style.cursor]="breakpointService.selectedViewPortDimension.key == 'Responsive' ? 'pointer' : 'default'">
                    {{breakpoint.name | uppercase}}</div>
            </div>


            <!-- Breakpoints Background -->
            <div class="breakpoints-background" [style.height.px]="(breakpoints.length * 40) + 10">
                <div class="breakpoint-lines-container">
                    <div class="breakpoint-line" *ngFor="let breakpointLine of breakpointService.breakpoints"></div>
                </div>

                <!-- Breakpoints -->
                <ng-container *ngFor="let breakpoint of breakpoints; let i = index">
                    <div class="breakpoints-container" [style.top.px]="i * 40 + 10"
                        (mousedown)="onMousedown($event, breakpoint.label)" (contextmenu)="$event.preventDefault()">
                        <div class="breakpoint-label">{{breakpoint.label}}:</div>
                        <div class="breakpoints-row">


                            <!-- Breakpoint Values -->
                            <ng-container *ngFor="let breakpointValue of breakpoint.values; let i = index">
                                <div class="breakpoint-container" (click)="onBreakpointClick(breakpointValue)"
                                    [ngClass]="{'selected-breakpoint': breakpointValue == selectedBreakpointValue}"
                                    [style.left.px]="getBreakpointLeftPosition(breakpointValue.breakpoint)"
                                    [style.right.px]="getBreakpointRightPosition(i == breakpoint.values.length - 1 ? 8 : breakpoint.values[i + 1].breakpoint)">

                                    <div class="diamond" style="margin-left: -5px;"></div>
                                    <div class="breakpoint-horizontal-line"></div>

                                    <ng-container *ngIf="i == breakpoint.values.length - 1">
                                        <div class="diamond" style="margin-right: -4px;"></div>
                                    </ng-container>

                                    <div style="position: absolute;">
                                        <div class="value-display"
                                            [ngClass]="{'selected': breakpointValue == selectedBreakpointValue}">
                                            <ng-container *ngIf="!isImage">
                                                {{breakpointValue.getValue()}}
                                            </ng-container>

                                            <img *ngIf="isImage" [src]="'assets/' + breakpointValue.getValue()">
                                        </div>


                                        <!-- Arrow buttons -->
                                        <ng-container *ngIf="breakpointValue == selectedBreakpointValue">
                                            <i class="fa-solid fa-caret-left" style="left: -11px;"
                                                (click)="onArrowClick(-1, breakpointValue)"></i>
                                            <i class="fa-solid fa-caret-right" style="left: 14px;"
                                                (click)="onArrowClick(1, breakpointValue)"></i>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>





            <!-- Playhead -->
            <div class="playhead" [style.left.px]="playheadPosition"
                [ngClass]="{'playhead-disabled': breakpointService.selectedViewPortDimension.key != 'Responsive'}">
                <div class="playhead-text" (mousedown)="onPlayheadMousedown($event)">
                    {{breakpointService.currentBreakpoint | uppercase}}</div>
            </div>

            <!-- Playhead line -->
            <div class="playhead-line" [style.left.px]="playheadPosition + 13"
                [ngClass]="{'playhead-disabled': breakpointService.selectedViewPortDimension.key != 'Responsive'}">
            </div>
        </div>
    </div>
</panel>