<!-- None -->
<div class="radio-button-container">

    <div id="custom-input">
        <label style="color: #bbbbbb;">
            <input type="radio" name="'shipping_' + GUID" checked>
            None
            <span class="checkmark"></span>
        </label>
    </div>
</div>


<!-- Free Shipping -->
<div class="radio-button-container">
    <div id="custom-input">
        <label style="color: #bbbbbb;">
            <input type="radio" name="'shipping_' + GUID">
            Free Shipping
            <span class="checkmark"></span>
        </label>
    </div>
</div>


<!-- Free Us Shipping -->
<div class="radio-button-container">
    <div id="custom-input">
        <label style="color: #bbbbbb;">
            <input type="radio" name="'shipping_' + GUID">
            Free US Shipping
            <span class="checkmark"></span>
        </label>
    </div>
</div>



<!-- Plus Shipping -->
<div class="radio-button-container">
    <div id="custom-input">
        <label style="color: #bbbbbb;">
            <input type="radio" name="'shipping_' + GUID">
            Plus Shipping
            <span class="checkmark"></span>
        </label>
    </div>
</div>



<!-- Just Pay Shipping -->
<div class="radio-button-container">
    <div id="custom-input">
        <label style="color: #bbbbbb;">
            <input type="radio" name="'shipping_' + GUID">
            Just Pay Shipping
            <span class="checkmark"></span>
        </label>
    </div>
</div>