<div class="hide popup-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="popup-arrow-container">
        <div class="popup-arrow-up-Border"></div>
        <div class="popup-arrow-up-background"></div>
    </div>

    <div class="popup-base">

        <!-- Product -->
        <div class="product-container">
            <div class="product-thumbnail-container">
                <img [src]="'images/' + notificationItem.image">
            </div>
            <div class="product-name">{{notificationItem.name}}</div>
        </div>


        <!-- Notification Type -->
        <div class="notification-type-container">
            {{notificationItem.name}}
        </div>


        
        <!-- User -->
        <div class="label">User Comment:</div>
        <div class="info-box">
            <ng-container *ngIf="notification">
                <div class="info-bar">

                    <!-- Counter -->
                    <div class="counter-container">
                        <counter *ngIf="notification.users.length > 1" [itemCount]="notification.users.length" (onItemChange)="userIndex = $event"></counter>
                    </div>
                    

                    <div class="profile-container">
                        <!-- Date -->
                        <div class="date">
                            {{notification.users[userIndex].date | date: 'MMM d, y, h:mm a'}}
                        </div>

                        <!-- Image -->
                        <div class="profile-image-container">

                            <div class="profile-popup-container">
                                <ng-template #profilePopupContainer></ng-template>
                            </div>

                            <img style="cursor: pointer;"
                                (mousedown)="$event.stopPropagation()"
                                (click)="openNotificationUserProfilePopup()"
                                [src]="'images/' + notification.users[userIndex].image"
                                [title]="notification.users[userIndex].firstName + ' ' + notification.users[userIndex].lastName">
                        </div>
                    </div>
                </div>
            
                <!-- User Comment -->
                <div class="user-comment">
                    {{notification.users[userIndex].text}}
                </div>
            </ng-container>
        </div>



        <!-- Employee -->
        <div class="label-container">
            <div class="label">Notes:</div>
            <div *ngIf="notification && notification.employees.length > 0" class="notes-button-container">
                <icon-button [icon]="'fa-solid fa-file-lines'"
                             [title]="'Add New Note'"
                             [fontSize]="'16'"
                             [isDisabled]="newNoteAdded"
                             (onClick)="addNote()">
                </icon-button>
            </div>
        </div>
        
        <div class="info-box">
            <ng-container *ngIf="notification">
                <div *ngIf="notification.employees.length > 0" class="info-bar">

                    <!-- Counter -->
                    <div class="counter-container">
                        <counter *ngIf="notification.employees.length > 1"
                                 [itemCount]="notification.employees.length"
                                 (onItemChange)="employeeIndex = $event"
                                 [currentIndex]="employeeIndex">
                        </counter>
                    </div>

                    <div class="profile-container">
                        <!-- Date -->
                        <div *ngIf="notification.employees[employeeIndex].date != null" class="date">
                            {{notification.employees[employeeIndex].date | date: 'MMM d, y, h:mm a'}}
                        </div>

                        <!-- Image -->
                        <div *ngIf="notification.employees[employeeIndex].image != null" class="profile-image-container">
                            <img [src]="'images/' + notification.employees[employeeIndex].image" [title]="notification.employees[employeeIndex].firstName + ' ' + notification.employees[employeeIndex].lastName">
                        </div>
                    </div>
                </div>

                <!-- Notes -->
                <textarea #notes *ngIf="notification.employees.length == 0 || notification.employees[employeeIndex].date == null" [ngStyle]="{'height': notification.employees[employeeIndex] ? '94px' : '128px'}" (input)="notification.employees.length == 0 ? newNote = notes.value : notification.employees[employeeIndex].text = notes.value"></textarea>
            
                
                <div *ngIf="notification.employees.length > 0 && notification.employees[employeeIndex].date != null" class="user-comment">
                    {{notification.employees[employeeIndex].text}}
                </div>
            </ng-container>
        </div>
        

        <!-- Buttons -->
        <div class="button-container">
            <button class="dark-button" (click)="close()">Disable Product</button>
            <button class="gold-button">Archive</button>
        </div>
    </div>
</div>