<div class="hide popup-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="popup-arrow-container">
        <div class="popup-arrow-up-Border"></div>
        <div class="popup-arrow-up-background"></div>
    </div>

    <div class="popup-base">

        <!-- Product -->
        <div class="product-container">
            <div class="product-thumbnail-container">
                <img [src]="'images/' + notificationItem.thumbnail">
            </div>
            <div class="product-name">{{notificationItem.productName}}</div>
        </div>


        <!-- Notification Type -->
        <div class="notification-type-container">
            {{notificationItem.name}}
        </div>


        <!-- User -->
        <div class="label">User Comment:</div>
        <div class="info-box">
            
            <div class="info-bar">

                <!-- Counter -->
                <div>
                    <counter *ngIf="notification && notification.users.length > 1" [itemCount]="notification ? notification.users.length : 1" (onItemChange)="userIndex = $event"></counter>
                </div>
                

                <div class="profile-container">
                    <!-- Date -->
                    <div *ngIf="notification" class="date">
                        {{notification.users[userIndex].date | date: 'MMM d, y, h:mm a'}}
                    </div>

                    <!-- Image -->
                    <div class="profile-image-container">

                        <div class="profile-popup-container">
                            <ng-template #profilePopupContainer></ng-template>
                        </div>

                        <img *ngIf="notification"
                                style="cursor: pointer;"
                                (mousedown)="$event.stopPropagation()"
                                (click)="openNotificationUserProfilePopup()"
                                [src]="'images/' + notification.users[userIndex].image"
                                [title]="notification.users[userIndex].firstName + ' ' + notification.users[userIndex].lastName">
                    </div>
                </div>
                    
            </div>
        
            <!-- User Comment -->
            <div *ngIf="notification" class="user-comment">
                {{notification.users[userIndex].text}}
            </div>
        </div>


        <!-- Employee -->
        <div class="label">Notes:</div>
        <div class="info-box">

            <div *ngIf="notification && notification.employees[employeeIndex]" class="info-bar">

                <!-- Counter -->
                <div>
                    <counter *ngIf="notification && notification.employees.length > 1" [itemCount]="notification ? notification.employees.length : 1" (onItemChange)="employeeIndex = $event"></counter>
                </div>

                <div class="profile-container">
                    <!-- Date -->
                    <div class="date">
                        {{notification.employees[employeeIndex].date | date: 'MMM d, y, h:mm a'}}
                    </div>

                    <!-- Image -->
                    <div class="profile-image-container">
                        <img [src]="'images/' + notification.employees[employeeIndex].image" [title]="notification.employees[employeeIndex].firstName + ' ' + notification.employees[employeeIndex].lastName">
                    </div>
                </div>
            </div>

            <!-- Notes -->
            <textarea #notes *ngIf="notification" [ngStyle]="{'height': notification.employees[employeeIndex] ? '98px' : '128px'}">{{notification.employees[employeeIndex] ? notification.employees[employeeIndex].text : null}}</textarea>
        </div>


        <!-- Buttons -->
        <div class="button-container">
            <button class="dark-button" (click)="close()">Close</button>
            <button class="gold-button">Disable Product</button>
        </div>
    </div>
</div>