.info-property-container {
    margin-top: 14px;
}

.info-container {
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #ffba00;
}