@import '../../../scss/variables';

.purple-button {
    max-width: 95px;
}

.email-sent {
    color: $success-color;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;

    span {
        margin-left: 5px;
    }
}