<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">
    <!-- Backdrop -->
    <div class="backdrop" (click)="close()" (wheel)="$event.preventDefault()"></div>

    <!-- Container -->
    <div class="container" (wheel)="$event.preventDefault()">

        <!-- Base -->
        <div #base class="base">

            <!-- Header -->
            <div class="header">
                Reset Password

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <!-- Content -->
            <div class="content">

                <form [formGroup]="form" #_form="ngForm" (ngSubmit)="onSubmit()">
                    <!-- One-time Password -->
                    <div class="label">One-time Password:</div>
                    <input #tabElement
                        type="text"
                        formControlName="otp"
                        spellcheck="false"
                        (keydown.space)="$event.stopPropagation()"
                        [ngClass]="{'error-border': _form.submitted && form.controls.otp.errors}">

                    <ng-container *ngIf="_form.submitted && form.controls.otp.errors && form.controls.otp.touched">
                        <ul>
                            <li *ngFor="let message of getErrorMessages('otp', 'One-time password')">
                                {{message}}
                            </li>
                        </ul>
                    </ng-container>


                    <div *ngIf="emailResent" class="email-sent">
                        <i class="check-mark"></i>
                        <span>A new one-time password has been sent to your email.</span>
                    </div>





                    <!-- New Password -->
                    <div class="label">New Password:</div>
                    <div class="password-input-container">
                        <input #tabElement type="password" formControlName="newPassword" (keydown.space)="$event.stopPropagation()"
                            [ngClass]="{'error-border': _form.submitted && form.controls.newPassword.errors}">


                        <div class="show-hide-password-icon-container" showHidePassword>
                            <i class="hide-password"></i>
                        </div>

                        <ng-container *ngIf="_form.submitted && form.controls.newPassword.errors">
                            <ul>
                                <li *ngFor="let message of getErrorMessages('newPassword', 'New Password')">
                                    {{message}}
                                </li>
                            </ul>
                        </ng-container>
                    </div>



                    <!-- Confirm Password -->
                    <div class="label">Confirm Password:</div>
                    <div class="password-input-container">
                        <input #tabElement type="password" formControlName="confirmPassword" (keydown.space)="$event.stopPropagation()"
                            [ngClass]="{'error-border': _form.submitted && (form.controls.confirmPassword.errors || form.errors?.noPasswordMatch)}">


                        <div class="show-hide-password-icon-container" showHidePassword>
                            <i class="hide-password"></i>
                        </div>

                        <ng-container
                            *ngIf="_form.submitted && (form.controls.confirmPassword.errors || form.errors?.noPasswordMatch)">
                            <ul>
                                <li *ngFor="let message of getErrorMessages('confirmPassword', 'Confirm Password')">
                                    {{message}}
                                </li>
                            </ul>
                        </ng-container>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <button #tabElement type="button" class="purple-button" (click)="onResendEmailClick()">Resend OTP</button>

                        <!-- Button Container -->
                        <div class="button-container">

                            
                            <button #tabElement type="submit" class="gold-rect-button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>