<div class="properties">
    <!-- Page type -->
    <div class="property">
        <div class="label" style="margin-right: 15px;">Type:</div>
        <div style="width: 100%;">
            <!-- <dropdown [listItems]="pageTypes">
            </dropdown> -->

            <select [(ngModel)]="selectedPageType" (change)="widgetService.page.save()">
                <option *ngFor="let pageType of pageTypes" [ngValue]="pageType">
                    {{pageType.key}}</option>
            </select>
        </div>
    </div>


    <!-- Page Name -->
    <div class="property">
        <div class="label" style="margin-right: 9px;">Name:</div>
        <input [(ngModel)]="widgetService.page.name" (input)="widgetService.page.save()">
    </div>





    <!-- <ng-container *ngIf="page.displayType == pageDisplayType.Browse || page.displayType == pageDisplayType.Search || page.displayType == pageDisplayType.Product"> -->
    <!-- <div style="font-size: 12px;">Niches:</div> -->

    <div class="icon-buttons-container">



        <div class="icons">
            <!-- Delete icon -->
            <icon-button [icon]="'fas fa-trash-alt'"
                [title]="nichesList.deleteIconButtonTitle"
                [isDisabled]="nichesList.isDisabled('deleteDisabled')"
                (onOver)="nichesList.overButton = $event"
                (onClick)="nichesList.delete()">
            </icon-button>




            <!-- Add icon -->
            <icon-button [icon]="'fas fa-plus-circle'"
                         [title]="nichesList.addIconButtonTitle"
                         [isDisabled]="nichesList.isDisabled('addDisabled')"
                         (onOver)="nichesList.overButton = $event"
                         (onClick)="nichesList.add()">
            </icon-button>

        </div>
    </div>



    <div class="modal-list-container">
        <list #listComponent [sourceList]="nichesList.thisArray" 
        (onListUpdate)="nichesList.listUpdate = $event"></list>
    </div>








    <!-- Background color & image -->
    <background [background]="widgetService.page.pageContent.background" (onChange)="onBackgroundChange()"></background>
</div>