<div class="properties">
    <!-- Page Name -->
    <div class="property">
        <div class="label" style="margin-right: 9px;">Name:</div>
        <input [(ngModel)]="widgetService.page.name" (input)="widgetService.page.save()">
    </div>

    <!-- Page type -->
    <div class="property">
        <div class="label" style="margin-right: 15px;">Type:</div>
        <div style="width: 100%;">


            <select [(ngModel)]="selectedPageType">
                <option *ngFor="let pageType of pageTypes" [ngValue]="pageType">
                    {{pageType.key}}</option>
            </select>
        </div>
    </div>

    <ng-container *ngIf="widgetService.page.pageType == pageType.Browse">
        <div>Niches:</div>
        <search #nichesSearch [apiUrl]="'Niches/Search'" [placeholderText]="'Add a niche'" [clearOnSelection]="true"
            (onItemSelect)="pageNiches.add($event.id, $event.name)">
        </search>
        <page-niches #pageNiches (onDuplicatePromptOpen)="nichesSearch.searchInput.nativeElement.blur()"
            (onDuplicatePromptClose)="nichesSearch.searchInput.nativeElement.focus()"></page-niches>
    </ng-container>



    <ng-container *ngIf="widgetService.page.pageType == pageType.Search">
        <div>Keywords:</div>
        <search #keywordsSearch [apiUrl]="'Keywords/Search'" [placeholderText]="'Add a keyword group'"
            [clearOnSelection]="true" (onItemSelect)="pageKeywords.add($event.id, $event.name)">
        </search>
        <page-keywords #pageKeywords (onDuplicatePromptOpen)="keywordsSearch.searchInput.nativeElement.blur()"
            (onDuplicatePromptClose)="keywordsSearch.searchInput.nativeElement.focus()"></page-keywords>
    </ng-container>



    <!-- Background color & image -->
    <background [background]="widgetService.page.pageContent.background" [mediaReference]="getMediaReference()" (onChange)="onBackgroundChange()"></background>
</div>