<div class="hide modal-backdrop" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="modal-base">

        <div class="modal-bar">
            <div>Move {{itemToBeMovedType}}</div>
            <div class="modal-x-button" (click)="onCancelButtonClick()">X</div>
        </div>
        <div class="modal-bar-drop-shadow"></div>

        <div class="modal-content">

            <div class="label-container">
                <span class="label">Move {{itemToBeMovedType}}:</span>
                <span *ngIf="itemToBeMoved" class="value">{{itemToBeMoved.name}}</span>
            </div>

            <div class="label-container">
                <span class="label">From {{destinationItemType}}:</span>
                <span *ngIf="fromItem" class="value">{{fromItem.name}}</span>
            </div>

            <div class="label-container">
                <span class="label">To {{destinationItemType}}:</span>
                <span *ngIf="destinationItem" class="value">{{destinationItem.name}}</span>
                <span *ngIf="!destinationItem" class="value-placeholder">&lt;{{destinationItemType}}&gt;</span>
            </div>

            <div class="instructions">Select a {{destinationItemType | lowercase}} from the following list:</div>

            <div class="list-container">
                <list #list [sourceList]="destinationList" [options]="listOptions" (onListUpdate)="listUpdate = $event"></list>
            </div>
        </div>


        <div class="modal-button-container">
            <button class="dark-button" (click)="onCancelButtonClick()">Cancel</button>
            <button class="gold-button" [disabled]="!destinationItem" (click)="onMoveButtonClick()">Move</button>
        </div>
    </div>
</div>