.modal-content {
    color: #b4b4b4;
}

.label-container {
    margin-bottom: 9px;
}

.label {
    margin-right: 5px;
    color: #b4b4b4;
}

.value {
    color: #ffba00;
}

.value-placeholder {
    color: rgba(255, 187, 0, 0.301);
}

.instructions {
    color: #616161;
    font-style: italic;
    margin-top: 13px;
}

.list-container {
    height: 262px;
    margin-top: 6px;
    background: #171717;
    border: 1px solid #353535;
    overflow-y: auto;
}