<!-- Container -->
<div [id]="isHostPageDev ? 'page-container' : ''" class="container" (mouseup)="onContainerMouseup($event)" (mousemove)="onContainerMousemove($event, rowIndicator)"
    (mouseenter)="onContainerMouseenter()" (mouseleave)="onContainerMouseleave()" (mousedown)="onMousedown($event)"
    (contextmenu)="$event.preventDefault()" [ngClass]="{'container-outline': widgetService.page && widgetService.page.id > 0}">

    <!-- Row Indicator -->
    <div [id]="showRowIndicator ? 'show-row-indicator': ''" #rowIndicator class="row-indicator"></div>

    <ng-template #viewContainerRef>
        <!-- Rows go here -->
    </ng-template>
</div>