<div class="footer-base">
    <div class="columns-container">
        <div class="footer-column">
            <div class="heading niche-shack-heading">Niche Shack</div>

            <div class="link-container">
                <a routerLink="/about">About Niche Shack</a>
            </div>
            
            <div class="link-container">
                <a routerLink="/terms">Terms of Use</a>
            </div>
            
            <div class="link-container">
                <a routerLink="/privacy-policy">Privacy Policy</a>
            </div>
            
        </div>

        <div class="footer-column">
            <div class="heading">Your Niche</div>

            <div class="link-container">
                <a routerLink="/account">Your Account</a>
            </div>
            
            <div class="link-container">
                <a routerLink="/account/orders">Your Orders</a>
            </div>
            
            <div class="link-container">
                <a routerLink="/account/lists">Your Lists</a>
            </div>
            
        </div>

        <div class="footer-column">
            <div class="heading">Customer Service</div>

            <div class="link-container">
                <a href="https://www.clkbank.com/" target="_blank">Order Support</a>
            </div>
            
            <div class="link-container">
                <div tabindex="0" (click)="onContactUsClick()">Contact Us</div>
            </div>
        </div>
    </div>

    <div class="social-media-container">
        <div>Stay Connected</div>

        <div class="icon-container">
            <a class="facebook-icon" href="https://www.facebook.com/" target="_blank"></a>
        </div>
        
        <div class="icon-container">
            <a class="twitter-icon" href="https://www.twitter.com/" target="_blank"></a>
        </div>
        
        <div class="icon-container">
            <a class="instagram-icon" href="https://www.instagram.com/" target="_blank"></a>
        </div>
        
        <div class="icon-container">
            <a class="pinterest-icon" href="https://www.pinterest.com/" target="_blank"></a>
        </div>
        
    </div>
</div>