<div class="footer-base">
    <div class="columns-container">
        <div class="footer-column">
            <div class="heading">Niche Shack</div>
            <a routerLink="/about">About Niche Shack</a>
            <a routerLink="/terms">Terms of Use</a>
            <a routerLink="/privacy-policy">Privacy Policy</a>
        </div>

        <div class="footer-column">
            <div class="heading">Your Niche</div>
            <a routerLink="/account">Your Account</a>
            <a routerLink="/account/orders">Your Orders</a>
            <a routerLink="/account/lists">Your Lists</a>
        </div>

        <div class="footer-column">
            <div class="heading">Customer Service</div>
            <a href="https://www.clkbank.com/" target="_blank">Order Support</a>
            <div>Contact Us</div>
        </div>
    </div>

    <div class="social-media-container">
        <div>Stay Connected</div>
        <a class="facebook-icon" href="https://www.facebook.com/" target="_blank"></a>
        <a class="twitter-icon" href="https://www.twitter.com/" target="_blank"></a>
        <a class="instagram-icon" href="https://www.instagram.com/" target="_blank"></a>
        <a class="pinterest-icon" href="https://www.pinterest.com/" target="_blank"></a>
    </div>
</div>