<div class="footer-base">
    <div class="columns-container">
        <div class="footer-column">
            <div class="heading niche-shack-heading">Niche Shack</div>

            <div class="link-container">
                <a routerLink="/about">About Niche Shack</a>
            </div>

            <div class="link-container">
                <a routerLink="/terms">Terms of Use</a>
            </div>

            <div class="link-container">
                <a routerLink="/privacy-policy">Privacy Policy</a>
            </div>

        </div>

        <div class="footer-column">
            <div class="heading">Your Niche</div>

            <div class="link-container">
                <a routerLink="/account">Your Account</a>
            </div>

            <div class="link-container">
                <a routerLink="/account/orders">Your Orders</a>
            </div>

            <div class="link-container">
                <a routerLink="/account/lists">Your Lists</a>
            </div>

        </div>

        <div class="footer-column">
            <div class="heading">Customer Service</div>

            <div class="link-container">
                <a href="https://www.clkbank.com/" target="_blank">Order Support</a>
            </div>

            <div class="link-container">
                <div tabindex="0" (click)="onContactUsClick()">Contact Us</div>
            </div>
        </div>
    </div>

    <div class="social-media-container">
        <div>Stay Connected</div>

        <div class="icon-container">
            <a class="facebook-icon" href="https://www.facebook.com/" target="_blank"></a>
        </div>

        <div class="icon-container">
            <a class="twitter-icon" href="https://www.twitter.com/" target="_blank"></a>
        </div>

        <div class="icon-container">
            <a class="instagram-icon" href="https://www.instagram.com/" target="_blank"></a>
        </div>

        <div class="icon-container">
            <a class="pinterest-icon" href="https://www.pinterest.com/" target="_blank"></a>
        </div>

    </div>


    <div class="disclaimer">Niche Shack is a participant in the ClickBank affiliate program, an advertising program
        designed to provide a means for affiliate marketers to earn commissions by advertising and linking to products
        on ClickBank.com. Please note that Niche Shack does not own or sell any of the products or services listed on
        this website. The product information, including prices, availability, and product details, is provided by the
        respective merchants and is subject to change without prior notice. We strive to provide accurate and reliable
        information, but we make no guarantees or warranties of any kind, express or implied, regarding the products or
        services mentioned on this website. Users should verify any product information with the merchant or
        manufacturer directly before making a purchase decision. Niche Shack shall not be held responsible for any
        damages or losses resulting from the use of affiliate links, products, or services mentioned on this website.
    </div>
</div>