<div class="icon-buttons-container">

    <!-- Search icon -->
    <icon-button [icon]="searchIcon"
                 [title]="searchIconButtonTitle"
                 [isDisabled]="false"
                 (onClick)="toggleSearch()">
    </icon-button>

    <div class="icons">
        <!-- Delete icon -->
        <icon-button [icon]="'fas fa-trash-alt'"
                     [title]="deleteIconButtonTitle"
                     [isDisabled]="isDisabled('deleteDisabled')"
                     (onClick)="delete()">
        </icon-button>

        <!-- Edit icon -->
        <icon-button [icon]="'fas fa-pencil-alt'"
                     [title]="editIconButtonTitle"
                     [isDisabled]="isDisabled('editDisabled')"
                     (onClick)="edit()">
        </icon-button>

        <ng-container *ngIf="!searchMode">
            <!-- Add icon -->
            <icon-button [icon]="'fas fa-plus-circle'"
                         [title]="addIconButtonTitle"
                         [isDisabled]="isDisabled('addDisabled')"
                         (onClick)="add()">
            </icon-button>

            <!-- Collapse icon -->
            <icon-button [icon]="'fas fa-minus-square'"
                         [title]="'Collapse'"
                         [isDisabled]="isDisabled('collapseDisabled')"
                         (onClick)="collapse()">
            </icon-button>
        </ng-container>
    </div>
</div>


<!-- Hierarchy -->
<ng-container *ngIf="!searchMode">
    <div class="popup-list-container">
        <checkbox-hierarchy #selectedHierarchyComponent
                   [sourceList]="thisArray"
                   [options]="listOptions"
                   (onListUpdate)="listUpdate = $event">
        </checkbox-hierarchy>
    </div>
</ng-container>


<!-- Search -->
<ng-container *ngIf="searchMode">
    <input [id]="'selectedKeywordsSearchInput' + productId"
           placeholder="Search"
           (input)="onSearchInputChange($event.target)">

    <div class="column-name-container">
        <div class="column-name">Name</div>
        <div class="column-name">Type</div>
    </div>

    <div class="popup-list-container" style="height: 198px;">
        <ng-container *ngIf="thisSearchArray.length == 0">
            <div class="no-search-results">
                No search results available
            </div>
        </ng-container>
        
        <ng-container *ngIf="thisSearchArray.length > 0">
            <checkbox-multi-column-list #selectedSearchComponent
                               [parentSearchType]="parentSearchType"
                               [sourceList]="thisSearchArray"
                               [options]="searchOptions"
                               (onListUpdate)="searchUpdate = $event">
            </checkbox-multi-column-list>
        </ng-container>
    </div>
</ng-container>