<div #widget class="widget-outline"
    [ngClass]="{'selected-widget': widgetService.selectedWidget == this && widgetService.currentWidgetInspectorView == widgetInspectorView.Widget}"
    style="user-select: none;
    overflow: hidden;
    max-width: 1484px;
    max-height: 764px;
    margin: auto;">

    <ng-container
        *ngIf="image && image.src; else placeholder">
        <img [src]="'/images/' + image.src" [alt]="image.name"
            [title]="image.name" draggable="false">
    </ng-container>

    <!-- Placeholder -->
    <ng-template #placeholder>
        <div style="width: 1484px;
        height: 764px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 400px;
        color: #0089ff;
        background: #ffffff;">
            <i class="fa-solid fa-image"></i>
        </div>

    </ng-template>
</div>