<ng-container *ngIf="recurringPayment.recurringPrice > 0">
    <i class="fa-regular fa-clock"></i>
    <span class="header-text">{{RecurringPayment.getPaymentText(recurringPayment)}}</span>
    <span class="header-text">{{recurringPayment.recurringPrice | currency:'USD'}}</span>


    <div *ngIf="recurringPayment.rebillFrequency > 0" style="margin-top: 4px;" class="billing-text">
        {{RecurringPayment.getBillingText(recurringPayment)}}</div>
    <div class="billing-text" style="color: #c18f07;"
        *ngIf="RecurringPayment.hasTimeFrameBetweenRebill(recurringPayment.rebillFrequency)">
        {{RecurringPayment.getTimeFrameBetweenRebill(recurringPayment)}}
    </div>
</ng-container>