@import './scss/init';
@import './scss/icons';
@import './scss/product-properties';

input:not([type]) {
    background: #262626;
    border: 1px solid #444444;
    border-radius: 4px;
    color: white;
    width: -webkit-fill-available;
    height: 22px;
    outline: none;
    padding-left: 5px;

    &:disabled {
        opacity: 30%;
    }
}