<div class="editor-container">

    <!-- Widget Bar -->
    <div *ngIf="page && page.pageContent" class="widget-bar">
        <div *ngFor="let widgetCursor of widgetCursors" class="widget-icon" [title]="widgetCursor.name"
            (mousedown)="onIconMousedown(widgetCursor)">
            <i [class]="widgetCursor.className"></i>
        </div>
    </div>

    <!-- widget cursor cover -->
    <div *ngIf="document.body.style.cursor != ''" class="widget-cursor-cover"></div>


    <!-- View Port Container -->
    <div class="view-port-container">
        <div *ngIf="page && page.pageContent" class="view-port-dimensions-bar">

            <div class="inputs-container">
                <!-- Dropdown -->
                <dropdown [dropdownType]="DropdownType.Manager" [list]="breakpointService.viewPortDimensions"
                    (onChange)="breakpointService.selectedViewPortDimension = $event; breakpointService.setCurrentBreakpoint(breakpointService.selectedViewPortDimension.value.width)"
                    style="width: 185px;"></dropdown>

                <!-- Width Input -->
                <input #widthInput [value]="breakpointService.selectedViewPortDimension.value.width"
                    (keydown.enter)="onInputEnter(widthInput.value, heightInput.value)"
                    [disabled]="breakpointService.selectedViewPortDimension.key != 'Responsive'">

                <!-- X -->
                <i class="fa-solid fa-xmark"></i>

                <!-- Height Input -->
                <input #heightInput [value]="breakpointService.selectedViewPortDimension.value.height"
                    (keydown.enter)="onInputEnter(widthInput.value, heightInput.value)"
                    [disabled]="breakpointService.selectedViewPortDimension.key != 'Responsive'">
            </div>
        </div>

        <!-- View Port -->
        <div id="view-port" class="view-port"
            [style.maxWidth.px]="breakpointService.selectedViewPortDimension.value.width + 8"
            [style.maxHeight.px]="breakpointService.selectedViewPortDimension.value.height + 5">


            <!-- Iframe -->
            <iframe id="iframe" #iframe scrolling="no" frameborder="0" (load)="onLoad(iframe)"></iframe>

            <!-- Resizers -->
            <ng-container
                *ngIf="document.body.style.cursor == '' && page && page.pageContent && breakpointService.selectedViewPortDimension.key == 'Responsive'">
                <div class="left-resizer" (mousedown)="onResizeMousedown(-1)"></div>
                <div class="right-resizer" (mousedown)="onResizeMousedown(1)"></div>
                <div class="bottom-resizer" (mousedown)="onResizeMousedown()"></div>
            </ng-container>
        </div>
    </div>

    <!-- Inspector -->
    <div class="inspector-container">
        <page-inspector></page-inspector>
    </div>
</div>


<!-- Resize Cover -->
<div *ngIf="showResizeCover" class="resize-cover"></div>