<div #widget class="carousel-container" [ngClass]="{'selected-widget': widgetService.selectedWidget == this}">

    <ng-container
        *ngIf="banners && banners.length > 0 && banners[currentBannerIndex].image && banners[currentBannerIndex].image.src; else placeholder">
        <img [src]="'/images/' + banners[currentBannerIndex].image.src" [alt]="banners[currentBannerIndex].image.name"
            [title]="banners[currentBannerIndex].image.name" draggable="false">
    </ng-container>

    <!-- Placeholder -->
    <ng-template #placeholder>
        <img src="assets/NicheShackBanner.png">
    </ng-template>
</div>