<div class="hide modal-backdrop"
     [ngClass]="{'show': show}"
     (transitionend)="onHide()">

    <div id="modalBase"
         tabindex="-1"
         class="modal-base">

         <!-- Bar -->
        <div class="modal-bar">
            <div>{{!notification.productDisabled ? 'Disable' : 'Enable'}} Product</div>
            <div class="modal-x-button"
                 (click)="close()">
                X
            </div>
        </div>

        <div class="modal-content">

            <div class="notification-top-container">
                <div class="notification-product-container">
                    <div class="notification-product-thumbnail-container">
                        <img [src]="'website-images/' + notificationItem.image">
                    </div>
                    <div class="notification-product-name">{{notificationItem.productName}}</div>
                </div>

                <div #ellipsis>
                    <icon-button [icon]="'fa-solid fa-ellipsis-vertical'"
                                 (onClick)="openContextMenu(ellipsis)">
                    </icon-button>
                </div>
            </div>

            <!-- Name -->
            <div class="notification-label">Issue:</div>
            <div class="notification-info-box" style="height: 26px; margin-bottom: 13px;">
                <div class="notification-user-comment">
                    {{notificationItem.name}}
                </div>
            </div>




            <div class="notification-label">User Comment:</div>





            <div class="notification-info-box" style="height: 100px; margin-bottom: 13px;">
                <div *ngIf="notification.users.length > 1" class="notification-info-bar">

                    <!-- Counter -->
                    <div class="notification-counter-container">
                        <counter 
                                    [itemCount]="notification.users.length"
                                    (onItemChange)="userIndex = $event"
                                    [currentIndex]="userIndex">
                        </counter>
                    </div>
                    

                    
                </div>
            
                <!-- User Comment -->
                <div class="notification-user-comment" [style.height.px]="notification.users.length == 1 ? '98' : '64'">
                    {{notification.users[userIndex].text}}
                </div>
            </div>



            <!-- Notes -->
            <div class="notification-label">Notes:</div>
            <div class="notification-info-box">
                <textarea #notes #tabElement [value]="employeeNotes" (input)="onNotes(notes)"></textarea>
            </div>
        </div>

        
        <!-- Button Container -->
        <div class="modal-button-container">
            <button #tabElement class="dark-button" (click)="close()">Close</button>
            <button #tabElement class="gold-button" (click)="onRemoveButton()">{{!notification.productDisabled ? 'Disable' : 'Enable'}}</button>
        </div>
    </div>
</div>