.modal-base {
    width: 400px;
}

.message {
    padding: 12px 20px;
    margin-bottom: 22px;
    font-size: 15px;
    color: #c0c0c0;
    line-height: 21px;
}

.modal-button-container {
    justify-content: space-between;
}