.modal-base {
    width: 400px;
}

.message {
    padding: 12px 20px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #c0c0c0;
    line-height: 21px;
}


.checkbox-container {
    padding: 0 20px;
    margin: -12px 0 12px;
}

.modal-button-container {
    justify-content: space-between;
}