<div class="hide modal-backdrop" [ngClass]="{'show': show}" (transitionend)="onHide()" (contextmenu)="$event.preventDefault()">

    <div class="modal-base">

        <div class="modal-bar">
            <div>{{title}}</div>
            <div class="modal-x-button" (click)="close()">X</div>
        </div>

        <div class="message" [innerHtml]="message"></div>
            
        <div class="modal-button-container">

            <div>
                <button *ngIf="tertiaryButton && tertiaryButton.name"
                        class="dark-button"
                        (click)="tertiaryButtonFunction()">
                    {{tertiaryButton.name}}
                </button>
            </div>

            <div>
                <button *ngIf="secondaryButton && secondaryButton.name"
                        class="dark-button"
                        (click)="secondaryButtonFunction()">
                    {{secondaryButton.name}}
                </button>

                <button *ngIf="primaryButton && primaryButton.name"
                        class="gold-button"
                        (click)="primaryButtonFunction()">
                    {{primaryButton.name}}
                </button>
            </div>
        </div>
    </div>
</div>