<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>


    <!-- Container -->
    <div class="container">

        <!-- Base -->
        <div #base class="base" tabindex="-1">

            <!-- Header -->
            <div class="header">
                Manage Collaborators

                <!-- X -->
                <div class="x" (click)="close()">X</div>
            </div>

            <!-- Drop Shadow -->
            <div class="drop-shadow"></div>

            <div class="content">
                <div class="label">Collaborators:</div>
                <div class="list-border">

                    <div #listContainer class="list-container" (scroll)="onScroll(listContainer)"
                        (wheel)="onMouseWheel($event, listContainer)">

                        <div #collaborator tabindex="-1" class="list-item" *ngFor="let collaborator of collaborators"
                            (click)="onCollaboratorClick(collaborator)"
                            [ngClass]="{'selected-list-item': collaborator == selectedCollaborator}">
                            {{collaborator.name}}
                        </div>

                        <div *ngIf="list.collaboratorCount == 0" class="no-collaborators">
                            <div class="no-collaborators-text">
                                You have 0 collaborators
                            </div>
                            <div class="invite-collaborators">
                                <span #click> Click </span>


                                <span #tabElement id="hereLink" tabindex="-1" (click)="openShareList()"
                                    class="invite-collaborators-link">
                                    here</span>

                                <span> to invite collaborators to your list</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="remove-button-container">
                    <button #tabElement id="removeButton" class="dark-button" (click)="onRemoveClick()"
                        [disabled]="collaborators && collaborators.length == 0">
                        Remove
                    </button>
                </div>


                <div class="label">Permissions<span *ngIf="collaborators && collaborators.length > 0"> for
                    </span>{{selectedCollaborator && collaborators.length > 0 ? selectedCollaborator.name : ''}}:</div>



                <div class="permissions-container">



                    <div class="permission">
                        <div class="permission-text"
                            (click)="fullControlInput.checked = !fullControlInput.checked; allChecked = !allChecked; toggleAllChecked(); fullControl.focus()">
                            Full Control
                        </div>

                        <label class="checkbox">
                            <input #fullControlInput type="checkbox" [checked]="allChecked"
                                (change)="allChecked = !allChecked; toggleAllChecked(); fullControl.focus()">
                            <span #tabElement #fullControl class="checkmark" tabindex="-1"
                                (keydown.space)="fullControlInput.checked = !fullControlInput.checked; allChecked = !allChecked; toggleAllChecked(); fullControl.focus()"></span>
                        </label>
                    </div>


                    <div *ngFor="let permission of permissions; let i = index" class="permission">
                        <div class="permission-text"
                            (click)="permissionInputs.get(i)!.nativeElement.checked = !permissionInputs.get(i)!.nativeElement.checked; onPermissionChange(permissionInput.checked, i); tabElement.focus()">
                            {{permission}}
                        </div>

                        <label class="checkbox">
                            <input #permissionInput type="checkbox"
                                (change)="onPermissionChange(permissionInput.checked, i); tabElement.focus()">
                            <span #tabElement class="checkmark" tabindex="-1"
                                (keydown.space)="permissionInputs.get(i)!.nativeElement.checked = !permissionInputs.get(i)!.nativeElement.checked; onPermissionChange(permissionInput.checked, i); tabElement.focus()"></span>
                        </label>
                    </div>

                    <div *ngIf="collaborators && collaborators.length == 0" class="disable-cover">
                    </div>
                </div>


                <!-- Button Container -->
                <div class="button-container">
                    <button id="cancelButton" #tabElement class="dark-button" (click)="close()">Cancel</button>
                    <button #tabElement class="gold-rect-button" (click)="onApplyClick()"
                        [disabled]="!hasChange">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>