@import '../../../scss/variables';

.list-border {
    border: 1px solid #343434;
}

.list-container {
    background: #181818;
    border: 2px solid rgba(22, 22, 22, 0.945);
    border-right: none;
    height: 112px;
    overflow-y: auto;
}


.list-item {
    margin: 0 2px 0 0;
}


.selected-list-item {
    margin: 0 2px 0 0;
}


.no-collaborators {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    flex-direction: column;
}


.no-collaborators-text {
    color: #dadada;
    margin-bottom: 5px;
}


.invite-collaborators {
    color: #ffba00;
    text-align: center;
    padding: 15px;
}


.invite-collaborators-link {
    cursor: pointer;
    color: #dadada;
    outline: none;



    &:hover {
        color: white;
        text-decoration: underline;
    }

    &:focus-visible {
        color: white;
        text-decoration: underline;
        font-size: 13.5px;
        margin-top: -1px;
        margin-left: -1px;
    }
}


.remove-button-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 11px 0 7px;
}


.permissions-container {
    position: relative;
    margin-bottom: 22px;
    border: 1px solid #343434;
}


.permission {
    display: flex;
    width: 100%;
    height: 23px;
    color: #b4b4b4;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background: $hover-background-color;

        .permission-text {
            color: #e0e0e0;
        }

        input~.checkmark {
            background-color: lighten(#282828, 10);
            border-color: lighten(#505050, 20);

            &:after {
                left: 4px;
                top: -3px;
                width: 5px;
                height: 10px;
                border: solid lighten(#ffba00, 20);
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}


.permission-text {
    width: 100%;
    line-height: 23px;
    padding-left: 6px;
    cursor: pointer;
}


.checkbox {
    padding-bottom: 2px;
}


.disable-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(24, 24, 24, 0.75);
}


.button-container {
    justify-content: space-between;
}

.purple-button {
    margin-left: 0;
}


.right-buttons-container {
    display: flex;
    width: 100%;
    max-width: 170px;
}