.list-item {
    height: 30px;
    padding-left: 20px;
    text-decoration: none;
}

.menu-section-name {
    color: #dadada;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
    padding-left: 10px;
    margin-top: 10px;
    font-family: 'lithos pro';
}

.horizontal-line {
    margin-bottom: 10px;
}


.gold-round-button-sm {
    text-align: center;
    line-height: 32px;
    user-select: none;
    margin-top: 17px;
    max-width: 188px;
}





.sign-up-text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 17px;
    font-size: 15px;
}

.account-container {
    margin-bottom: 30px;
}

.account-container, .sign-up-container {
    display: none;
}


.account-container .list-item-container {
    padding-left: 10px;
}


.dark-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 19px;
    max-width: 100px;
    user-select: none;
}









@media(max-width: 900px) {
    .sign-up-container {
        display: block;
    }
}

@media(max-width: 700px) {
    .account-container {
        display: block;
    }
}