<div class="translate-start side-menu-container" [ngClass]="{'translate-end': show}" (transitionend)="onHide()">

    <div class="side-menu-bar">
        <div class="side-menu-x" (click)="close()">X</div>
    </div>

    <div class="side-menu-content-container">

        <!-- Content -->
        <div class="side-menu-content">

            <ng-container *ngIf="!subNiches">
                <!-- Account -->
                <div *ngIf="accountService.customer" class="account-container">

                    <div class="menu-section-name">
                        Account
                    </div>

                    <div class="horizontal-line"></div>
                    <account-list></account-list>
                </div>


                <!-- Sign Up -->
                <div *ngIf="!accountService.customer" class="sign-up-container">

                    <div class="gold-round-button-sm" (click)="onLogInLinkClick()">Log In</div>
                    <div class="sign-up-text">Not a member yet? <span class="purple-text"
                            (click)="onSignUpLinkClick()">Sign
                            Up</span></div>

                    <div class="horizontal-groove-line"></div>

                </div>





                <!-- Niches -->
                <div class="menu-section-name">Niches</div>
                <div class="horizontal-line"></div>
                <ng-container *ngFor="let niche of niches; let i = index">
                    <div *ngIf="i != 0" class="list-item" (click)="onNicheClick(niche)">{{niche.name}}</div>
                </ng-container>
            </ng-container>


            <!-- Sub Niches -->
            <ng-container *ngIf="subNiches">
                <div class="dark-button" (click)="subNiches = undefined">
                    <div class="arrow-left"></div>Main Menu
                </div>

                <div class="menu-section-name">
                    {{selectedNicheName}}
                </div>

                <div class="horizontal-line"></div>
                <ng-container *ngFor="let niche of subNiches">
                    <a class="list-item" routerLink="/browse"
                        [queryParams]="{nicheName: niche.urlName, nicheId: niche.urlId}"
                        (mousedown)="$event.preventDefault()" (click)="close()">{{niche.name}}</a>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>