.menu-container {
    pointer-events: all;
    top: 79px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(23, 23, 23, 0.95);
    width: 100%;
    max-width: 313px;
    border: 1px solid #424242;
    border-top: none;

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        width: 100%;
        height: 2px;
        box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
    }

    .list-item {
        height: 30px;
        padding-left: 20px;
        text-decoration: none;
    }
}

.menu-bar {
    background: #242424;
    height: 32px;
}


.side-menu-content-container {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-menu-content {
    overflow-y: auto;
    height: 100%;
}

.x {
    margin-right: 5px;
    line-height: 32px;
    float: right;
    color: #b4b4b4;
    font-weight: bold;
    font-family: 'lithos pro';
    font-size: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: #dadada;
    }
}


.menu-section-name {
    color: #dadada;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
    padding-left: 10px;
    margin-top: 10px;
    font-family: 'lithos pro';
}

.horizontal-line {
    margin-bottom: 10px;
}


.gold-round-button-sm {
    text-align: center;
    line-height: 32px;
    user-select: none;
    margin-top: 17px;
    max-width: 188px;
}





.sign-up-text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 17px;
    font-size: 15px;
}

.account-container {
    margin-bottom: 30px;
}

.account-container, .sign-up-container {
    display: none;
}


.account-container .list-item-container {
    padding-left: 10px;
}


.dark-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 19px;
    max-width: 100px;
    user-select: none;
}



@font-face {
    font-family: 'arrow-left';
    src: url('../../../assets/fonts/arrow-left.ttf');
}


.arrow-left
{
    font-family: 'arrow-left';
    &::before {
        content: "\e906";
    }

    margin-right: 5px;
}


@media(max-width: 900px) {
    .sign-up-container {
        display: block;
    }
}

@media(max-width: 700px) {
    .account-container {
        display: block;
    }
}