<div class="translate-start side-menu-container" [ngClass]="{'translate-end': show}" (transitionend)="onHide()">

    <div class="side-menu-bar">
        <div class="side-menu-x" (click)="close()">X</div>
    </div>

    <div class="side-menu-content-container">

        <!-- Content -->
        <div class="side-menu-content">

            <ng-container *ngIf="!subNiches">
                <!-- Account -->
                <div *ngIf="accountService.user" class="account-container">

                    <div class="menu-section-name">
                        Account
                    </div>

                    <div class="horizontal-line"></div>
                    <account-list #accountList></account-list>
                </div>


                <!-- Sign Up -->
                <div *ngIf="!accountService.user" class="sign-up-container">

                    <div class="gold-round-button-sm" (click)="onLogInLinkClick()">Log In</div>
                    <div class="sign-up-text">Not a member yet? <span class="purple-text"
                            (click)="onSignUpLinkClick()">Sign
                            Up</span></div>

                    <div class="horizontal-groove-line"></div>
                </div>





                <!-- Niches -->
                <div class="menu-section-name">Niches</div>
                <div class="horizontal-line"></div>
                <ng-container *ngFor="let niche of niches; let i = index">
                    <div #listItem [id]="i + 5" *ngIf="i != 0" class="list-item"
                        [ngClass]="{'focused-list-item': listItem.id == focusedListItemId}"
                        (click)="onNicheClick(niche, listItem.id)">{{niche.name}}</div>
                </ng-container>
            </ng-container>


            <!-- Sub Niches -->
            <ng-container *ngIf="subNiches">
                <div class="dark-button" [ngClass]="{'focused-dark-button': focusedSubListItemId == '0'}" (click)="onMainMenuButtonClick()">
                    <div class="arrow-left"></div>Main Menu
                </div>

                <div class="menu-section-name">
                    {{selectedNicheName}}
                </div>

                <div class="horizontal-line"></div>
                <ng-container *ngFor="let niche of subNiches; let i = index">
                    <a #listItem [id]="i + 1" class="list-item"
                        [ngClass]="{'focused-list-item': listItem.id == focusedSubListItemId}" routerLink="/browse"
                        [queryParams]="{nicheName: niche.urlName, nicheId: niche.id}"
                        (mousedown)="$event.preventDefault()" (click)="onSubNicheClick(niche)">{{niche.name}}</a>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>