.margin-top {
    margin-top: 14px;
}


.price-point-property-container {
    position: relative;
    margin-top: 18px;
}


.price-point-dashed-container {
    width: 272px;
    min-height: 36px;
    font-weight: bold;
    text-align: center;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
}


.add-popup-container {
    position: absolute;
    top: -109px;
    left: 33px;
    z-index: 100;
}