@import '../../../scss/mixins.scss';
@import '../../../scss/variables';
@include modal-values(350px, 385px, 425px);

.emphasized-text {
    margin: 20px 0;
}

.password-input-container {
    margin-bottom: 22px;
}

.error-text {
    color: $error-color;
    margin-bottom: 20px;
}