<div class="hide modal-backdrop" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="modal-base">
        <div class="modal-bar">
            <div>Media Browser - {{currentMediaType == mediaType.Image ? 'Image' : 'Video'}}</div>
            <div class="modal-x-button" (click)="close()">
                X
            </div>
        </div>
        <div class="modal-bar-drop-shadow"></div>

        <div class="modal-content">

            <!-- Search Input -->
            <div *ngIf="!editedImage && !editedVideo" style="position: relative;">
                <input #searchInput class="search-input" (input)="searchMedia(searchInput.value)"
                    [placeholder]="currentMediaType == mediaType.Image ? 'Search for an image' : 'Search for a video'">

                <div *ngIf="searchInput.value" class="close-button" style="right: 5px;" (click)="clear()">x</div>
            </div>





            <!-- Tabs -->
            <div *ngIf="showAllMedia" class="tabs-container">
                <!-- Images Tab -->
                <div class="tab" [ngClass]="{'selected-tab': currentMediaType == mediaType.Image}"
                    (click)="currentMediaType = mediaType.Image; clear()">Images</div>

                <!-- Videos Tab -->
                <div class="tab" [ngClass]="{'selected-tab': currentMediaType == mediaType.Video}"
                    (click)="currentMediaType = mediaType.Video; clear()">Video</div>
            </div>




            <!-- Media Type - Image -->
            <div *ngIf="currentMediaType == mediaType.Image && !searchMode && !newImage && !editedImage"
                class="backdrop" [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}"
                style="padding: 20px;">

                <div (dragover)="onDragover($event)" (drop)="onDrop($event)"
                    [style.background]="dragover ? '#333333': null" (dragleave)="dragover = false"
                    class="content-container">

                    <div class="content-heading">Choose an Image</div>
                    <div class="message">Drag & drop an image, type in the search field, or click to open up the file
                        exporer.
                    </div>

                    <!-- Button -->
                    <div class="upload-button" [style.pointerEvents]="dragover ? 'none': 'all'" title="Upload image"
                        (click)="openFileExplorer(fileInput)">
                        <i class="fa-solid fa-upload"></i>
                    </div>


                    <input #fileInput type="file" accept=".jpg, .png, .bmp" (change)="setNewImage(fileInput.files![0])">

                </div>
            </div>




            <!-- Edit Image Mode -->
            <ng-container *ngIf="editedImage && !updatingImage">
                <div class="icons">
                    <!-- Delete -->
                    <icon-button [icon]="'fas fa-trash-alt'" [title]="'Delete Image'" (onClick)="onDeleteMediaClick()">
                    </icon-button>


                    <!-- Update -->
                    <icon-button [icon]="'fa-solid fa-folder-open'" [title]="'Update Image'"
                        (onClick)="updatingImage = true;">
                    </icon-button>


                    <!-- Rename -->
                    <icon-button [icon]="'fas fa-pencil-alt'" [title]="'Rename Image'"
                        (onClick)="onRenameImageClick(nameInput)">
                    </icon-button>
                </div>

                <div class="backdrop backdrop-border" style="position: relative; height: 450px;">

                    <!-- Media Container -->
                    <div class="new-media-container">
                        <img [src]="'images/' + editedImage.src" class="new-img">
                    </div>

                    <!-- Title -->
                    <input id="title" #nameInput class="new-media-title" [value]="editedImage.name"
                        (keydown.enter)="renameImage(nameInput.value)" [disabled]="!renamingImage">
                </div>
            </ng-container>






            <!-- Edit Video Mode -->
            <ng-container *ngIf="editedVideo && !updatingVideo">
                <div class="icons">
                    <!-- Delete -->
                    <icon-button [icon]="'fas fa-trash-alt'" [title]="'Delete Video'" (onClick)="onDeleteMediaClick()">
                    </icon-button>


                    <!-- Update -->
                    <icon-button [icon]="'fa-film fa-solid'" [title]="'Update Video'"
                        (onClick)="updatingVideo = true;">
                    </icon-button>


                    <!-- Rename -->
                    <icon-button [icon]="'fas fa-pencil-alt'" [title]="'Rename Video'"
                        (onClick)="onRenameVideoClick(nameInput)">
                    </icon-button>
                </div>

                <div class="backdrop backdrop-border" style="position: relative; height: 450px;">

                    <!-- Media Container -->
                    <div class="new-media-container">
                        <iframe id="editedVideoIframe" class="video" allowfullscreen></iframe>
                    </div>

                    <!-- Title -->
                    <input id="title" #nameInput class="new-media-title" [value]="editedVideo.name"
                        (keydown.enter)="renameVideo(nameInput.value)" [disabled]="!renamingVideo">
                </div>
            </ng-container>






            <!-- Update Video -->
            <div *ngIf="updatingVideo" class="backdrop"
                [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}" style="padding: 20px;">

                <div class="content-container">
                    <div class="content-heading">Choose a new video</div>
                    <div class="message">Paste a link below</div>

                    <div style="display: flex; margin-top: 10px;">
                        <input id="videoInput" #videoInput class="video-input"
                            (keydown.enter)="updateVideo(videoInput.value)">
                        <button class="video-input-button" (click)="updateVideo(videoInput.value)">Enter</button>
                    </div>

                    <div *ngIf="invalidVideoLink" style="margin-top: 5px;
                    color: red;">Invalid video link</div>
                </div>
            </div>





            <!-- Update Image -->
            <div *ngIf="updatingImage" class="backdrop"
                [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}" style="padding: 20px;">

                <div (dragover)="onDragover($event)" (drop)="onDrop($event)"
                    [style.background]="dragover ? '#333333': null" (dragleave)="dragover = false"
                    class="content-container">

                    <div class="content-heading">Choose a new image</div>
                    <div class="message">Drag & drop an image or click to open the file explorer.
                    </div>

                    <!-- Button -->
                    <div class="upload-button" [style.pointerEvents]="dragover ? 'none': 'all'" title="Upload image"
                        (click)="openFileExplorer(fileInput)">
                        <i class="fa-solid fa-upload"></i>
                    </div>


                    <input #fileInput type="file" accept=".jpg, .png, .bmp" (change)="updateImage(fileInput.files![0])">

                </div>
            </div>




            <!-- New Image -->
            <ng-container *ngIf="newImage">
                <div class="backdrop new-media"
                    [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}">
                    <!-- close -->
                    <div (click)="clear()" class="close-button">x</div>

                    <!-- Media Container -->
                    <div class="new-media-container">
                        <img [src]="newImage" class="new-img">
                    </div>

                    <!-- Title -->
                    <input id="title" #nameInput class="new-media-title"
                        (keydown.enter)="saveNewImage(nameInput.value)">
                </div>

                <!-- Button Container -->
                <div class="button-container">
                    <button class="dark-button" (click)="saveNewImage(nameInput.value)" [disabled]="!nameInput.value">
                        Submit
                    </button>
                </div>
            </ng-container>







            <!-- New Video -->
            <ng-container *ngIf="isNewVideo">

                <div class="backdrop new-media"
                    [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}">

                    <!-- close -->
                    <div (click)="clear()" class="close-button">x</div>

                    <!-- Media Container -->
                    <div class="new-media-container">
                        <iframe id="newVideoIframe" class="video"  allowfullscreen></iframe>
                    </div>

                    <!-- Title -->
                    <input id="title" #nameInput class="new-media-title"
                        (keydown.enter)="saveNewVideo(nameInput.value)">
                </div>

                <!-- Button Container -->
                <div class="button-container">
                    <button class="dark-button" (click)="saveNewVideo(nameInput.value)" [disabled]="!nameInput.value">
                        Submit
                    </button>
                </div>
            </ng-container>












            <!-- Media Type - Video -->
            <div *ngIf="currentMediaType == mediaType.Video && !searchMode && !isNewVideo && !editedVideo" class="backdrop"
                [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}" style="padding: 20px;">

                <div class="content-container">
                    <div class="content-heading">Choose a video</div>
                    <div class="message">Paste a link below or type in the search field above.</div>

                    <div style="display: flex; margin-top: 10px;">
                        <input id="videoInput" #videoInput class="video-input"
                            (keydown.enter)="setNewVideo(videoInput.value)">
                        <button class="video-input-button" (click)="setNewVideo(videoInput.value)">Enter</button>
                    </div>

                    <div *ngIf="invalidVideoLink" style="    margin-top: 5px;
                    color: red;">Invalid video link</div>
                </div>
            </div>






            <!-- Search Results -->
            <ng-container *ngIf="searchMode && !noSearchResults">
                <div class="backdrop search-backdrop"
                    [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}">
                    <div style="display: flex; flex-wrap: wrap; padding-bottom: 13px;">
                        <img [src]="'images/' + media.thumbnail" class="media" *ngFor="let media of searchedMedia"
                            [title]="media.name" (click)="setMedia(media)">
                    </div>
                </div>
            </ng-container>



            <!-- No search results -->
            <div *ngIf="noSearchResults" class="backdrop"
                [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}"
                style="display: flex; justify-content: center; align-items: center;">
                <div class="content-heading">No results found</div>
            </div>
        </div>
    </div>
</div>