<div class="hide modal-backdrop" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="modal-base">
        <div class="modal-bar">
            <div>Media Browser - {{mediaType == MediaType.Image ? 'Image' : 'Video'}}</div>
            <div class="modal-x-button" (click)="close()">
                X
            </div>
        </div>

        <div class="modal-content">
            <div style="position: relative;">
                <input #searchInput class="search-input" placeholder="Search for an image"
                    [style.display]="view == mediaBrowserView.ImagePreview || view == mediaBrowserView.VideoPreview || view == mediaBrowserView.ImageUpdate ? 'none' : 'inline-block'">

                <div *ngIf="searchInput.value != ''" class="xmark-container" title="Clear"
                    (click)="clearSearchResults()">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>


            <!-- Search Results -->
            <ng-container *ngIf="view == mediaBrowserView.SearchResults;else otherViews">
                <div *ngIf="!noSearchResults; else noResults" class="search-overflow-container">
                    <div style="display: flex; flex-wrap: wrap;">
                        <div *ngFor="let media of media" class="thumbnail-container" [title]="media.name"
                            (click)="onMediaClick(media)" [ngClass]="{'undersize': isUnderSize(media)}"
                            (contextmenu)="$event.preventDefault()"
                            (mousedown)="$event.button == 2 ? openContextMenu($event, media): null">
                            <img [src]="'images/' + media.thumbnail">
                            <div *ngIf="isUnderSize(media)" class="undersize-tag">
                                <div>
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    <span>Under Size</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #noResults>
                    <div class="no-search-results">No results found</div>
                </ng-template>
            </ng-container>


            <ng-template #otherViews>
                <input #fileInput type="file" accept=".jpg, .png, .bmp" (change)="setImageFile(fileInput.files![0])">

                <!-- Image Select -->
                <ng-container *ngIf="view == mediaBrowserView.ImageSelect">

                    <div class="icon-container">
                        <icon-button *ngIf="showCancelButton" [icon]="'fa-solid fa-ban'" [title]="'Cancel'"
                            (click)="onCancelClick()">
                        </icon-button>

                        <icon-button [icon]="'fa-solid fa-folder-open'" [title]="'Open file explorer'"
                            (click)="openFileExplorer(fileInput)">
                        </icon-button>
                    </div>



                    <div #selectContainer class="select-container" style="height: 327px;"
                        (dragover)="selectContainer.style.background = '#333333'; $event.preventDefault()"
                        (drop)="onDrop($event)" (dragleave)="selectContainer.style.background = 'transparent'">
                        <div class="select-text-container">
                            <div class="caption">
                                Choose an Image
                            </div>
                            <div class="message">
                                Drag & drop an image, type in the search field, or click the folder icon above to open
                                up file exporer.
                            </div>
                        </div>
                    </div>
                </ng-container>




                <!-- Image Preview -->
                <ng-container *ngIf="view == mediaBrowserView.ImagePreview && displayImage">
                    <div class="icon-container">
                        <icon-button *ngIf="showCancelButton" [icon]="'fa-solid fa-ban'" [title]="'Cancel'"
                            (click)="onCancelClick()">
                        </icon-button>

                        <icon-button *ngIf="!showCancelButton || selectedMedia" [icon]="'fas fa-trash-alt'" [title]="'Delete Image'"
                            (click)="deleteImage()">
                        </icon-button>

                        <icon-button *ngIf="!showCancelButton" [icon]="'fa-solid fa-arrows-rotate'"
                            [title]="'Swap Image'" (click)="onSwapImageClick()">
                        </icon-button>

                        <icon-button *ngIf="!showCancelButton" [icon]="'fa-solid fa-file-image'" title="Update Image"
                            (click)="view = mediaBrowserView.ImageUpdate; showCancelButton = true">
                        </icon-button>
                    </div>


                    <div class="image-container" (contextmenu)="$event.preventDefault()"
                        (mousedown)="onImagePreviewMousedown($event)">
                        <img [src]="displayImage.src" style="max-width: 347px; max-height: 327px;">

                        <div *ngIf="isUnderSize(selectedMedia)" class="undersize-tag">
                            <div>
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <span>Under Size</span>
                            </div>
                        </div>
                    </div>
                    <input #nameInput id="name-input" [(ngModel)]="displayImage.name"
                        (input)="submitButtonDisabled = nameInput.value == ''" [disabled]="nameInputDisabled">
                </ng-container>






                <!-- Image Update -->
                <ng-container *ngIf="view == mediaBrowserView.ImageUpdate">

                    <div class="icon-container">
                        <icon-button *ngIf="showCancelButton" [icon]="'fa-solid fa-ban'" [title]="'Cancel'"
                            (click)="onCancelClick()">
                        </icon-button>

                        <icon-button [icon]="'fa-solid fa-folder-open'" [title]="'Open file explorer'"
                            (click)="openFileExplorer(fileInput)">
                        </icon-button>
                    </div>



                    <div #selectContainer class="select-container" style="height: 359px;"
                        (dragover)="selectContainer.style.background = '#333333'; $event.preventDefault()"
                        (drop)="onDrop($event)" (dragleave)="selectContainer.style.background = 'transparent'">
                        <div class="select-text-container">
                            <div class="caption">
                                Choose an Image
                            </div>
                            <div class="message">
                                Drag & drop an image or click the folder icon above to open
                                up file exporer.
                            </div>
                        </div>
                    </div>
                </ng-container>







                <!-- Video Select -->
                <ng-container *ngIf="view == mediaBrowserView.VideoSelect">

                    <div class="select-container">
                        <div class="select-text-container">
                            <div class="caption">
                                Choose a video
                            </div>

                            <div class="message">
                                Paste a link below or type in the search field above.
                            </div>

                            <div style="display: flex; margin-top: 10px;">
                                <input class="video-input">
                                <button class="video-input-button">Enter</button>
                            </div>
                        </div>


                    </div>
                </ng-container>




                <!-- Video Preview -->
                <ng-container *ngIf="view == mediaBrowserView.VideoPreview">
                    <div style="display: flex; justify-content: flex-end;">

                        <!-- Delete Video -->
                        <icon-button [icon]="'fas fa-trash-alt'" [title]="'Delete Video'">
                        </icon-button>

                        <!-- Update Video -->
                        <icon-button [icon]="'fa-solid fa-film'" [title]="'Update Video'">
                        </icon-button>
                    </div>

                    <div class="iframe-container">
                        <iframe id="editedVideoIframe" class="video" allowfullscreen></iframe>
                    </div>

                    <input [value]="displayVideoName">

                </ng-container>
            </ng-template>




            <!-- Buttons -->
            <div class="button-container">
                <button class="dark-button" (click)="close()">Close</button>
                <button #submitButton class="gold-button" (click)="onSubmit()" [disabled]="submitButtonDisabled"
                    (mousedown)="$event.stopPropagation()">
                    Submit
                    <i *ngIf="hasMultiImages" class="fa-solid fa-caret-down"></i>
                </button>
            </div>
























            <!-- Search Input -->
            <!-- <div *ngIf="!editedImage && !editedVideo" style="position: relative;">
                <input #searchInput class="search-input" (input)="searchMedia(searchInput.value)"
                    [placeholder]="currentMediaType == mediaType.Image ? 'Search for an image' : 'Search for a video'">

                <div *ngIf="searchInput.value" class="close-button" style="right: 5px;" (click)="clear()">x</div>
            </div> -->





            <!-- Tabs -->
            <!-- <div *ngIf="showAllMedia" class="tabs-container">
                <div class="tab" [ngClass]="{'selected-tab': currentMediaType == mediaType.Image}"
                    (click)="currentMediaType = mediaType.Image; clear()">Images</div>

                <div class="tab" [ngClass]="{'selected-tab': currentMediaType == mediaType.Video}"
                    (click)="currentMediaType = mediaType.Video; clear()">Video</div>
            </div> -->




            <!-- Media Type - Image -->
            <!-- <div *ngIf="currentMediaType == mediaType.Image && !searchMode && !newImage && !editedImage"
                class="backdrop" [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}"
                style="padding: 20px;">

                <div (dragover)="onDragover($event)" (drop)="onDrop($event)"
                    [style.background]="dragover ? '#333333': null" (dragleave)="dragover = false"
                    class="content-container">

                    <div class="content-heading">Choose an Image</div>
                    <div class="message">Drag & drop an image, type in the search field, or click to open up the file
                        exporer.
                    </div>

                    <div class="upload-button" [style.pointerEvents]="dragover ? 'none': 'all'" title="Upload image"
                        (click)="openFileExplorer(fileInput)">
                        <i class="fa-solid fa-upload"></i>
                    </div>


                    <input #fileInput type="file" accept=".jpg, .png, .bmp" (change)="setNewImage(fileInput.files![0])">

                </div>
            </div> -->




            <!-- Edit Image Mode -->
            <!-- <ng-container *ngIf="editedImage">
                <div class="icons">
                    


                    <icon-button [icon]="'fas fa-trash-alt'" [title]="'Delete Image'" (onClick)="onDeleteMediaClick()">
                    </icon-button>

                    <icon-button [icon]="'fa-solid fa-arrows-rotate'" [title]="'Swap Image'" (onClick)="editedImage = displayImage = null!">
                    </icon-button>

                    <icon-button [icon]="'fa-solid fa-folder-open'" [title]="'Update Image'" (click)="openFileExplorer(fileInput)">
                    </icon-button>


                    <input #fileInput type="file" accept=".jpg, .png, .bmp" (change)="updateImage(fileInput.files![0])">
                    
                </div>

                <div class="backdrop backdrop-border" style="position: relative; height: 434px;">

                    <div class="new-media-container">
                        <img [src]="displayImage ? displayImage :'images/' + editedImage.src" class="new-img">
                    </div>

                    <input id="title" #nameInput class="new-media-title" [value]="editedImage.name"
                        (keydown.enter)="renameImage(nameInput.value)">
                </div>
                <div class="button-container">
                    <button class="dark-button">Close</button>
                    <button class="gold-button">Apply</button>
                </div>
                
            </ng-container> -->






            <!-- Edit Video Mode -->
            <!-- <ng-container *ngIf="editedVideo && !updatingVideo">
                <div class="icons">
                    <icon-button [icon]="'fas fa-trash-alt'" [title]="'Delete Video'" (onClick)="onDeleteMediaClick()">
                    </icon-button>


                    <icon-button [icon]="'fa-film fa-solid'" [title]="'Update Video'" (onClick)="updatingVideo = true;">
                    </icon-button>


                    <icon-button [icon]="'fas fa-pencil-alt'" [title]="'Rename Video'"
                        (onClick)="onRenameVideoClick(nameInput)">
                    </icon-button>
                </div>

                <div class="backdrop backdrop-border" style="position: relative; height: 450px;">

                    <div class="new-media-container">
                        <iframe id="editedVideoIframe" class="video" allowfullscreen></iframe>
                    </div>

                    <input id="title" #nameInput class="new-media-title" [value]="editedVideo.name"
                        (keydown.enter)="renameVideo(nameInput.value)" [disabled]="!renamingVideo">
                </div>
            </ng-container> -->






            <!-- Update Video -->
            <!-- <div *ngIf="updatingVideo" class="backdrop"
                [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}" style="padding: 20px;">

                <div class="content-container">
                    <div class="content-heading">Choose a new video</div>
                    <div class="message">Paste a link below</div>

                    <div style="display: flex; margin-top: 10px;">
                        <input id="videoInput" #videoInput class="video-input"
                            (keydown.enter)="updateVideo(videoInput.value)">
                        <button class="video-input-button" (click)="updateVideo(videoInput.value)">Enter</button>
                    </div>

                    <div *ngIf="invalidVideoLink" style="margin-top: 5px;
                    color: red;">Invalid video link</div>
                </div>
            </div> -->





            <!-- Update Image -->
            <!-- <div *ngIf="updatingImage" class="backdrop"
                [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}" style="padding: 20px;">

                <div (dragover)="onDragover($event)" (drop)="onDrop($event)"
                    [style.background]="dragover ? '#333333': null" (dragleave)="dragover = false"
                    class="content-container">

                    <div class="content-heading">Choose a new image</div>
                    <div class="message">Drag & drop an image or click to open the file explorer.
                    </div>

                    
                    <div class="upload-button" [style.pointerEvents]="dragover ? 'none': 'all'" title="Upload image"
                        (click)="openFileExplorer(fileInput)">
                        <i class="fa-solid fa-upload"></i>
                    </div>


                    <input #fileInput type="file" accept=".jpg, .png, .bmp" (change)="updateImage(fileInput.files![0])">

                </div>
            </div> -->




            <!-- New Image -->
            <!-- <ng-container *ngIf="newImage">
                <div class="backdrop new-media"
                    [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}">
                    <div (click)="clear()" class="close-button">x</div>

                    <div class="new-media-container">
                        <img [src]="newImage" class="new-img">
                    </div>

                    <input id="title" #nameInput class="new-media-title"
                        (keydown.enter)="saveNewImage(nameInput.value)">
                </div>

                <div class="button-container">
                    <button class="dark-button" (click)="saveNewImage(nameInput.value)" [disabled]="!nameInput.value">
                        Submit
                    </button>
                </div>
            </ng-container> -->







            <!-- New Video -->
            <!-- <ng-container *ngIf="isNewVideo">

                <div class="backdrop new-media"
                    [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}">

                    <div (click)="clear()" class="close-button">x</div>

                    <div class="new-media-container">
                        <iframe id="newVideoIframe" class="video" allowfullscreen></iframe>
                    </div>

                    <input id="title" #nameInput class="new-media-title"
                        (keydown.enter)="saveNewVideo(nameInput.value)">
                </div>

                <div class="button-container">
                    <button class="dark-button" (click)="saveNewVideo(nameInput.value)" [disabled]="!nameInput.value">
                        Submit
                    </button>
                </div>
            </ng-container> -->












            <!-- Media Type - Video -->
            <!-- <div *ngIf="currentMediaType == mediaType.Video && !searchMode && !isNewVideo && !editedVideo"
                class="backdrop" [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}"
                style="padding: 20px;">

                <div class="content-container">
                    <div class="content-heading">Choose a video</div>
                    <div class="message">Paste a link below or type in the search field above.</div>

                    <div style="display: flex; margin-top: 10px;">
                        <input id="videoInput" #videoInput class="video-input"
                            (keydown.enter)="setNewVideo(videoInput.value)">
                        <button class="video-input-button" (click)="setNewVideo(videoInput.value)">Enter</button>
                    </div>

                    <div *ngIf="invalidVideoLink" style="margin-top: 5px; color: red;">Invalid video link</div>
                </div>
            </div> -->






            <!-- Search Results -->
            <!-- <ng-container *ngIf="searchMode && !noSearchResults">
                <div class="backdrop search-backdrop"
                    [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}">
                    <div style="display: flex; flex-wrap: wrap; padding-bottom: 13px;">
                        <div *ngFor="let media of media" class="thumbnail-container"
                            [ngClass]="{'invalid': isUnderSize(media) > 0}" (contextmenu)="$event.preventDefault()"
                            (mousedown)="onMousedown($event, media)">
                            <img [src]="'images/' + media.thumbnail" [title]="media.name" (click)="onSearchedMediaClick(media)">
                            <div *ngIf="isUnderSize(media) == invalidImageType.UnderSize" class="invalid-tag">
                                <div>
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    <span>Under size</span>
                                </div>
                            </div>

                            <div *ngIf="isUnderSize(media) == invalidImageType.MultipleSizes" class="invalid-tag">
                                <div>
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    <span>Multiple sizes</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-container> -->



            <!-- No search results -->
            <!-- <div *ngIf="noSearchResults" class="backdrop"
                [ngClass]="{'backdrop-border': !showAllMedia, 'tabs-border': showAllMedia}"
                style="display: flex; justify-content: center; align-items: center;">
                <div class="content-heading">No results found</div>
            </div> -->
        </div>
    </div>
</div>