<div class="hide modal-backdrop"
     [ngClass]="{'show': show}">

    <div class="modal-base">
        <div class="modal-bar">
            <div>Media Browser</div>
            <div class="modal-x-button">
                X
            </div>
        </div>
        <div class="modal-bar-drop-shadow"></div>

        <div class="modal-content">
            


            
        </div>

        <!-- Button Container -->
        <div class="modal-button-container">
            <button class="dark-button">
                Close
            </button>
        </div>
    </div>
</div>