.modal-base {
    width: 369px;
    height: 474px;
    position: relative;
}

.search-overflow-container {
    width: 347px;
    height: 346px;
    border: 1px dashed #414141;
    border-radius: 4px;
    overflow: overlay;
    padding-left: 5px;
    padding-top: 5px;
}


.no-search-results {
    width: 347px;
    height: 346px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b1b1b1;
    border: 1px dashed #414141;
    border-radius: 4px;
}

.search-input {
    margin-bottom: 10px;
    border-radius: 25px;
}

.xmark-container {
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3px;
    right: 4px;
    color: #7c7c7c;
    font-size: 11px;
    cursor: pointer;

    &:hover {
        color: #b6b6b6;
    }
}

.fa-xmark {
    line-height: 2;
}

.thumbnail-container {
    width: 80px;
    height: 80px;
    outline: 1px solid #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;

    img {
        max-width: 80px;
        max-height: 80px;
    }

    &:hover:not(.undersize) {

        outline-color: #6b6b6b;

        & img {
            filter: brightness(1.1);
        }

    }
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: none;
    border: none;
}


.select-container {
    width: 347px;
    height: 347px;
    border: 1px dashed #414141;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-text-container {
    text-align: center;
    padding: 20px;
    width: 100%;
    pointer-events: none;
}


.button-container {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}





.iframe-container {
    width: 347px;
    height: 322px;
    border: 1px dashed #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: black;
}

.upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #424242;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #838383;
    width: 30px;
    margin: auto;
    cursor: pointer;

    &:hover {
        background: #5a5a5a;
        border-color: #a5a5a5;
    }
}


.fa-upload {
    font-size: 18px;
    color: #a5a5a5;
}





.video-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 280px;
}

.video-input-button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background: linear-gradient(#ffdc7f, #c08d02);
    color: #1f1f1f;
    cursor: pointer;

    &:hover {
        background: linear-gradient(#ffe49e, #dea302);
    }
}


.video {
    width: 347px;
    height: 195px;
    border-top: 1px solid #343434;
    border-bottom: 1px solid #343434;
    border-left: none;
    border-right: none;
}



.icons {
    justify-content: flex-end;
}


.caption {
    color: #c1c0c0;
    font-weight: bold;
    font-size: 16px;
}

.message {
    margin: 10px 0;
    color: #8f8f8f;
}


.image-container {
    width: 347px;
    height: 322px;
    border: 1px dashed #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}




input[type=file] {
    position: absolute;
    visibility: hidden;
}



.undersize img {
    filter: grayscale(100%) brightness(0.3);
}

.undersize-tag {
    position: absolute;
    width: 100%;
    height: 20px;
    background: #621515;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdcdcd;
    font-size: 11px;
    outline: 1px solid #8b1e1e;
}

.fa-triangle-exclamation {
    margin-right: 4px;
    color: #ffb100;
}


.gold-button {
    padding: 1px 10px 0;
    font-size: 14px;
}



.invalid-video-link {
    color: #ff3e36;
    position: absolute;
    top: 30px;
    left: 91px;
}


.input-container {
    display: flex;
    margin-top: 10px;
    position: relative;
}

// input {
//     display: block;
//     margin: auto;
// }




// .backdrop {
//     width: 592px;
//     height: 475px;
//     margin: auto;
//     background: #222222;
// }


// .backdrop-border {
//     border-radius: 10px;
//     border: 1px solid #363636;
// }

// .tabs-border {
//     border-left: 1px solid #363636;
//     border-bottom-left-radius: 10px;
//     border-bottom: 1px solid #363636;
//     border-bottom-right-radius: 10px;
//     border-bottom-right-radius: 10px;
//     border-right: 1px solid #363636;
//     border-top-right-radius: 10px;
// }


// .search-backdrop {
//     overflow: auto;
//     overflow-y: overlay;
//     justify-content: flex-start;
//     align-items: flex-start;
// }


// .new-media {
//     flex-direction: column;
//     height: 434px;
//     position: relative;
//     justify-content: flex-start;
// }


// .close-button {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 20px;
//     height: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #dddddd;
//     cursor: pointer;

//     &:hover {
//         color: white;
//     }
// }


// .new-media-container {
//     width: 100%;
//     height: 400px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }


// .new-media-title {
//     max-width: 300px;
// }


// .new-img {
//     max-width: 380px;
//     max-height: 380px;
//     object-fit: contain;
// }





// .content-container {
//     width: 100%;
//     height: 100%;
//     border: 1px dashed #505050;
//     border-radius: 10px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }


// .content-heading {
//     color: #c1c0c0;
//     font-weight: bold;
//     font-size: 16px;
//     pointer-events: none;
// }

// .message {
//     margin-top: 10px;
//     color: #8f8f8f;
//     pointer-events: none;
// }










// @include tabs(65px, 25px, 25px, false, #303030, #363636, #202020, #222222, #7a7a7a, #cfcfcf);

// .tabs-container::after {
//     flex: 0.985;
// }