@import '../../../scss/variables.scss';

.page-content-container {
    position: relative;
}

.preferences-container {
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: auto;
}

.section {
    margin-bottom: 43px;

    &:first-child {
        .checkbox {
            position: absolute;
            right: 0;
            top: -20px;
        }
    }
}



.heading {
    color: $gold;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 3px;
    font-family: 'lithos pro';
}




.gold-rect-button {
    max-width: 140px;
    margin-left: auto;
    display: block;
    margin-top: 42px;
}


@media(max-width: 400px) {
    .page-title {
        white-space: normal;
    }
}