<header-footer>
    <div class="breadcrumb" [style.paddingRight.px]="lazyLoadingService.paddingRight + 10">
        <a routerLink="/account">Your Account</a>
        <div></div>

        <div>Email Preferences</div>
    </div>

    <div class="page-content-container">
        <div class="page-content">
            <div class="page-title">Email Preferences</div>

            <div class="preferences-container">

                <div class="section">
                    <label class="checkbox">
                        <input #allCheckedInput type="checkbox" tabindex="-2"
                            (change)="allChecked = !allChecked; toggleAllChecked()" [checked]="allChecked">

                        <span tabindex="0" class="checkmark" (keydown.space)="$event.preventDefault();
                                                   allChecked = !allChecked;
                                                   toggleAllChecked()">
                        </span>

                    </label>
                </div>

                <!-- Account -->
                <div class="section">

                    <div class="heading">Account</div>

                    <!-- Name Updated -->
                    <email-preference [text]="'When I update my name, please send me a confirmation email.'"
                        [checked]="preferences.nameUpdated"
                        (onChange)="preferences.nameUpdated = $event; setAllChecked()">
                    </email-preference>


                    <!-- Email Updated -->
                    <email-preference [text]="'When I update my email, please send me a confirmation email.'"
                        [checked]="preferences.emailUpdated"
                        (onChange)="preferences.emailUpdated = $event; setAllChecked()">
                    </email-preference>


                    <!-- Password Updated -->
                    <email-preference [text]="'When I update my password, please send me a confirmation email.'"
                        [checked]="preferences.passwordUpdated"
                        (onChange)="preferences.passwordUpdated = $event; setAllChecked()">
                    </email-preference>


                    <!-- Profile Image Updated -->
                    <email-preference [text]="'When I update my profile image, please send me a confirmation email.'"
                        [checked]="preferences.profileImageUpdated"
                        (onChange)="preferences.profileImageUpdated = $event; setAllChecked()">
                    </email-preference>
                </div>




                <!-- Lists -->
                <div class="section">

                    <div class="heading">Lists</div>

                    <!-- Collaborator Joined List -->
                    <email-preference [text]="'Send me an email whenever a new collaborator joins a list.'"
                        [checked]="preferences.collaboratorJoinedList"
                        (onChange)="preferences.collaboratorJoinedList = $event; setAllChecked()">
                    </email-preference>


                    <!-- User Joined List -->
                    <email-preference [text]="'When I join a list, please send me a confirmation email.'"
                        [checked]="preferences.userJoinedList"
                        (onChange)="preferences.userJoinedList = $event; setAllChecked()">
                    </email-preference>


                    <!-- User Removed From List -->
                    <email-preference [text]="'Send me an email whenever I\'m removed from a list.'"
                        [checked]="preferences.userRemovedFromList"
                        (onChange)="preferences.userRemovedFromList = $event; setAllChecked()">
                    </email-preference>


                    <!-- Collaborator Removed From List -->
                    <email-preference [text]="'Send me an email whenever a collaborator is removed from a list.'"
                        [checked]="preferences.collaboratorRemovedFromList"
                        (onChange)="preferences.collaboratorRemovedFromList = $event; setAllChecked()">
                    </email-preference>


                    <!-- User Removed Collaborator -->
                    <email-preference
                        [text]="'When I remove a collaborator from a list, please send me a confirmation email.'"
                        [checked]="preferences.userRemovedCollaborator"
                        (onChange)="preferences.userRemovedCollaborator = $event; setAllChecked()">
                    </email-preference>


                    <!-- Collaborator Added List Item -->
                    <email-preference [text]="'Send me an email whenever a collaborator adds an item to a list.'"
                        [checked]="preferences.collaboratorAddedListItem"
                        (onChange)="preferences.collaboratorAddedListItem = $event; setAllChecked()">
                    </email-preference>


                    <!-- User Added List Item -->
                    <email-preference [text]="'When I add an item to a list, please send me a confirmation email.'"
                        [checked]="preferences.userAddedListItem"
                        (onChange)="preferences.userAddedListItem = $event; setAllChecked()">
                    </email-preference>


                    <!-- Collaborator Removed List Item -->
                    <email-preference [text]="'Send me an email whenever a collaborator removes an item from a list.'"
                        [checked]="preferences.collaboratorRemovedListItem"
                        (onChange)="preferences.collaboratorRemovedListItem = $event; setAllChecked()">
                    </email-preference>


                    <!-- User Removed List Item -->
                    <email-preference [text]="'When I remove an item from a list, please send me a confirmation email.'"
                        [checked]="preferences.userRemovedListItem"
                        (onChange)="preferences.userRemovedListItem = $event; setAllChecked()">
                    </email-preference>


                    <!-- Collaborator Moved List Item -->
                    <email-preference [text]="'Send me an email whenever a collaborator moves an item to another list.'"
                        [checked]="preferences.collaboratorMovedListItem"
                        (onChange)="preferences.collaboratorMovedListItem = $event; setAllChecked()">
                    </email-preference>


                    <!-- User Moved List Item -->
                    <email-preference
                        [text]="'When I move an item to another list, please send me a confirmation email.'"
                        [checked]="preferences.userMovedListItem"
                        (onChange)="preferences.userMovedListItem = $event; setAllChecked()">
                    </email-preference>


                    <!-- Collaborator Updated List -->
                    <email-preference [text]="'Send me an email whenever a collaborator updates a list.'"
                        [checked]="preferences.collaboratorUpdatedList"
                        (onChange)="preferences.collaboratorUpdatedList = $event; setAllChecked()">
                    </email-preference>


                    <!-- User Updated List -->
                    <email-preference [text]="'When I update a list, please send me a confirmation email.'"
                        [checked]="preferences.userUpdatedList"
                        (onChange)="preferences.userUpdatedList = $event; setAllChecked()">
                    </email-preference>


                    <!-- Collaborator Deleted List -->
                    <email-preference [text]="'Send me an email whenever a collaborator deletes a list.'"
                        [checked]="preferences.collaboratorDeletedList"
                        (onChange)="preferences.collaboratorDeletedList = $event; setAllChecked()">
                    </email-preference>


                    <!-- User Deleted List -->
                    <email-preference [text]="'When I delete a list, please send me a confirmation email.'"
                        [checked]="preferences.userDeletedList"
                        (onChange)="preferences.userDeletedList = $event; setAllChecked()">
                    </email-preference>
                </div>




                <!-- Product Reviews -->
                <div class="heading">Product Reviews</div>

                <!-- Item Reviewed -->
                <email-preference [text]="'When I review an item, please send me a confirmation email.'"
                    [checked]="preferences.itemReviewed"
                    (onChange)="preferences.itemReviewed = $event; setAllChecked()">
                </email-preference>


                <button class="gold-rect-button" [disabled]="isDisabled()" (click)="onSaveChangesClick()">Save
                    Changes</button>

            </div>

        </div>
    </div>
</header-footer>