@import '../../../scss/variables.scss';

.page-content-container {
    position: relative;
    top: 50px;
    margin-bottom: 70px;
}

.preferences-container {
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: auto;
}

.section {
    margin-bottom: 43px;

    &:first-child {
        .checkbox {
            position: absolute;
            right: 0;
            top: -20px;
        }
    }
}



.heading {
    color: $gold;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 3px;
    font-family: 'lithos pro';
}

.preference {
    width: 100%;
    color: #cccccc;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3d3d3d;
    justify-content: space-between;
    padding-left: 10px;

    &:hover {

        background: $hover-background-color;

        .preference-text {
            color: white;
        }

        input~.checkmark {
            background-color: lighten(#282828, 10);
            border-color: lighten(#505050, 20);

            &:after {
                left: 4px;
                top: -3px;
                width: 5px;
                height: 10px;
                border: solid lighten(#ffba00, 20);
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}


.preference-text {
    width: 100%;
    min-height: 38px;
    padding: 11px 10px 11px 0;
    cursor: pointer;
}


.gold-rect-button {
    max-width: 140px;
    margin-left: auto;
    display: block;
    margin-top: 42px;
}


@media(max-width: 400px) {
    .page-title {
        white-space: normal;
    }
}