<div class="popup-container hide" [ngClass]="{'show': show}" (transitionend)="onHide()">
    <div class="popup-base">

        <!-- Value -->
        <div class="popup-label">Value:</div>
        <input #valueInput (keydown.enter)="onSubmit()" (input)="onInput()">


        <!-- Buttons -->
        <div class="popup-button-container">
            <button class="dark-button" (click)="close()">Close</button>
            <button class="gold-button" (click)="onSubmit()">Submit</button>
        </div>
    </div>


    <!-- Arrow Right -->
    <div class="popup-arrow-container">
        <div class="popup-arrow-right-Border"></div>
        <div class="popup-arrow-right-background"></div>
    </div>
</div>