.side-menu-container {
    max-width: none;
}

.side-menu-content-container {
    bottom: 100px;
}

.side-menu-content {
    padding: 2px 5px 2px;
}

.gold-round-button-lg {
    max-width: none;
}

.fixed-container {
    background: #1b1b1b;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 1px solid #2c2c2c;
    padding: 0 20px;
}

.clear-all {
    text-align: center;
    margin: 15px 0;
    color: #dadada;
    text-decoration: underline;
}