<div [ngClass]="{'cover': hasCover}" (contextmenu)="$event.preventDefault()"></div>
<div #base
    class="menu-base"
    [style.left.px]="menuVisible ? xPos : -1000"
    [style.top.px]="menuVisible ?  yPos :  -1000"
    (contextmenu)="$event.preventDefault()"
    (mousedown)="$event.stopPropagation()"
    [ngStyle]="{'visibility': menuVisible ? 'visible' : 'hidden'}">

    <ng-container *ngFor="let menuOption of options">
        <ng-container *ngIf="!menuOption.hidden">
            <div *ngIf="menuOption.type == MenuOptionType.MenuItem"
                class="menu-item"
                [ngClass]="{'disabled': menuOption.isDisabled}"
                (mousedown)="$event.stopPropagation()"
                (click)="menuOption.optionFunction && !menuOption.isDisabled ? onClick(menuOption.optionFunction!, menuOption.optionFunctionParameters!) : null;">
                <div class="menu-item-text">{{menuOption.name}}</div>
                <div *ngIf="menuOption.shortcut" class="menu-item-text">{{menuOption.shortcut}}</div>
            </div>


            <div *ngIf="menuOption.type == MenuOptionType.Divider" class="divider">
                <div class="divider-line"></div>
            </div>
        </ng-container>
    </ng-container>
</div>