<div style="background: rgba(22, 22, 22, 0.95); position: absolute; padding: 7px 1px; box-shadow: 7px 7px 7px 2px rgba(0, 0, 0, 0.25);" [style.left.px]="xPos" [style.top.px]="yPos" (contextmenu)="$event.preventDefault()">


    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Open to the Side</div>
        <div style="margin: 0 25px;">Ctrl+Enter</div>
    </div>

    
    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Open Width...</div>
        <div style="margin: 0 25px;"></div>
    </div>


    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Reveal in File Explorer</div>
        <div style="margin: 0 25px;">Shift+Alt+R</div>
    </div>

    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Open in Intergrated Terminal</div>
        <div style="margin: 0 25px;"></div>
    </div>


    <div style="padding: 0 11px;">
        <div style="height: 1px; background: #404040; margin: 9px 0;"></div>
    </div>


    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Select for Compare</div>
        <div style="margin: 0 25px;"></div>
    </div>

    <div style="padding: 0 11px;">
        <div style="height: 1px; background: #404040; margin: 9px 0;"></div>
    </div>

    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Open Timeline</div>
        <div style="margin: 0 25px;"></div>
    </div>


    <div style="padding: 0 11px;">
        <div style="height: 1px; background: #404040; margin: 9px 0;"></div>
    </div>

    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Cut</div>
        <div style="margin: 0 25px;">Ctrl+X</div>
    </div>

    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Copy</div>
        <div style="margin: 0 25px;">Ctrl+C</div>
    </div>


    <div style="padding: 0 11px;">
        <div style="height: 1px; background: #404040; margin: 9px 0;"></div>
    </div>

    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Copy Path</div>
        <div style="margin: 0 25px;">Shift+Alt+C</div>
    </div>

    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Copy Relative Path</div>
        <div style="margin: 0 25px;">Ctrl+K Ctrl+Shift+C</div>
    </div>


    <div style="padding: 0 11px;">
        <div style="height: 1px; background: #404040; margin: 9px 0;"></div>
    </div>

    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Rename</div>
        <div style="margin: 0 25px;">F2</div>
    </div>

    <div style="height: 25px; margin: 1px 0; display: flex; align-items: center; justify-content: space-between; font-size: 13px; color: #aaaaaa;">
        <div style="margin: 0 25px;">Delete</div>
        <div style="margin: 0 25px;">Delete</div>
    </div>

</div>