label {
    display: block;
}

.base {
    width: 300px;
    position: absolute;
    font-size: 12px;
    border-radius: 5px;
    background: #282828;
    border: 1px solid #414141;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.25);
}




.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}


.popup-arrow-container {
    position: absolute;
    top: -12px;
    right: 10px;
}

.popup-arrow-Border {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #414141;
}

.popup-arrow-background {
    position: absolute;
    top: 1px;
    left: 1px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #282828;
}