<div class="backdrop">
    <div #base class="base hide" [ngClass]="{'show': show}" (transitionend)="onHide()" [style.left.px]="posX" [style.top.px]="posY">

        <!-- Header -->
        <div class="header">
            <div class="close" (click)="close()">x</div>
        </div>

        <!-- Content -->
        <div style="padding: 10px;">

            <!-- None -->
            <label class="radio">
                <div>None</div>
                <input type="radio" name="link-option" [checked]="link.linkType == linkType.None"
                    (change)="setLinkType(linkType.None); isApplyButtonDisabled = false" (keydown.enter)="setLink()">

                <span class="checkmark"></span>
            </label>


            <!-- Page -->
            <label class="radio">
                <div>Page</div>
                <input type="radio" name="link-option" [checked]="link.linkType == linkType.Page"
                    (change)="setLinkType(linkType.Page); search ? search.clear() : null; isApplyButtonDisabled = true">
                <span class="checkmark"></span>
            </label>


            <!-- Product -->
            <label class="radio">
                <div>Product</div>
                <input type="radio" name="link-option" [checked]="link.linkType == linkType.Product"
                    (change)="setLinkType(linkType.Product); search ? search.clear() : null; isApplyButtonDisabled = true">
                <span class="checkmark"></span>
            </label>


            <!-- Web Address -->
            <label class="radio">
                <div>Web Address</div>
                <input type="radio" name="link-option" [checked]="link.linkType == linkType.WebAddress"
                    (change)="setLinkType(linkType.WebAddress); isApplyButtonDisabled = true">
                <span class="checkmark"></span>
            </label>

            <!-- Inputs and button container -->
            <div class="inputs-button-container">

                <div style="width: 196px;">
                    <!-- Search -->
                    <search #search *ngIf="currentLinkType == linkType.Product || currentLinkType == linkType.Page"
                        [apiUrl]="apiUrl"
                        [placeholderText]="currentLinkType == linkType.Product ? 'Search for a product' : 'Search for a page'"
                        (input)="isApplyButtonDisabled = true" (onItemSelect)="onSearchItemSelect($event);"
                        (keydown.enter)="setLink()">
                    </search>

                    <!-- Link Input -->
                    <input #linkInput *ngIf="currentLinkType != linkType.Product && currentLinkType != linkType.Page"
                        [disabled]="currentLinkType == linkType.None" (keydown.enter)="setLink()"
                        (input)="linkInput.value != '' ? isApplyButtonDisabled = false : isApplyButtonDisabled = true"
                        [placeholder]="currentLinkType == linkType.WebAddress ? 'Enter a web address' : ''"
                        spellcheck="false">
                </div>


                <!-- Apply Button -->
                <button class="dark-button" [disabled]="isApplyButtonDisabled" (click)="setLink()">Apply</button>
            </div>
        </div>
    </div>
</div>