<div class="hide" [ngClass]="{'show': show}" (transitionend)="onHide()" (mousedown)="$event.stopPropagation()">

    <div class="popup-arrow-container">
        <div class="popup-arrow-up-Border"></div>
        <div class="popup-arrow-up-background"></div>
    </div>
    
    <div class="popup-base">
        <available-keywords #availableKeywords [productId]="productId" [productIndex]="productIndex"></available-keywords>
        <div class="add-to-selected-keywords-button-container">
            <icon-button style="margin-left: -10px;"
                         [icon]="'fa-solid fa-chevron-right'"
                         [title]="'Add to Selected Keywords'"
                         [isDisabled]="availableKeywords.addToSelectedKeywordsButtonDisabled"
                         (onClick)="availableKeywords.addToSelectedKeywords()">
            </icon-button>
        </div>
        <selected-keywords #selectedKeywords [productId]="productId" [productIndex]="productIndex"></selected-keywords>
    </div>
</div>