<div class="product-property-container">
    <div class="product-property-label">Components:</div>
    <div class="product-dashed-border min-height">
        <div *ngIf="!product.components || product.components.length == 0" class="product-property-plus-button-container">
            <icon-button style="transform: rotate(45deg)"
                         [icon]="'fa-regular fa-circle-xmark'"
                         [title]="'Add Component'"
                         [fontSize]="'18'"
                         (onClick)="addSubproduct(subproductType.Component)">
            </icon-button>
        </div>
        <subproducts *ngIf="product.components && product.components.length > 0"
            [subproducts]="product.components" [subproductType]="subproductType.Component"
            [productId]="product.id"></subproducts>
    </div>
</div>