<div #reviewSummaryPopupContainer (mouseleave)="onMouseLeave()" [style.top.px]="top" [style.left.px]="left" class="hide review-summary-popup-container"
    [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div *ngIf="!aboveStars" class="stars-overlay" style="top: -2px; margin-bottom: 12px;" [style.left.px]="starsOverlayLeft"></div>

    
    

    <div class="popup">

        <!-- Arrow Up -->
        <div *ngIf="!aboveStars" class="arrow-container" [style.left.px]="arrowLeft">
            <div class="arrow-up"></div>
        </div>

        <div class="popup-content">
            <review-summary #reviewSummary [product]="product"></review-summary>

            <div class="horizontal-line"></div>

            <button class="gold-rect-button" (click)="onButonClick()">See all customer reviews</button>
        </div>

        <!-- Arrow Down -->
        <div *ngIf="aboveStars" class="arrow-container" [style.left.px]="arrowLeft" style="top: 13px;">
            <div class="arrow-down"></div>
        </div>
    </div>

    <div *ngIf="aboveStars" class="stars-overlay" style="margin-top: 12px;" [style.left.px]="starsOverlayLeft"></div>

</div>