<div class="hide" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="popup-base">

        <div style="width: 103px; margin-right: 6px;">
            <div class="popup-dropdown-base">
                <div class="popup-dropdown-value-display">Arial</div>
                <div class="popup-dropdown-arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
        

        <div style="display: flex; width: 25px; height: 24px; background: #2c2c2c; border: 1px solid #373737; border-radius: 2px; justify-content: center; align-items: center;">
            <div style="width: 8px; height: 2px; background: #8c8985;"></div>
        </div>

        <div style="width: 39px;">
            <input>
        </div>

        <div style="display: flex; width: 25px; height: 24px; background: #2c2c2c; border: 1px solid #373737; border-radius: 2px; justify-content: center; align-items: center;">
            <div style="width: 3px; height: 2px; background: #8c8985;"></div>
            <div style="width: 2px; height: 8px; background: #8c8985;"></div>
            <div style="width: 3px; height: 2px; background: #8c8985;"></div>
        </div>

        <div style="width: 4px;"></div>

        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-bold"></i>
        </div>

        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-italic"></i>
        </div>

        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-underline"></i>
        </div>


        <div style="display: flex; width: 28px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <div style="display: flex; justify-content: center; flex-direction: column;">
                <div style="font-weight: bold; margin: auto; font-size: 16px;">A</div>
                <div style="width: 22px; height: 4px; background: red;"></div>
            </div>
        </div>


        <div style="display: flex; width: 28px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <i class="fa-solid fa-highlighter" style="margin-bottom: 3px;"></i>
                <div style="width: 22px; height: 4px; background: red;"></div>
            </div>
        </div>


        <div style="width: 1px; height: 20px; background: #373737; margin: 0 3px;"></div>


        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-link"></i>
        </div>


        <div style="width: 39px; margin-left: 4px; margin-right: 2px;">
            <div class="popup-dropdown-base">
                <div class="popup-dropdown-value-display">Aa</div>
                <div class="popup-dropdown-arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
        

        <div style="width: 1px; height: 20px; background: #373737; margin: 0 3px;"></div>


        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-align-left"></i>
        </div>

        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-align-center"></i>
        </div>

        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-align-right"></i>
        </div>

        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-align-justify"></i>
        </div>


        <div style="width: 1px; height: 20px; background: #373737; margin: 0 3px;"></div>


        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-list-ol"></i>
        </div>

        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-list-ul"></i>
        </div>

        <div style="width: 1px; height: 20px; background: #373737; margin: 0 3px;"></div>

        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-indent"></i>
        </div>

        <div style="display: flex; width: 26px; height: 26px; margin: 0 2px; justify-content: center; align-items: center; border-radius: 2px; background: rgba(255, 255, 255, 0.205);">
            <i class="fa-solid fa-indent"></i>
        </div>
    </div>
</div>