<div class="hide" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <div class="popup-base">

        <!-- Font -->
        <div style="width: 103px; margin-right: 6px;" title="Font">
            <div class="popup-dropdown-base">
                <div class="popup-dropdown-value-display">Arial</div>
                <div class="popup-dropdown-arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
        
        <!-- Decrease Font Size Button -->
        <div class="font-size-button" title="Decrease Font Size">
            <i class="fa-solid fa-minus"></i>
        </div>

        <!-- Font size Input text -->
        <div style="width: 39px;" title="Font Size">
            <input>
        </div>

        <!-- Increase Font Size Button -->
        <div class="font-size-button" title="Increase Font Size">
            <i class="fa-solid fa-plus"></i>
        </div>

        <div style="width: 4px;"></div>

        <!-- Bold -->
        <div class="text-toolbar-button" title="Bold">
            <i class="fa-solid fa-bold"></i>
        </div>

        <!-- Italic -->
        <div class="text-toolbar-button" title="Italic">
            <i class="fa-solid fa-italic"></i>
        </div>

        <!-- Underline -->
        <div class="text-toolbar-button" title="Underline">
            <i class="fa-solid fa-underline"></i>
        </div>

        <!-- Text Color -->
        <div class="text-toolbar-button" style="width: 28px;" title="Text Color">
            <div style="display: flex; justify-content: center; flex-direction: column;">
                <div style="font-weight: bold; margin: auto; font-size: 16px;">A</div>
                <div style="width: 22px; height: 4px; background: red;"></div>
            </div>
        </div>

        <!-- Highlight Color -->
        <div class="text-toolbar-button" style="width: 28px;" title="Highlight Color">
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <i class="fa-solid fa-highlighter" style="margin-bottom: 3px;"></i>
                <div style="width: 22px; height: 4px; background: red;"></div>
            </div>
        </div>


        <div class="divider"></div>

        <!-- Link -->
        <div class="text-toolbar-button" title="Link">
            <i class="fa-solid fa-link"></i>
        </div>

        <!-- Case -->
        <div style="width: 39px; margin-left: 4px; margin-right: 2px;" title="Case">
            <div class="popup-dropdown-base">
                <div class="popup-dropdown-value-display">Aa</div>
                <div class="popup-dropdown-arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
        

        <div class="divider"></div>

        <!-- Left Align -->
        <div class="text-toolbar-button" title="Left Align">
            <i class="fa-solid fa-align-left"></i>
        </div>

        <!-- Center Align -->
        <div class="text-toolbar-button" title="Center Align">
            <i class="fa-solid fa-align-center"></i>
        </div>

        <!-- Right Align -->
        <div class="text-toolbar-button" title="Right Align">
            <i class="fa-solid fa-align-right"></i>
        </div>

        <!-- Justify -->
        <div class="text-toolbar-button" title="Justify">
            <i class="fa-solid fa-align-justify"></i>
        </div>


        <div class="divider"></div>


        <!-- Numbered List -->
        <div class="text-toolbar-button" title="Numbered List">
            <i class="fa-solid fa-list-ol"></i>
        </div>

        <!-- Bulleted List -->
        <div class="text-toolbar-button" title="Bulleted List">
            <i class="fa-solid fa-list-ul"></i>
        </div>

        <div class="divider"></div>

        <!-- Decrease Indent -->
        <div class="text-toolbar-button" title="Decrease Indent">
            <i class="fa-solid fa-outdent"></i>
        </div>

        <!-- Increase Indent -->
        <div class="text-toolbar-button" title="Increase Indent">
            <i class="fa-solid fa-indent"></i>
        </div>
    </div>
</div>