<ng-container *ngIf="textBox">

    <div class="popup-base" (mousedown)="$event.stopPropagation()">

        <!-- Font -->
        <div style="width: 160px; margin-right: 6px;" title="Font">
            <dropdown [listItems]="textBox.fontFamily.options" [selectedListItem]="textBox.fontFamily.selectedOption"
                (onChange)="textBox.fontFamily.selectedOption = $event; textBox.fontFamily.setStyle(); textBox.setText()">
            </dropdown>
        </div>


        <!-- Font Size -->
        <dropdown [listItems]="textBox.fontSize.options" [selectedListItem]="textBox.fontSize.selectedOption"
            (onChange)="textBox.fontSize.selectedOption = $event; textBox.fontSize.setStyle(); textBox.setText()">
        </dropdown>

        <!-- Bold -->
        <div class="text-toolbar-button" title="Bold" (click)="textBox.bold.setStyle(); textBox.setText()"
            [ngClass]="{'selected': textBox.bold.isSelected}">
            <i class="fa-solid fa-bold"></i>
        </div>

        <!-- Italic -->
        <div class="text-toolbar-button" title="Italic" (click)="textBox.italic.setStyle(); textBox.setText()"
            [ngClass]="{'selected': textBox.italic.isSelected}">
            <i class="fa-solid fa-italic"></i>
        </div>

        <!-- Underline -->
        <div class="text-toolbar-button" title="Underline" (click)="textBox.underline.setStyle(); textBox.setText()"
            [ngClass]="{'selected': textBox.underline.isSelected}">
            <i class="fa-solid fa-underline"></i>
        </div>

        <!-- Text Color -->
        <div style="position: relative;">
            <div class="text-toolbar-button" style="width: 28px; position: relative;" title="Text Color">
                <div style="display: flex; justify-content: center; flex-direction: column;">
                    <div style="font-weight: bold; margin: auto; font-size: 16px;">A</div>

                    <color-swatch #colorSwatch [color]="textBox.fontColor.rgbColor" [miniSize]="true"
                        (onChange)="appRef.tick(); textBox.fontColor.setStyle(); textBox.render()"
                        (onColorPickerOpen)="appRef.tick(); textBox.highlightColor.setStyle(); textBox.render()"
                        (onColorPickerClose)="textBox.fontColor.onColorPickerClose(); textBox.setText()">
                    </color-swatch>
                </div>
            </div>
            <div style="position: absolute; top: -233px; left: -185px;">
                <ng-template #colorPickerViewContainer></ng-template>
            </div>

        </div>


        <!-- Highlight Color -->
        <div style="position: relative;">
            <div class="text-toolbar-button" style="width: 28px; position: relative;" title="Highlight Color">
                <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <i class="fa-solid fa-highlighter" style="margin-bottom: 3px;"></i>

                    <color-swatch #highlightColorSwatch [color]="textBox.highlightColor.rgbColor" [miniSize]="true"
                        (onChange)="appRef.tick(); textBox.highlightColor.setStyle(); textBox.render()"
                        (onColorPickerOpen)="textBox.highlightColor.color == '#00000000' ? setHighlightColor(highlightColorSwatch.colorPicker.color): null; appRef.tick(); textBox.highlightColor.setStyle(); textBox.render()"
                        (onColorPickerClose)="textBox.highlightColor.onColorPickerClose(); textBox.setText()">
                    </color-swatch>
                </div>
            </div>

            <div style="position: absolute;top: -233px; left: -185px;">
                <ng-template #highlightColorPickerViewContainer></ng-template>
            </div>
        </div>



        <div class="divider"></div>

        <!-- Link -->
        <div style="position: relative;">
            <div #linkElement class="text-toolbar-button" title="Link" (click)="onLinkClick(linkElement)">
                <i class="fa-solid fa-link"></i>

            </div>
            <ng-template #linkContainer></ng-template>
        </div>


        <!-- Case -->
        <div style="width: 39px; margin-left: 4px; margin-right: 2px;" title="Case"
            (mousedown)="showCaseDropdownList();">
            <div class="popup-dropdown-base">
                <div class="popup-dropdown-value-display">Aa</div>
                <div class="popup-dropdown-arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <ng-template #caseDropdownListContainer></ng-template>
        </div>


        <div class="divider"></div>

        <!-- Left Align -->
        <div class="text-toolbar-button" title="Left Align" (click)="
        textBox.alignLeft.setStyle();
        textBox.alignCenter.isSelected = false;
        textBox.alignRight.isSelected = false;
        textBox.alignJustify.isSelected = false; 
        textBox.setText()" [ngClass]="{'selected': textBox.alignLeft.isSelected}">
            <i class="fa-solid fa-align-left"></i>
        </div>

        <!-- Center Align -->
        <div class="text-toolbar-button" title="Center Align" (click)="
        textBox.alignCenter.setStyle();
        textBox.alignLeft.isSelected = false;
        textBox.alignRight.isSelected = false;
        textBox.alignJustify.isSelected = false;
        textBox.setText()" [ngClass]="{'selected': textBox.alignCenter.isSelected}">
            <i class="fa-solid fa-align-center"></i>
        </div>

        <!-- Right Align -->
        <div class="text-toolbar-button" title="Right Align" (click)="
        textBox.alignRight.setStyle();
        textBox.alignCenter.isSelected = false;
        textBox.alignLeft.isSelected = false;
        textBox.alignJustify.isSelected = false;
        textBox.setText()" [ngClass]="{'selected': textBox.alignRight.isSelected}">
            <i class="fa-solid fa-align-right"></i>
        </div>

        <!-- Justify -->
        <div class="text-toolbar-button" title="Justify" (click)="
        textBox.alignJustify.setStyle();
        textBox.alignCenter.isSelected = false;
        textBox.alignRight.isSelected = false;
        textBox.alignLeft.isSelected = false;
        textBox.setText()" [ngClass]="{'selected': textBox.alignJustify.isSelected}">
            <i class="fa-solid fa-align-justify"></i>
        </div>


        <div class="divider"></div>


        <!-- Numbered List -->
        <div class="text-toolbar-button" title="Numbered List"
            (click)="textBox.numberedList.setStyle(); textBox.bulletedList.isSelected = false; textBox.setText()"
            [ngClass]="{'selected': textBox.numberedList.isSelected}">
            <i class="fa-solid fa-list-ol"></i>
        </div>

        <!-- Bulleted List -->
        <div class="text-toolbar-button" title="Bulleted List"
            (click)="textBox.bulletedList.setStyle(); textBox.numberedList.isSelected = false; textBox.setText()"
            [ngClass]="{'selected': textBox.bulletedList.isSelected}">
            <i class="fa-solid fa-list-ul"></i>
        </div>

        <div class="divider"></div>

        <!-- Decrease Indent -->
        <div class="text-toolbar-button" title="Decrease Indent"
            (click)="textBox.decreaseIndent.setStyle(); textBox.setText()">
            <i class="fa-solid fa-outdent"></i>
        </div>

        <!-- Increase Indent -->
        <div class="text-toolbar-button" title="Increase Indent"
            (click)="textBox.increaseIndent.setStyle(); textBox.setText()">
            <i class="fa-solid fa-indent"></i>
        </div>
    </div>
</ng-container>