<div #widget [style.maxWidth.px]="width ? width : null"
    style="display: flex; align-items: center; min-height: 20px; position: relative; width: 100%; user-select: none;"
    [ngClass]="{'selected-widget': widgetService.selectedWidget == this}">

    <!-- Handles -->
    <div id="handles" *ngIf="widgetService.selectedWidget == this">
        <div class="handle left" (mousedown)="widgetService.onWidgetHandleMousedown(widgetHandle.Left, $event)"></div>
        <div class="handle right" (mousedown)="widgetService.onWidgetHandleMousedown(widgetHandle.Right, $event)"></div>
    </div>

    <div style=" width: 100%;"
        [style.borderBottom]="border && border.width + 'px ' + border.style + ' ' + border.rgbColor.toRGBString()"
        [style.box-shadow]="shadow && shadow.enabled ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.rgbColor.toRGBString() : null">
    </div>
</div>