<div #widget [style.borderBottom]="border && border.width + 'px ' + border.style + ' ' + border.rgbColor.toRGBString()"
    [style.box-shadow]="shadow && shadow.enabled ? shadow.x + 'px ' + shadow.y + 'px ' + shadow.blur + 'px ' + shadow.size + 'px ' + shadow.rgbColor.toRGBString() : null"
    [style.maxWidth.px]="width ? width : null">
</div>

<!-- Handles -->
<div *ngIf="widgetService.selectedWidget == this">
    <div class="handle top-left"></div>
    <div class="handle top"></div>
    <div class="handle top-right"></div>
    <div class="handle left"></div>
    <div class="handle bottom-left"></div>
    <div class="handle bottom"></div>
    <div class="handle bottom-right"></div>
    <div class="handle right"></div>
</div>