<div class="product-property-hover-container margin-top">
    <div class="product-property-label">Price:</div>
    <div #price
         tabindex="0"
         class="price-container product-property-input-container product-dashed-border-bright"
         contenteditable="true"
         (focus)="onFocus(price)"
         (input)="onInput(price)"
         (blur)="onBlur(pricePoint, 'price', price, true); onUpdateMinMaxPrice.emit()"
         (keydown.escape)="onEscape(pricePoint, 'price', price)"
         (keydown.enter)="price.blur()"
         (paste)="onPaste($event, price, true)">
            {{isWholeNumber(pricePoint.price) ? (pricePoint.price | currency:currency:'symbol':'0.0-0') : (pricePoint.price | currency:currency:'symbol':'0.2-2')}}
    </div>
</div>