<div class="price-property-container property-container">
    <div class="label">Price:</div>
    <div #price
         tabindex="0"
         class="price-container container dashed-border"
         contenteditable="true"
         (focus)="onPriceFocus(price)"
         (input)="onPriceInput(price)"
         (blur)="onPriceBlur(pricePoint, price)"
         (keydown.escape)="onPriceEscape(pricePoint, price)"
         (keydown.enter)="price.blur()"
         (paste)="onPaste($event, price, true)">
            {{isWholeNumber(pricePoint.price) ? (pricePoint.price | currency:'USD':'symbol':'0.0-0') : (pricePoint.price | currency:'USD':'symbol':'0.2-2')}}
    </div>
</div>