<div class="price-property-container product-property-hover-container">
    <div class="product-property-label">Price:</div>
    <div #price
         tabindex="0"
         class="price-container price-point-dashed-container product-dashed-border-bright"
         contenteditable="true"
         (focus)="onFocus(price)"
         (input)="onInput(price)"
         (blur)="onBlur(pricePoint, 'price', price, true)"
         (keydown.escape)="onEscape(pricePoint, 'price', price)"
         (keydown.enter)="price.blur()"
         (paste)="onPaste($event, price, true)">
            {{isWholeNumber(pricePoint.price) ? (pricePoint.price | currency:'USD':'symbol':'0.0-0') : (pricePoint.price | currency:'USD':'symbol':'0.2-2')}}
    </div>
</div>