<div class="popup-container hide" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Arrow Left -->
    <div *ngIf="arrowPosition == PopupArrowPosition.TopLeft" class="popup-arrow-container">
        <div class="popup-arrow-left-Border"></div>
        <div class="popup-arrow-left-background"></div>
    </div>


    <div class="popup-base">

        <!-- Hoplink -->
        <div class="popup-label">Hoplink:</div>
        <input #hoplinkInput [(ngModel)]="hoplink" (keydown.enter)="onSubmitClick()">


        <!-- Buttons -->
        <div class="popup-button-container">
            <button class="popup-dark-button" (click)="close()">Close</button>
            <button class="gold-button" (click)="onSubmitClick()">Submit</button>
        </div>
    </div>


    <!-- Arrow Right -->
    <div *ngIf="arrowPosition == PopupArrowPosition.TopRight" class="popup-arrow-container">
        <div class="popup-arrow-right-Border"></div>
        <div class="popup-arrow-right-background"></div>
    </div>
</div>