<!-- Background -->
<background [background]="widgetService.selectedRow.background" (onChange)="update()"></background>

<!-- Border -->
<border [border]="widgetService.selectedRow.border" (onChange)="update()"></border>

<!-- Corners -->
<corners [corners]="widgetService.selectedRow.corners" (onChange)="update()"></corners>

<!-- Shadow -->
<shadow [shadow]="widgetService.selectedRow.shadow" (onChange)="update()"></shadow>

<!-- Padding -->
<breakpoints [breakpointObject]="widgetService.selectedRow.padding"
    (onChange)="updatePadding(widgetService.selectedRow.padding, widgetService.selectedRow.rowElement)"></breakpoints>

<!-- Vertical Alignment -->
<vertical-alignment [verticalAlignment]="widgetService.selectedRow.verticalAlignment"
    (onChange)="updateVerticalAlignment()">
</vertical-alignment>