<ng-container *ngIf="widgetService.selectedRow">
    <!-- Background -->
    <background [background]="widgetService.selectedRow.background"
        [imageReference]="widgetService.selectedRow.getImageReference()" (onChange)="update()"></background>

    <!-- Border -->
    <border [border]="widgetService.selectedRow.border" (onChange)="update()"></border>

    <!-- Corners -->
    <corners [corners]="widgetService.selectedRow.corners" (onChange)="update()"></corners>

    <!-- Shadow -->
    <shadow [shadow]="widgetService.selectedRow.shadow" (onChange)="update()"></shadow>

    <!-- Padding -->
    <padding [padding]="widgetService.selectedRow.padding"
        (onChange)="updatePadding(widgetService.selectedRow.padding, widgetService.selectedRow.rowElement)"></padding>

    <!-- Vertical Alignment -->
    <vertical-alignment [verticalAlignment]="widgetService.selectedRow.verticalAlignment"
        (onChange)="updateVerticalAlignment()">
    </vertical-alignment>
</ng-container>