.notification-type-container {
    padding-left: 3px;
    justify-content: flex-end;
    margin-bottom: 13px;
}


.notification-type-name {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}


.ellipsis {
    z-index: 1;
}


.notification-info-box {
    margin: 3px 0 13px;
}



.notification-info-bar {
    border: 2px solid #282828;
}


.notification-profile-image-container {
    img {
        border-radius: 50%;
    }
}


.notification-profile-popup-container {
    top: -110px;
}


.user-name-container {
    @extend .user-image-container;
    font-size: 20px;
    color: white;
    height: 78px;
}


.user-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}


.user-info-box {
    @extend .notification-info-box;
    height: 114px;
    background: none;
    border: 1px solid #454545;
}

.dashed-border {
    height: 221px;
    border-style: dashed;
    border-color: #373737;
}


.list-review-container {
    padding: 4px 8px 8px;

    :nth-child(2) {
        height: 26px;
    }

    :nth-child(4) {
        height: 100px;
        margin-bottom: 0;
    }
}

.notification-button-container {
    padding-top: 2px;
}


.gold-button {
    width: 75px;
}