.notification-type-container {
    padding-left: 3px;
    justify-content: flex-end;
    margin-bottom: 13px;
}


.notification-type-name {
    position: absolute;
    left: 163px;
}




.info-box {
    margin: 3px 0 13px;
}


.profile-image-container {
    img {
        border-radius: 50%;
    }
}


.profile-popup-container {
    top: -110px;
}


.user-name-container {
    @extend .user-image-container;
    font-size: 20px;
    color: white;
    height: 78px;
}


.user-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}


.image-info-box {
    @extend .info-box;
    height: 114px;
    background: none;
    border: 1px solid #454545;
}


.gold-button {
    width: 75px;
}