<panel [title]="'Query Builder'">
    <div class="property-box-dark">


        <div class="property-box-bar">

            <!-- Icons -->
            <div class="icons-container">

                <!-- Delete -->
                <icon-button [icon]="'fa-trash-alt fas'" [title]="'Delete'" (click)="onDeleteClick()"
                    [isDisabled]="queryBuilderService.selectedQueryElements.length == 0"></icon-button>

                <!-- Ungroup -->
                <icon-button [icon]="'fa-solid fa-object-ungroup'" [title]="'Ungroup'"
                    [isDisabled]="isUngroupIconDisabled()" (click)="onUngroupClick()"></icon-button>

                <!-- Group -->
                <icon-button [icon]="'fa-solid fa-object-group'" [title]="'Group'" [isDisabled]="isGroupIconDisabled()"
                    (click)="onGroupClick()"></icon-button>

                <!-- Add -->
                <icon-button [icon]="'fas fa-plus-circle'" [title]="'Add'" (click)="onAddRowClick()"
                    [isDisabled]="queryBuilderService.selectedQueryElements.length != 1">
                </icon-button>
            </div>
        </div>

        <!-- Query -->
        <query [query]="widget.query"></query>
    </div>
</panel>