<panel [title]="'Query Builder'">
    <div class="property-box-dark">


        <div class="property-box-bar">

            <!-- Icons -->
            <div class="icons-container">

                <!-- Delete -->
                <icon-button [icon]="'fa-trash-alt fas'" [title]="'Delete Query'"></icon-button>

                <!-- Group -->
                <icon-button [icon]="'fa-solid fa-layer-group'" [title]="'Group Queries'"></icon-button>
            </div>
        </div>
        
        <query [query]="query"></query>
        


        <!-- <div class="query-group">
            <div class="query-button"></div>

            <div class="queries-container">
                <div class="query-row">
                    <div class="query-button"></div>


                    <div class="query-button">
                        <div>None</div>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>


                    <ng-container>

                        <div class="query-button">
                            <div>=</div>
                        </div>


                        <div class="query-button">
                            <div>None</div>
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </ng-container>
                </div>


                <div class="logical-operator-button">
                    <div>And</div>
                    <i class="fa-solid fa-caret-down"></i>
                </div>



                <div class="query-row">
                    <div class="query-button"></div>


                    <div class="query-button">
                        <div>None</div>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>


                    <ng-container>

                        <div class="query-button">
                            <div>=</div>
                        </div>


                        <div class="query-button">
                            <div>None</div>
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div> -->



    </div>
</panel>