@use "sass:math";

$breakpoints: (
    z: 0,
    micro: 240px,
    xxs: 320px,
    xs: 480px,
    sm: 600px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1440px,
    hd: 1600px
);


$spacers: (
    0: 0,
    4: 4px,
    8: 8px,
    12: 12px,
    16: 16px,
    20: 20px,
    24: 24px,
    28: 28px,
    32: 32px,
    36: 36px,
    40: 40px,
    44: 44px,
    48: 48px
);

// ....................................................................Get Class Extension..................................................................
@function get-class-extension($breakpoint-key) {
    @return if(map-get($breakpoints, $breakpoint-key) == 0, "", "-#{$breakpoint-key}");
}


// ....................................................................Media Breakpoint..................................................................
@mixin media-breakpoint($key) {
    $breakpoint: map-get($breakpoints, $key);

    // If the breakpoint is not zero, create the media query
    @if $breakpoint != 0 {
        @media (min-width: $breakpoint) {
            @content;
        }
    } @else {
        // Dont's create the media query, just use the content
        @content;
    }
}

// .......................................................................Columns......................................................................
$num-grid-columns: 12;

// Create the placeholder selector
%column {
    width: 100%;
}

// Loop through the breakpoints
@each $key in map-keys($breakpoints) {
    // This will be either an empty string or the breakpoint key (-xs)
    $extension: get-class-extension($key);

    // Create the column classes
    @for $i from 1 through $num-grid-columns {
        .col-#{$i}#{$extension} {
            @extend %column;
        }
    }

    
    .col#{$extension}, .col-auto#{$extension} {
        @extend %column;
    }

    
    // Create the media queries for each column class
    @include media-breakpoint($key) {
        .col#{$extension}{
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }

        .col-auto#{$extension} {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }


        @for $i from 1 through $num-grid-columns {
            .col-#{$i}#{$extension} {
                flex: 0 0 percentage(math.div($i, $num-grid-columns));
                max-width: percentage(math.div($i, $num-grid-columns));
            }

            .flex-10 > .col-#{$i}#{$extension} {
                flex: 0 0 percentage(math.div($i, 10));
                max-width: percentage(math.div($i, 10));
            }
        }
    }
}



// .......................................................................Alignment......................................................................
@each $key in map-keys($breakpoints) {
    @include media-breakpoint($key) {
        $extension: get-class-extension($key);

        // Horizontal align
        .horizontal-align-left#{$extension} { margin: 0; }
        .horizontal-align-center#{$extension} { margin: 0 auto; }
        .horizontal-align-right#{$extension} { margin: 0 0 0 auto; }

        // Vertical align
        .vertical-align-top#{$extension} { align-items: flex-start; }
        .vertical-align-middle#{$extension} { align-items: center; }
        .vertical-align-bottom#{$extension} { align-items: flex-end; }
    }
}




// .......................................................................Spacing......................................................................
@each $key in map-keys($breakpoints) {
    @include media-breakpoint($key) {
        $extension: get-class-extension($key);

        // Positions
        $top: top;
        $right: right;
        $bottom: bottom;
        $left: left;

        @each $size, $length in $spacers {
            .padding-#{$size}#{$extension} { padding: $length; }
            .padding-#{$top}-#{$size}#{$extension} {
                padding-top: $length;
            }
            .padding-#{$right}-#{$size}#{$extension} {
                padding-right: $length;
            }
            .padding-#{$bottom}-#{$size}#{$extension} {
                padding-bottom: $length;
            }
            .padding-#{$left}-#{$size}#{$extension} {
                padding-left: $length;
            }
        }
    }
}


// .......................................................................Product Slider......................................................................
.product-slider-container {
    overflow: hidden;
    margin: auto;
    width: 1500px
}

.product-group {
    display: flex;
}

.caption {
    font-size: 25px;
    color: #dadada;
    text-align: center;
    margin-bottom: 10px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.slider-container {
    position: relative;
    padding: 0 8px;
}

.slider {
    display: flex;
    position: relative;
    width: fit-content;
}

.product-summary-container {
    width: 234px;
    margin-right: 16px;
}





@media(max-width: 1500px) {
    .product-slider-container {
        width: 1250px
    }
}

@media(max-width: 1250px) {
    .product-slider-container {
        width: 1000px
    }
}


@media(max-width: 1000px) {
    .product-slider-container {
        width: 750px
    }
}

@media(max-width: 750px) {
    .product-slider-container {
        width: 500px
    }
}

@media(max-width: 500px) {
    .product-slider-container {
        width: 250px
    }
}

@media(max-width: 250px) {
    .product-slider-container {
        width: 234px
    }

    .product-summary-container {
        margin-right: 20px;
    }

    .slider-container {
        padding: 0 11px;
    }
}




// .......................................................................Carousel......................................................................
.carousel-container {
    user-select: none;
    overflow: hidden;
    max-width: 1496px;
    max-height: 451px;
    position: relative;
    margin: auto;

    .carousel {
        user-select: none;
        display: flex;
        align-items: center;
        position: relative;
    
        .carousel-element {
            user-select: none;
            position: relative;
            width: 100%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            a {
                user-select: none;
            }
        }
    }

    img {
        width: 100%;
        user-select: none;
        -webkit-user-drag: none;
        object-fit: cover;
    }
    
    @media(max-width: 1024px) {
        img {
            height: 300px;
        }
    }
    
    @media(max-width: 768px) {
        img {
            height: 250px;
        }
    }
    
    
    @media(max-width: 600px) {
        .left-arrow-button {
            left: 10px;
        }
        
        .right-arrow-button {
            right: 10px;
        }
    }
    
    
    @media(max-width: 360px) {
        img {
            height: 200px;
        }
    
        .left-arrow-button {
            left: 5px;
        }
        
        .right-arrow-button {
            right: 5px;
        }
    }
}