@import '../../../scss/variables';

.product-section {
    padding: 20px 10px;
}

.product-info-container-pc {
    width: 100%;
    max-width: 1380px;
    margin: auto;
}


.media-list-container {
    height: 500px;
    margin-right: 20px;
    flex-shrink: 0;
    overflow-y: auto;
}

.media-thumbnail {
    width: 62px;
    height: 62px;
    box-sizing: border-box;
    margin-bottom: 11px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;

    .media-backdrop {
        width: 52px;
        height: 52px;

        img {
            max-width: 50px;
            max-height: 50px;
        }

        .play-icon {

            width: 25px;
            height: 25px;

            i {
                font-size: 8px;
                transform: translateX(1px);
            }
        }
    }
}

.selected-thumbnail {
    border: 2px solid $gold;
}

.media-container {
    margin-right: 26px;
    cursor: pointer;
}


.media-backdrop {


    .play-icon {

        width: 70px;
        height: 70px;

        i {
            font-size: 30px;
            transform: translateX(3px);
        }
    }
}


.media {
    display: none;

}


.selected-media {
    display: block;
}


.video-backdrop {
    background: black;
}

// .video-container {
//     position: absolute;
//     width: 100%;
//     height: 0;
//     padding-bottom: 56.25%;

//     iframe {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }
// }



.product-details {
    width: 100%;
}

.product-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.product-title {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.social-media-container {
    display: flex;
    width: 54px;
    justify-content: space-between;
}

.social-media-image-container {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;

    img {
        &:nth-child(2) {
            display: none;
        }
    }

    &:focus-visible {
        img {
            &:first-child {
                display: none;
            }

            &:nth-child(2) {
                display: block;
                filter: brightness(1.4);
            }
        }
    }
}

.reviews {
    color: $purple-text;
    margin-bottom: 4px;
}

.price-container {
    color: #ffba00;
    margin-top: 6px;
    margin-bottom: 8px;
}

.report-item-container {
    display: flex;
    cursor: pointer;
    height: 16px;
    font-size: 12px;
    outline: none;

    &:hover {
        .flag-icon {
            color: lighten($purple-text, 20);
        }

        .report-item-text {
            color: lighten($purple-text, 20);
        }
    }

    &:focus-visible {
        transform: scale(1.05);

        .flag-icon {
            color: lighten($purple-text, 20);
        }

        .report-item-text {
            color: lighten($purple-text, 20);
        }
    }
}

.report-item-text {
    color: $purple-text;
    text-decoration: underline;
    margin-left: 4px;
}

.product-description {
    color: #c9c9c9;
}


.gold-round-button-sm {
    max-width: 160px;
    margin: 0 0 15px;
}




.purple-button {
    max-width: 100px;
}


.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}



.product-info-container {
    margin-bottom: 10px;

    .product-info:not(.product-info:first-child) {
        margin-top: 5px;
        line-height: 15px;
    }
}

.not-in-service {
    position: absolute;
    width: 100%;
    height: 40px;
    background: rgba(98, 21, 21, 0.95);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdcdcd;
    font-size: 18px;
    outline: 1px solid #8b1e1e;
    font-weight: bold;
}



::-webkit-scrollbar {
    width: 5px;
}



@media(min-width: 1024px) {
    .product-info-container-pc {
        display: flex;
    }

    .product-info-container-mobile {
        display: none;
    }
}

@media(max-width: 1023px) {
    .product-info-container-mobile {
        display: block;
    }

    .product-title {
        margin-bottom: 4px;
    }

    .product-info-container-pc {
        display: none;
    }
}

@media(max-width: 300px) {
    .not-in-service {
        font-size: 14px;
    }
}


@media(max-width: 250px) {
    .gold-round-button-sm {
        font-size: 13px;
    }
}