<div class="product-section">

    <!-- PC -->
    <div *ngIf="clientWidth >= 1024" class="product-info-container-pc">

        <div *ngIf="product.media.length > 1" class="media-list-container"
            [style.width.px]="product.media.length > 8 ? 82 : 62">

            <div *ngFor="let media of product.media" class="media-thumbnail" (mouseenter)="selectedMedia = media"
                [title]="media.name" (click)="onMediaClick(media)"
                [ngClass]="{'selected-thumbnail': media == selectedMedia}">


                <div class="media-backdrop" [ngClass]="{'video-backdrop': media.type == mediaType.Video}">

                    <img [src]="'images/' + media.thumbnail" [alt]="media.name">
                    <div class="play-icon" *ngIf="media.type == mediaType.Video">
                        <i></i>
                    </div>

                </div>


            </div>
        </div>

        <div class="media-container">
            <div class="media-backdrop" [ngClass]="{'video-backdrop': selectedMedia.type == mediaType.Video}">
                <img *ngFor="let media of product.media" [src]="'images/' + media.image" class="media"
                    [ngClass]="{'selected-media': media == selectedMedia}"
                    [style.cursor]="selectedMedia.type == mediaType.Video ? 'pointer' : 'default'"
                    [style.width]="selectedMedia.type == mediaType.Video ? '100%': 'auto'"
                    (click)="onMediaClick(media)">


                <div class="play-icon" *ngIf="selectedMedia.type == mediaType.Video" style="pointer-events: none;">
                    <i></i>
                </div>

            </div>
        </div>


        <div class="product-details">

            <div class="product-title-container">

                <div class="product-title">{{product.name}}</div>
                <div class="social-media-container">
                    <div title="Share on Facebook"
                        (click)="socialMediaService.facebookShare('/' + product.urlName + '/' + product.urlId, product.name)">
                        <img src="assets/facebook-share.png" alt="Share on Facebook">
                    </div>

                    <div title="Share on Twitter"
                        (click)="socialMediaService.twitterShare('/' + product.urlName + '/' + product.urlId, product.name)">
                        <img src="assets/twitter-share.png" alt="Share on Twitter">
                    </div>

                    <div title="Share on Pinterest"
                        (click)="socialMediaService.pinterestShare('/' + product.urlName + '/' + product.urlId, product.media[0].image, product.name)">
                        <img src="assets/pinterest-share.png" alt="Share on Pinterest">
                    </div>
                </div>
            </div>

            <div class="reviews">
                {{product.totalReviews}}
                Review{{product.totalReviews == 0 || product.totalReviews > 1 ? 's': ''}}
            </div>



            <stars-summary [product]="product"></stars-summary>

            <div class="price-container">
                <ng-container *ngIf="product.maxPrice == 0">{{product.minPrice | currency:'USD'}}</ng-container>
                <ng-container *ngIf="product.maxPrice > 0">
                    {{product.minPrice | currency:'USD'}} -
                    {{product.maxPrice | currency:'USD'}}
                </ng-container>
            </div>

            <div *ngIf="product.additionalInfo && product.additionalInfo.length > 0" class="additional-info-container">
                <additional-info [additionalInfo]="product.additionalInfo"></additional-info>
            </div>

            <button class="gold-round-button-sm" (click)="onVisitOfficialWebsiteClick()">Visit offical website to
                buy</button>

            <div id="product-description" class="product-description"></div>



            <div class="buttons-container">
                <button class="purple-button" (click)="onAddToListClick()">
                    Add to List
                </button>

                <div class="report-item-container" (click)="onReportItemClick()">
                    <div class="flag-icon"></div>
                    <div class="report-item-text">
                        Report this item
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!-- Mobile -->
    <div *ngIf="clientWidth < 1024" class="product-info-container-mobile">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div class="social-media-container">
                <div title="Share on Facebook">
                    <img src="assets/facebook-share.png" alt="Share on Facebook">
                </div>

                <div title="Share on Twitter">
                    <img src="assets/twitter-share.png" alt="Share on Twitter">
                </div>

                <div title="Share on Pinterest">
                    <img src="assets/pinterest-share.png" alt="Share on Pinterest">
                </div>
            </div>
        </div>



        <div class="product-title">{{product.name}}</div>
        <div class="reviews">
            {{product.totalReviews}}
            Review{{product.totalReviews == 0 || product.totalReviews > 1 ? 's': ''}}
        </div>
        <stars-summary [product]="product"></stars-summary>

        <div class="price-container">
            <ng-container *ngIf="product.maxPrice == 0">{{product.minPrice | currency:'USD'}}</ng-container>
            <ng-container *ngIf="product.maxPrice > 0">
                {{product.minPrice | currency:'USD'}} -
                {{product.maxPrice | currency:'USD'}}
            </ng-container>
        </div>

        <div *ngIf="product.additionalInfo && product.additionalInfo.length > 0" class="additional-info-container">
            <additional-info [additionalInfo]="product.additionalInfo"></additional-info>
        </div>

        <button class="gold-round-button-sm" (click)="onVisitOfficialWebsiteClick()">Visit offical website to
            buy</button>



        <media-slider [media]="product.media" [clientWidth]="clientWidth"></media-slider>



        <div id="product-description" class="product-description" style="margin-top: 10px;"></div>






        <div class="buttons-container">
            <button class="purple-button" (click)="onAddToListClick()">
                Add to List
            </button>

            <div class="report-item-container" (click)="onReportItemClick()">
                <div class="flag-icon"></div>
                <div class="report-item-text">
                    Report this item
                </div>
            </div>
        </div>

    </div>


</div>