<div class="product-section">

    <!-- PC -->
    <div *ngIf="clientWidth >= 1024" class="product-info-container-pc">

        <div *ngIf="product.media.length > 1" class="media-list-container"
            [style.width.px]="product.media.length > 8 ? 81 : 62">

            <div *ngFor="let media of product.media" class="media-thumbnail" (mouseenter)="selectedMedia = media"
                [title]="media.name" (click)="onMediaClick(media)"
                [ngClass]="{'selected-thumbnail': media == selectedMedia}">


                <div class="media-backdrop" [ngClass]="{'video-backdrop': media.type == mediaType.Video}">

                    <img [src]="'images/' + media.thumbnail" [alt]="media.name">
                    <div class="play-icon" *ngIf="media.type == mediaType.Video">
                        <i></i>
                    </div>

                </div>


            </div>
        </div>

        <div class="media-container" (click)="onMediaClick(selectedMedia)">
            <div class="media-backdrop" [ngClass]="{'video-backdrop': selectedMedia.type == mediaType.Video}">
                <img *ngFor="let media of product.media"
                    [src]="'images/' + (selectedMedia.type == mediaType.Video ? selectedMedia.thumbnail : selectedMedia.imageMd)"
                    class="media" [ngClass]="{'selected-media': media == selectedMedia}"
                    [style.width]="selectedMedia.type == mediaType.Video ? '100%': 'auto'">


                <div class="play-icon" *ngIf="selectedMedia.type == mediaType.Video" style="pointer-events: none;">
                    <i></i>
                </div>

            </div>
        </div>


        <div class="product-details">

            <div class="product-title-container">

                <div class="product-title">{{product.name}}</div>
                <div class="social-media-container">
                    <div tabindex="0"
                         title="Share on Facebook"
                         class="social-media-image-container"
                         (click)="socialMediaService.facebookShare('/' + product.urlName + '/' + product.id, product.name)">
                        <img src="assets/facebook-share.png" alt="Share on Facebook">
                        <img src="assets/facebook-share-scaled.png" alt="Share on Facebook">
                    </div>

                    <div tabindex="0"
                         title="Share on Twitter"
                         class="social-media-image-container"
                         (click)="socialMediaService.twitterShare('/' + product.urlName + '/' + product.id, product.name)">
                        <img src="assets/twitter-share.png" alt="Share on Twitter">
                        <img src="assets/twitter-share-scaled.png" alt="Share on Twitter">
                    </div>

                    <div tabindex="0"
                         title="Share on Pinterest"
                         class="social-media-image-container"
                         (click)="socialMediaService.pinterestShare('/' + product.urlName + '/' + product.id, product.media[0].src, product.name)">
                        <img src="assets/pinterest-share.png" alt="Share on Pinterest">
                        <img src="assets/pinterest-share-scaled.png" alt="Share on Pinterest">
                    </div>
                </div>
            </div>

            <div class="reviews">
                {{product.totalReviews}}
                Review{{product.totalReviews == 0 || product.totalReviews > 1 ? 's': ''}}
            </div>



            <stars-summary [product]="product"></stars-summary>

            <div class="price-container">
                <ng-container *ngIf="product.maxPrice == 0">{{product.minPrice | currency:'USD'}}</ng-container>
                <ng-container *ngIf="product.maxPrice > 0">
                    {{product.minPrice | currency:'USD'}} -
                    {{product.maxPrice | currency:'USD'}}
                </ng-container>
            </div>


            <div class="product-info-container">
                <div class="product-info">
                    <shipping *ngIf="product.shippingType != shippingType.None" [shippingType]="product.shippingType">
                    </shipping>
                </div>

                <div class="product-info">
                    <recurring-payment *ngIf="product.recurringPayment.recurringPrice > 0"
                        [recurringPayment]="product.recurringPayment">
                    </recurring-payment>
                </div>
            </div>




            <button class="gold-round-button-sm" (click)="onVisitOfficialWebsiteClick()">Visit offical website to
                buy</button>

            <div #rootElement class="product-description">{{getDescription(rootElement)}}</div>



            <div class="buttons-container">
                <button class="purple-button" (click)="onAddToListClick()">
                    Add to List
                </button>

                <div class="report-item-container" (click)="onReportItemClick()" tabindex="0" (keydown.enter)="onReportItemClick()">
                    <div class="flag-icon"></div>
                    <div class="report-item-text">
                        Report this item
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!-- Mobile -->
    <div *ngIf="clientWidth < 1024" class="product-info-container-mobile">



        <div style="width: 100%; max-width: 500px; margin: auto;">

            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div class="social-media-container">
                    <div title="Share on Facebook">
                        <img src="assets/facebook-share.png" alt="Share on Facebook">
                    </div>

                    <div title="Share on Twitter">
                        <img src="assets/twitter-share.png" alt="Share on Twitter">
                    </div>

                    <div title="Share on Pinterest">
                        <img src="assets/pinterest-share.png" alt="Share on Pinterest">
                    </div>
                </div>
            </div>



            <div class="product-title">{{product.name}}</div>
            <div class="reviews">
                {{product.totalReviews}}
                Review{{product.totalReviews == 0 || product.totalReviews > 1 ? 's': ''}}
            </div>
            <stars-summary [product]="product"></stars-summary>

            <div class="price-container">
                <ng-container *ngIf="product.maxPrice == 0">{{product.minPrice | currency:'USD'}}</ng-container>
                <ng-container *ngIf="product.maxPrice > 0">
                    {{product.minPrice | currency:'USD'}} -
                    {{product.maxPrice | currency:'USD'}}
                </ng-container>
            </div>


            <div class="product-info-container">
                <div class="product-info">
                    <shipping *ngIf="product.shippingType != shippingType.None" [shippingType]="product.shippingType">
                    </shipping>
                </div>

                <div class="product-info">
                    <recurring-payment *ngIf="product.recurringPayment.recurringPrice > 0"
                        [recurringPayment]="product.recurringPayment">
                    </recurring-payment>
                </div>
            </div>

            <button class="gold-round-button-sm" (click)="onVisitOfficialWebsiteClick()">
                Visit offical website to buy
            </button>

        </div>

            











        <media-slider [media]="product.media" [clientWidth]="clientWidth"></media-slider>



        <div #rootElement class="product-description" style="margin-top: 10px;">{{getDescription(rootElement)}}</div>






        <div class="buttons-container">
            <button class="purple-button" (click)="onAddToListClick()">
                Add to List
            </button>

            <div class="report-item-container" (click)="onReportItemClick()" tabindex="0" (keydown.enter)="onReportItemClick()">
                <div class="flag-icon"></div>
                <div class="report-item-text">
                    Report this item
                </div>
            </div>
        </div>

    </div>


</div>