<panel [title]="'Caption'">
    <!-- Caption -->
    <div class="property">
        <div class="label">Text:</div>
        <input class="txt-20" [(ngModel)]="caption.text" (input)="onChange.emit()">
    </div>

    <!-- Font -->
    <div class="property">
        <div class="label">Font:</div>
        <dropdown [listItems]="caption.fontOptions" [selectedListItem]="caption.font"
            (onChange)="caption.font = $event; onChange.emit()"></dropdown>
    </div>

    <!-- Font Size -->
    <div class="property">
        <div class="label">Font Size:</div>
        <dropdown [listItems]="caption.fontSizes" [selectedListItem]="caption.fontSize"
            (onChange)="caption.fontSize = $event; onChange.emit()"></dropdown>
    </div>

    <!-- Font Style -->
    <div class="property">
        <div class="label">Style:</div>
        <div class="flex-container">

            <!-- Bold -->
            <div class="style-icon" [ngClass]="{'selected': caption.fontWeight == 'bold'}" title="Bold"
                (click)="caption.fontWeight = caption.fontWeight == 'normal' ? 'bold' : 'normal'; onChange.emit()">
                <i class="fas fa-bold"></i>
            </div>


            <!-- Italic -->
            <div class="style-icon" [ngClass]="{'selected': caption.fontStyle == 'italic'}" title="Italic"
                (click)="caption.fontStyle = caption.fontStyle == 'normal' ? 'italic' : 'normal'; onChange.emit()">
                <i class="fas fa-italic"></i>
            </div>



            <!-- Underline -->
            <div class="style-icon" [ngClass]="{'selected': caption.textDecoration == 'underline'}" title="Underline"
                (click)="caption.textDecoration = caption.textDecoration == 'none' ? 'underline' : 'none'; onChange.emit()">
                <i class="fas fa-underline"></i>
            </div>
        </div>
    </div>


    <!-- Font Color -->
    <div class="property">
        <div class="label">Color:</div>
        <color-swatch [color]="caption.rgbColor" (onChange)="onChange.emit()"></color-swatch>
    </div>
</panel>