.style-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property {
    &:nth-child(1) .label { 
        margin-left: 28px;
    }

    &:nth-child(2) .label { 
        margin-left: 26px;
        margin-right: 11px;
    }

    &:nth-child(4) .label { 
        margin-left: 24px;
    }

    &:nth-child(5) .label { 
        margin-left: 21px;
        margin-right: 11px;
    }
}

.selected {
    position: relative;

    &:after {
        content: '';
        background: #0077e04d;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid #52adfb;
        border-radius: 2px;
    }
}