<panel [title]="'Background'" [enabledProperty]="toggleable ? background: null!" (onChange)="onDisable()">
    <!-- color -->
    <div class="property">
        <div class="label">Color:</div>

        <div style="flex: 1;">
            <color-swatch [color]="background.rgbColor" (onChange)="onChange.emit()"></color-swatch>
        </div>
    </div>

    <!-- Image Options -->
    <ng-container *ngIf="background.image && background.image.src">
        <div class="image-options-container">
            <!-- Position -->
            <div class="property">
                <div class="label">Position</div>
                <dropdown [listItems]="background.image.positionOptions" [selectedListItem]="background.image.position"
                    (onChange)="background.image.position = $event; onChange.emit()"></dropdown>
            </div>




            <!-- Repeat -->
            <div class="property">
                <div class="label">Repeat</div>
                <dropdown [listItems]="background.image.repeatOptions" [selectedListItem]="background.image.repeat"
                    (onChange)="background.image.repeat = $event; onChange.emit()"></dropdown>
            </div>





            <!-- Attachment -->
            <div class="property">
                <div class="label">Attachment</div>
                <dropdown [listItems]="background.image.attachmentOptions" [selectedListItem]="background.image.attachment"
                    (onChange)="background.image.attachment = $event; onChange.emit()"></dropdown>
            </div>
        </div>
    </ng-container>


    <!-- Image label -->
    <div class="property">
        <div class="label">Image:</div>

        <!-- Image -->
        <image-box [image]="background.image" [showRemoveImage]="true" (onChange)="onChange.emit()"></image-box>
    </div>
</panel>