<panel [title]="'Background'" [enabledProperty]="toggleable ? background: null!" (onChange)="onDisable()">
    <!-- color -->
    <div class="property">
        <div class="label">Color:</div>

        <div style="flex: 1;">
            <color-swatch [color]="background.rgbColor" (onChange)="onChange.emit()"></color-swatch>
        </div>
    </div>

    <!-- Image Options -->
    <ng-container *ngIf="background.image && background.image.src">
        <div class="image-options-container">
            <!-- Position -->
            <div class="property">
                <div class="label">Position</div>
                <div style="flex: 1;">
                    <select [(ngModel)]="background.image.position" (change)="onChange.emit()">
                        <option *ngFor="let positionOption of background.image.positionOptions"
                            [ngValue]="positionOption">
                            {{positionOption.key}}</option>
                    </select>
                </div>
            </div>




            <!-- Repeat -->
            <div class="property">
                <div class="label">Repeat</div>
                <div style="flex: 1;">
                    <select [(ngModel)]="background.image.repeat" (change)="onChange.emit()">
                        <option *ngFor="let repeatOption of background.image.repeatOptions" [ngValue]="repeatOption">
                            {{repeatOption.key}}</option>
                    </select>
                </div>
            </div>





            <!-- Attachment -->
            <div class="property">
                <div class="label">Attachment</div>
                <div style="flex: 1;">
                    <select [(ngModel)]="background.image.attachment" (change)="onChange.emit()">
                        <option *ngFor="let attachmentOption of background.image.attachmentOptions"
                            [ngValue]="attachmentOption">
                            {{attachmentOption.key}}</option>
                    </select>
                </div>
            </div>
        </div>
    </ng-container>


    <!-- Image label -->
    <div class="property">
        <div class="label">Image:</div>
    </div>


    <!-- Image -->
    <image-box [image]="background.image" [showRemoveImage]="true" (onChange)="onChange.emit()"></image-box>
</panel>