<div class="view-port" *ngIf="pageContent">
    <div class="vertical-dashed-line"
        [ngClass]="{'selected-container': widgetService.currentWidgetInspectorView == widgetInspectorView.Page}"></div>
    <div class="vertical-dashed-line"
        [ngClass]="{'selected-container': widgetService.currentWidgetInspectorView == widgetInspectorView.Page}"></div>
    <div class="horizontal-dashed-line"
        [ngClass]="{'selected-container': widgetService.currentWidgetInspectorView == widgetInspectorView.Page}"></div>
    <div class="horizontal-dashed-line"
        [ngClass]="{'selected-container': widgetService.currentWidgetInspectorView == widgetInspectorView.Page}"></div>
</div>

<div class="container-wrapper" (mousedown)="onMousedown()">
    <container-dev #container></container-dev>
</div>