h2 {
    color: #dadada;
}

h3 {
    color: #c1c1c1;
}

.contact-us {
    text-decoration: underline;
    cursor: pointer;
}

a, .contact-us {
    color: #ffba00;
    outline: none;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    &:hover {
        color: lighten(#c1c1c1, 10);
    }

    &:focus-visible {
        color: white;
    }
}

.table-of-contents {
    margin-bottom: 40px;

    div {
        line-height: 1.5;
    }
}

.section {
    margin: 60px 0;
    color: #959595;
    line-height: 1.4;

    div {
        margin-bottom: 20px;
    }

    span:not(.contact-us) {
        font-weight: bold;
        color: #b1b1b1;
    }

    &:last-child {
        margin-bottom: 0;
    }
}


@media(max-width: 300px) {
    .page-title {
        font-size: 20px;
    }
}