<panel [title]="'Media'">
    <div *ngIf="true" class="property-box-light">

        <!-- Property Box Bar -->
        <div class="property-box-bar">

            <!-- Counter -->
            <counter [itemCount]="3"></counter>

            <!-- Icons -->
            <div class="icons">
                <!-- Delete -->
                <button class="icon-button" title="Delete Media Item">
                    <i class="fas fa-trash-alt"></i>
                </button>

                <!-- Add -->
                <button class="icon-button" title="Add Media Item">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>

        <div class="property-box-dark">
            
            
            <!-- Image -->
            <div class="img-container">
                <img>
                <div class="no-property">No media available</div>
            </div>
        </div>
    </div>
</panel>