<div class="hide modal-backdrop"
     [ngClass]="{'show': show}"
     (transitionend)="onHide()">

    <div class="modal-base">
        <div class="modal-bar">
            <div>Filters</div>
            <div class="modal-x-button"
                 (click)="close()">
                X
            </div>
        </div>

        <div class="modal-content">
            <form-filters #formFilters></form-filters>
        </div>

        <!-- Button Container -->
        <div class="modal-button-container">
            <button class="dark-button"
                    (click)="close()">
                Close
            </button>
        </div>
    </div>
</div>