<div class="hide modal-container" [ngClass]="{'show': show}" (transitionend)="onHide()">

    <!-- Backdrop -->
    <div class="backdrop" (click)="close()"></div>

    <!-- Container -->
    <div class="container">
        <div class="media-player-base">
            <div class="media-player-header">
                <div class="media-player-buttons-container">
                    <div class="media-player-button"
                         (click)="selectedVideo ? onMediaPlayerButtonClick(false) : null"
                         [ngClass]="{'selected-media-player-button': !isVideos}">
                        IMAGES
                    </div>
                    <div class="media-player-button"
                         (click)="selectedVideo ? onMediaPlayerButtonClick(true) : null"
                         [ngClass]="{'selected-media-player-button': isVideos, 'disabled-media-player-button': !selectedVideo}">
                        VIDEOS
                    </div>
                </div>
                <div class="x" (click)="close()">X</div>
            </div>


            <div class="media-container">
                <div class="media-list-container">
                    <div class="media-list">
                        <ng-container *ngFor="let media of media | mediaFilter : isVideos">
                            <div #mediaListItem
                                 tabindex="-1"
                                 class="thumbnail-container"
                                 (click)="onThumbnailClick(media)"
                                 [ngClass]="{'selected-media': media == selectedVideo || media == selectedImage}">
                                <div class="thumbnail"
                                     [ngClass]="{'video-thumbnail': isVideos, 'image-thumbnail': !isVideos}">
                                    <div class="thumbnail-image-container"
                                         [ngClass]="{'media-backdrop': !isVideos}">
                                        <img [src]="'images/' + media.thumbnail">
                                        <div class="play-icon"
                                             *ngIf="media.type == mediaType.Video">
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="title">{{media.name}}</div>
                            </div>
                        </ng-container>
                    </div>
                </div>


                <div class="media-display-container">
                    <div class="media-display">
                        <iframe #iframe
                                frameborder="0"
                                allowfullscreen allow="autoplay"
                                [style.visibility]="isVideos ? 'visible': 'hidden'">
                        </iframe>
                        <div class="image-container"
                             [style.visibility]="!isVideos ? 'visible': 'hidden'">
                            <img [src]="selectedImage ? 'images/' + selectedImage.imageLg : null">
                        </div>
                    </div>
                </div>


                <div class="mobile-media-list-container">
                    <div class="mobile-media-list">
                        <ng-container *ngFor="let media of media | mediaFilter : isVideos">
                            <div #mobileMediaListItem
                                 tabindex="-1"
                                 class="mobile-thumbnail"
                                 [ngClass]="{'selected-mobile-media': media == selectedVideo || media == selectedImage}">
                                <div (click)="onThumbnailClick(media)"
                                     [ngClass]="{'video-thumbnail': isVideos, 'image-thumbnail': !isVideos}">
                                    <div class="thumbnail-image-container"
                                         [ngClass]="{'media-backdrop': !isVideos}">
                                        <img [src]="'images/' + media.thumbnail">
                                        <div class="play-icon"
                                             *ngIf="media.type == mediaType.Video">
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>