<div class="hide modal-backdrop"
     [ngClass]="{'show': show}"
     (transitionend)="onHide()">

    <div id="modalBase" class="modal-base" tabindex="-1">
        <div class="modal-bar">
            <div>Reform List</div>
            <div class="modal-x-button"
                 (click)="close()">
                X
            </div>
        </div>

        <div class="modal-content">

            <!-- Name -->
            <div class="notification-label">Name:</div>
            <div class="notification-info-box">
                <div class="checkbox-container">
                    <label class="checkbox">
                        <input #nameCheckbox
                               type="checkbox"
                               (change)="onCheckboxChange(nameCheckbox, descriptionCheckbox)">
                        <span #tabElement
                              tabindex="-1"
                              class="checkmark"
                              (keydown.space)="nameCheckbox.checked = !nameCheckbox.checked; onCheckboxChange(nameCheckbox, descriptionCheckbox)">
                        </span>
                    </label>
                </div>
                <div class="notification-user-comment">
                    {{notification.listName}}
                </div>
            </div>


            <!-- Description -->
            <div class="notification-label">Description:</div>
            <div class="notification-info-box">
                <div class="checkbox-container">
                    <label class="checkbox">
                        <input #descriptionCheckbox
                               type="checkbox"
                               (change)="onCheckboxChange(nameCheckbox, descriptionCheckbox)">
                        <span #tabElement
                              tabindex="-1"
                              class="checkmark"
                              (keydown.space)="descriptionCheckbox.checked = !descriptionCheckbox.checked; onCheckboxChange(nameCheckbox, descriptionCheckbox)">
                        </span>
                    </label>
                </div>
                <div class="notification-user-comment">
                    {{notification.text}}
                </div>
            </div>


            <!-- Notes -->
            <div class="notification-label">Notes:</div>
            <div class="notification-info-box">
                <textarea #notes #tabElement (input)="onNotes(notes)"></textarea>
            </div>
        </div>

        
        <!-- Button Container -->
        <div class="modal-button-container">
            <button #tabElement class="dark-button" (click)="close()">Close</button>
            <button #tabElement class="gold-button" (click)="onReformButton()" [disabled]="!checkboxChecked">Reform</button>
        </div>
    </div>
</div>