.background {
    display: flex;
    justify-content: center;
    align-items: center;
}


.price-point-overflow {
    display: flex;
    overflow-x: auto;
    max-width: 1380px;
    padding: 15px 0 20px;
    width: 100%;
}


.price-point-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 30px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}



.border {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 14px;
    height: 100%;
}





.space-between-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.units-container {
    display: flex;
    margin-top: 14px;
}







.empty-plus-button-container {
    @extend .lg-plus-button-container;
    width: 25px;
}



.lg-plus-button-container {
    display: flex;
    align-items: center;
    margin-top: 36px;
    margin-left: -24px;
}


.lg-plus-button-container-2 {
    display: flex;
    margin: 0 -35px 0 9px;
}